{% extends "common/base.html" %}

{% block title %}解約完了{% endblock title %}

{% block breadcrumbtitle %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
            <li class="breadcrumb-item">契約管理</li>
            <li class="breadcrumb-item"><a href="{% url 'contracts:contract' %}">ご契約状況</a></li>
            <li class="breadcrumb-item active">解約完了</li>
        </ol>
    </nav>

{% endblock breadcrumbtitle %}

{% block content %}
    <div class="container">
        <div class="card card-register border-0 mt-5">
            <div class="card-body">
                <p>解約処理が完了しました。</p>
                <a href="{% url 'contracts:contract' %}">契約管理へ戻る</a>
            </div>
        </div>
    </div>
{% endblock %}
