{% extends "common/base.html" %}

{% load i18n static %}
{% load humanize %}
{% load sort_by %}

{% block title %}
  {% if estimate.difference %}
    プラン・オプション変更の確認
  {% else %}
    サービスの申し込み
  {% endif %}    
{% endblock title %}

{% block breadcrumbtitle %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
        <li class="breadcrumb-item">契約管理</li>
        <li class="breadcrumb-item"><a href="{% url 'contracts:estimate' %}">見積一覧</a></li>
        {% if estimate.difference %}
          <li class="breadcrumb-item active">プラン・オプション変更の確認</li>
        {% else %}
          <li class="breadcrumb-item active">サービスの申し込み</li>
        {% endif %}
    </ol>
  </nav>

  {% comment %} <a class="help_icon" href="{% url 'help:checkout' %}" target="_blank"><i class="fas fa-question-circle"></i></a> {% endcomment %}

{% endblock breadcrumbtitle %}

{% block content %}

{% comment %} <div class="container estimate p-0"> {% endcomment %}
  <div class="card border-0 card-register mt-0 estimate pb-5 mb-5">
    <div class="card-body p-0">

      <form action="" method="post" id="form_payment">

        <table class="table table-bordered">
          <h6>お見積り内容　　　　　　　　　　　　　　　　　　　　　　　　　　　　単位：円</h6>
          {% if estimate.difference %}
            <p>表示された合計額は1年間契約した場合の金額です。<br>
              プラン・オプション変更の場合は<span class="text-danger">『現在のプランとの差額』</span>欄の金額を請求します。</p>
          {% endif %}
          <tbody>
            <tr>
              <th scope="row" class="tr_head">見積番号</th>
              <td colspan="2">{{ estimate.num }}</td>
            </tr>
            <tr>
              {% if estimate.difference %}
                <th scope="row" class="tr_head">サービス利用期間</th>
                <td colspan="2">{{ estimate.start_day|date:"Y年m月d日" }}〜{{ estimate.end_day|date:"Y年m月d日" }}</td>
              {% else %}
                <th scope="row" class="tr_head">サービス利用開始日</th>
                <td colspan="2">{{ estimate.start_day|date:'Y年m月d日' }}（1年間）<br>
                      <input type="checkbox" name="is_start_now" id="is_start_now" >
                      <label for="is_start_now">
                        <span>今すぐ開始</span>
                      </label>
                </td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row" class="tr_head">サービス名</th>
              <td colspan="2">{{ estimate.service.name }}</td>
            </tr>
            <tr>
              <th scope="row" class="tr_head">プラン</th>
              {% if estimate.difference %}
                {% if estimate.plan == contract.plan %}
                  <td>{{ estimate.plan }}</td>
                  <td class="text-right">{{ estimate.plan.price|intcomma }}/年</td>
                {% else %}
                  <td class="text-danger font-weight-bold">{{ estimate.plan }}</td>
                  <td class="text-danger text-right font-weight-bold">{{ estimate.plan.price|intcomma }}/年</td>
                {% endif %}
              {% else %}
                <td>{{ estimate.plan }}</td>
                <td class="text-right">{{ estimate.plan.price|intcomma }}/年</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row" class="tr_head">オプション</th>
              {% if estimate.option1 or estimate.option2 or estimate.option3 or estimate.option4 or estimate.option5 %}
                {% if estimate.difference %}
                  <td>
                    {% if estimate.option1 %}
                      {% if estimate.option1 == contract.option1 %}
                        {{ estimate.option1.name }}<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option1.name }}</span><br>
                      {% endif %}
                    {% endif %}
                    {% if estimate.option2 %}
                      {% if estimate.option2 == contract.option2 %}
                        {{ estimate.option2.name }}<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option2.name }}</span><br>
                      {% endif %}
                    {% endif %}
                    {% if estimate.option3 %}
                      {% if estimate.option3 == contract.option3 %}
                        {{ estimate.option3.name }}<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option3.name }}</span><br>
                      {% endif %}
                    {% endif %}
                    {% if estimate.option4 %}
                      {% if estimate.option4 == contract.option4 %}
                        {{ estimate.option4.name }}<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option4.name }}</span><br>
                      {% endif %}
                    {% endif %}
                    {% if estimate.option5 %}
                      {% if estimate.option5 == contract.option5 %}
                        {{ estimate.option5.name }}<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option5.name }}</span><br>
                      {% endif %}
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if estimate.option1 %}
                      {% if estimate.option1 == contract.option1 %}
                        {{ estimate.option1.price|intcomma }}/年<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option1.price|intcomma }}/年</span><br>
                      {% endif %}
                    {% endif %}
                    {% if estimate.option2 %}
                      {% if estimate.option2 == contract.option2 %}
                        {{ estimate.option2.price|intcomma }}/年<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option2.price|intcomma }}/年</span><br>
                      {% endif %}
                    {% endif %}
                    {% if estimate.option3 %}
                      {% if estimate.option3 == contract.option3 %}
                        {{ estimate.option3.price|intcomma }}/年<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option3.price|intcomma }}/年</span><br>
                      {% endif %}
                    {% endif %}
                    {% if estimate.option4 %}
                      {% if estimate.option4 == contract.option4 %}
                        {{ estimate.option4.price|intcomma }}/年<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option4.price|intcomma }}/年</span><br>
                      {% endif %}
                    {% endif %}
                    {% if estimate.option5 %}
                      {% if estimate.option5 == contract.option5 %}
                        {{ estimate.option5.price|intcomma }}/年<br>
                      {% else %}
                        <span class="text-danger font-weight-bold">{{ estimate.option5.price|intcomma }}/年</span><br>
                      {% endif %}
                    {% endif %}
                  </td>
                {% else %}
                  <td>
                    {% if estimate.option1 %}
                      {{ estimate.option1.name }}<br>
                    {% endif %}
                    {% if estimate.option2 %}
                      {{ estimate.option2.name }}<br>
                    {% endif %}
                    {% if estimate.option3 %}
                      {{ estimate.option3.name }}<br>
                    {% endif %}
                    {% if estimate.option4 %}
                      {{ estimate.option4.name }}<br>
                    {% endif %}
                    {% if estimate.option5 %}
                      {{ estimate.option5.name }}
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if estimate.option1 %}
                      {{ estimate.option1.price|intcomma }}/年<br>
                    {% endif %}
                    {% if estimate.option2 %}
                      {{ estimate.option2.price|intcomma }}/年<br>
                    {% endif %}
                    {% if estimate.option3 %}
                      {{ estimate.option3.price|intcomma }}/年<br>
                    {% endif %}
                    {% if estimate.option4 %}
                      {{ estimate.option4.price|intcomma }}/年<br>
                    {% endif %}
                    {% if estimate.option5 %}
                      {{ estimate.option5.price|intcomma }}/年
                    {% endif %}
                  </td>
                {% endif %}
              {% else %}
                <td colspan="2">なし</td>
              {% endif %}
            </tr>
            {% if not estimate.difference %}
              <tr>
                <th scope="row" class="tr_head">
                    <div class="required_box">
                      <div class="label require_label">自動更新</div>
                    </div>
                </th>
                <td colspan="2">
                  <div>
                    <input class="checkout_input" type="radio" value="True" name="autocheckout" checked/><label class="mr-2">有効</label>
                    <input class="checkout_input" type="radio" value="False" name="autocheckout"/><label>無効</label>
                  </div>
                </td>
              </tr>
            {% endif %}
            <tr>
              <th scope="row"  class="tr_head">割引</th>
              {% if estimate.discount and estimate.method_payment_id == 1 %}
                  {% if estimate.unit_total >= 30000 %}
                    <td>クレジットカード支払割引<br>
                      {{ estimate.discount.name }}</td>
                    <td class="text-right">-{{ estimate.method_payment.payment_discount|intcomma }}<br>
                    -{{ estimate.discount.discount_rate|intcomma }}</td>
                  {% else %}
                    <td>{{ estimate.discount.name }}</td>
                    <td class="text-right">-{{ estimate.discount.discount_rate|intcomma }}</td>
                  {% endif %}
              {% elif estimate.method_payment_id == 1 and estimate.unit_total >= 30000 %}
                  <td>クレジットカード支払割引</td>
                  <td class="text-right">-{{ estimate.method_payment.payment_discount|intcomma }}</td>
              {% elif estimate.discount %}
                  <td>{{ estimate.discount.name }}</td>
                  <td class="text-right">-{{ estimate.discount.discount_rate|intcomma }}</td>
              {% else %}
                  <td colspan="2">なし</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
        <table class="table">
          <tbody>
            <tr>
              <th class="table-blank border-0"></th>
              <th scope="row" class="tr_head tr_gray h6 border">年額利用料</th>
              <td colspan="2" class="text-right h6 border">{{ estimate.unit_total|intcomma }}&nbsp;({{ estimate.unit_minor_total|intcomma }}/月)</td>
            </tr>
            <tr>
              <th class="table-blank border-0"></th>
              <th scope="row" class="tr_head tr_gray h6 border">小計(税抜)</th>
              <td colspan="2" class="text-right h6 border">{{ estimate.minor_total|intcomma }}</td>
            </tr>
            <tr>
              <th class="table-blank border-0"></th>
              <th scope="row" class="tr_head tr_gray h6 border">消費税(<span class="tax-rate">10</span>%)</th>
              <td colspan="2" class="text-right h6 border">{{ estimate.tax|intcomma }}</td>
            </tr>
            <tr>
              <th class="table-blank border-0"></th>
              <th scope="row" class="tr_head tr_gray">合計(税込)</th>
              <td colspan="2" class="text-right font-weight-bold h5 border">{{ estimate.total|intcomma }}</td>
            </tr>
            {% if estimate.difference%}
              <tr>
                <th scope="row" class="tr_head tr_gray h6 font-weight-bold border">現在のプランとの差額</th>
                <td colspan="2" class="text-danger font-weight-bold">{{ estimate.difference|intcomma }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>

          {% csrf_token %}
          <div class="btn-toolbar fixed-bottom p-3 ">  

            <div class="row mx-auto">
                <h5 class="align-middle d-block m-2 tool-text">内容をご確認の上、「確認」ボタンを押してください。</h5>
                <button type="button" class="btn my-btn-w11 mr-1 my-btn-accept" data-toggle="modal" data-target="#payment_confirm" id="send" onfocus="this.blur();"><span class="check">確認</span></button>
                <button type="button" class="btn my-btn-w11 mr-3 my-btn-cancel cancel" data-toggle="modal" data-target="#cancel_modal" onfocus="this.blur();">キャンセル</button>
            </div>
          </div>
      </form>
    </div>
  </div>
{% comment %} </div> {% endcomment %}



<!-- 支払い確認用モーダル用 -->
<div class="modal fade" id="payment_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>支払い処理を開始します。<br>
          「申し込む」ボタンをクリックすると契約が締結します。</p>
      </div>
      <div class="modal-footer">
        <button type="submit" id="autocheckoutcheckout_button" form="form_payment" class="my-btn my-btn-accept my-btn-sm my-btn-w6">申し込む</button>
        <button type="button" class="btn my-btn-cancel my-btn-sm my-btn-w6" data-dismiss="modal">キャンセル</button>

      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 自動更新説明用 -->
<div class="modal fade" id="autocheckout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h6>XXX</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" data-dismiss="modal">OK</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- キャンセル確認用 -->
<div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h6>手続きを中断します。</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" onclick="location.href='{% url 'contracts:estimate_cancel' %}'">OK</button>
        <button type="button" class="my-btn my-btn-cancel my-btn-sm my-btn-w6" data-dismiss="modal">戻る</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {

  function loadingView(flag) {
    $('#loading-view').remove();
    if(!flag) return;
    $('<div id="loading-view" />').appendTo('body');
  }

  // 自動更新の説明を表示
  $("[name='autocheckout']").on('change', function() {
    console.log($(this).val())
    autocheckout = $(this).val()
    // 有効(True)の場合
    if (autocheckout == "True") {
      $('#autocheckout_modal').on('show.bs.modal', function (e) {
        var modal = $(this);
        modal.find('.modal-body').text("毎年クレジットカードから自動的に支払いが行われます。");
      })
      $('#autocheckout_modal').modal('show')

    // 無効(False)の場合
    } else {
      $('#autocheckout_modal').on('show.bs.modal', function (e) {
        var modal = $(this);
        modal.find('.modal-body').text("ご契約中のプランの有効期限までに手動支払いを行って頂く必要があります。");
      })
      $('#autocheckout_modal').modal('show')

    }
  });

  $("#autocheckoutcheckout_button").click( function() {
    // 処理前に Loading 画像を表示
    loadingView(true);
  });

});

</script>
{% endblock %}
