{% extends "common/base.html" %}

{% load i18n static %}
{% load humanize %}

{% block title %}購入内容(来年度分){% endblock title %}

{% block breadcrumbtitle %}
  <span>
    購入内容(更新分)
  </span>
{% endblock breadcrumbtitle %}

{% block extra_css %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="card border-0 card-register mt-0">
            <!-- <h5 class="card-title border-0">購入内容</h5> -->
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>見積NO</th>
                            <td>{{ estimate.num }}</td>
                        </tr>
                        <tr>
                            <th>プラン</th>
                            <td>{{ estimate.plan }}</td>
                        </tr>
                        {% if estimate.disksize %}
                            <tr>
                                <th>ディスクサイズオプション</th>
                                <td>{{ estimate.disksize }}</td>
                            </tr>
                        {% endif %} 
                        {% if estimate.usernum %}
                            <tr>
                                <th>ユーザー数オプション</th>
                                <td>{{ estimate.usernum }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>合計(税込)</th>
                            <td>{{ estimate.total|intcomma }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <script class="stripe-button" src="https://checkout.pay.jp/" data-key="{{ pay_public_key }}" id="chekout_button"></script>
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url 'contracts:contract' %}" class="btn btn-secondary btn-block" onfocus="this.blur();">キャンセル</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
