{% load index %}
{% load get_list %}
{% load humanize %}
{% load widget_tweaks %}

{% for group, options, index in widget.optgroups %}

    {% for option in options %}

          
          <div class="form-check check_row">

            
          <input  class="form-check-input" type="{{ option.type }}" name="{{ option.name }}"
                    id="{{ option.attrs.id }}" value="{{ option.value }}" data-row_index="{{ option.index }}" data-service_name="{{ option.label }}"{% if option.attrs.required %}required{% endif %}
                    {% if option.label == "クレジットカード" %}{% if stripe_id == 'None' %}disabled{% endif %}{% endif %}{% if option.attrs.checked %}checked{% endif %}>

            <label class="form-check-label service_checkbox_label" for="{{ option.attrs.id }}">
              {{ option.label }}

              {% comment %} {% if option.label == "クレジット" %}
                {% if option.attrs.total_price >= 30000 %}
                  <span class="red">　割引(-¥3,000)あり</span>
                {% endif %}
              {% endif %} {% endcomment %}

            </label>

        </div>
    {% endfor %}


{% endfor %}


