
{% extends "common/base.html" %}
{% load i18n static %}
{% load get_model_obj %}
{% load set_order %}
{% load get_parts_type %}
{% load get_training_status %}
{% load get_training_status_waiting %}
{% load get_training_status_working %}
{% load get_training_status_done %}
{% load zfill %}
{% load get_user_status %}
{% load check_for_expiration_date %}
{% load training_manage_done %}

{% block title %}受講ステータス | {{ block.super }}{% endblock %}

{% block content %}

<style>

    /*---------------------------------

        円グラフ

    ---------------------------------*/

    chart-container {
        position: relative;
        width: 200px;
        height: 200px;
    }

    @media (max-width: 1367px) { /*ウィンドウ幅が最大1366pxまでの場合に適用*/
        chart-container {
            height: 100px;
        }
    }

    @media (min-width: 1367px) { /*ウィンドウ幅が最大1366px以上の場合に適用*/
        .chart_table {
            width: 70%;
            float: right;
            padding: 50px;
        }
    }

    @media (max-width: 1367px) { /*ウィンドウ幅が最大1366pxまでの場合に適用*/
        .chart_table {
            width: 100%;
            flex-flow: column;
            justify-content: center;
            display: flex;
            margin-left: 30px;
        }
    }

    .chart_ttle {
        font-size: 16px;
    }

    /*---------------------------------

        タイトル

    ---------------------------------*/
    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        font-weight: bold;
        font-size: 25px;
    }

    /*---------------------------------

    ラベル

    ---------------------------------*/

    span.label {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }



    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .row {
        margin: auto;
        justify-content: center; /*外枠の上下左右中央寄せ*/
    }


    .container {
        padding-right: 80px;
        padding-left: 80px;
    }

    /*---------------------------------

        flexボックス

    ---------------------------------*/

    @media (min-width: 1367px) { /*ウィンドウ幅が最大1366px以上の場合に適用*/
        .flex-item1 {
            margin-left: 30px;
        }
    }

    @media (max-width: 1367px) { /*ウィンドウ幅が最大1366pxまでの場合に適用*/
        .flex-item1 {
            margin-left: 10px;
        }
    }

    @media (max-width: 1367px) { /*ウィンドウ幅が最大1366pxまでの場合に適用*/
        .flex-item2 {
            flex-basis: 55%; /* flexアイテムの幅を割合で指定 */
        }
    }

    /*---------------------------------

        状況対応表

    ---------------------------------*/

    li {
        list-style-type: none;
    }

    li.borde {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li.borde:before {
        content: "";
        display: inline-block;
        height: 13px;
        width: 30px;
        margin-right: 5px;
        border-radius: 3px;
    }

    li.waiting:before {
        background: #ffb1c1;
    }

    li.working:before {
        background: #9fcded;
    }

    li.done:before {
        background: #d5efb5;
    }

    .right {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
    }


    /*---------------------------------

        ボタン

    ---------------------------------*/

    td.td_btn {
        {% comment %} text-align: left; {% endcomment %}
        /* ボタンを上下中央に配置 */
        display: table-cell;
        vertical-align: middle;
    }

    .my-btn-w23 {
        width: 9rem;
    }

    .my-btn-w24 {
        width: 11.5rem;
    }

    .my-btn-w25 {
        width: 23rem;
    }


    /*---------------------------------

        トレーニングタイトル

    ---------------------------------*/

    .menu_title_size {
        font-size: 1.4rem;
        font-weight: 500!important;
    }


    /*---------------------------------

        画面レイアウト

    ---------------------------------*/

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-fluid {
        padding: 0;
    }

    /*---------------------------------

        カードの影

    ---------------------------------*/

    .better {
        box-shadow: 1px 1px 4px 1px #ccc;
    }

    /*---------------------------------

    トレーニング状況対応表

    ---------------------------------*/

    .correspondence_table {
        padding: 20px;
        box-shadow: 1px 1px 4px 1px #ccc;
        font-size: 16px;
    }

    /*---------------------------------

    テーブル

    ---------------------------------*/

    /* トレーニング */
    .csv_training_modal {
        table-layout: fixed;  /* table要素に指定することで、幅を固定 */
        width: 100%;
    }

    .csv_training_table th{
        width: 70px;         /* 幅を指定した要素だけ固定される。他は等倍の可変 */
    }


    /* アンケート */
    .csv_questionnaire_table {
        table-layout: fixed;
        width: 100%;
    }

    .csv_questionnaire_table th{
        width: 50px;
    }

    /* テスト */
    .csv_question_table {
        table-layout: fixed;
        width: 100%;
    }

    .csv_question_table th{
        width: 50px;
    }

    td.question_text{
        background-color: #f2f2f2;
    }

    th.question_text{
        background-color: #f2f2f2;
    }

    th.choice_text {
        text-align: end;
    }

    th.Status_th {
        text-align: center;
    }

    /*---------------------------------

        トレーニングが登録されていない場合の
        メッセージ

    ---------------------------------*/

    .fa-file {
        color: #afafaf;
        font-size: 100px;
    }

    .box2 {
        display: inline-block;
        text-align: center;
    }

    /*---------------------------------

        前のページに戻るボタン

    ---------------------------------*/

    .btn-grp {
        margin: 80px;
    }

    .btn_back_home {
        color: #ffffff !important;
        background: #7db4e6;
    }

    .btn_back_home_w12 {
        height: 45px;
        width: 25%;
    }




</style>



    <div class="container">

        <div class="mdl_align-height mt-3 mb-3">

            <!-- messages.succes や messages.errorにて利用 -->
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }} mb-3"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="">
                <sapan class="training_title">受講ステータス</sapan><span class="label">管理者画面</span>
            </div>

        </div>

        <!-- トレーニングが登録されていない場合 -->
        {% if trainings|length == 0 %}

            <div class="box1 d-flex align-items-center justify-content-center">
                <div class="box2 mt-5">
                    <i class="far fa-file"></i>
                    <h4 class="card-title font-weight-bold text-black-50 mt-3">トレーニングが登録されていません</h4>
                    <h6 class="card-title font-weight-bold text-black-50 mt-3">トレーニングを登録すると各トレーニングの受講ステータスを確認できます</h6>
                </div>
            </div>

        <!-- トレーニングが登録されている場合 -->
        {% else %}

            {% for training in trainings %}

                <div class="card better w-100 mb-5">

                    <div class="card-header bg-transparent">

                        <div class="d-flex mt-2 mb-2 mr-2">

                            <div class="menu_title_size mr-3">{{forloop.counter|zfill:3}}.{{training.title}}</div>

                            {% comment %} {% if training.training_manage.all %}
                                <button type="button" class="my-btn remainder_btn my-btn-outline-egypt-1 my-btn-sl my-btn-w6" onclick="window.location.href='{% url 'training:reminder' training.id %}'">リマインダー</button>
                            {% else %}
                                <button type="button" class="my-btn remainder_btn my-btn-outline-egypt-1 my-btn-sl my-btn-w6" onclick="window.location.href='{% url 'training:reminder' training.id %}'" disabled>リマインダー</button>
                            {% endif %} {% endcomment %}

                        </div>

                    </div>

                    <div class="card-body">

                        <div class="flex-container">

                            <div class="flex-item2" style="width: 850px">

                                <div class="mt-2 font-weight-bold">リマインダー</div>

                                <div class="flex-item3">

                                    <div class="col-12">

                                        <table class="table-bordered table">

                                            <tbody>

                                                <!-- 進捗状況 -->
                                                <tr>
                                                    <th colspan="2">トレーニングが完了していないユーザーにリマインダーを送信します。</th>

                                                    <td class="td_btn table_td" colspan="1">
                                                        <!-- トレーニングの期限が切れていない場合 -->
                                                        {% if training.end_date|check_for_expiration_date %}

                                                            <!-- 全員がトレーニングを完了していた場合 -->
                                                            {% if training|training_manage_done%}
                                                                <!-- True -->
                                                                <button type="button" class="my-btn my-btn-egypt-1 my-btn-sl my-btn-w25" onclick="window.location.href='{% url 'training:reminder' training.id %}'" disabled>リマインダー</button>
                                                            {% else %}
                                                                <!-- False -->
                                                                <button type="button" class="my-btn my-btn-egypt-1 my-btn-sl my-btn-w25" onclick="window.location.href='{% url 'training:reminder' training.id %}'">リマインダー</button>
                                                            {% endif %}

                                                        <!-- トレーニングの期限が切れている場合 -->
                                                        {% else %}

                                                            <!-- 期限切れトレーニングの有効化・無効化切り替えフラグがTrueの場合 -->
                                                            {% if training.expired_training_flg %}

                                                                <!-- 全員がトレーニングを完了していた場合 -->
                                                                {% if training|training_manage_done%}
                                                                    <!-- True -->
                                                                    <button type="button" class="my-btn my-btn-egypt-1 my-btn-sl my-btn-w25" onclick="window.location.href='{% url 'training:reminder' training.id %}'" disabled>リマインダー</button>
                                                                {% else %}
                                                                    <!-- False -->
                                                                    <button type="button" class="my-btn my-btn-egypt-1 my-btn-sl my-btn-w25" onclick="window.location.href='{% url 'training:reminder' training.id %}'">リマインダー</button>
                                                                {% endif %}

                                                            {% else %}
                                                                <!-- False -->
                                                                <button type="button" class="my-btn my-btn-egypt-1 my-btn-sl my-btn-w25" onclick="window.location.href='{% url 'training:reminder' training.id %}'" disabled>リマインダー</button>
                                                            {% endif %}

                                                        {% endif %}
                                                    </td>

                                                <tr>

                                            </tbody>

                                        </table>

                                    </div>

                                </div>




                                {% comment %} <div class="mt-2 font-weight-bold">全体のステータス</div> {% endcomment %}

                                {% comment %} <div class="flex-item3">

                                    <div class="col-12">

                                        <table class="table-bordered table">

                                            <tbody>

                                                {% for training_manage in training.training_manage.all %}

                                                <tr>
                                                    <th class="table_th">Status</th>

                                                    {% if training_manage.status == 1 %} <!-- 未対応 -->
                                                        <td class="table_td">未対応</td>
                                                    {% elif training_manage.status == 2 %} <!-- 対応中 -->
                                                        <td class="table_td">対応中</td>
                                                    {% elif training_manage.status == 3 %} <!-- 完了 -->
                                                        <td class="table_td">完了</td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}

                                            </tbody>

                                        </table>

                                    </div>

                                </div> {% endcomment %}


                                <!-- CSV出力 -->
                                <div class="flex-item3">

                                    <div class="mt-2 font-weight-bold">CSV出力</div>

                                    <div class="col-12">

                                        <table class="table-bordered table">

                                            <tbody>

                                                <!-- 進捗状況 -->
                                                <tr>
                                                    <th colspan="2">受講者の進捗状況をCSV形式で出力します。</th>

                                                    <td class="td_btn table_td" colspan="1">
                                                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-sl my-btn-w24" onclick="window.location.href='{% url 'training:user_status' training.id %}'" disabled>進捗状況の出力</button>
                                                        <!-- ボタン -->
                                                        <button type="button" class="my-btn my-btn-gray-1 my-btn-sl my-btn-w24" id="" data-toggle="modal" data-target="#csv_training_modal{{forloop.counter}}" data-pk="{{ training.id }}">CSV凡例</button>
                                                    </td>


                                                <tr>

                                                <!-- アンケート -->
                                                {% for parts in training.parts.all|get_parts_type:4 %}

                                                    <tr>
                                                        <th class="table_th" colspan="2">受講者のアンケート結果をCSV形式で出力します。</th>

                                                        <td class="td_btn table_td" colspan="1">
                                                            <button type="button" class="my-btn my-btn-egypt-1 my-btn-sl my-btn-w24" onclick="window.location.href='{% url 'training:user_questionnaire' parts.id %}'">アンケートの出力</button>
                                                            <!-- ボタン 1つ上の親ループのパラメータ出力 -->
                                                            <button type="button" class="my-btn my-btn-gray-1 my-btn-sl my-btn-w24" id="" data-toggle="modal" data-target="#csv_questionnaire_modal{{forloop.parentloop.counter}}-{{ forloop.counter }}" data-pk="{{ parts.id }}">CSV凡例</button>
                                                        </td>

                                                    </tr>




                                                {% endfor %}


                                                <!-- テスト -->
                                                {% for parts in training.parts.all|get_parts_type:3 %}
                                                <tr>
                                                    <th class="table_th" colspan="2">受講者のテスト結果をCSV形式で出力します。</th>

                                                    <td class="td_btn table_td" colspan="1">
                                                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-sl my-btn-w24" onclick="window.location.href='{% url 'training:user_question' parts.id %}'">テストの出力</button>
                                                        <!-- ボタン 1つ上の親ループのパラメータ出力 -->
                                                        <button type="button" class="my-btn my-btn-gray-1 my-btn-sl my-btn-w24" id="" data-toggle="modal" data-target="#csv_question_modal{{forloop.parentloop.counter}}-{{ forloop.counter }}" data-pk="{{ parts.id }}">CSV凡例</button>
                                                        {% comment %} <button type="button" class="my-btn my-btn-gray-1 my-btn-sl my-btn-w8" id="" data-toggle="modal" data-target="#csv_question_modal{{forloop.parentloop.counter}}" data-pk="{{ parts.id }}">CSV凡例</button> {% endcomment %}

                                                    </td>
                                                <tr>



                                                {% endfor %}



                                            </tbody>

                                        </table>

                                    </div>

                                </div>

                            </div>



                            <!-- chart.js この場所にグラフが描画される-->
                            <div class="flex-item1">

                                <div class="d-flex">

                                    <div class="chart-container">
                                        {% comment %} <canvas class="myChart"  width="250px" height="250px" data-url="{% url 'training:get_pie_data' %}" data-number="{{ forloop.counter }}" data-training={{ training.id }}></canvas> {% endcomment %}
                                        <canvas class="myChart" data-url="{% url 'training:get_pie_data' %}" data-number="{{ forloop.counter }}" data-training={{ training.id }}></canvas>
                                    </div>

                                    <!-- 状況対応表 -->
                                    <div class="chart_table">

                                        <div class="chart_ttle mb-2 font-weight-bold">トレーニング状況対応表</div>

                                        <ul class="correspondence_table">
                                            {% comment %} <li class="borde waiting">未対応 <p class="right">{{training|get_training_status_waiting:training.id}}</p><span>人</span></li>
                                            <li class="borde working">対応中 <p class="right">{{training|get_training_status_working:training.id}}</p><span>人</span></li>
                                            <li class="borde done">完了済<p class="right">{{training|get_training_status_done:training.id}}</p><span>人</span></li> {% endcomment %}
                                            <li class="borde waiting">未対応 <p class="right">{{training|get_training_status_waiting:training.id}}</p></li>
                                            <li class="borde working">対応中 <p class="right">{{training|get_training_status_working:training.id}}</p></li>
                                            <li class="borde done">完了済<p class="right">{{training|get_training_status_done:training.id}}</p></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>




                        <!--トレーニングのID情報 モーダル -->
                        <div class="modal fade" id="csv_training_modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                            <div class="modal-dialog modal-dialog-centered">

                                <div class="modal-content">

                                    <div class="modal-header">

                                        <h5 class="modal-title" id="myModalLabel" style="font-weight: bold;">トレーニング詳細</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>

                                    <div class="modal-body">

                                        <div>状況対応表</div>

                                        <table class="csv_training_table table-bordered table">
                                            <tbody>

                                                <tr>
                                                    <th class="table_th Status_th">1</th>
                                                    <td class="table_td">未対応</td>
                                                </tr>
                                                <tr>
                                                    <th class="table_th Status_th">2</th>
                                                    <td class="table_td">対応中</td>
                                                </tr>
                                                <tr>
                                                    <th class="table_th Status_th">3</th>
                                                    <td class="table_td">完了</td>
                                                </tr>

                                            </tbody>
                                        </table>

                                        <div class="mt-2">パーツは左から以下の順番で並んでいます。</div>

                                        <table class="csv_training_table table-bordered table">
                                            <tbody>

                                                {% for parts in training.parts.all|dictsort:"order" %}

                                                    <tr>
                                                        {% comment %} <th class="table_th">Parts{{parts.order}}</th> {% endcomment %}
                                                        <th class="table_th">Parts{{forloop.counter}}</th>
                                                        <td class="table_td">{{parts.title}}</td>
                                                    </tr>

                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="modal-footer justify-content-center">

                                        <div class="">

                                            <button type="button" class="my-btn my-btn-egypt-1 my-btn-w7" data-dismiss="modal">閉じる</button>

                                        </div>

                                    </div><!-- /.modal-footer -->

                                </div><!-- /.modal-content -->

                            </div><!-- /.modal-card -->

                        </div><!-- /.modal -->



                        {% for parts in training.parts.all|get_parts_type:3 %}

                        <!--テストのID情報 モーダル -->
                        <div class="modal fade" id="csv_question_modal{{forloop.parentloop.counter}}-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                            <div class="modal-dialog modal-dialog-centered modal-lg">

                                <div class="modal-content">

                                    <div class="modal-header">

                                        <h5 class="modal-title" id="myModalLabel" style="font-weight: bold;">テスト詳細</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>

                                    <div class="modal-body">

                                        <table class="csv_question_table table-bordered table" id="">
                                            <tbody>

                                                {% comment %} {% for parts in training.parts.all%} {% endcomment %}
                                                    {% for question in parts.question_parts.all|dictsort:"order" %}

                                                        <tr class="csv_question_table_tr">
                                                            {% comment %} <th class="question_text">Q{{question.order}}</th> {% endcomment %}
                                                            <th class="question_text">Q{{forloop.counter}}</th>
                                                            <td class="question_text">{{question.text|safe}}</td>
                                                        </tr>


                                                        {% for choice in question.choice_set.all|set_order:"order" %}

                                                            <tr>
                                                                <th class="choice_text">{{choice.order}}</th>
                                                                <td class="">{{choice.text}}</td>
                                                            </tr>

                                                        {% endfor %}

                                                    {% endfor %}

                                                {% comment %} {% endfor %} {% endcomment %}

                                            </tbody>

                                        </table>


                                    </div>

                                    <div class="modal-footer justify-content-center">

                                        <div class="">

                                            <button type="button" class="my-btn my-btn-egypt-1 my-btn-w7" data-dismiss="modal">閉じる</button>

                                        </div>

                                    </div><!-- /.modal-footer -->

                                </div><!-- /.modal-content -->

                            </div><!-- /.modal-card -->

                        </div><!-- /.modal -->

                        {% endfor %}





                        {% for parts in training.parts.all|get_parts_type:4 %}

                        <!--アンケートのID情報 モーダル -->
                        <div class="modal fade" id="csv_questionnaire_modal{{forloop.parentloop.counter}}-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                            <div class="modal-dialog modal-dialog-centered modal-lg">

                                <div class="modal-content">

                                    <div class="modal-header">

                                        <h5 class="modal-title" id="myModalLabel" style="font-weight: bold;">アンケート詳細</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>

                                    <div class="modal-body">

                                        <table class="csv_questionnaire_table table-bordered table">

                                            <tbody>
                                                {% comment %} {% for parts in training.parts.all%} {% endcomment %}

                                                    {% for question in parts.questionnairequestion_set.all|dictsort:"order" %}

                                                        <tr>
                                                            {% comment %} <th class="question_text">Q{{question.order}}</th> {% endcomment %}
                                                            <th class="question_text">Q{{forloop.counter}}</th>
                                                            <td class="question_text">{{question.text|safe}}</td>
                                                        </tr>

                                                        {% comment %} {% if question.is_type == "radio" %} {% endcomment %}

                                                            {% for choice in question.questionnairechoice_set.all|set_order:"order" %}

                                                                <tr>
                                                                    <th class="choice_text">{{choice.order}}</th>
                                                                    <td class="">{{choice.text}}</td>
                                                                </tr>

                                                            {% endfor %}

                                                        {% comment %} {% endif %} {% endcomment %}

                                                    {% endfor %}

                                                {% comment %} {% endfor %} {% endcomment %}

                                            </tbody>

                                        </table>



                                    </div>

                                    <div class="modal-footer justify-content-center">

                                        <div class="">

                                            <button type="button" class="my-btn my-btn-egypt-1 my-btn-w7" data-dismiss="modal">閉じる</button>

                                        </div>

                                    </div><!-- /.modal-footer -->

                                </div><!-- /.modal-content -->

                            </div><!-- /.modal-card -->

                        </div><!-- /.modal -->

                        {% endfor %}




                        </div><!-- baseで定義している id="wrapper"とcontents-wrapperのDiv閉じ -->

                    </div>

                </div>


            {% endfor %}

        {% endif %}

        {% comment %} {% endfor %} {% endcomment %}

    </div>


    {% comment %} <div class="bar_button">
        <div class="d-flex justify-content-center">

            <button type="button" class="my-btn my-btn-egypt-1 my-btn-w25" onclick="window.location.href='{% url 'training:training' %}'">ホームへ戻る</button>

        </div>
    </div> {% endcomment %}


    <!-- ボタン -->
    <div class="d-flex justify-content-center btn-grp">
        <!-- 前のページに戻る -->
        <button type="button" class="my-btn btn_back_home btn_back_home_w12" onclick="window.location.href='{% url 'training:training' %}'"><span class="my_btn_text">ホームへ戻る</span></button>
    </div>


    {% comment %} {% if not trainings|length == 0 %}
    <!-- ボタン -->
    <div class="d-flex justify-content-center btn-grp">

        <!-- 前のページに戻る -->
        <button type="button" class="my-btn btn_back_home btn_back_home_w12" onclick="window.location.href='{% url 'training:training' %}'"><span class="my_btn_text">ホームへ戻る</span></button>

    </div>
    {% endif %} {% endcomment %}

















{% endblock %}


{% block extra_js %}

    <!----- chart.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" ></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/chart.min.js' %}"></script>

    <!-- chartjs-plugin-outerlabels -->
    {% comment %} <script type="module">
        import chartjsPluginOuterlabels from 'https://cdn.skypack.dev/chartjs-plugin-outerlabels';
    </script> {% endcomment %}

    <!-- piechart-outlabelsプラグインを呼び出す -->
    {% comment %} <script src="https://www.jsdelivr.com/package/npm/chartjs-plugin-piechart-outlabels"></script> {% endcomment %}

    <!-- piechart-outlabelsプラグインを呼び出す -->
    {% comment %} <script src="{% static 'training/js/outerLabels.js' %}"></script> {% endcomment %}





    <script>
        // 5秒後にエラーメッセージを消す関数
        $('.messages').fadeIn("slow", function () {
            //コールバックで5秒後にフェードアウト
            $(this).delay(5000).fadeOut("slow");
        });
    </script>


    <script>

    // -----------------
    // chart.js 円グラフ
    // -----------------


    $(function () {

        var $ctx = $(".myChart");
        console.log( $ctx );

        $("body").find('.myChart').each(function(i, canvas) {

            var number = canvas.dataset.number;

            var training_id = canvas.dataset.training;

            $.ajax({

                type:'GET',

                url: canvas.dataset.url,
                //url:'/canvas.dataset.url/'+ training_id,// 通信先のURL

                data: {
                    'training_id': training_id
                },

                dataType: 'json',

                success: function (data) {

                    console.log("------------ data", data)
                    console.log("------------ training_user_count", data.training_user_count)

                    var ctx = canvas.getContext("2d");

                    var myChart = new Chart(ctx, {
                    //eval('var myChart' + number + '= new Chart(ctx, {')

                        // グラフの種類
                        type: 'doughnut',
                        //type: 'pie',

                        // オプションの設定
                        {% comment %} options: options, {% endcomment %}

                        // グラフに描画するデータ(系列名,値を含む)
                        data: {
                            //labels: ["未対応","対応中","完了"],
                            datasets: [{
                                label: '円グラフ',
                                data: data.data,
                                backgroundColor: [
                                    "#ffb1c1",
                                    "#9fcded",
                                    "#d5efb5"
                                ],
                                cutout: '65%',//チャートの幅(%)
                            }]
                        },

                        // グラフオプション
                        options: {
                            // 自動サイズ変更をしない
                            responsive: true,

                            //maintainAspectRatio: false,

                            // グラフの太さ（中央部分を何％切り取るか）
                            cutoutPercentage: 50,

                            tooltips: {
                                enabled: false
                            },

                            legend: {
                                display: true,
                                pocision: "right",
                                labels: {
                                    fontColor: 'rgb(255, 99, 132)',
                                    fontSize: 10,
                                }
                            },
                        },

                        // 円グラフ中央に数字を表示
                        plugins: [{
                            id: 'text',
                            beforeDraw: function(chart, a, b) {

                                var width = chart.width,
                                    height = chart.height,
                                    ctx = chart.ctx;

                                ctx.restore();

                                var fontSize = (height / 55).toFixed(2);
                                ctx.font = fontSize + "em sans-serif";
                                ctx.textBaseline = "middle";

                                // 数字を描画
                                var text = data.training_user_count,
                                    textX = Math.round((width - ctx.measureText(text).width) / 2),
                                    //textY = height / 2.2;
                                    textY = height / 2.35;

                                ctx.fillText(text, textX, textY);
                                ctx.save();

                                var fontSize = (height / 100).toFixed(2);
                                ctx.font = fontSize + "em sans-serif";
                                ctx.textBaseline = "middle";

                                // userを描画
                                var text = "user",
                                    textX = Math.round((width - ctx.measureText(text).width) / 2),
                                    textY = height / 1.65;

                                ctx.fillText(text, textX, textY);
                                ctx.save();



                            },

                            outlabels: {
                                text: '%l\n%p',
                                color: '#000',
                                backgroundColor: null,
                                lineWidth: 4,
                                font: {
                                    resizable: false,
                                    size: 10,
                                }
                            }








                        }]




                    });

                },

            });



        });

    });

</script>



<script>

$(document).ready(function() {

    $('.close_test').on('click', function() {
        window.opener.location.reload();
    });

});
</script>


{% comment %} <script>

    $(function() {

        $('#csv_training_modal').on('show.bs.modal', function (event) {

            //モーダルを開いたボタンを取得
            var button = $(event.relatedTarget);

            var training_id = button.data('pk')
            console.log("------------ training_id", training_id)

            // -----------------
            // ボタン押下時,サーバとのAjax通信を開始
            // -----------------

            $.ajax({

                type:'GET',

                url:"{% url 'training:get_csv_training_modal' %}",// 通信先のURL

                data: {
                    'training_id': training_id
                },

                dataType: 'json',

                success: function(data) {

                    console.log("------------ data CSVモーダル", data.training_obj)
                    console.log("------------ data タイトル", data.training_obj.pk)

                    // idが指定されている要素に入力された値をテキストとして挿入
                    $('#csv_training_modal #question_order').text(data.training_obj);

                    // 状況


                },
                error: function () {


                },

            });


        });

    });

</script> {% endcomment %}












{% endblock %}
