{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% load widget_tweaks %}
{% load select_exclude %}

{% block title %}ボタン有効化制御・制御条件登録 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/bootstrap.min.js' %}"></script>
    {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}



    <!-- CSSの読み込み -->

    <style>

    /*---------------------------------

    for Header
    
    ---------------------------------*/
    
    body {
        font-size: 12px;
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
    }
    
    .navbar-expand .navbar-nav .nav-link {
        padding: 0;
        font-size: 1.5rem;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
    
    .menu_title_size {
        font-size: 1.4rem;
    }






    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .container {
        {% comment %} max-width: 1366px; {% endcomment %}
        max-width: 1235px;
    }


    @media (min-width: 1367px) { /*ウィンドウ幅が最大1366px以上の場合に適用*/
    .parts_card {
        max-width: 779px;
        {% comment %} max-width: 749px; {% endcomment %}
    }
    }

    @media (max-width: 1367px) { /*ウィンドウ幅が最大1366pxまでの場合に適用*/
    .parts_card {
        max-width: 749px;
        {% comment %} max-width: 779px; {% endcomment %}
    }
    }


    /*---------------------------------

        タイトル、サブタイトル

    ---------------------------------*/

    .cp_h1title{
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 10px;
        text-align: left;
    }
    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }
    .cp_h1title:before{
        border-bottom: 4px solid #4a849a;
        width: 100%;
    }

    .cp_p_title {
        text-align: left;
        font-size: 15px;
        padding-top: 10px;

    }


    /*---------------------------------

        ボタン

    ---------------------------------*/

    .btn-grp {
        margin: 80px;
    }

    {% comment %} /*---------------------------------

        パーツの幅

    ---------------------------------*/

    .parts_card {
        width: 749px;
    } {% endcomment %}

    /*---------------------------------

        チェックボックスとセレクトの幅、高さ

    ---------------------------------*/


    input[type=checkbox] {
        transform: scale(2);
    }

    select{
        vertical-align:middle !important;
        width: 300px;
        height:30px;
    }

    </style>



    <div class="container">

        <div>

            <h3 class="cp_h1title">ボタン有効化制御・制御条件</h3>
            <h6 class="cp_p_title">・どの順番でパーツを受講するかを設定することができます。</h6>
            <h6 class="cp_p_title pb-3 pt-0">・チェックボックスのチェックを外すことで設定したボタン有効化制御を無効にすることができます。</h6>
        </div>


        <div class="mt-2" id="btn_activate_ctl">

            {% for training in trainings %}

                {% with movie_count=training.movie.all|length %}
                {% with test_count=training.test.all|length %}
                {% with questionnaire_count=training.questionnaire.all|length %}

                    <div>

                        {% for parts in training.parts.all %}

                            <!-- ファイル -->
                            {% if parts.type == 1 %}

                                <div class="d-flex align-items-center justify-content-center mb-3">

                                    <div class="parts_card" id="{{parts.id}}" data-number="{{forloop.counter}}">

                                        <div class="d-flex card_body">

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="">
                                                    <i class="fas fa-file-download menu_icon"></i>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                                <div class="d-flex flex-column">
                                                    <div class="menu_title_size">{{parts.title}}</div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>


                                    <div class="ml-3">

                                        <div class="wrap d-flex align-items-center">

                                            <input type="checkbox" class="checks mr-3" value="{{parts.id}}" name="check" {% if parts.btn_activate_ctl %}checked{% endif %}>

                                            <!-- 依存元 -->
                                            <div class="mr-3">
                                                {% comment %} <select data-parts="{{parts.id}}" data-parts="{{parts.id}}" class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}"
                                                {% if parts.btn_activate_ctl == False %}disabled{% endif %}> {% endcomment %}

                                                <select data-parts="{{parts.id}}" data-parts="{{parts.id}}" class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}">
                                                    <option class="cancel_disabled_btn" value="">選択してください</option>
                                                    <!-- 依存元になるパーツはプルダウンメニューに表示させない -->
                                                    {% for parts_select in parts_selects|select_exclude:parts.id %}
                                                        <option value="{{parts_select.id}}">{{parts_select}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>

                                            <!-- 依存先 -->
                                            {% comment %} <div class="mr-3">
                                                <select class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}">
                                                    <option class="cancel_disabled_btn" value="">選択してください</option>
                                                    <!-- 依存元になるパーツはプルダウンメニューに表示させない -->
                                                    {% for parts_select in parts_selects|select_exclude:parts.id %}
                                                        <option value="{{parts_select.id}}">{{parts_select}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> {% endcomment %}

                                            <input align="middle" class="reset" type="button" value="リセット" name="reset_btn">


                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                            <!-- 動画 -->
                            {% if parts.type == 2 %}

                                <div class="d-flex align-items-center justify-content-center mb-3">

                                    <div class="parts_card" id="{{parts.id}}" data-number="{{forloop.counter}}">
                                        <div class="d-flex card_body">

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="">
                                                    <i class="fas fa-file-video menu_icon"></i>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                                <div class="menu_title_size">{{parts.title}}</div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="ml-3">

                                        <div class="wrap d-flex align-items-center">

                                            <input type="checkbox" class="checks mr-3" value="{{parts.id}}" name="check" {% if parts.btn_activate_ctl %}checked{% endif %}>

                                            <!-- 依存元 -->
                                            <div class="mr-3">
                                                {% comment %} <select data-parts="{{parts.id}}" class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}"
                                                {% if parts.btn_activate_ctl == False %}disabled{% endif %}> {% endcomment %}

                                                <select data-parts="{{parts.id}}" class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}">
                                                    <option class="cancel_disabled_btn" value="">選択してください</option>
                                                    <!-- 依存元になるパーツはプルダウンメニューに表示させない -->
                                                    {% for parts_select in parts_selects|select_exclude:parts.id %}
                                                        <option value="{{parts_select.id}}">{{parts_select}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>

                                            <!-- 依存先 -->
                                            {% comment %} <div class="mr-3">
                                                <select class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}">
                                                    <option class="cancel_disabled_btn" value="">選択してください</option>
                                                    <!-- 依存元になるパーツはプルダウンメニューに表示させない -->
                                                    {% for parts_select in parts_selects|select_exclude:parts.id %}
                                                        <option value="{{parts_select.id}}">{{parts_select}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> {% endcomment %}

                                            <input align="middle" class="reset" type="button" value="リセット" name="reset_btn">


                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                            <!-- テスト -->
                            {% if parts.type == 3 %}

                                <div class="d-flex align-items-center justify-content-center mb-3">

                                    <div class="parts_card" id="{{parts.id}}" data-number="{{forloop.counter}}">
                                        <div class="d-flex card_body">

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="">
                                                    <i class="fas fa-file-contract menu_icon"></i>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                                <div class="menu_title_size">{{parts.title}}</div>
                                                <div class="menu_desc_size menu_desc_text">{{parts.description}}</div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="ml-3">

                                        <div class="wrap d-flex align-items-center">

                                            <input type="checkbox" class="checks mr-3 d-flex align-items-center" value="{{parts.id}}" name="check" {% if parts.btn_activate_ctl %}checked{% endif %}>

                                            <!-- 依存元 -->
                                            <div class="mr-3">
                                                {% comment %} <select data-parts="{{parts.id}}" class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}"
                                                {% if parts.btn_activate_ctl == False %}disabled{% endif %}> {% endcomment %}

                                                <select data-parts="{{parts.id}}" class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}">
                                                    <option class="cancel_disabled_btn" value="">選択してください</option>
                                                    <!-- 依存元になるパーツはプルダウンメニューに表示させない -->
                                                    {% for parts_select in parts_selects|select_exclude:parts.id %}
                                                        <option value="{{parts_select.id}}">{{parts_select}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- 依存先 -->
                                            {% comment %} <div class="mr-3">
                                                <select class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}">
                                                    <option class="cancel_disabled_btn" value="">選択してください</option>
                                                    <!-- 依存元になるパーツはプルダウンメニューに表示させない -->
                                                    {% for parts_select in parts_selects|select_exclude:parts.id %}
                                                        <option value="{{parts_select.id}}">{{parts_select}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> {% endcomment %}

                                            <input align="middle" class="reset" type="button" value="リセット" name="reset_btn">


                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                            <!-- アンケート -->
                            {% if parts.type == 4 %}

                                <div class="d-flex align-items-center justify-content-center mb-3">

                                    <div class="parts_card" id="{{parts.id}}" data-number="{{forloop.counter}}">
                                        <div class="d-flex card_body">

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="" >
                                                    <i class="fas fa-file-alt menu_icon"></i>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                                <div class="menu_title_size">{{parts.title}}</div>
                                                <div class="menu_desc_size menu_desc_text">{{parts.description}}</div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="ml-3">

                                        <div class="wrap d-flex align-items-center">

                                            <input type="checkbox" class="checks mr-3" value="{{parts.id}}" name="check" {% if parts.btn_activate_ctl %}checked{% endif %}>

                                            <!-- 依存元 -->
                                            <div class="mr-3">
                                                {% comment %} <select data-parts="{{parts.id}}" class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}"
                                                {% if parts.btn_activate_ctl == False %}disabled{% endif %}> {% endcomment %}

                                                <select data-parts="{{parts.id}}" class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}">
                                                    <option class="cancel_disabled_btn" value="">選択してください</option>
                                                    <!-- 依存元になるパーツはプルダウンメニューに表示させない -->
                                                    {% for parts_select in parts_selects|select_exclude:parts.id %}
                                                        <option value="{{parts_select.id}}">{{parts_select}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- 依存先 -->
                                            {% comment %} <div class="mr-3">
                                                <select class="select_parts_destination select_{{forloop.counter}}" name="parts_destination{{forloop.counter}}" data-id{{forloop.counter}}="{{parts.id}}">
                                                    <option class="cancel_disabled_btn" value="">選択してください</option>
                                                    <!-- 依存元になるパーツはプルダウンメニューに表示させない -->
                                                    {% for parts_select in parts_selects|select_exclude:parts.id %}
                                                        <option value="{{parts_select.id}}">{{parts_select}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> {% endcomment %}

                                            <input align="middle" class="reset" type="button" value="リセット" name="reset_btn">

                                        </div>

                                    </div>


                                </div>

                            {% endif %}


                        {% endfor %}


                    </div>


                {% endwith %}
                {% endwith %}
                {% endwith %}

                <div class="d-flex justify-content-center btn-grp">

                    <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3" onclick="window.location.href='{% url 'training:training_edit_menu' training.pk %}'"><span class="my_btn_text">戻る</span></button>

                    <button type="button" id="btn_activate_ctl_sbmbtn" class="my-btn my-btn-egypt-1 my-btn-w12"><span class="my_btn_text">変更する</span></button>

                </div>

            {% endfor %}

        </div>


    </div>







{% endblock %}

{% block extra_js %}

    <!-- bootstrap -->
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/bootstrap.min.js' %}"></script>





<script>


    $(function() {

        var check_lists = [];
        var array_lists = [];

        // セレクトボックスを無効
        $('select').prop('disabled', true);

        // 初期化ボタンを無効
        $('.reset').prop('disabled', true);

        // 一番目のチェックボックスを操作できないようにする
        $('input').eq(0).attr('disabled',true);

        // 一番目のselectを操作できないようにする
        $('select[name="parts_destination1"] option').attr('disabled',true);

        // 一番目の初期化ボタンを操作できないようにする
        $('.reset').eq(0).attr('disabled',true);


        //$('select').on('change', function() {
        $("select, .checks").on('change', function() {

            // -----------------
            // ボタン有効化制御の処理
            // -----------------

            // チェックされていない場合
            if ( $(this).prop('checked') == false ) {

                // selectの内容を初期値に戻す
                $(this).closest('div').find('option').each(function(){
                    $(this).closest('div').find('option:first-child').prop("selected", true);
                });

                // チェックを付けたパーツのセレクトボックスを有効にする
                $(this).closest("div").find(".select_parts_destination").prop("disabled", true);
                $(this).closest("div").find(".reset").prop("disabled", true);

            } else {

                $(this).closest("div").find(".select_parts_destination").prop("disabled", false);
                $(this).closest("div").find(".reset").prop("disabled", false);

            }

            var checks=[];

            // 各チェックボックスのIDを取得
            $('[name="check"]:checked').each(function(){
                // 格納
                checks.push(this.value);
            });
            console.log("------ checks -----", checks)

            check_lists = checks
            //console.log("------ check_lists -----", typeof check_lists)

            var unchecks=[];

            // 1番目のチェックボックスを除いたチェックされていないチェックボックスのIDを取得
            $('[name="check"]:not(":checked"):not(:eq(0))').each(function(){
                // 格納
                unchecks.push(this.value);
            });
            console.log("------ unchecks -----", unchecks)

            unchecks_list = unchecks


            // -----------------
            // 依存元と依存先の配列を作成する
            // -----------------

            var value = $(this).val();
            console.log("value", value)

            var array=[];

            // パーツの数を取得
            selectCount = $('.parts_card').length;

            // パーツの数分の配列(array)を作成
            var arr = new Array(selectCount);

            // parts_originにパーツのidを格納
            var parts_ids = [];
            $('.parts_card').each(function() {
                parts_ids.push($(this).attr('id'))
            });
            console.log("parts_ids",parts_ids)

            // データを格納
            for (i = 1; i <= arr.length; i++){

                eval("var parts_destination" + i + " = [];");

                $('[name=parts_destination' + i + '] option:selected').each(function() {

                    eval("parts_destination" + i + ".push(this.value);");

                });

                n = i -1
                id = parts_ids[n]
                console.log("id",id)
                eval("parts_destination" + i + ".unshift(id);");

                array.push(eval("parts_destination" + i));

            }

            console.log(array)

            array_lists = array
            console.log("------- array_lists -------", typeof array_lists)
            // →　(3) [Array(3), Array(3), Array(3)]

        });


        // ボタンを押下した場合、Ajaxで送信
        $('#btn_activate_ctl_sbmbtn').off('click') //onイベントの重複イベントを削除
        $('#btn_activate_ctl_sbmbtn').on('click', function() {

            console.log('クリックされたよ');

            console.log("------- array_lists 2-------", array_lists)// [Array(3), Array(3), Array(3)]
            console.log("------- check_lists -------",  check_lists)
            console.log("------- unchecks_list -------",  unchecks_list)

            $.ajax({
                type: "POST",
                url: '{% url "training:button_activate_ctl_update" %}',
                data: {
                    'checks': check_lists,// ボタン有効化制御の変更
                    'unchecks':unchecks_list,// チェックを外したチェックボックスのID
                    'array': array_lists,// 制御条件の変更
                },
                dataType: 'json',

                success: function (data) {

                    console.log("data", data)

                    window.location.href="/training_edit_menu/" + data.training_id


                }
            });

        });

        // -----------------
        // サーバとのAjax通信を開始
        // -----------------

        // URLのパラメータの値を取得
        var param = $(location).attr('pathname').split('/');
        //console.log("param", param[2]);

        // idのみを抽出
        var training_id = param[2];
        console.log("training_id", training_id);

        $.ajax({
            type:'GET',

            url:'/button_activate_ctl_edit_ajax/' + training_id + '/',// 通信先のURL

            dataType: 'json',

            success: function(data) {

                console.log("data", data)

                $.each(data.data, function (key, value){

                    // data-partsがkeyと一致するselectを取得する
                    var this_select = $(`select[data-parts='${key}']`);
                    console.log("this_select", this_select);
                    console.log("data.data", data.data[key]);

                    // 取得したselectのoptionの値と一致するvalueを選択済みにして表示する
                    this_select.val(value);

                    // セレクトボックスの無効を解除
                    this_select.prop('disabled', false);

                    // リセットボタンの無効解除
                    this_select.closest('.wrap').find(".reset").prop("disabled", false);

                });


            }

        });

    });



</script>


<script>

    // -----------------
    // すでに選択した依存先は選択できない
    // -----------------

    $(function() {

        $('.select_parts_destination').on('change', function() {

            var self = this;

            // 選択されたセレクトボックスのclassを取得
            var this_select = $(this).attr("class").split(" ")[1];
            console.log("this_select", this_select)

            // [ ]内に属性と値を*=で挟んでを記述すると、[ ]内に指定した属性の値を「含む」要素が選択される
            $('div').find("[class*='" + this_select + "'] option").prop('disabled', function() {

                return this.value == self.value

            });


        });


        // -----------------
        // リセットボタンを押すとセレクトボックスがリセットされる
        // -----------------

        $('.reset').on('click', function() {

            $(this).closest('div').find('option').each(function(){

                $(this).prop('disabled', false);

                $(this).closest('div').find('option:first-child').prop("selected", true);

            });

        })

    });

</script>









{% endblock %}