{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load get_list %}

<!--  Crispy Form -->
{% load widget_tweaks %}

{% load index %}

{% block title %}カスタムグループ作成(メールアドレス) | {{ block.super }}{% endblock %}

{% block content %}

    <!-- CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}


<style>

    /*---------------------------------

    for Header
    
    ---------------------------------*/
    
    body {
        font-size: 12px;
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
    }
    
    .navbar-expand .navbar-nav .nav-link {
        padding: 0;
        font-size: 1.5rem;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
    
    .menu_title_size {
        font-size: 1.4rem;
    }
    

/*---------------------------------

    エラー

---------------------------------*/
    span.error {
        color: red;
        display: block;
        text-align: left;
        margin-top: 10px;
    }

    .name_error_message {
        color: red;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0px;
    }

/*---------------------------------

    画面サイズ

---------------------------------*/

    .container {
        max-width: 1140px;
    }

/*---------------------------------

    タイトル、サブタイトル

---------------------------------*/
    .cp_h1title{
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 10px;
        text-align: left;
    }
    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }
    .cp_h1title:before{
        border-bottom: 4px solid #3c92c1;
        width: 100%;
    }

    .cp_p_title {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    }


/*---------------------------------

    必須、任意ラベル

---------------------------------*/
    .require_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .option_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .required_box {
        width: 100%;
        display: -webkit-inline-box;
        /*display: block;*/
        position: relative;
    }


    .option_box {
        width: 100%;
        display: -webkit-inline-box;
        position: relative;
    }


    .required_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 5px;
        background-color: red;
        border-radius: 3px;
        padding: 2px 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "必須";

    }

    .option_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 5px;
        background-color: #7d8285;
        border-radius: 3px;
        padding: 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "任意";
    }

    .name_error_message {
        text-align: left;
        color: red;

    }

    span.error {
        color: red;
        display: block;
        text-align: left;
    }

/*---------------------------------

    テーブル

---------------------------------*/

.taskgroup_bulk_create_table {
    width: 100%;
}

.taskgroup_bulk_create_table th,
.taskgroup_bulk_create_table td {
    border: 1px solid #ccc;
    padding: 15px;
}

.taskgroup_bulk_create_table th {
    font-weight: bold;
    background-color: #eeeeee;
}

.btn-grp {
    margin: 80px;
    text-align: center;
}

/*---------------------------------

    テキストエリア

---------------------------------*/

    textarea {
        resize: none;
        width:300px;
        height:200px;
    }


</style>






    <div class="container">

        <div>
            <h3 class="cp_h1title">カスタムグループ作成(メールアドレス)</h3>
            <p class="cp_p_title m-0 pt-2 pb-0">・【必須】がついている項目は必須です。必ず入力してください。</p>
            <p class="cp_p_title m-0 pb-4">・複数のメールアドレスを登録する場合は改行で区切ってください。</p>


            <!-- 存在確認のエラー -->
            {% comment %} <div>
                {% for error in form.non_field_errors %}
                <p class="name_error_message">
                    {{ error }}
                </p>
                {% endfor %}
            <div> {% endcomment %}

        </div>


        <div>

            <div class="my-div-style w-100">

                <form method="POST" enctype="multipart/form-data" id="taskgroup_bulk_create_form" novalidate>

                    {% csrf_token %}

                    {% comment %} <!-- Form全体のバリデーション時のエラーを表示 -->
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %} {% endcomment %}

                    <table class="taskgroup_bulk_create_table">

                        <tbody>

                            <!-- グループ名 -->
                            <tr>

                                <th style="width: 180px;">

                                    <div class="required_box">
                                        <div class="label require_label">グループ名</div>
                                    </div>

                                </th>

                                <td>

                                    {% render_field form.name class="form-control is_primary" placeholder="グループ名を入力してください" %}

                                    <!-- 存在確認のエラー -->
                                    <div>
                                        {% for error in form.name.errors %}
                                            <p class="name_error_message">
                                                {{ error }}
                                            </p>
                                        {% endfor %}
                                    <div>

                                </td>

                            </tr>



                            <!-- グループユーザー（メールアドレス） -->
                            <tr>
                                <th>

                                    <div class="required_box">
                                        <div class="label require_label">メールアドレス</div>
                                    </div>

                                </th>


                                <td class="list">

                                    <!-- メールアドレス -->

                                    {% render_field form.group_user class="form-control" placeholder="登録したいユーザーのメールアドレスを入力してください。複数のメールアドレスを登録する場合は改行で区切ってください。 例)test@test.com" %}

                                    <!-- 存在確認のエラー -->
                                    <div>
                                        {% for error in form.group_user.errors %}
                                            <p class="name_error_message">
                                                {{ error }}
                                            </p>
                                        {% endfor %}
                                    <div>

                                </td>

                            </tr>

                        </tbody>

                    </table>


                    <div class="btn-grp">

                        <!-- トレーニング作成ページへ遷移 -->
                        <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3" onclick="window.location.href='{% url 'training:customgroup_management' %}'"><span class="my_btn_text">戻る</span></button>

                        <button type="submit" id="taskgroup_bulk_create_btn" class="my-btn my-btn-egypt-1 my-btn-w12" disabled><span class="my_btn_text">作成</span></button>


                    </div>


                </form>

            </div>

        </div>

    </div>








{% endblock %}

{% block extra_js %}





<script>

$(document).ready(function() {


    // -----------------
    // validateのoption作成
    // -----------------

    $('#taskgroup_bulk_create_form').validate({

        errorElement: "span",// labelがspanにかわる

        //入力欄別にルールを作成　※nameを指定すること
        rules:{
            name:{
                required: true,
                maxlength: 20,
            },
            group_user:{
                required: true,
                {% comment %} email: true, {% endcomment %}
            },

        },
        // エラーメッセージを設定
        messages:{
            name:{
                required: 'グループ名は必須です。',
                maxlength: 'グループ名は20文字以内で入力してください。',
            },
            group_user:{
                required: 'グループユーザーは必須です。',
                {% comment %} email: "正しいメールアドレスを入力してください", {% endcomment %}
            },

        },




    });


    // -----------------
    // validate 変更
    // -----------------
    $("#taskgroup_bulk_create_form").on('input', function(event) {


        // カテゴリ
        var name = $('#id_name').val();
        console.log("name", name)

        // グルーピングユーザー
        var id_group_user = $('#id_group_user').val();
        console.log("id_group_user", id_group_user)


        // validateForm(): フォームのバリデーションを担当する
        validateForm('#taskgroup_bulk_create_form');


    });


    function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)


        if (valid) {
            $('#taskgroup_bulk_create_btn').prop('disabled', false);// enables button
        } else {
            $('#taskgroup_bulk_create_btn').prop('disabled', true);// disables button
        }
    }







});


</script>




{% endblock %}