{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load get_list %}
{% load exclude_is_rogical_deleted_user %}
<!--  Crispy Form -->
{% load widget_tweaks %}
{% load get_group_user %}
{% load index %}

<!-- クエリセットの中から指定回数分だけを返す -->
{% load counter_query %}

{% block title %}グループ一覧 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Datatables css -->
    {% comment %} <link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'training/css/jquery.dataTables.min.css' %}"> {% endcomment %}

    <!--- Colorbox -->
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-colorbox@1.6.4/example2/colorbox.css" /> {% endcomment %}



<style>

/*---------------------------------

    タイトル

---------------------------------*/

    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        margin-top: 20px;
        font-weight: bold;
        font-size: 25px;
    }

    .cp_p_title {
        text-align: left;
        font-size: 15px;
    }

    /*---------------------------------

        ラベル

    ---------------------------------*/

    span.label {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }


/*---------------------------------

画面の幅

---------------------------------*/

{% comment %} .row {
margin: auto;
justify-content: center; /*外枠の上下左右中央寄せ*/
} {% endcomment %}


{% comment %} @media (min-width: 1367px) { /*ウィンドウ幅が最大1366px以上の場合に適用*/
    .container-fluid {
        padding-right: 70px;
        padding-left: 70px;
    }
} {% endcomment %}


{% comment %} .container-fluid {
padding-right: 70px;
padding-left: 70px;
} {% endcomment %}

.container {
    padding-right: 80px;
    padding-left: 80px;
}

/*---------------------------------

    グループ作成ボタン

---------------------------------*/

/* 新規作成 */
.btn01 {
    display: block;
    position: relative;
    border: 2px solid #00a7e9;
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1rem;
    cursor: pointer;
}

.btn01:before {
    position: absolute;
    top: 15%;
    left: 15px;
    width: 10px;
    color: #7cb4e6;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\2b';
    font-size: 22px;
}

.btn01:hover {
	background: #7cb4e6;
	color: #fff;
}

.btn01:hover:before {
    position: absolute;
    top: 15%;
    left: 15px;
    width: 10px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\2b';
    font-size: 22px;
}

/* 一括削除 */
.btn02 {
    display: block;
    position: relative;
    border: 2px solid #e73c64;
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1rem;
    cursor: pointer;
}

.btn02:before {
    position: absolute;
    top: 23%;
    left: 15px;
    width: 10px;
    color: #e73c64;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2ed';
    font-size: 18px;
}

.btn02:hover {
	background: #e73c64;
	color: #fff;
}

.btn02:hover:before {
    position: absolute;
    top: 23%;
    left: 15px;
    width: 10px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2ed';
    font-size: 18px;
}




/*---------------------------------

    編集・削除アイコン

---------------------------------*/

/* 編集 */
.fas_button_edit{
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background: #87c040;
    color: #fff;
    cursor: pointer;
}
.fas_button_edit:before{
    width: 50px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f044';
    font-size: 20px;
}


/* 削除 */
.fas_button_delete{
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background: #565656;
    color: #fff;
    cursor: pointer;
}
.fas_button_delete:before{
    {% comment %} line-height: 50px; {% endcomment %}
    width: 50px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2ed';
    font-size: 20px;
}


/*---------------------------------

前のページに戻るボタン

---------------------------------*/

.btn-grp {
margin: 80px;
}

.return_btn {
color: #ffffff !important;
background: #7db4e6;
}

.my-btn-w12 {
height: 45px;
width: 300px;
}


/*---------------------------------

もっと見るボタン

---------------------------------*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}


.group_member_list {
    opacity: 0;
    position: absolute;
    {% comment %} bottom: 25%;
    left: 15%; {% endcomment %}
    bottom: 28%;
    left: 8%;
}

.group_member_list:hover {
    opacity: 0.9;
}

td, th {
    text-align: center;
    vertical-align: top;
}

.member {
    text-align:left;
    vertical-align: top;
}

{% comment %} .mdl_align-height {
    padding: 0 130px;
} {% endcomment %}

.modal-message:before {
    /*position: absolute;
    top: 15%;
    left: 15px;
    width: 10px; */
    color: #e73c64;
    padding-right : 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f06a';
    font-size: 15px;
}

    /*---------------------------------

        テーブル

    ---------------------------------*/
    .row {
        display: flex;
        flex-wrap: nowrap;
        /* margin-right: -15px; */
        /* margin-left: -15px; */
        {% comment %} justify-content: space-between; {% endcomment %}
    }

    @media (min-width: 576px){
        .col-sm-6 {
            flex: none !important;
            max-width: 50%;
        }
    }


    /*画面幅を狭めても元のレイアウトをキープ*/
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: initial !important;
    }


    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: right !important;
    }


</style>







        <div class="container">

            <!-- messages.succes や messages.errorにて利用 -->
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }} mb-3"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="mdl_align-height mt-3 mb-3">

                <sapan class="training_title">グループ一覧</sapan><span class="label">管理者画面</span>
                <p class="cp_p_title m-0 pt-2 pb-4">・5名以上メンバーが登録されている場合はメンバーの行にマウスカーソルを乗せるとメンバーの詳細を確認できます。</p>

            </div>

            <div class="d-flex mdl_align-height mt-4">

                <a class="btn01 dropdown-item mr-2" href="{% url 'training:input_customgroup' %}">
                    <span>新規グループ作成</span>
                </a>

                <a class="btn01 dropdown-item mr-2" href="{% url 'training:customgroup_bulk_create' %}">
                    <span>メールアドレス一括登録</span>
                </a>

                {% comment %} <button id="delete_row" class="btn02 dropdown-item" data-toggle="modal" data-target="#customgroup_all_delete_modal" data-pk="{{ customgroup.id }}">
                    <span>グループの一括削除</span>
                </button> {% endcomment %}

            </div>

            {% comment %} <div class="row mt-4"> {% endcomment %}
            <div class="my-div-style w-100 mt-4">
                {% comment %} <div class="col-10 mt-5"> {% endcomment %}
                    {% comment %} <div> {% endcomment %}
                        <!-- Datatables -->
                        <table id="customgroup_table" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center; vertical-align: middle;"><input type="checkbox" name="allChecked" id="all"></th>
                                    <th style="text-align:left; vertical-align: middle;">グループ名</th>
                                    <th style="text-align:left; vertical-align: middle;">メンバー</th>
                                    <th style="text-align:left; vertical-align: middle;">登録メンバー数</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="boxes">

                                {% for customgroup in groups %}

                                    <tr>
                                        <!-- 一括チェック -->
                                        <td style="text-align:center; vertical-align: middle;">
                                            <input class="checks" type="checkbox" value="{{ customgroup.id }}" name="check[]">
                                        </td>

                                        <!-- グループ名 -->
                                        <td style="text-align:left; vertical-align: middle;">{{ customgroup.name }}</td>

                                        <!-- ユーザー名 -->
                                        <td>
                                            <ul id="member_list_ul" class="member_list">
                                            {% comment %} <div id="member_list_ul" class="member_list"> {% endcomment %}

                                                {% comment %} {% for i in customgroup.group_user.all|slice:':5' %} {% endcomment %}
                                                {% for i in customgroup.id|get_group_user|slice:':5' %}
                                                    <!-- 論理削除済みのユーザーは表示しない -->
                                                    {% if not i.is_rogical_deleted %}
                                                        <li class="member m-0">{{ i }}</li>
                                                    {% endif %}
                                                {% endfor %}

                                                <!-- メンバーの数が5件以上ならもっと見るボタンを表示 -->
                                                {% if customgroup.id|get_group_user|length >= 5 %}
                                                    <a href="{% url 'training:member_list' customgroup.id %}" class="group_member_list my-btn my-btn-outline-egypt-1 my-btn-xs my-btn-w5">
                                                        もっと見る
                                                    </a>
                                                {% endif %}
                                            </ul>
                                            {% comment %} </div> {% endcomment %}

                                        </td>

                                        <!-- メンバー数 -->
                                        {% comment %} <td style="text-align:left; vertical-align: middle;">{{ customgroup.group_user.all|exclude_is_rogical_deleted_user|length }}</td> {% endcomment %}
                                        {% comment %} <td style="text-align:left; vertical-align: middle;">{{ customgroup.group_user.all|length }}</td> {% endcomment %}
                                        <td style="text-align:left; vertical-align: middle;">{{ customgroup.id|get_group_user|length }}</td>

                                        <!-- 編集、削除 -->
                                        <td style="text-align: center; vertical-align: middle;">

                                            {% comment %} <i id="" class="fas_button_edit mr-2" onclick="window.location.href='{% url 'training:customgroup_group_update' customgroup.id %}'"></i> {% endcomment %}

                                            <!-- 編集ボタン -->
                                            <button type="button" title="編集" class="fas_button_edit mr-2" onclick="window.location.href='{% url 'training:customgroup_group_update' customgroup.id %}'"></button>
                                            {% comment %} <button type="button" title="編集" class="fas_button_edit mr-2" onclick="window.location.href='{% url 'training:customgroup_group_update_grplist' customgroup.id %}'"></button> {% endcomment %}


                                            <!-- 削除 forloop.counterを付けてどのボタンが押されたのか識別する -->
                                            {% comment %} <i id="delete_group" data-toggle="modal" data-target="#customgroup_delete_modal{{forloop.counter}}" data-pk="{{ customgroup.id }}" class="fas_button_delete"></i> {% endcomment %}
                                            <button type="button" title="削除" id="delete_group" data-toggle="modal" data-target="#customgroup_delete_modal{{forloop.counter}}" data-pk="{{ customgroup.id }}" class="fas_button_delete mr-3"></button>

                                        </td>
                                    </tr>


                                    <!-- 削除モーダル　個別 -->
                                    <div class="modal fade" id="customgroup_delete_modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                                        <div class="modal-dialog modal-dialog-centered">

                                            <div class="modal-content">

                                                <div class="modal-header">

                                                    <h5 class="modal-title" id="myModalLabel" style="font-weight: bold; text">グループの削除確認</h5>

                                                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                                </div>

                                                <div class="modal-body">

                                                    <h6><i class="fas fa-exclamation-circle" style="color: #dc3e45;"></i>「{{ customgroup.name }}」を削除しますか？</h6>

                                                </div>

                                                <div class="modal-footer justify-content-center">

                                                    <form action="{% url 'training:customgroup_delete' customgroup.id %}" method="POST" id="delete-form">

                                                        {% csrf_token %}

                                                        <div class="btn_group">
                                                            <button type="button" class="my-btn my-btn-gray-2 my-btn-w7 mr-3" data-dismiss="modal">閉じる</button>
                                                            <button type="submit" class="my-btn my-btn-egypt-1 my-btn-w7">削除</button>

                                                        </div>

                                                    </form>

                                                </div><!-- /.modal-footer -->

                                            </div><!-- /.modal-content -->

                                        </div><!-- /.modal-card -->

                                    </div><!-- /.modal -->



                                    <!-- 削除モーダル　一括 -->
                                    <div class="modal fade" id="customgroup_all_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                                        <div class="modal-dialog modal-dialog-centered">

                                            <div class="modal-content">

                                                <div class="modal-header">

                                                    <h5 class="modal-title" id="myModalLabel" style="font-weight: bold; text">グループの削除確認</h5>

                                                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                                </div>

                                                <div class="modal-body">

                                                    {% comment %} <i class="fas fa-exclamation-circle" style="color: #dc3e45;"></i> {% endcomment %}
                                                    <h6 class="modal-message">
                                                        <!-- 削除確認メッセージ -->
                                                    </h6>

                                                </div>

                                                <div class="modal-footer justify-content-center">

                                                    <button type="button" class="my-btn my-btn-gray-2 my-btn-w7 mr-3" data-dismiss="modal">閉じる</button>
                                                    <button type="button" id="all_customgroup_delete_btn" class="my-btn my-btn-egypt-1 my-btn-w7">削除</button>

                                                </div><!-- /.modal-footer -->

                                            </div><!-- /.modal-content -->

                                        </div><!-- /.modal-card -->

                                    </div><!-- /.modal -->

                                {% endfor %}

                            </tbody>

                        </table>

                        <!-- ボタン -->
                        <div class="d-flex justify-content-center btn-grp">

                            <!-- 前のページに戻る -->
                            <button type="button" class="my-btn return_btn my-btn-egypt-1 my-btn-w12" onclick="window.location.href='{% url 'training:training_management' %}'"><span class="my_btn_text">前のページに戻る</span></button>

                        </div>

                    {% comment %} </div> {% endcomment %}

                {% comment %} </div> {% endcomment %}

            </div>

        </div>




{% endblock %}

{% block extra_js %}

    <!--- Datatables -->
    {% comment %} <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'training/js/jquery.dataTables.min.js' %}"></script> {% endcomment %}

    <!--- Colorbox -->
    {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.colorbox-min.js' %}"></script>



<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>

<script>
   // -----------------
    // グループメンバーを確認するテンプレート表示
    // -----------------

    $(function(){

        // Group Member
        $(".group_member_list").colorbox({
            iframe:true,
            //width:"650px",
            //height:"80%",
            width:"500px",
            height:"50%",

        });


        // HTMLで指定したIDの要素をクリックするとColorBoxウィンドウが閉じる
        $("#btn_close").click(function(){
            parent.$.fn.colorbox.close(); return false;
        });

    })


</script>







<script>
    // -----------------
    // Datatables
    // -----------------
    jQuery(function($){
        // デフォルトの設定を変更
        $.extend( $.fn.dataTable.defaults, {
            language: {
                    "sProcessing":   "処理中...",
                    "sLengthMenu":   "_MENU_ 件表示",
                    //"sZeroRecords":  "データはありません。",
                    "sEmptyTable": "グループが登録されていません。",
                    "sInfo":         " _TOTAL_ 件中 _START_ から _END_ まで表示",
                    "sInfoEmpty":    " 0 件中 0 から 0 まで表示",
                    "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                    "sInfoPostFix":  "",
                    "sSearch":       "検索:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "先頭",
                        "sPrevious": "前",
                        "sNext":     "次",
                        "sLast":     "最終"
                    }
            }
        });

        $("#customgroup_table").DataTable({
            "dom":
            "<'row'<'col-sm-6 col-auto mr-auto'l><'col-sm-6 col-auto'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5 col-auto mr-auto'i><'col-sm-7 col-auto'p>>",

            "columnDefs":[{
                "autowidth": false,
                "bAutoWidth": false,
            }],
            // ページネーションボタンの表示
            "pagingType": "simple_numbers",
            "lengthMenu": [ [5, 10, 15,-1], [5, 10, 15, "全件"]],//表示件数メニュー
            //　列設定
            columnDefs: [
                { orderable: false, targets: 0, width: "30px" },
                { orderable: true, targets: 1, width: "350px" },
                { orderable: true, targets: 2, width: "350px" },
                { orderable: false, targets: 3, width: "350px" },
                { orderable: false, targets: 4, width: "200px" },
            ]


        });
    });

    {% comment %} $(document).ready( function () {
        $('#customgroup_table').DataTable();
    }); {% endcomment %}




</script>





<script>
    // -----------------
    // 一括削除ボタンの活性/非活性
    // -----------------

    $(function() {

        // 一括削除ボタンを非活性
        $(".btn02").prop('disabled', true).css("opacity",0.33);


        // 1. 「全選択」する
        $('#all').on('click', function() {

            $("input[name='check[]']").prop('checked', this.checked);

            if($("#all").prop('checked')) {
                $(".btn02").prop('disabled', false).css("opacity",1);
            }
            else {
                $(".btn02").prop('disabled', true).css("opacity",0.33);
            }

        });

        // 2. 「全選択」以外のチェックボックスがクリックされたら、
        $("input[name='check[]']").on('click', function() {

            if ($('#boxes :checked').length == $('#boxes :input').length) {
                // 全てのチェックボックスにチェックが入っていたら、「全選択」 = checked
                $('#all').prop('checked', true);
            } else {
                // 1つでもチェックが入っていたら、「全選択」 = checked
                $('#all').prop('checked', false);
            }
        });

        // 3. allCheckedにチェックが入っていなければ一括削除ボタンは非活性
        {% comment %} $('input[name="check[]"]').change(function() {

            if ( $('input[name="allChecked"]').is(':checked') ) {
                console.debug('チェックされています');
                $(".btn02").prop('disabled', false).css("opacity",1);
            } else {
                console.debug('チェックされていません');
                $(".btn02").prop('disabled', true).css("opacity",0.33);

            }

        }); {% endcomment %}




        // チェックボックスの状態が変わったら（クリックされたら）
        $("input[type='checkbox']").on('change', function () {

            // チェックされているチェックボックスの数
            if ($(".checks:checked").length > 1) {
                // ボタン有効
                $(".btn02").prop('disabled', false).css("opacity",1);
            } else {
                // ボタン無効
                $(".btn02").prop('disabled', true).css("opacity",0.33);
            }
        });




    });
</script>




<script>
    // -----------------
    // 一括削除処理
    // -----------------

    $(function() {

        $('#customgroup_all_delete_modal').on('show.bs.modal', function (event) {

            // チェックボックスの値を取得
            var checks=[];

            $('[class="checks"]:checked').each(function(){
                checks.push(this.value);
            });

            console.log("------ checks -----", checks)

            // モーダル上に件数を表示
            var modal = $(this);
            //modal.find('.modal-body').text("選択した" + checks.length + "件のグループを削除しますか？");
            modal.find('.modal-message').text("選択した" + checks.length + "件のグループを削除しますか？");


            // 削除ボタンを押下した場合、Ajaxで送信
            $('#all_customgroup_delete_btn').off('click') //onイベントの重複イベントを削除
            $('#all_customgroup_delete_btn').on('click', function() {

                console.log('クリックされたよ');

                $('#customgroup_all_delete_modal').modal('hide');

                $.ajax({
                    type: "POST",
                    url: '{% url "training:all_customgroup_delete" %}',
                    data: {
                        'checks': checks,
                    },
                    dataType: 'json',

                    success: function (data) {

                        console.log("data", data)

                        location.reload();

                    }
                });

            });


        });




    });


</script>






<script>
    // -----------------
    // もっと見るボタン
    // -----------------


    {% comment %} $(function() {

        $("ul.member_list").each(function () {

            //"div.categoryの要素内のliの数をカウント
            var member_num = $(this).find('li.member').length;
            console.log("member_num", member_num)

            console.log(typeof member_num)

            // メンバーの数が5人以上なら
            if (member_num > 5) {

                // リスト5つめ以降をを表すセレクタの記述を「hideList」に格納
                var hideList = '.member_list li:nth-of-type(n+4)';

                // リスト5つめ以降を初期状態で非表示
                $(hideList).hide();

                $(this).find("li.member").css("color","pink");

                //$(this).find('a.group_member_list').addClass('text-active');

                $(member_list_ul).hover(function() {

                    //マウスカーソルが重なった時の処理
                    $(this).find('a.group_member_list').fadeIn(150);

                }, function() {
                    //マウスカーソルが離れた時の処理
                    $(this).find('a.group_member_list').fadeOut(150);
                });


            } else {
                $(this).find("li.member").css("color","skyblue");

                // もっと見るボタンを非表示
                //$(this).find('a.group_member_list').css('display','none');

            };


        });













    }); {% endcomment %}



</script>







{% endblock %}