{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}ゲストユーザー登録 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}"> {% endcomment %}

<style>
    .container {
        max-width: 1140px;
        max-height: 1130px;

        min-width: 1140px;
        min-height: 1130px;
    }

    /*---------------------------------

    タイトル、サブタイトル

    ---------------------------------*/
    .cp_h1title{
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 25px;
    }
    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }
    .cp_h1title:before{
        border-bottom: 4px solid #4a849a;
        width: 100%;
    }

    .cp_p_title {
        text-align: left;
        padding-top: 10px;
        font-size: 15px;

    }

    /*---------------------------------

    テーブル

    ---------------------------------*/

    .guest_user_create_table {
        width: 100%;
        table-layout: fixed;
    }

    .guest_user_create_table th,
    .guest_user_create_table td {
        border: 1px solid #ccc;
        padding: 20px;
    }

    .guest_user_create_table th {
        font-weight: bold;
        background-color: #eeeeee;
    }

    /*---------------------------------

    ラベル

    ---------------------------------*/
    span.label {
        line-height: 1.6;
        font-size: 12px;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: middle;
        color: #fff;
        padding: 8px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }

    /*---------------------------------

    必須、任意ラベル

    ---------------------------------*/
    .require_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .option_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .required_box {
        width: 100%;
        display: -webkit-inline-box;
        /*display: block;*/
        position: relative;
    }


    .option_box {
        width: 100%;
        display: -webkit-inline-box;
        position: relative;
    }


    .required_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 5px;
        background-color: red;
        border-radius: 3px;
        padding: 2px 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "必須";

    }

    .option_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 5px;
        background-color: #7d8285;
        border-radius: 3px;
        padding: 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "任意";
    }

    span.error {
        color: red;
        display: block;
        text-align: left;
    }

    /*---------------------------------

    戻るボタン

    ---------------------------------*/
    .btn-grp {
        margin: 80px;
        text-align: center;
    }
</style>


<div class="container">

    <!-- messages.succes や messages.errorにて利用 -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }} mb-3"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div>
        <h3 class="cp_h1title">ゲストユーザー登録</h3>
        <p class="cp_p_title">・【必須】がついている項目は必須です。必ず入力してください。</p>
        <p class="cp_p_title p-0">・パスワードは5文字以上で入力してください。</p>

        <!-- 存在確認エラー -->
        <div>
            <!-- 日付の設定 -->
            {% for error in form.non_field_errors %}
            <p class="name_error_message">
                {{ error }}
            </p>
            {% endfor %}
        </div>

    </div>

    <div class="my-div-style w-100">

        <form method="POST" enctype='multipart/form-data' id="guest_user_form">

            <!-- 登録フォームを表示 -->
            {% csrf_token %}

            <table class="guest_user_create_table">
                <tbody>
                    <!-- ユーザー名 -->
                    <tr>
                        <th style="width: 250px;">
                            <div class="required_box">
                                <div class="label require_label">ユーザー名</div>
                            </div>
                        </th>

                        <td colspan="5">
                            {% render_field form.guest_user_name class="form-control is_primary" %}
                        </td>
                    </tr>

                    <!-- メールアドレス -->
                    <tr>
                        <th style="width: 250px;">
                            <div class="required_box">
                                <div class="label require_label">メールアドレス</div>
                            </div>
                        </th>

                        <td colspan="5">
                            {% render_field form.email class="form-control is_primary" %}
                        </td>
                    </tr>

                    <!-- 会社名 -->
                    <tr>
                        <th style="width: 250px;">
                            <div class="required_box">
                                <div class="label require_label">会社名</div>
                            </div>
                        </th>

                        <td colspan="5">
                            {% render_field form.company_name class="form-control is_primary" %}
                        </td>
                    </tr>

                    <!-- パスワード -->
                    <tr>
                        <th style="width: 250px;">
                            <div class="required_box">
                                <div class="label require_label">パスワード</div>
                            </div>
                        </th>

                        <td colspan="5">
                            {% render_field form.guest_user_password class="form-control is_primary" %}
                        </td>
                    </tr>

                    <!-- パスワード(確認用) -->
                    <tr>
                        <th style="width: 250px;">
                            <div class="required_box">
                                <div class="label require_label">パスワード(確認用)</div>
                            </div>
                        </th>

                        <td colspan="5">
                            {% render_field form.guest_user_password_2 class="form-control is_primary" %}
                        </td>
                    </tr>


                </tbody>
            </table>

            <div class="btn-grp">
                <!-- トレーニング設定一覧へ遷移　セッションを消すためにReturnViewへ -->
                <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3" onclick="window.location.href='{% url 'training:guest_user_management' %}'"><span class="my_btn_text">戻る</span></button>
                <button type="submit" id="guest_user_create_btn" class="my-btn my-btn-egypt-1 my-btn-w12" disabled><span class="my_btn_text">登録</span></button>
            </div>

        </form>

    </div>

</div>

{% endblock %}

{% block extra_js %}

<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>


<script>

    $(document).ready(function() {

        // -----------------
        // validateのoption作成
        // -----------------

        $('#guest_user_form').validate({

            errorElement: "span",// labelがspanにかわる

            //入力欄別にルールを作成　※nameを指定すること
            rules:{
                guest_user_name:{
                    required: true,
                    maxlength: 30,
                },
                email:{
                    required: true,
                    email: true, // Emailのフォーマットになっているかチェック
                    maxlength: 30,
                },
                company_name:{
                    required: true,
                    maxlength: 30,
                },
                guest_user_password:{
                    required: true,
                    maxlength: 30,
                    minlength: 5,
                },
                guest_user_password_2:{
                    required: true,
                    equalTo: "#id_guest_user_password", // 要素の値と一致しているか
                    maxlength: 30,
                    minlength: 5,
                },
            },
            // エラーメッセージを設定
            messages:{
                guest_user_name:{
                    required: 'ユーザー名の入力は必須です。',
                    maxlength: 'ユーザー名は30文字以内で入力してください。',
                },
                email:{
                    required: 'メールアドレスの入力は必須です。',
                    maxlength: 'メールアドレスは30文字以内で入力してください。',
                    email: "メールアドレスの形式が正しくありません。",
                },
                company_name:{
                    required: '会社名の入力は必須です。',
                    maxlength: '会社名は30文字以内で入力してください。',
                },
                guest_user_password:{
                    required: 'パスワードの入力は必須です。',
                    maxlength: 'パスワードは30文字以内で入力してください。',
                    minlength: "パスワードは5文字以上で入力してください。",
                },
                guest_user_password_2:{
                    required: '確認用パスワードの入力は必須です。',
                    maxlength: 'パスワードは30文字以内で入力してください。',
                    minlength: "パスワードは5文字以上で入力してください。",
                    equalTo: "パスワードと確認用パスワードが合致しません。"
                },
            },

            errorPlacement: function (error, element) {

               // 指定タグの中に出したい場合はappendTo()
                if (element.attr("name") == "guest_user_name" ) {
                    element.parent().append(error)

                } else if (element.attr("name") == "email" ) {
                    //element.parent().append(error.addClass("input-group"))
                    element.parent().append(error)

                } else if (element.attr("name") == "company_name" ) {
                    element.parent().append(error)

                } else if (element.attr("name") == "guest_user_password" ) {
                    element.parent().append(error)

                } else if (element.attr("name") == "guest_user_password_2" ) {
                    element.parent().append(error)
                }

            }

        });

        // -----------------
        // validate 変更
        // -----------------
        $("#guest_user_form").on('keyup change', function(event) {

            // validateForm(): フォームのバリデーションを担当する
            validateForm('#guest_user_form');

        });

        function validateForm(id) {

            var valid = $(id).validate().checkForm();
            console.log("valid", valid)

            if (valid) {
                $('#guest_user_create_btn').prop('disabled', false);// enables button
            } else {
                $('#guest_user_create_btn').prop('disabled', true);// disables button
            }
        }

    });

    </script>


{% endblock %}