{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load widget_tweaks %}

{% block title %}ゲストユーザー設定 | {{ block.super }}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'training/css/bootstrap-duallistbox.css' %}">


<style>
    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .container {
        padding-right: 80px;
        padding-left: 80px;
    }

    /*---------------------------------

        タイトル

    ---------------------------------*/

    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        margin-top: 20px;
        font-weight: bold;
        font-size: 25px;
    }

    .cp_p_title {
        text-align: left;
        font-size: 15px;
    }

    /*---------------------------------

        ラベル

    ---------------------------------*/

    span.label {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }

    /*---------------------------------

    グループ作成ボタン

    ---------------------------------*/

    /* 新規作成 */
    .btn01 {
        display: block;
        position: relative;
        border: 2px solid #00a7e9;
        width: 280px;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: .1rem;
        cursor: pointer;
    }

    .btn01:before {
        position: absolute;
        top: 15%;
        left: 15px;
        width: 10px;
        color: #7cb4e6;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\2b';
        font-size: 22px;
    }

    .btn01:hover {
        background: #7cb4e6;
        color: #fff;
    }

    .btn01:hover:before {
        position: absolute;
        top: 15%;
        left: 15px;
        width: 10px;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\2b';
        font-size: 22px;
    }

    /* 一括削除 */
    .btn02 {
        display: block;
        position: relative;
        border: 2px solid #e73c64;
        width: 280px;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: .1rem;
        cursor: pointer;
    }
    
    .btn02:before {
        position: absolute;
        top: 23%;
        left: 15px;
        width: 10px;
        color: #e73c64;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f2ed';
        font-size: 18px;
    }
    
    .btn02:hover {
        background: #e73c64;
        color: #fff;
    }
    
    .btn02:hover:before {
        position: absolute;
        top: 23%;
        left: 15px;
        width: 10px;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f2ed';
        font-size: 18px;
    }

    /*---------------------------------

    編集・削除アイコン

    ---------------------------------*/

    /* パスワード変更 */
    .fas_button_edit_pw{
        border: none;
        width: 45px;
        height: 45px;
        border-radius: 25px;
        background: #fd842b;
        color: #fff;
        cursor: pointer;
    }
    .fas_button_edit_pw:before{
        width: 50px;
        text-align: center;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f023';
        font-size: 20px;
    }

    /* 編集 */
    .fas_button_edit{
        border: none;
        width: 45px;
        height: 45px;
        border-radius: 25px;
        background: #87c040;
        color: #fff;
        cursor: pointer;
    }
    .fas_button_edit:before{
        width: 50px;
        text-align: center;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f044';
        font-size: 20px;
    }

    /* ゲストユーザーに紐づいているトレーニング一覧 */
    .fas_button_training_link{
        border: none;
        width: 45px;
        height: 45px;
        border-radius: 25px;
        background: #bb56a6;
        color: #fff;
        cursor: pointer;
    }
    .fas_button_training_link:before{
        width: 50px;
        text-align: center;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f0c1';
        font-size: 20px;
    }

    /* 削除 */
    .fas_button_delete{
        border: none;
        width: 45px;
        height: 45px;
        border-radius: 25px;
        background: #565656;
        color: #fff;
        cursor: pointer;
    }
    .fas_button_delete:before{
        {% comment %} line-height: 50px; {% endcomment %}
        width: 50px;
        text-align: center;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f2ed';
        font-size: 20px;
    }

    /*---------------------------------

    戻るボタン

    ---------------------------------*/
    .btn-grp {
        margin: 35px;
        text-align: center;
    }

    .return_btn {
        color: #ffffff !important;
        background: #7db4e6;
        height: 45px;
        width: 25%;
    }

    /*---------------------------------

    テーブル

    ---------------------------------*/
    .row {
        display: flex;
        flex-wrap: nowrap;
        /* margin-right: -15px; */
        /* margin-left: -15px; */
        justify-content: space-between;
    }

    @media (min-width: 576px){
        .col-sm-6 {
            flex: none !important;
            max-width: 50%;
        }
    }

    /*画面幅を狭めても元のレイアウトをキープ*/
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: initial !important;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: right !important;
    }


</style>

<div class="container">

    <!-- messages.succes や messages.errorにて利用 -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} mb-3"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="mdl_align-height mt-5">

        <div class="">
            <sapan class="training_title">ゲストユーザー設定</sapan><span class="label">管理者画面</span>
            <p class="cp_p_title mb-0">・ゲストユーザーの新規登録やユーザー情報の変更・削除ができます。</p>

        </div>

    </div>

    <div class="d-flex mdl_align-height mt-4">

        <a class="btn01 dropdown-item mr-2" href="{% url 'training:guest_user_create' %}">
            <span>ゲストユーザー登録</span>
        </a>

        <button id="delete_row" class="btn02 dropdown-item" data-toggle="modal" data-target="#guest_user_all_delete_modal">
            <span>ゲストユーザーの一括削除</span>
        </button>

    </div>

    <div class="my-div-style w-100 mt-4">

        <h6 class="section_title mb-3">ゲストユーザー一覧</h6>

        <table id="guest_user_table" class="table table-hover mb-5">

            <thead>
                <tr>
                    <th style="text-align:center; vertical-align: middle;"><input type="checkbox" name="allChecked" id="all"></th>
                    <th style="text-align:left; vertical-align: middle;">ユーザー名</th>
                    <th style="text-align:left; vertical-align: middle;">メールアドレス</th>
                    <th style="text-align:left; vertical-align: middle;">会社名</th>
                    <th style="text-align:left; vertical-align: middle;"></th><!-- 編集・削除ボタン -->
                </tr>
            </thead>

            <tbody id="boxes">

                {% for guest_user in guest_users %}

                    <tr class="table-light">

                        <!-- 一括チェック -->
                        <td style="text-align:center; vertical-align: middle;">
                            <input class="checks" type="checkbox" value="{{ guest_user.id }}" name="check[]">
                        </td>

                        <!-- ユーザー名 -->
                        <td class="r_task_reminder_col_3 align-middle">
                            {{ guest_user.guest_user_name }}
                        </td>

                        <!-- メールアドレス -->
                        <td class="r_task_reminder_col_3 align-middle">
                            {{ guest_user.email }}
                        </td>

                        <!-- 会社名 -->
                        <td class="r_task_reminder_col_2 align-middle">
                            {{ guest_user.company_name }}
                        </td>

                        <!-- パスワード・編集・削除ボタン -->
                        <td class="r_task_reminder_col_2" style="text-align:right; vertical-align: middle;">

                            <button type="button" title="パスワード変更" class="fas_button_edit_pw mr-2" onclick="window.location.href='{% url 'training:password_update' guest_user.id %}'"></button>

                            <button type="button" title="登録情報変更" class="fas_button_edit mr-2" onclick="window.location.href='{% url 'training:guest_user_update' guest_user.id %}'"></button>

                            <button type="button" title="紐づいているトレーニング一覧" class="fas_button_training_link mr-2" onclick="window.location.href='{% url 'training:training_link' guest_user.id %}'"></button>

                            <button type="button" title="削除" id="delete_group" data-toggle="modal" data-target="#guest_user_delete_modal{{forloop.counter}}" class="fas_button_delete mr-3"></button>

                        </td>


                    </tr>

                    <!-- 削除モーダル　個別 -->
                    <div class="modal fade" id="guest_user_delete_modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                        <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="myModalLabel" style="font-weight: bold; text">ゲストユーザーの削除確認</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body">

                                    <h6><i class="fas fa-exclamation-circle" style="color: #dc3e45;"></i>「{{ guest_user.guest_user_name }}」を削除しますか？</h6>

                                </div>

                                <div class="modal-footer justify-content-center">

                                    <form action="{% url 'training:guest_user_delete' guest_user.id %}" method="POST" id="delete-form">

                                        {% csrf_token %}

                                        <div class="btn_group">
                                            <button type="button" class="my-btn my-btn-gray-1 my-btn-w7 mr-3" data-dismiss="modal">閉じる</button>
                                            <button type="submit" class="my-btn my-btn-egypt-1 my-btn-w7">削除</button>
                                        </div>

                                    </form>

                                </div><!-- /.modal-footer -->

                            </div><!-- /.modal-content -->

                        </div><!-- /.modal-card -->

                    </div><!-- /.modal -->


                    <!-- 削除モーダル　一括 -->
                    <div class="modal fade" id="guest_user_all_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                        <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="myModalLabel" style="font-weight: bold; text">ゲストユーザーの削除確認</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body">

                                    <h6 class="modal-message">
                                        <!-- 削除確認メッセージ -->
                                    </h6>

                                </div>

                                <div class="modal-footer justify-content-center">

                                    <button type="button" class="my-btn my-btn-gray-2 my-btn-w7 mr-3" data-dismiss="modal">閉じる</button>
                                    <button type="button" id="guest_user_all_delete_btn" class="my-btn my-btn-egypt-1 my-btn-w7">削除</button>

                                </div><!-- /.modal-footer -->

                            </div><!-- /.modal-content -->

                        </div><!-- /.modal-card -->

                    </div><!-- /.modal -->





                {% endfor %}

            </tbody>

        </table>

        <!-- ボタン -->
        <div class="d-flex justify-content-center btn-grp">

            <!-- 前のページに戻る -->
            <button type="button" class="return_btn my-btn my-btn-egypt-1 my-btn-w12" onclick="window.location.href='{% url 'training:training' %}'"><span class="my_btn_text">前のページに戻る</span></button>

        </div>

    </div>



</div>

{% endblock %}

{% block extra_js %}

    <!--- Datatables -->
    {% comment %} <script type="text/javascript" src="{% static 'training/js/jquery.dataTables.min.js' %}"></script> {% endcomment %}

    <script>
        // 5秒後にエラーメッセージを消す関数
        $('.messages').fadeIn("slow", function () {
            //コールバックで5秒後にフェードアウト
            $(this).delay(5000).fadeOut("slow");
        });
    </script>

    <script>
        // -----------------
        // Datatables
        // -----------------
        jQuery(function($){
            // デフォルトの設定を変更
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    "sProcessing":   "処理中...",
                    "sLengthMenu":   "_MENU_ 件表示",
                    "sZeroRecords":  "データはありません。",
                    "sInfo":         " _TOTAL_ 件中 _START_ から _END_ まで表示",
                    "sInfoEmpty":    " 0 件中 0 から 0 まで表示",
                    "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                    "sInfoPostFix":  "",
                    "sSearch":       "検索:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "先頭",
                        "sPrevious": "前",
                        "sNext":     "次",
                        "sLast":     "最終"
                    }
                }
            });

            $("#guest_user_table").DataTable({
                "dom":
                "<'row'<'col-sm-6 col-auto mr-auto'l><'col-sm-6 col-auto'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5 col-auto mr-auto'i><'col-sm-7 col-auto'p>>",

                "columnDefs":[{
                    "autowidth": false,
                    "bAutoWidth": false,
                }],
                // ページネーションボタンの表示
                "pagingType": "simple_numbers",
                "lengthMenu": [ [5, 10, 15,-1], [5, 10, 15, "全件"]],//表示件数メニュー
                //　列設定
                columnDefs: [
                    { orderable: false, targets: 0, width: "30px" },
                    { orderable: false, targets: 1, width: "350px" },
                    { orderable: true, targets: 2, width: "350px" },
                    { orderable: true, targets: 3, width: "350px" },
                    { orderable: false, targets: 4, width: "350px" },
                ]

            });
        });
    </script>

    <script>
        // -----------------
        // 一括削除ボタンの活性/非活性
        // -----------------

        $(function() {

            // 一括削除ボタンを非活性
            $(".btn02").prop('disabled', true).css("opacity",0.33);

            // 1. 「全選択」する
            $('#all').on('click', function() {

                $("input[name='check[]']").prop('checked', this.checked);

                if($("#all").prop('checked')) {
                    $(".btn02").prop('disabled', false).css("opacity",1);
                }
                else {
                    $(".btn02").prop('disabled', true).css("opacity",0.33);
                }

            });

            // 2. 「全選択」以外のチェックボックスがクリックされたら、
            $("input[name='check[]']").on('click', function() {

                if ($('#boxes :checked').length == $('#boxes :input').length) {
                    // 全てのチェックボックスにチェックが入っていたら、「全選択」 = checked
                    $('#all').prop('checked', true);
                } else {
                    // 1つでもチェックが入っていたら、「全選択」 = checked
                    $('#all').prop('checked', false);
                }
            });

            // チェックボックスの状態が変わったら（クリックされたら）
            $("input[type='checkbox']").on('change', function () {

                // チェックされているチェックボックスの数
                if ($(".checks:checked").length > 1) {
                    // ボタン有効
                    $(".btn02").prop('disabled', false).css("opacity",1);
                } else {
                    // ボタン無効
                    $(".btn02").prop('disabled', true).css("opacity",0.33);
                }
            });
        });
    </script>

    <script>
        // -----------------
        // 一括削除処理
        // -----------------

        $(function() {

            $('#guest_user_all_delete_modal').on('show.bs.modal', function (event) {

                // チェックボックスの値を取得
                var checks=[];

                $('[class="checks"]:checked').each(function(){
                    checks.push(this.value);
                });
                console.log("------ checks -----", checks)

                // モーダル上に件数を表示
                var modal = $(this);
                modal.find('.modal-message').text("選択した" + checks.length + "名のゲストユーザーを削除しますか？");

                // 削除ボタンを押下した場合、Ajaxで送信
                $('#guest_user_all_delete_btn').off('click') //onイベントの重複イベントを削除
                $('#guest_user_all_delete_btn').on('click', function() {

                    console.log('クリックされたよ');

                    $('#guest_user_all_delete_modal').modal('hide');

                    $.ajax({
                        type: "POST",
                        url: '{% url "training:all_guest_user_delete" %}',
                        data: {
                            'checks': checks,
                        },
                        dataType: 'json',

                        success: function (data) {
                            console.log("data", data)
                            location.reload();
                        }
                    });

                });

            });

        });

    </script>

{% endblock %}