{% extends "common/base.html" %}

{% load i18n static %}
{% comment %} {% load bootstrap4 %} {% endcomment %}

{% block title %}
一括登録
{% endblock title %}

{% block breadcrumbtitle %}

  <span>
    一括登録
  </span>

  {% comment %} <a class="help_icon" href="{% url 'help:bulk_import' %}" target="_blank"><i class="fas fa-question-circle"></i></a> {% endcomment %}

{% endblock breadcrumbtitle %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div id="validation-error"></div>

<p class="container">
  {% comment %} ①インポートする場合は<a href="{% url 'bulk:template' %}">ここ</a>からファイルをダウンロードしてください。<br /> {% endcomment %}
  ②ダウンロードしたファイルに追加したいユーザー情報を入力してください。<br />
  ③作成したファイルを以下の領域にドラッグアンドドロップして、「実行」をクリックしてください。
</p>

<div id="myDropzone" class="dropzone">

    <div class="fallback"> <!-- this is the fallback if JS isn't working -->
        <input name="file" type="file" />
    </div>

</div>

<!-- ドラッグアンドドロップ後に表示されるプレビューを読み込み -->
{% include 'training/preview.html' %}

<!-- baseで定義している id="wrapper"とcontents-wrapperのDiv閉じ -->
  </div>
</div>


<div id="bar_button">
    <button type="submit" id="submit_all" class="btn btn-primary btn-xs">実行</button>
</div>

<!-- 2つ以上のファイルをアップロードした際の置換え確認用モーダルを読み込む -->
{% include 'training/remove_modal.html' %}


{% endblock %}


{% block extra_js %}

<script>

  // -----------------
  // Dropzone.jsの設定
  // -----------------

  // Dropzoneの自動検出を無効
  Dropzone.autoDiscover = false;


  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the document
  var previewNode = document.querySelector("#template");
  // #templateというIDがあるときのみ処理
  if (previewNode) {
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);
  }



$(function() {
    $("div#myDropzone").dropzone({
      url: "{% url 'training:import' %}",
      params: {'csrfmiddlewaretoken': getCookie('csrftoken')},
      autoProcessQueue: false,
      maxFiles: 1,
      maxFilesize: 0.5, // MiB
      acceptedFiles: ".csv, text/csv",
      paramName: "file",
      dictDefaultMessage: "アップロードしたいファイルをここにドラッグ&ドロップしてください<br /> <div class='basebluebtn'>またはファイルを選択</div>",
      previewTemplate: previewTemplate,
      previewsContainer: "#previews",

      // The setting up of the dropzone
      init: function() {
          var myDropzone = this;

          // ドラッグ&ドロップ領域以外にファイルをドラッグ&ドロップしても反応しないようにする
          $(document).on('drop dragover', function (e) {
            e.stopPropagation();
            e.preventDefault();
          });

          // ファイルを追加したときにボタンを有効化する
          myDropzone.on("addedfile", function(file) {
            $("#bar_button").stop().animate({bottom:'0'},1200);
          });

          // ファイルを削除したときにボタンを無効化する
          myDropzone.on("removedfile", function(file) {
            $("#bar_button").stop().animate({bottom:'-80px'},1200);

          });

          $("#submit_all").click(function (e) {
              e.preventDefault();
              myDropzone.processQueue();

          });

          // Update the total progress bar
           myDropzone.on("totaluploadprogress", function(progress) {
             $(".progress-bar").css("width" , progress + "%");
             $(".progress-text").text = progress + "%";
           });


      },
      maxfilesexceeded:  function(file) {
         // thisオブジェクトが変わるため、変数に格納しておく
         var myDropzone = this;
         // モーダルを表示する
         $('#removeModal').modal('show')
         // 置き換えるボタンがクリックされた場合
         $("#removeModalButton").click(function (e) {
           // モーダルを非表示
           $('#removeModal').modal('hide')
           // 旧ファイルを削除して新しいファイルを追加する(置き換える)
           myDropzone.removeAllFiles();
           myDropzone.addFile(file);
         });
      },
      // アップロードが成功またはエラーが発生したときファイルを削除する。
      complete: function(file, respnese){
        this.removeFile(file);
      },
      // アップロード成功時にメッセージを表示する。
      success: function(file, response){
          // console.log(file)
          // console.log(response)
          $('#validation-error').html('<div class="alert alert-success" role="alert">' + response["messages"] + '</div>');
      },
      // アップロード失敗時にメッセージを表示する。
      error: function(file, response, xhr){
          // フロントエンドでエラーが発生した場合。(サーバからのレスポンスがないエラー)
          if (xhr == null) {
              // 2つ以上のファイルアップロードの場合
              if (response == "You can not upload any more files.") {
                // エラーを表示しない
              } else if (response == "You can't upload files of this type.") {
                // $('#validation-error').html('<div class="alert alert-danger" role="alert">' + gettext("CSVファイルをアップロードしてください。") + '</div>');
                $('#validation-error').html('<div class="alert alert-danger" role="alert">' + gettext("UPLOAD CSV FILE") + '</div>');
              } else if (!response.indexOf("File is too big")) {
                $('#validation-error').html('<div class="alert alert-danger" role="alert">' + "ファイルサイズ上限(0.5MB)を超えています。サイズを小さくしてください。" + '</div>');
              } else {
                $('#validation-error').html('<div class="alert alert-danger" role="alert">' + response + '</div>');
              }
         　// サーバーからレスポンスが帰ってきた場合(サーバ側でエラーが発生した場合)
          } else {
            $('#validation-error').html('<div class="alert alert-danger" role="alert">' + response["messages"] + '</div>');
          }
      },


    });

});



</script>

{% endblock %}
