{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}グループ作成 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}

    <!-- CSSの読み込み -->
    <style>

    .container {
        max-width: 1140px;
        max-height: 1130px;
    
        min-width: 1140px;
        min-height: 1130px;
    }


    :focus {
        outline: none;/* inputの黒枠を消す */
    }

    /*---------------------------------

    for Header
    
    ---------------------------------*/
    
    body {
        font-size: 12px;
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
    }
    
    .navbar-expand .navbar-nav .nav-link {
        padding: 0;
        font-size: 1.5rem;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
    
    .menu_title_size {
        font-size: 1.4rem;
    }
    

/*---------------------------------

    エラー

---------------------------------*/
    span.error {
        color: red;
        display: block;
        text-align: left;
    }

    .name_error_message {
        color: red;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .group_error_message {
        color: red;
        text-align: left;
        margin-bottom: 10px;
    }

/*---------------------------------

    タイトル、サブタイトル

---------------------------------*/

    .cp_h1title{
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 10px;
        text-align: left;
    }
    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }
    .cp_h1title:before{
        border-bottom: 4px solid #4a849a;
        width: 100%;
    }

    .cp_p_title {
        text-align: left;
        padding-top: 10px;
        font-size: 15px;

    }


/*---------------------------------

    必須、任意ラベル

---------------------------------*/
    .require_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .option_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .required_box {
        width: 100%;
        display: -webkit-inline-box;
        /*display: block;*/
        position: relative;
    }


    .option_box {
        width: 100%;
        display: -webkit-inline-box;
        position: relative;
    }


    .required_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 7px;
        background-color: red;
        border-radius: 3px;
        padding: 2px 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "必須";

    }

    .option_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 7px;
        background-color: #7d8285;
        border-radius: 3px;
        padding: 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "任意";
    }

/*---------------------------------

    エラー

---------------------------------*/

    .name_error_message {
        color: red;
        text-align: left;
    }

    span.error {
        color: red;
        display: block;
        text-align: left;
    }

/*---------------------------------

    テーブル

---------------------------------*/


    .customgroup_create_table {
        width: 100%;
        table-layout: fixed;
    }

    .customgroup_create_table th,
    .customgroup_create_table td {
        border: 1px solid #ccc;
        padding: 20px;
    }

    .customgroup_create_table th {
        font-weight: bold;
        /*background-color: #dedede;*/
        background-color: #eeeeee;
    }

    .btn-grp {
        margin: 80px;
        text-align: center;
    }



/*---------------------------------

    選択したユーザーの表示

---------------------------------*/

    .selected_group_box {
        float: left;
        width: 50%;
        margin-left: 70px;
        /*border: 1px solid #a8c439;*/
        /*background: #f1fcd6;*/
    }

    .fa-user {
        color: #4a849a;
    }

    #selected_user {
        text-align: left;
        font-size: 15px;
    }

/*---------------------------------

    絞り込み検索

---------------------------------*/
    .search_container {
        box-sizing: border-box;
        position: relative;
        right: -20px;
        border: 1px solid #999;
        padding: 3px 10px;
        border-radius: 20px;
        height: 2.3em;
        width: 385px;
        overflow: hidden;
    }

    .search-area:after {
        position: relative;
        right: 15px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f002";
        color: #595959;
    }



/*---------------------------------

    枠

---------------------------------*/

    .box28 {
        position: relative;
        /*margin: 2em 0;*/
        padding: 32px;
        width: 452px;
        text-align: left;
        border: solid 2px  #f8b75d;
        border-radius: 5px;
        background: white;
        font-size: 16px;
    }

    .box28 .box-title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        background: #f8b75d;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
    }

    .box29 {
        position: relative;
        /*margin: 2em 0;*/
        padding: 34px;
        width: 452px;
        text-align: left;
        border: solid 2px  #4a849a;
        border-radius: 5px;
        background: white;
    }

    .box29 .box-title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        background: #4a849a;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
    }

/*---------------------------------

    もっと見るボタン

---------------------------------*/
    .list_toggle {
        position: absolute;
        /*width: 30%;
        bottom: -21px;*/
        width: 452px;
        bottom: -18px;
        /*left: 116px;*/
        text-align: center;
        background: linear-gradient(0,#fff,#fff 20%,hsla(0,0%,100%,0));
        border-radius: 5px;
    }

    /* 閉じたときのボタン位置 */
    .list_toggle.close_area {
        background: none;
        /*position: static;*/
        /*margin-top: 194px;*/
        margin-top: 85px;
    }

    .list_toggle a {
        width: 170px;
        color: #fff;
        border: 2px solid;
        border-radius: 50px;
        display: block;
        font-weight: bold;
        font-size: 12px;
        padding: 8px 0;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        transition: all .3s ease-in;

        margin: 0 auto;/* ボタンを中央に */
    }

    .list_toggle a.open_link {
        background: #f8b75d;
    }

    .list_toggle a.close_link {
        background: #f8b75d;
    }

    .list_toggle a.open_link:before {
        content: "リストをもっと見る ▼";
        display: inline;
    }

    .list_toggle a.close_link:before {
        content: "リストを閉じる ▲";
        display: inline;
    }


    .showmore_list {

        overflow: hidden;
        line-height: 1.6;
        transition: all .3s ease-in;
    }



    </style>





    <div class="container">

        <div>
            <h3 class="cp_h1title">グループ作成</h3>
            <p class="cp_p_title">・【必須】がついている項目は必須です。必ず入力してください。</p>


            <!-- 存在確認のエラー -->
            {% comment %} <div>
                {% for error in form.name.errors %}
                    <p class="name_error_message">
                        {{ error }}
                    </p>
                {% endfor %}
            </div> {% endcomment %}

            {% comment %} <div>
                {% for error in form.group_user.errors %}
                    <p class="name_error_message">
                        {{ error }}
                    </p>
                {% endfor %}
            </div> {% endcomment %}

        </div>

        <div>

            <div class="my-div-style w-100">

                <form method="POST" enctype='multipart/form-data' id="customgroup_create_form">

                    {% csrf_token %}

                    <table class="customgroup_create_table">

                        <tbody>

                            <!-- グループ名 -->
                            <tr>
                                {% comment %} <th width="230"> {% endcomment %}
                                <th style="width: 200px">
                                    <div class="required_box">
                                        <div class="label require_label">グループ名</div>
                                    </div>

                                </th>

                                <td>
                                    {% render_field form.name class="form-control is_primary" placeholder="グループ名を入力してください" %}

                                    <!-- 存在確認のエラー -->
                                    <div>
                                        {% for error in form.name.errors %}
                                            <p class="name_error_message">
                                                {{ error }}
                                            </p>
                                        {% endfor %}
                                    </div>

                                </td>

                            </tr>

                            <!-- グループユーザー -->
                            <tr>
                                {% comment %} <th width="230"> {% endcomment %}
                                <th style="width: 200px">

                                    <div class="required_box">
                                        <div class="label require_label">グループユーザー</div>
                                    </div>

                                </th>

                                <td class="list">

                                    {% comment %} <div id="error_message_front"> {% endcomment %}
                                    <div class="position-relative">

                                        <!-- タイトル+検索窓 -->
                                        <div class="d-flex flex-row align-items-center mb-3">
                                            <div class="text">
                                                右にユーザーを追加してください
                                            </div>

                                            <div class="search-area ml-auto">
                                                <input type="text" size="35" class="search_form search_container" id="search" placeholder="検索したいグループ名を入力してください">
                                            </div>

                                        </div>

                                        <div>
                                            {% for error in form.group_user.errors %}
                                                <p class="group_error_message">
                                                    {{ error }}
                                                </p>
                                            {% endfor %}
                                        </div>


                                        <!--　グループを表示 -->

                                        <div class="d-flex showmore_list">

                                            {% render_field form.group_user class="training_group_user" placeholder="" %}

                                            <!--　選択しているユーザーを表示 -->

                                            <div class="box29">

                                                <span class="box-title">選択済み</span>

                                                <!-- 選択済みユーザー -->
                                                <div class="form-group">

                                                    <div class="selected_container">

                                                        <div id="selected_group"></div>

                                                        <div id="selected_user_help_text">

                                                            <div class="help_text">
                                                                選択されていません
                                                            </div>

                                                        </div>

                                                        <div id="selected_user"></div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>





                                    </div>


                                    {% comment %} <div>
                                        {% for error in form.group_user.errors %}
                                            <p class="name_error_message">
                                                {{ error }}
                                            </p>
                                        {% endfor %}
                                    </div> {% endcomment %}

                                </td>

                            </tr>



                        </tbody>

                    </table>



                    <div class="btn-grp">

                        <!-- トレーニング作成ページへ遷移 -->
                        <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3" onclick="window.location.href='{% url 'training:customgroup_management' %}'"><span class="my_btn_text">戻る</span></button>

                        <button type="submit" id="customgroup_create_btn" class="my-btn my-btn-egypt-1 my-btn-w12" disabled><span class="my_btn_text">作成</span></button>

                    </div>

                </form>

            </div>

        </div>

    </div>






{% endblock %}

{% block extra_js %}


    <!-- jquery -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> {% endcomment %}

    <!-- bootstrap -->
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/bootstrap.min.js' %}"></script>

    <!----- Validation ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" ></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.validate.js' %}"></script>

    <!-- 日本語のエラーメッセージを読み込み(Validation) -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_ja.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/messages_ja.min.js' %}"></script>

    <!----- 内部アニメーションを行うためのスクリプト Web-Amination.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/web-animations.min.js' %}"></script>

    <!----- ドラッグ操作を有効にする場合のスクリプト Hammer.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/hammer.min.js' %}"></script>

    <!----- muuri.min.js ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script> {% endcomment %}

    <!----- jQuery UI ------>
    {% comment %} <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'common/js/jquery-ui.js' %}"></script>

    <!-- jquery.quicksearch -->
    {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.quicksearch.min.js' %}"></script>

    <!----- Colorbox ------>
    {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.colorbox-min.js' %}"></script>





<script>
    // -----------------
    // 絞り込み検索
    // -----------------


    $(function(){

        {% comment %} $('input#search').quicksearch('div.check_row'); {% endcomment %}
        $('input#search').quicksearch('div.group_list div', {

            'noResults': 'div#noresults',//検索該当無しの場合表示する対象

        });

    })


</script>





<script>

$(document).ready(function() {


    // -----------------
    // validateのoption作成
    // -----------------

    $('#customgroup_create_form').validate({

        errorElement: "span",// labelがspanにかわる

        //入力欄別にルールを作成　※nameを指定すること
        rules:{
            name:{
                required: true,
                maxlength: 20,
            },
            "group_user[]":{
                required: true,
            },

        },
        // エラーメッセージを設定
        messages:{
            name:{
                required: 'グループ名は必須です。',
                maxlength: 'グループ名は20文字以内で入力してください。',
            },
            "group_user[]":{
                required: 'グループユーザーは必須です。',
            },

        },

        {% comment %} errorPlacement: function (error, element) {

           // 指定タグの中に出したい場合はappendTo()

            if (element.attr("name") == "group_user[]" ) {
                //element.parent().parent().parent().append(error.addClass("input-group"))
                console.log("error",error)
                    $('#error_message_front').text(error[0].innerText)
                    $('#error_message_front').addClass("")


            }else{
                error.insertAfter(element); // default error placement.
            }



        } {% endcomment %}



    });


    // -----------------
    // validate 変更
    // -----------------
    $("#customgroup_create_form").on('input', function(event) {


        // カテゴリ
        var name = $('#id_name').val();
        console.log("name", name)

        // validateForm(): フォームのバリデーションを担当する
        validateForm('#customgroup_create_form');


    });


    function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)


        if (valid) {
            $('#customgroup_create_btn').prop('disabled', false);// enables button
        } else {
            $('#customgroup_create_btn').prop('disabled', true);// disables button
        }
    }







});


</script>





<script>

    var showmoreList = $('.showmore_list');
    var showmoreListOpen = parseInt(showmoreList.height());
    var showmoreListClose = parseInt(showmoreList.height() * 0.75);
    var showmoreTop;


    //初期値
    showmoreList.css('height', showmoreListClose + 'px');

    $('.list_toggle a').click(function () {
        var thisBtn = $(this);
        showmoreTop = showmoreList.offset().top

        if ($(this).hasClass('open_link')) {
            thisBtn
                .removeClass('open_link')
                .addClass('close_link')
                .parent().addClass('close_area');

            showmoreList
                .css('height', showmoreListOpen + 'px');

        } else if ($(this).hasClass('close_link')) {
            thisBtn
                .removeClass('close_link')
                .addClass('open_link')
                .parent().removeClass('close_area');

            showmoreList
                .css('height', showmoreListClose + 'px');
        }




    });



</script>






<script>



// -----------------
// 選択したユーザーの表示
// -----------------


$(function(){

    $("input[name='group_user']").change(function(){

        // 選択されていない状態の場合、その旨を表示する
        if ( $('input:checkbox[name="group_user"]:checked').length== 0) {

            // ヘルパーテキストを表示
            $("#selected_user_help_text").append("<div class='help_text'>選択されていません</div>");

        } else {

            // ヘルパーテキストを削除
            $("#selected_user_help_text").children().remove();

        }

    });


    // ユーザーチェックボックスクリック時のイベント
    $("input[name='group_user']").change(function(){

        // 配列初期化
        var user_name = [];

        // チェックボックスにチェックがついたときのイベント
        $('input:checkbox[name="group_user"]:checked').each(function() {

            // IDを取得
            var id = $(this).attr("id");
            // IDからラベルを取得
            var user = $('label[for=' + id + ']').text();
            // ラベルを配列へ保存
            user_name.push(user)

        });

        // HTMLへ表示
        $("#selected_user").children().remove();
        for (  var i = 0;  i < user_name.length;  i++  ) {
            $("#selected_user").append("<div class='select_user check_row d-flex align-items-center mb-1'><i class='fas fa-user fa-fw mr-1' style='font-size: 20px; color:#595959;'></i>"  + user_name[i] + "</div>");
        }
    });






    // エラー表示で画面が更新されても✔を付けた状態で選択済みユーザーを表示
    var user_name = [];

    // チェックボックスにチェックがついたときのイベント
    $('input:checkbox[name="group_user"]:checked').each(function() {

        // IDを取得
        var id = $(this).attr("id");
        // IDからラベルを取得
        var user = $('label[for=' + id + ']').text();
        // ラベルを配列へ保存
        user_name.push(user)

        $("#selected_user_help_text").children().remove();

    });

    // HTMLへ表示
    $("#selected_user").children().remove();
    for (  var i = 0;  i < user_name.length;  i++  ) {
        $("#selected_user").append("<div class='select_user check_row d-flex align-items-center mb-1'><i class='fas fa-user fa-fw mr-1' style='font-size: 20px; color:#595959;'></i>"  + user_name[i] + "</div>");
    }











});


</script>















{% endblock %}
