
{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}新規トレーニング作成 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}
    <!----- Colorbox ------>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-colorbox@1.6.4/example2/colorbox.css" /> {% endcomment %}

<!------------ CSS / jsの読み込み ------------->

<style>

    :focus {
        outline: none;/* inputの黒枠を消す */
    }

    .container {
        max-width: 1140px;
        max-height: 1130px;

        min-width: 1140px;
        min-height: 1130px;
    }

/*---------------------------------

ラベル

---------------------------------*/

{% comment %} span.label {
    line-height: 1.6;
    font-size: 12px;
    margin: 10px 0;
    font-weight: 700;
    vertical-align: text-bottom;
    color: #fff;
    padding: 5px 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #0d94ec;
} {% endcomment %}

span.label {
    line-height: 1.6;
    font-size: 12px;
    margin: 10px 0;
    font-weight: 700;
    vertical-align: middle;
    color: #fff;
    padding: 8px 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #0d94ec;
}

/*---------------------------------

for btn

---------------------------------*/


    body {
        font-family:$fonts;
        background-color:$bg_color;
        color: $font_color;
        text-align: center;

    }

/*---------------------------------

for Header

---------------------------------*/

body {
    font-size: 12px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
}

.navbar-expand .navbar-nav .nav-link {
    padding: 0;
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.menu_title_size {
    font-size: 1.4rem;
}


/*---------------------------------

    タイトル、サブタイトル

---------------------------------*/


.cp_h1title{
	position: relative;
	overflow: hidden;
	padding-top: 50px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 25px;
}
.cp_h1title::before{
	content: "";
	position: absolute;
	bottom: 0;
}
.cp_h1title:before{
	border-bottom: 4px solid #4a849a;
	width: 100%;
}

.cp_p_title {
    text-align: left;
    padding-top: 10px;
    font-size: 15px;

}


/*---------------------------------

    テーブル

---------------------------------*/

.training_create_table {
    width: 100%;
    table-layout: fixed;
}

.training_create_table th,
.training_create_table td {
    border: 1px solid #ccc;
    padding: 20px;
}

.training_create_table th {
    font-weight: bold;
    /*background-color: #dedede;*/
    background-color: #eeeeee;
}

.btn-grp {
    margin: 80px;
}




/*---------------------------------

    必須、任意ラベル

---------------------------------*/
    .require_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .option_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .required_box {
        width: 100%;
        display: -webkit-inline-box;
        /*display: block;*/
        position: relative;
    }


    .option_box {
        width: 100%;
        display: -webkit-inline-box;
        position: relative;
    }


    .required_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 5px;
        background-color: red;
        border-radius: 3px;
        padding: 2px 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "必須";

    }

    .option_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 5px;
        background-color: #7d8285;
        border-radius: 3px;
        padding: 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "任意";
    }

    span.error {
        color: red;
        display: block;
        text-align: left;
    }



/*---------------------------------

    プリセットボタン

---------------------------------*/
    .input-group-btn {
        padding-bottom: 10px;
        display: block;
        text-align: left;
    }

/*---------------------------------

    もっと見るボタン

---------------------------------*/

    .list_toggle {
        position: absolute;
        width: 452px;
        bottom: -18px;
        /*left: 116px;*/
        text-align: center;
        background: linear-gradient(0,#fff,#fff 20%,hsla(0,0%,100%,0));
        border-radius: 5px;
    }

    /* 閉じたときのボタン位置 */
    .list_toggle.close_area {
        background: none;
        /*position: static;*/
        margin-top: 85px;
    }

    .list_toggle a {
        width: 170px;
        color: #fff;
        border: 2px solid;
        border-radius: 50px;
        display: block;
        font-weight: bold;
        font-size: 12px;
        padding: 8px 0;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        transition: all .3s ease-in;

        margin: 0 auto;/* ボタンを中央に */
    }

    .list_toggle a.open_link {
        background: #f8b75d;
    }

    .list_toggle a.close_link {
        background: #f8b75d;
    }

    .list_toggle a.open_link:before {
        content: "リストをもっと見る ▼";
        display: inline;
    }

    .list_toggle a.close_link:before {
        content: "リストを閉じる ▲";
        display: inline;
    }

    /*グループの登録が5個以上*/
    .showmore_list {
        overflow: hidden;
        line-height: 1.6;
        transition: all .3s ease-in;
    }

    /*グループの登録が5個以下*/
    .showmore_list_2 {
        overflow: hidden;
        line-height: 1.6;
        transition: all .3s ease-in;
    }


/*---------------------------------

    選択したユーザーの表示

---------------------------------*/

    .selected_group_box {
        float: left;
        width: 50%;
        margin-left: 70px;
    }

    .fa-user {
        color: #4a849a;
    }

    #selected_user {
        text-align: left;
    }


/*---------------------------------

    絞り込み検索

---------------------------------*/

    .search_container {
        box-sizing: border-box;
        position: relative;
        right: -20px;
        border: 1px solid #999;
        padding: 3px 10px;
        border-radius: 20px;
        height: 2.3em;
        width: 385px;
        overflow: hidden;
    }

    .search-area:after {
        position: relative;
        right: 15px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f002";
        color: #595959;
    }





/*---------------------------------

    枠

---------------------------------*/

    .box28 {
        position: relative;
        /*margin: 2em 0;*/
        padding: 32px;
        width: 452px;
        {% comment %} width: 480px; {% endcomment %}
        text-align: left;
        border: solid 2px #f8b75d;
        border-radius: 5px;
        background: white;
        font-size: 16px;
    }

    .box28 .box-title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        background: #f8b75d;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
    }

    .box29 {
        position: relative;
        /*margin: 2em 0;*/
        padding: 34px;
        width: 452px;
        text-align: left;
        border: solid 2px  #4a849a;
        border-radius: 5px;
        background: white;

    }

    .box29 .box-title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        background:  #4a849a;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
    }


/*---------------------------------

    エラー

---------------------------------*/

    .name_error_message {
        color: red;
        text-align: left;
    }


/*---------------------------------

    グループ編集が成功したときのメッセージ

---------------------------------*/

    .alert {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        text-align: left;
    }

    .alert-success {
        background-color: #dde6f0;
        color: #4A849A;
        border: #4A849A solid 2px;
        font-size: 1rem;
    }


    .alert-success::before {
        width: 1rem;
        text-align: center;
        vertical-align: 0;
        margin-right: 3px;
        border: 0;
        font-weight: 900;
        content: '\f058';
        font-family: 'Font Awesome 5 Free';
    }

    {% comment %} .table-responsive {
        overflow: visible !important;
    } {% endcomment %}

    /* 追加 */
    #carendear-positon {
        osition: relative;
    }

/*---------------------------------

    テキストエリア

---------------------------------*/

    textarea {
        resize: none;
        width:300px;
        height:200px;
    }



</style>







    <div class="container">

        <!-- messages.succes や messages.errorにて利用 -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} mb-3"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div>
            <h3 class="cp_h1title">新規トレーニング作成</h3>

            {% comment %} <div class="cp_h1title">
                新規トレーニング作成<span class="label m-2">管理者画面</span>
            </div> {% endcomment %}

            {% comment %} {{ form.destination_group|length }} {% endcomment %}

            <p class="cp_p_title m-0 pt-2">・【必須】がついている項目は必須です。必ず入力してください。</p>
            <p class="cp_p_title m-0 pb-4">・コースに登録できるトレーニングの数は10個までです。</p>

            <!-- 存在確認エラー -->
            <div>
                <!-- 日付の設定 -->
                {% for error in form.non_field_errors %}
                <p class="name_error_message">
                    {{ error }}
                </p>
                {% endfor %}
            </div>

            <div>
                <!-- グループユーザーの設定 -->
                {% for error in form.destination_group.errors %}
                <p class="name_error_message">
                    {{ error }}
                </p>
                {% endfor %}
            </div>

        </div>


        <div>

            <div class="my-div-style w-100">

                <form method="POST" enctype='multipart/form-data' id="training_create_form">

                    <!-- 登録フォームを表示 -->
                    {% csrf_token %}


                    <table class="training_create_table">

                        <tbody>

                            <!-- タイトル -->
                            <tr>
                                <th style="width: 200px;">
                                    <div class="required_box">
                                        <div class="label require_label">タイトル</div>
                                    </div>
                                </th>

                                <td colspan="5">
                                    {% render_field form.title class="form-control is_primary" id="training_title" placeholder="タイトルを入力してください" %}
                                </td>

                                <!-- 有効化 -->
                                {% comment %} <th style="width: 150px;">
                                    <div class="option_box">
                                        <div class="label require_label">有効化</div>
                                    </div>
                                </th>

                                <td colspan="1" class="text-center">
                                    <div class="contents">{% render_field form.expired_training_flg class="form-control" placeholder="終了日時を入力してください" %}</div>
                                </td> {% endcomment %}

                            </tr>


                            <tr>
                                <!-- 開始時間・終了時間 -->
                                <th>
                                    <div class="option_box">
                                        <div class="label option_label text-left">開始時刻<br><small> 現在時刻の場合、作成時の15分後の時間を登録します</small></div>
                                    </div>
                                </th>

                                <td colspan="2">
                                    <!-- プリセットボタン 開始 -->
                                    <div class="input-group-btn">
                                        <div class="3d_btn btn btn_size_end_date btn-outline-primary my-btn-w4 btn-sm rounded-0">３日後</div>
                                        <div class="7d_btn btn btn_size_end_date btn-outline-primary my-btn-w4 btn-sm rounded-0">7日後</div>
                                        <div class="14d_btn btn btn_size_end_date btn-outline-primary my-btn-w4 btn-sm rounded-0">14日後</div>
                                        <div class="1m_btn btn btn_size_end_date btn-outline-primary my-btn-w4 btn-sm rounded-0">1ヶ月後</div>
                                    </div>

                                    <div id="carendar-position"><!--追加 -->
                                        <div class="contents">
                                            {% render_field form.start_date class="form-control" id="training_start_date" placeholder="開始日時を入力してください" %}
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="mt-2 mb-1" style="font-size: 13px; text-align:left;">※設定しない場合は作成時の15分後の時間が設定されます</p>
                                    </div>
                                </td>

                                <th>
                                    <div class="required_box">
                                        <div class="label require_label">終了時刻</div>
                                    </div>
                                </th>

                                <td colspan="2">
                                    <!-- プリセットボタン 終了 -->
                                    <div class="input-group-btn">
                                        <div class="3d_btn_end btn btn_size_end_date btn-outline-primary my-btn-w4 btn-sm rounded-0">3日後</div>
                                        <div class="7d_btn_end btn btn_size_end_date btn-outline-primary my-btn-w4 btn-sm rounded-0">7日後</div>
                                        <div class="14d_btn_end btn btn_size_end_date btn-outline-primary my-btn-w4 btn-sm rounded-0">14日後</div>
                                        <div class="1m_btn_end btn btn_size_end_date btn-outline-primary my-btn-w4 btn-sm rounded-0">1ヶ月後</div>
                                    </div>

                                    <div>
                                        <div class="contents">
                                            {% render_field form.end_date class="form-control" id="training_end_date" placeholder="終了日時を入力してください" %}
                                        </div>
                                    </div>

                                    <!-- 期限切れトレーニングの有効化・無効化切り替えフラグ -->
                                    <div class="d-flex align-items-center">
                                        <div class="contents mr-1">{% render_field form.expired_training_flg class="form-control" %}</div>
                                        <label class="m-0" style="font-size: 13px;" for="id_expired_training_flg">終了時刻が過ぎても各パーツのボタンを有効にする</label>
                                    </div>
                                </td>
                            </tr>


                            <!-- 説明文 -->
                            <tr>
                                <th>
                                    <div class="required_box">
                                        <div class="label require_label">説明文</div>
                                    </div>
                                </th>
                                <td colspan="5">{% render_field form.description class="form-control" id="training_description" placeholder="説明文を入力してください" %}</td>
                            </tr>

                            <!-- コース -->
                            <tr>
                                <th>
                                    <div class="option_box">
                                        <div class="label option_label">コースの選択</div>
                                    </div>
                                </th>
                                <td colspan="5">{% render_field form.subject class="form-control" placeholder="コースを選択してください" %}</td>
                            </tr>

                            <!-- ユーザー -->
                            <tr>

                                <th>
                                    <div class="required_box">
                                        <div class="label require_label">グループ</div>
                                    </div>

                                </th>


                                <td colspan="5" class="list">

                                    <div class="position-relative">

                                        <!-- タイトル+検索窓 -->
                                        <div class="d-flex flex-row align-items-center mb-3">
                                            <div class="text">
                                                右にグループを追加してください
                                            </div>

                                            <div class="search-area ml-auto">
                                                <input type="text" size="35" class="search_form search_container" id="search" placeholder="検索したいグループ名を入力してください">
                                            </div>
                                        </div>

                                        <!--グループの編集が行われたかを識別するためのフラグ ※隠しフィールド -->
                                        {% render_field form.group_edit_check_flg class="form-control" hidden=True %}

                                        <!--　グループを表示 -->
                                        {% if form.destination_group|length >= 5 %}

                                            <div class="d-flex showmore_list">

                                                {% render_field form.destination_group placeholder="" %}

                                                <!--　選択しているグループを表示 -->

                                                <div class="box29">

                                                    <span class="box-title">選択済み</span>

                                                    <!-- 選択済みユーザー -->
                                                    <div class="form-group">

                                                        <div class="selected_container">

                                                            <div id="selected_group"></div>

                                                            <div id="selected_user_help_text">

                                                                <div class="help_text">
                                                                    選択されていません
                                                                </div>

                                                            </div>

                                                            <div id="selected_user"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% else %}

                                            <div class="d-flex showmore_list_2">

                                                {% render_field form.destination_group placeholder="" %}

                                                <!--　選択しているグループを表示 -->

                                                <div class="box29">

                                                    <span class="box-title">選択済み</span>

                                                    <!-- 選択済みユーザー -->
                                                    <div class="form-group">

                                                        <div class="selected_container">

                                                            <div id="selected_group"></div>

                                                            <div id="selected_user_help_text">

                                                                <div class="help_text">
                                                                    選択されていません
                                                                </div>

                                                            </div>

                                                            <div id="selected_user"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}

                                    </div>

                                </td>



                            </tr>


                        </tbody>

                    </table>

                    <div class="btn-grp">

                        {% comment %} <button type="button" class="my-btn my-btn-gray-1 my-btn-w12 mr-3" onclick="window.location.href='{% url 'training:training_management' %}'"><span class="my_btn_text">戻る</span></button> {% endcomment %}

                        <!-- トレーニング設定一覧へ遷移　セッションを消すためにReturnViewへ -->
                        <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3" onclick="window.location.href='{% url 'training:return' %}'"><span class="my_btn_text">戻る</span></button>

                        <button type="submit" id="training_create_btn" class="my-btn my-btn-egypt-1 my-btn-w12" disabled><span class="my_btn_text">作成</span></button>

                    </div>

                </form>

            </div>

        </div>

    </div>
















{% endblock %}

{% block extra_js %}

    <!-- jquery -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> {% endcomment %}

    <!-- bootstrap -->
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}

    <!----- Validation ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" ></script> {% endcomment %}

    <!-- 日本語のエラーメッセージを読み込み(Validation) -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_ja.min.js"></script> {% endcomment %}

    <!----- 内部アニメーションを行うためのスクリプト Web-Amination.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script> {% endcomment %}

    <!----- ドラッグ操作を有効にする場合のスクリプト Hammer.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> {% endcomment %}

    <!----- muuri.min.js ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script> {% endcomment %}

    <!----- jQuery UI ------>
    {% comment %} <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> {% endcomment %}

    <!-- jquery.quicksearch -->
    {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script> {% endcomment %}

    <!----- Colorbox ------>
    {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.colorbox-min.js' %}"></script>



<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>

<script>
    // -----------------
    // グループメンバーを確認するテンプレート表示
    // -----------------

    $(function(){

        // Group Member
        $(".iframe_group_member").colorbox({
            iframe:true,
            width:"650px",
            height:"60%",
            // iframeが閉じたらページを更新
            {% comment %} onClosed:function(){
                location.reload(true);
            } {% endcomment %}

        });

        $(".iframe_group_member2").colorbox({
            iframe:true,
            width:"75%",
            height:"700PX",

        });

        // HTMLで指定したIDの要素をクリックするとColorBoxウィンドウが閉じる
        $("#btn_close").click(function(){
            parent.$.fn.colorbox.close(); return false;
        });



        $('.iframe_group_member2').on('click', function() {
            console.log("クリックされました");

            // div要素のclass名を取得
            var className = $(this).attr('class');
            console.log(className);

            //$(.iframe_group_member2).contents().find('p').append(className)
            //$('p').append(className)


        });

    })

</script>



<script>
    // -----------------
    // 絞り込み検索
    // -----------------


    $(function(){

        $('input#search').quicksearch('div.group_list div', {

            'noResults': 'div#noresults',//検索該当無しの場合表示する対象

        });

    })



</script>





<script>

$(document).ready(function() {

    // -----------------
    // validateのoption作成
    // -----------------

    //var description = $('input[name="description"]').val().replace(/\n/g, "").length;

    $('#training_create_form').validate({

        errorElement: "span",// labelがspanにかわる

        //入力欄別にルールを作成　※nameを指定すること
        rules:{
            title:{
                required: true,
                maxlength: 30,
            },
            description:{
                required: true,
                maxlength: 100,
            },
            end_date:{
                required: true,
            },
        },
        // エラーメッセージを設定
        messages:{
            title:{
                required: 'タイトルは必須です。',
                maxlength: 'タイトルは30文字以内で入力してください。',
            },
            description:{
                required: '説明文は必須です。',
                maxlength: '説明文は100文字以内で入力してください。',
            },
            end_date:{
                required: '終了時刻は必須です。',
            },
        },

        errorPlacement: function (error, element) {

           // 指定タグの中に出したい場合はappendTo()

            if (element.attr("name") == "title" ) {
                element.parent().append(error)

            } else if (element.attr("name") == "end_date" ) {
                element.parent().append(error.addClass("input-group"))
                //element.parent().append(error)

            } else if (element.attr("name") == "description" ) {
                element.parent().append(error)
            }



        }



    });


    // -----------------
    // validate 変更
    // -----------------
    $("#training_create_form").on('keyup change', function(event) {

        // validateForm(): フォームのバリデーションを担当する
        validateForm('#training_create_form');

    });


    function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)


        if (valid) {
            $('#training_create_btn').prop('disabled', false);// enables button
        } else {
            $('#training_create_btn').prop('disabled', true);// disables button
        }
    }




    // -----------------
    // 期限のプリセット(開始時間)
    // -----------------

    $('.3d_btn').on('click', function() {

        var date = new Date();
        console.log("date", date)

        date.setDate(date.getDate() + 2)
        console.log("setDate", date)

        var year_str = date.getFullYear();
        console.log("year_str", year_str)

        var month_str = date.getMonth() + 1;
        console.log("month_str1", month_str)

        var day_str = date.getDate();
        console.log("day_str1", day_str)

        month_str = ('0' + month_str).slice(-2); // 01, 02
        console.log("month_str2", month_str)

        day_str = ('0' + day_str).slice(-2);
        console.log("day_str2", day_str)

        //yano a_3d_day_str = 'YYYY/MM/DD hh:mm:ss'; // フォーマットを決める
        a_3d_day_str = 'YYYY/MM/DD hh:mm'; // フォーマットを決める
        a_3d_day_str = a_3d_day_str.replace(/YYYY/g, year_str); // フォーマットに対して書き換え、年
        a_3d_day_str = a_3d_day_str.replace(/MM/g, month_str); // 月
        a_3d_day_str = a_3d_day_str.replace(/DD/g, day_str); // 日

        a_3d_day_str = a_3d_day_str.replace(/hh/g, '00'); // 時間
        console.log("開始a_3d_day_str, 時間", a_3d_day_str)

        a_3d_day_str = a_3d_day_str.replace(/mm/g, '00'); // 分
        console.log("開始a_3d_day_str, 分", a_3d_day_str)// 23:mm:ss

        /* a_3d_day_str = a_3d_day_str.replace(/ss/g, '59'); yano*/ // 秒
        /* console.log("a_3d_day_str", a_3d_day_str) yano*/ // 23:59:ss


        $('#training_start_date').val(a_3d_day_str) // フォームのidを指定して値をセット

    });


    // 今から7日後を生成
    $('.7d_btn').on('click', function() {
        var date = new Date();
        date.setDate(date.getDate() + 6)
        var year_str = date.getFullYear();
        var month_str = date.getMonth() + 1;
        var day_str = date.getDate();

        month_str = ('0' + month_str).slice(-2);
        day_str = ('0' + day_str).slice(-2);

        //yano a_7d_day_str = 'YYYY/MM/DD hh:mm:ss ';
        a_7d_day_str = 'YYYY/MM/DD hh:mm ';
        a_7d_day_str = a_7d_day_str.replace(/YYYY/g, year_str);
        a_7d_day_str = a_7d_day_str.replace(/MM/g, month_str);
        a_7d_day_str = a_7d_day_str.replace(/DD/g, day_str);
        a_7d_day_str = a_7d_day_str.replace(/hh/g, '00');
        a_7d_day_str = a_7d_day_str.replace(/mm/g, '00');
        //yano  a_7d_day_str = a_7d_day_str.replace(/ss/g, '59');

        $('#training_start_date').val(a_7d_day_str)

    });


    // 今から14日後を生成
    $('.14d_btn').on('click', function() {
        var date = new Date();
        date.setDate(date.getDate() + 13)
        var year_str = date.getFullYear();
        var month_str = date.getMonth() + 1;
        var day_str = date.getDate();

        month_str = ('0' + month_str).slice(-2);
        day_str = ('0' + day_str).slice(-2);

        //yano a_14d_day_str = 'YYYY/MM/DD hh:mm:ss ';
        a_14d_day_str = 'YYYY/MM/DD hh:mm ';
        a_14d_day_str = a_14d_day_str.replace(/YYYY/g, year_str);
        a_14d_day_str = a_14d_day_str.replace(/MM/g, month_str);
        a_14d_day_str = a_14d_day_str.replace(/DD/g, day_str);
        a_14d_day_str = a_14d_day_str.replace(/hh/g, '00');
        a_14d_day_str = a_14d_day_str.replace(/mm/g, '00');
        //yano a_14d_day_str = a_14d_day_str.replace(/ss/g, '59');

        $('#training_start_date').val(a_14d_day_str)

    });



    // 今から1ヶ月後を生成
    $('.1m_btn').on('click', function() {
        var date = new Date();
        var year_str = date.getFullYear();
        date.setMonth(date.getMonth() + 1)
        var month_str = date.getMonth() + 1;
        var day_str = date.getDate();

        month_str = ('0' + month_str).slice(-2);
        day_str = ('0' + day_str).slice(-2);

        //yano a_1m_day_str = 'YYYY/MM/DD hh:mm:ss ';
        a_1m_day_str = 'YYYY/MM/DD hh:mm ';
        a_1m_day_str = a_1m_day_str.replace(/YYYY/g, year_str);
        a_1m_day_str = a_1m_day_str.replace(/MM/g, month_str);
        a_1m_day_str = a_1m_day_str.replace(/DD/g, day_str);
        a_1m_day_str = a_1m_day_str.replace(/hh/g, '00');
        a_1m_day_str = a_1m_day_str.replace(/mm/g, '00');
        //yano a_1m_day_str = a_1m_day_str.replace(/ss/g, '59');

        $('#training_start_date').val(a_1m_day_str)

    });





    // -----------------
    // 期限のプリセット(終了時間)
    // -----------------

    $('.3d_btn_end').on('click', function() {

        var date = new Date();
        console.log("date", date)

        date.setDate(date.getDate() + 2)
        console.log("setDate", date)

        var year_str = date.getFullYear();
        console.log("year_str", year_str)

        var month_str = date.getMonth() + 1;
        console.log("month_str1", month_str)

        var day_str = date.getDate();
        console.log("day_str1", day_str)

        month_str = ('0' + month_str).slice(-2); // 01, 02
        console.log("month_str2", month_str)

        day_str = ('0' + day_str).slice(-2);
        console.log("day_str2", day_str)

        //yano a_3d_day_str = 'YYYY/MM/DD hh:mm:ss'; // フォーマットを決める
        a_3d_day_str = 'YYYY/MM/DD hh:mm'; // フォーマットを決める
        a_3d_day_str = a_3d_day_str.replace(/YYYY/g, year_str); // フォーマットに対して書き換え、年
        a_3d_day_str = a_3d_day_str.replace(/MM/g, month_str); // 月
        a_3d_day_str = a_3d_day_str.replace(/DD/g, day_str); // 日

        a_3d_day_str = a_3d_day_str.replace(/hh/g, '23'); // 時間
        console.log("a_3d_day_str, 時間", a_3d_day_str)

        a_3d_day_str = a_3d_day_str.replace(/mm/g, '59'); // 分
        console.log("a_3d_day_str, 分", a_3d_day_str)// 23:mm:ss

        /*a_3d_day_str = a_3d_day_str.replace(/ss/g, '59'); yano*/ // 秒
        /*console.log("a_3d_day_str", a_3d_day_str) yano*/ // 23:59:ss


        $('#training_end_date').val(a_3d_day_str) // フォームのidを指定して値をセット

    });


    // 今から7日後を生成
    $('.7d_btn_end').on('click', function() {
        var date = new Date();
        date.setDate(date.getDate() + 6)
        var year_str = date.getFullYear();
        var month_str = date.getMonth() + 1;
        var day_str = date.getDate();

        month_str = ('0' + month_str).slice(-2);
        day_str = ('0' + day_str).slice(-2);

        //yano a_7d_day_str = 'YYYY/MM/DD hh:mm:ss ';
        a_7d_day_str = 'YYYY/MM/DD hh:mm ';
        a_7d_day_str = a_7d_day_str.replace(/YYYY/g, year_str);
        a_7d_day_str = a_7d_day_str.replace(/MM/g, month_str);
        a_7d_day_str = a_7d_day_str.replace(/DD/g, day_str);
        a_7d_day_str = a_7d_day_str.replace(/hh/g, '23');
        a_7d_day_str = a_7d_day_str.replace(/mm/g, '59');
        //yano a_7d_day_str = a_7d_day_str.replace(/ss/g, '59');

        $('#training_end_date').val(a_7d_day_str)

    });


    // 今から14日後を生成
    $('.14d_btn_end').on('click', function() {
        var date = new Date();
        date.setDate(date.getDate() + 13)
        var year_str = date.getFullYear();
        var month_str = date.getMonth() + 1;
        var day_str = date.getDate();

        month_str = ('0' + month_str).slice(-2);
        day_str = ('0' + day_str).slice(-2);

        //yano a_14d_day_str = 'YYYY/MM/DD hh:mm:ss ';
        a_14d_day_str = 'YYYY/MM/DD hh:mm ';
        a_14d_day_str = a_14d_day_str.replace(/YYYY/g, year_str);
        a_14d_day_str = a_14d_day_str.replace(/MM/g, month_str);
        a_14d_day_str = a_14d_day_str.replace(/DD/g, day_str);
        a_14d_day_str = a_14d_day_str.replace(/hh/g, '23');
        a_14d_day_str = a_14d_day_str.replace(/mm/g, '59');
        //yano a_14d_day_str = a_14d_day_str.replace(/ss/g, '59');

        $('#training_end_date').val(a_14d_day_str)

    });



    // 今から1ヶ月後を生成
    $('.1m_btn_end').on('click', function() {
        var date = new Date();
        var year_str = date.getFullYear();
        date.setMonth(date.getMonth() + 1)
        var month_str = date.getMonth() + 1;
        var day_str = date.getDate();

        month_str = ('0' + month_str).slice(-2);
        day_str = ('0' + day_str).slice(-2);

        //yano a_1m_day_str = 'YYYY/MM/DD hh:mm:ss ';
        a_1m_day_str = 'YYYY/MM/DD hh:mm ';
        a_1m_day_str = a_1m_day_str.replace(/YYYY/g, year_str);
        a_1m_day_str = a_1m_day_str.replace(/MM/g, month_str);
        a_1m_day_str = a_1m_day_str.replace(/DD/g, day_str);
        a_1m_day_str = a_1m_day_str.replace(/hh/g, '23');
        a_1m_day_str = a_1m_day_str.replace(/mm/g, '59');
        //yano a_1m_day_str = a_1m_day_str.replace(/ss/g, '59');

        $('#training_end_date').val(a_1m_day_str)

    });





});


</script>




<script>

    // グループの登録が5個以上
    var showmoreList = $('.showmore_list');
    var showmoreListOpen = parseInt(showmoreList.height());
    var showmoreListClose = parseInt(showmoreList.height() * 0.64);
    var showmoreTop;


    //初期値
    showmoreList.css('height', showmoreListClose + 'px');

    $('.list_toggle a').click(function () {
        var thisBtn = $(this);
        showmoreTop = showmoreList.offset().top

        if ($(this).hasClass('open_link')) {
            thisBtn
                .removeClass('open_link')
                .addClass('close_link')
                .parent().addClass('close_area');

            showmoreList
                .css('height', showmoreListOpen + 'px');

        } else if ($(this).hasClass('close_link')) {
            thisBtn
                .removeClass('close_link')
                .addClass('open_link')
                .parent().removeClass('close_area');

            showmoreList
                .css('height', showmoreListClose + 'px');
        }

    });







    // グループの登録が5個以下
    var showmoreList_2 = $('.showmore_list_2');
    var showmoreListOpen_2 = parseInt(showmoreList_2.height());
    var showmoreListClose_2 = parseInt(showmoreList_2.height() * 0.85);
    var showmoreTop_2;


    //初期値
    showmoreList_2.css('height', showmoreListClose_2 + 'px');

    $('.list_toggle a').click(function () {
        var thisBtn = $(this);
        showmoreTop_2 = showmoreList_2.offset().top

        if ($(this).hasClass('open_link')) {
            thisBtn
                .removeClass('open_link')
                .addClass('close_link')
                .parent().addClass('close_area');

            showmoreList_2
                .css('height', showmoreListOpen_2 + 'px');

        } else if ($(this).hasClass('close_link')) {
            thisBtn
                .removeClass('close_link')
                .addClass('open_link')
                .parent().removeClass('close_area');

            showmoreList_2
                .css('height', showmoreListClose_2 + 'px');
        }

    });






</script>





<script>


// -----------------
// 選択したユーザーの表示
// -----------------


$(function(){

    $(" input[name='destination_group']").change(function(){

        // 選択されていない状態の場合、その旨を表示する
        if ( $('input:checkbox[name="destination_group"]:checked').length== 0) {

            // ヘルパーテキストを表示
            $("#selected_user_help_text").append("<div class='help_text'>選択されていません</div>");

        } else {

            // ヘルパーテキストを削除
            $("#selected_user_help_text").children().remove();

        }

    });


    // ユーザーチェックボックスクリック時のイベント
    $("input[name='destination_group']").change(function(){

        // 配列初期化
        var user_name = [];

        // チェックボックスにチェックがついたときのイベント
        $('input:checkbox[name="destination_group"]:checked').each(function() {

            // IDを取得
            var id = $(this).attr("id");
            // IDからラベルを取得
            var user = $('label[for=' + id + ']').text();
            // ラベルを配列へ保存
            user_name.push(user)

        });

        // HTMLへ表示
        $("#selected_user").children().remove();
        for (  var i = 0;  i < user_name.length;  i++  ) {
            $("#selected_user").append("<div class='select_user check_row d-flex align-items-center mb-1'><i class='fas fa-user fa-fw mr-1' style='font-size: 20px; color:#595959;'></i>"  + user_name[i] + "</div>");
        }
    });




    // エラー表示で画面が更新されても✔を付けた状態で選択済みユーザーを表示
    var user_name = [];

    // チェックボックスにチェックがついたときのイベント
    $('input:checkbox[name="destination_group"]:checked').each(function() {

        // IDを取得
        var id = $(this).attr("id");
        // IDからラベルを取得
        var user = $('label[for=' + id + ']').text();
        // ラベルを配列へ保存
        user_name.push(user)

        // ヘルパーテキストを削除
        $("#selected_user_help_text").children().remove();

    });

    // HTMLへ表示
    $("#selected_user").children().remove();
    for (  var i = 0;  i < user_name.length;  i++  ) {
        $("#selected_user").append("<div class='select_user check_row d-flex align-items-center mb-1'><i class='fas fa-user fa-fw mr-1' style='font-size: 20px; color:#595959;'></i>"  + user_name[i] + "</div>");
    }


});


</script>


{% comment %} <script>
    // -----------------
    // 改行数の制限
    // -----------------

    $(function(){

        // 入力できる行数の最大値
        var lines = 3;
        //var linesUsed = $('#linesUsed');

        $('#training_description').keydown(function(e) {

            // 各行を配列の要素に分ける ※\nは"改行"に変換して2文字にする
            newLines = $(this).val().split("\n").length;
            //linesUsed.text(newLines);

            if(e.keyCode == 13 && newLines >= lines) {
                //linesUsed.css('color', 'red');
                return false;
            }
            else {
                //linesUsed.css('color', '');
            }
        });
    });


</script> {% endcomment %}





{% endblock %}






