{% load i18n static %}
{% load get_group_user %}

    {% comment %} <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'common/css/fontawesome.css' %}">


<style>
    .cp_h1title{
        position: relative;
        overflow: hidden;
        text-align: left;
        padding: 5px;
    }

    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }

    .cp_h1title:before{
        border-bottom: 4px solid #4a849a;
        width: 100%;
    }

    .select_user {
        padding: 3px;
    }
</style>


    <div class="page-title">
        <h4 class="cp_h1title">{{customgroup.name}}のメンバー</h4>
    </div>

    <div class="group_member_list">
        {% comment %} {% for member in get_group_user|customgroup.id %} {% endcomment %}
        {% for member in customgroup.id|get_group_user %}
            <div class="select_user">
                <i class='fas fa-user fa-fw mr-1' style='font-size: 20px; color:#595959;'></i>{{ member}}
            </div>
        {% endfor %}
    </div>



{% comment %} {{ customgroup.name }}

{% for i in customgroup.group_user.all %}
<p class="member m-0">{{ i }}</p>
{% endfor %} {% endcomment %}