
{% extends "common/base.html" %}
{% load i18n static %}

{% block title %}動画 | {{ block.super }}{% endblock %}





{% block content %}
<style>

    /*---------------------------------

    動画

    ---------------------------------*/
    #my-video {
        width:100%;
        height:100%;
        margin:0 auto;
        padding-top:56.6%;/*56.25% 比率調整※16:9の画面幅*/
    }

    /* フルスクリーンアイコンを非表示にする */
    .video-js .vjs-fullscreen-control {
        display: none;
    }

</style>

	<head>
		<meta charset="utf-8">
		<title>学習支援システム - 動画再生</title>
		{% comment %} <link rel="canonical" href="https://syncer.jp/Web/API_Interface/Reference/IDL/HTMLMediaElement/ended/">
		<meta content="width=device-width,initial-scale=1.0" name="viewport">
		<script src="https://demo.syncer.jp/js/demo-web_api_interface.js"></script> {% endcomment %}

        <link rel="stylesheet" href="{% static 'common/css/video-js.min.css' %}">
        {% comment %} <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" /> {% endcomment %}

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'training/css/training.css' %}">

    </head>
    <body>
        <div id="parts_id" hidden>{{parts_id}}</div>
        <div id="file_id" hidden>{{movie.file_id}}</div>
        <div id="movie_current_time" hidden>{{parts_manage.current_time}}</div>
        {{movie_current_time}}
        {% comment %} <div id="movie_current_time" hidden>200</div> C:\Users\user\Dropbox\08.開発\training_pj\media\uploads\poster\top.image.png{% endcomment %}
        <div class="container-fluid">
            <div class="p-4">
                <h5 class="">{{movie.title}}</h5>
                {% comment %} <video id="mv"  width="100%" height="90%" loop poster="media/uploads/poster.gif"> {% endcomment %}




                <video
                    id="my-video"
                    class="video-js"
                    controls
                    preload="auto"
                    width="1000"
                    height="600"

                    poster={{movie.poster.poster.url}}
                    {% comment %} poster={{movie.poster.url}} {% endcomment %}
                    data-setup='{}'
                    {% comment %} data-setup='{ "playbackRates": [0.5, 1, 1.5, 2] }' {% endcomment %}
                    muted
                >

                    {% comment %} <source src="media/uploads/dynamic.mp4" type="video/mp4"> {% endcomment %}
                    <source src={{movie.movie.movie.url}} type="video/mp4" id={{movie.file_id}}>
                    <p>お使いのブラウザは HTML5 動画をサポートしていません。その代わりに<a href="{{movie.movie.movie.url}}">動画へのリンク</a>があります。</p>
                </video>

                    {% comment %} <button type="button" onclick="playVideo();">再生</button>
                    <button type="button" onclick="pauseVideo();">停止</button>
                    <button type="button" onclick="getMdTime()">再生時間</button>
                    <button type="button" onclick="goZero()">最初から再生</button> {% endcomment %}

                <div class="row no-gutters">
                    <!-- 横幅576px以上でボタンを表示 -->
                    <div class="d-none d-sm-block col-12">
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 play_video mt-1"><i class="fas fa-play mr-1"></i>再生</button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 pause_video mt-1"><i class="fas fa-pause mr-1"></i>一時停止</button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 10s_back mt-1"><i class="fas fa-backward mr-1"></i>10秒戻る</button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 10s_next mt-1">10秒進む<i class="fas fa-forward ml-1"></i></button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 requestfullscreen mt-1"><i class="fas fa-solid fa-expand mr-1"></i>全画面表示</button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 close_video mt-1"><i class="fas fa-times mr-1"></i>画面を閉じる</button>
                        {% comment %} <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 .fullscreen mt-1">全画面</button> {% endcomment %}
                    </div>
                    <!-- 横幅576px以下でアイコンのみ表示 -->
                    <div class="d-block d-sm-none col-12">
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w5 play_video mt-1" title="再生"><i class="fas fa-play mr-1"></i></button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w5 pause_video mt-1" title="一時停止"><i class="fas fa-pause mr-1"></i></button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w5 10s_back mt-1" title="10秒戻る"><i class="fas fa-backward mr-1"></i></button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w5 10s_next mt-1" title="10秒進む"><i class="fas fa-forward ml-1"></i></button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w5 requestfullscreen mt-1" title="全画面表示"><i class="fas fa-solid fa-expand mr-1"></i></button>
                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w5 close_video mt-1" title="画面を閉じる"><i class="fas fa-times mr-1"></i></button>
                        {% comment %} <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 .fullscreen mt-1">全画面</button> {% endcomment %}
                    </div>


                    <div class="col-12">
                        <p class="note_text mt-1 mb-0">◆再生終了後は、動画下の閉じるボタンでウィンドウまたはタブを閉じてください。ブラウザの閉じるボタンは使用できません。</p>
                        <p class="note_text mt-1 mb-0">◆動画は自動停止しますので、最後まで再生してください。</p>
                        <p class="note_text mt-1 mb-0">◆再生開始時の音量はミュートされています。音量を調整して視聴してください。</p>
                    </div>
                </div>

                {% comment %} {{movie_play_manage}}
                {{movie_play_manage.current_time}} {% endcomment %}

            </div>
        </div>





        <script src="{% static 'common/js/video.min.js' %}"></script>
        <script src="{% static 'common/js/jquery.fullscreen.min.js' %}"></script>
        {% comment %} <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script> {% endcomment %}
    </body>



<!-- 注意表示用(動画表示時) -->
<div class="modal fade" id="note" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content note_modal">
    <div class="modal-body">
        <div class="alert alert-warning-modal" role="alert">
            <div class="d-flex flex-row">
                <div class="alert-warning-modal-icon align-self-center">
                </div>
                <div class="align-self-center">
                    <div class="font-weight-bold">動画再生の注意点</div>
                    ・動画は自動停止しますので、最後まで再生してください。<br>
                    ・再生終了後は、動画下の閉じるボタンでウィンドウまたはタブを閉じてください。ブラウザの閉じるボタンは使用できません。
                </div>
            </div>
        </div>

        <div class="alert alert-success-modal" role="alert">
            <div class="d-flex flex-row">
                <div class="alert-success-modal-icon align-self-center">
                </div>
                <div class="align-self-center">
                    ・再生開始時の音量はミュートされています。音量を調整して視聴してください。
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" onfocus="this.blur();" class="my-btn my-btn-egypt-1 my-btn-sm my-btn-w5" data-dismiss="modal">閉じる</button>
    </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- アラート表示用 -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-body">
        <p class="mb-0">正しく視聴していないようです。</p>
        <p class="mb-0">再度、最初から最後まで再生してください。</p>
    </div>
    <div class="modal-footer">
        {% comment %} <button type="button" onfocus="this.blur();" class="btn btn-primary btn-sm my-btn-w5">削除</button> {% endcomment %}
        <button type="button" onfocus="this.blur();" class="my-btn my-btn-egypt-1 my-btn-sm my-btn-w5" data-dismiss="modal">OK</button>
    </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 完了表示用 -->
<div class="modal fade" id="done" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-body">
        <p>研修動画が終了しました。「画面を閉じる」ボタンで画面を閉じてください。</p>
    </div>
    <div class="modal-footer">
        {% comment %} <button type="button" onfocus="this.blur();" class="my-btn my-btn-egypt-1 my-btn-sm my-btn-w8" data-dismiss="modal">画面を閉じる</button> {% endcomment %}
        <button type="button" class="my-btn my-btn-egypt-1 my-btn-sm my-btn-w12 close_video"></i>動画再生画面を閉じる</button>
        <button type="button" onfocus="this.blur();" class="my-btn my-btn-egypt-1 my-btn-sm my-btn-w12" data-dismiss="modal">このメッセージを閉じる</button>
    </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{% block extra_js %}

<script>
$(function(){
    // 別タブの「✖」ボタンを押したときに画面を更新する
    $(window).on('beforeunload', function() {
        window.opener.location.reload();
    });
    $("button, input[type='button']").click(function() {
        $(window).off('beforeunload');
    });
});
</script>


<script>
    $(function() {
        $('.requestfullscreen').click(function() {
            console.log("aaaaaaaaaaa")
            $('#my-video').fullscreen();
            return false;
        });

        $(document).bind('fscreenchange', function(e, state, elem) {
            if ($.fullscreen.isFullScreen()) {
                $('#my-video .requestfullscreen').hide();
            } else {
                $('#my-video .requestfullscreen').show();
            }
        });
    });
</script>


<script>

$(function () {
    $('#note').modal('show')
    // 処理前に Loading 画像を表示
    //loadingView(true);
});


var trackedPlayer = videojs('#my-video');
    // レスポンシブ
    trackedPlayer.responsive(true);

    $('.play_video').on('click', function() {
        //ボタンの有効化・無効化
        $(this).prop("disabled", true);
        $('.pause_video').prop("disabled", false);

        var movie_current_time = $('#movie_current_time').text()

        console.log("プレイ")
        console.log(movie_current_time)

        trackedPlayer.currentTime(movie_current_time);
        trackedPlayer.play();


        var duration = trackedPlayer.duration();
        var parts_id = $('#parts_id').text()
        var file_id = $('#file_id').text()
        // ポーズした時間(開始からポーズしたタイミングの経過時間を取得)
        var current_time = trackedPlayer.currentTime()
        console.log("プレイ2")
        console.log(current_time)

        // 送信データとして保存
        var data = { 'duration': duration, 'is_end': 'False', 'parts_id': parts_id, 'file_id': file_id, 'current_time': current_time, 'event_type': "play" };

        $.ajax({
            type: 'POST',
            url: "{% url 'training:movie_play_status' %}",
            data: data,
            dataType: 'json',
            success: function(data){
                if(data.status=='ok'){
                    //alert(data.message)
                    //window.location.href = '/';
                }else{
                    alert(data.message)
                }
            }
        });

    });

    $('.pause_video').on('click', function() {

        //ボタンの有効化・無効化
        $(this).prop("disabled", true);
        $('.play_video').prop("disabled", false);


        trackedPlayer.pause();

        var duration = trackedPlayer.duration();
        var parts_id = $('#parts_id').text()
        var file_id = $('#file_id').text()
        // ポーズした時間(開始からポーズしたタイミングの経過時間を取得)
        var current_time = trackedPlayer.currentTime()


        // 送信データとして保存
        var data = { 'duration': duration, 'is_end': 'False', 'parts_id': parts_id, 'file_id': file_id, 'current_time': current_time, 'event_type': "pause"  };

        $.ajax({
            type: 'POST',
            url: "{% url 'training:movie_play_status' %}",
            data: data,
            dataType: 'json',
            success: function(data){
                if(data.status=='ok'){
                    $('#movie_current_time').text(current_time)
                    //alert(data.message)
                    //window.location.href = '/';
                }else{
                    alert(data.message)
                }
            }
        });

    });

    $('.close_video').on('click', function() {
        //trackedPlayer.pause();

        trackedPlayer.currentTime(movie_current_time);
        //trackedPlayer.play();


        var duration = trackedPlayer.duration();
        var parts_id = $('#parts_id').text()
        var file_id = $('#file_id').text()
        // ポーズした時間(開始からポーズしたタイミングの経過時間を取得)
        var current_time = trackedPlayer.currentTime()

        // 送信データとして保存
        var data = { 'duration': duration, 'is_end': 'True', 'parts_id': parts_id, 'file_id': file_id, 'current_time': current_time, 'event_type': "close" };

        $.ajax({
            type: 'POST',
            url: "{% url 'training:movie_play_status' %}",
            data: data,
            dataType: 'json',
            success: function(data){
                if(data.status=='ok'){
                    //alert(data.message)
                    //window.location.href = '/';
                    window.close();
                }else{
                    alert(data.message)
                    window.close();
                }
            }
        });


        window.opener.location.reload();


    });



    $('.fullscreen').on('click', function() {
        trackedPlayer.enterFullWindow()
    });

    $('.10s_next').on('click', function() {
        console.log("すすむ")
        trackedPlayer.currentTime(trackedPlayer.currentTime() + 10);

    });

    $('.10s_back').on('click', function() {
        console.log("もどる")
        trackedPlayer.currentTime(trackedPlayer.currentTime() - 10);

    });



trackedPlayer.on("ended", function (e) {
    console.log("Video playback ended.");

    $('.play_video').prop("disabled", false);


    var duration = trackedPlayer.duration();
    var parts_id = $('#parts_id').text()
    var file_id = $('#file_id').text()
    // ポーズした時間(開始からポーズしたタイミングの経過時間を取得)
    var current_time = trackedPlayer.currentTime()


    // 送信データとして保存
    var data = { 'duration': duration, 'is_end': 'True', 'parts_id': parts_id, 'file_id': file_id, 'current_time': current_time, 'event_type': "ended"  };

    $.ajax({
        type: 'POST',
        url: "{% url 'training:movie_play_status' %}",
        data: data,
        dataType: 'json',
        success: function(data){
            if(data.status=='ok'){
                //alert("不正に再生された疑いがあります。")
                if( data.is_alert ) {
                    $('#alert').modal('show')
                }else{
                    console.log(data.is_alert)
                    $('#done').modal('show')
                }

            }else{
                alert(data.message)
            }
        }
    });

});


trackedPlayer.on("canplaythrough", function (e) {
    console.log("Video canplaythrough.");

    {% comment %} $('.play_video').prop("disabled", false);
    $('.pause_video').prop("disabled", false);
    $('.10s_next').prop("disabled", false);
    $('.10s_back').prop("disabled", false);
    $('.close_video').prop("disabled", false); {% endcomment %}

    // 処理前に Loading 画像を表示
    loadingView(false);


});



trackedPlayer.bigPlayButton.on('click', function(){
    console.log("ビッグボタン")
});


trackedPlayer.on(['loadstart', 'loadedmetadata', 'loadeddata', 'play', 'playing', 'pause', 'suspend', 'seeking', 'seeked', 'waiting', 'canplay', 'canplaythrough', 'ratechange', 'ended', 'emptied', 'error', 'abort'], (e) => {
    console.log(`EVENT: ${e.type}`);
});



//$(window).on('beforeunload', function(e) {
    // ウィンドウを閉じる時にメッセージを表示する.
//    let result = confirm('本当に閉じていいの？');
//    return result;
//});


    /////////////////////
    // ローディング画像   //
    /////////////////////
    function loadingView(flag) {
        $('#loading-view').remove();
        if(!flag) return;
        $('<div id="loading-view" />').appendTo('body');
    }


</script>


{% endblock %}
