{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}テストパーツ変更 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}

    <!----- Colorbox ------>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-colorbox@1.6.4/example2/colorbox.css" /> {% endcomment %}






<!------------ CSS / jsの読み込み ------------->
<style>

.container {
    max-width: 1140px;
    max-height: 1130px;

    min-width: 1140px;
    min-height: 1130px;
}

/*---------------------------------

for Header

---------------------------------*/

body {
    font-size: 12px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
}

.navbar-expand .navbar-nav .nav-link {
    padding: 0;
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.menu_title_size {
    font-size: 1.4rem;
}


/*---------------------------------

    タイトル、サブタイトル

---------------------------------*/


.cp_h1title{
	position: relative;
	overflow: hidden;
	padding-top: 50px;
    padding-bottom: 10px;
    text-align: left;
}
.cp_h1title::before{
	content: "";
	position: absolute;
	bottom: 0;
}
.cp_h1title:before{
	border-bottom: 4px solid #4a849a;
	width: 100%;
}

.cp_p_title {
    text-align: left;
    font-size: 15px;
}

/*---------------------------------

    テーブル

---------------------------------*/

.parts_update_table {
    width: 100%;
    table-layout: fixed;
}

.parts_update_table th,
.parts_update_table td {
    border: 1px solid #ccc;
    padding: 20px;
}

.parts_update_table th {
    font-weight: bold;
    /*background-color: #dedede;*/
    background-color: #eeeeee;
}

.btn-grp {
    margin: 80px;
}


/*---------------------------------

    必須、任意ラベル

---------------------------------*/
.require_label {
    color: #595959;
    font-size: 1rem;
    margin-top: 3px;
}

.option_label {
    color: #595959;
    font-size: 1rem;
    margin-top: 3px;
}

.required_box {
    width: 100%;
    display: -webkit-inline-box;
    /*display: block;*/
    position: relative;
}


.option_box {
    width: 100%;
    display: -webkit-inline-box;
    position: relative;
}


.required_box::after {
    color: #ffffff;
    font-size: 0.5rem;
    position: absolute;
    right: 3px;
    top: 5px;
    background-color: red;
    border-radius: 3px;
    padding: 2px 3px;
    white-space: nowrap;
    margin-left: 10px;
    content: "必須";

}

.option_box::after {
    color: #ffffff;
    font-size: 0.5rem;
    position: absolute;
    right: 3px;
    top: 5px;
    background-color: #7d8285;
    border-radius: 3px;
    padding: 3px;
    white-space: nowrap;
    margin-left: 10px;
    content: "任意";
}

.name_error_message {
    text-align: left;
    color: red;

}

span.error {
    color: red;
    display: block;
    text-align: left;
}

/*---------------------------------

for btn

---------------------------------*/

    .input-group.date {
        width: 100%;
    }

    .contents {
        float: left;
    }


    .grid {
        position: relative;
    }
    .item {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        margin: 5px;
        z-index: 1;
        background: #000;
        color: #fff;
    }
    .item.muuri-item-dragging {
        z-index: 3;
    }
    .item.muuri-item-releasing {
        z-index: 2;
    }
    .item.muuri-item-hidden {
        z-index: 0;
    }
    .item-content {
        position: relative;
        width: 100%;
        height: 100%;
    }






    * {
    &:before,
    &:after{
        box-sizing:border-box;
        padding:0;
        margin:0;
    }
    }
    body{
    font-family:$fonts;
    background-color:$bg_color;
    color: $font_color;
    text-align: center;
    a, a:visited{
        color: $link_color;
        text-decoration:none;
    }
    a:hover{
        color: $link_hover_color;
    }
    }

    h1{
    font-size:36px;
    font-family:$web_fonts;
    color:#53E2E4;
    margin:10px auto 30px;
    }

    .grid {
    position: relative;
    width:878px;
    max-width:100%;
    margin:0 auto;
    }
    .item {
    display: block;
    position: absolute;
    width:99px;
    height:99px;
    margin: 5px;
    z-index: 1;
    cursor:move;
    &.blue{
        .custom-content{
        border-color:#0CAAF5;
        color:#0CAAF5;
        }
    }
    &.red{
        .custom-content{
        border-color:#F54487;
        color:#F54487;
        }
    }
    &.green{
        .custom-content{
        border-color:#00DE73;
        color:#00DE73;
        }
    }
    &.w2{
        width:208px;
    }
    &.h2{
        height:208px;
    }
    }
    .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    display:table;
    }
    .custom-content{
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    background: #fff;
    color: #666;
    border:2px solid;
    border-radius:3px;
    }

    // If use dragging
    .item.muuri-item-dragging {
    z-index: 3;
    }

    .test_parts_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        margin: 30px;
    }



/*---------------------------------

    受講必須ラベル

---------------------------------*/

    /* === ボタンを表示するエリア ============================== */
    .switchArea {
        line-height    : 38px;                /* 1行の高さ          */
        letter-spacing : 0;                   /* 文字間             */
        text-align     : center;              /* 文字位置は中央     */
        font-size      : 16px;                /* 文字サイズ         */
    
        position       : relative;            /* 親要素が基点       */
        margin         : auto;                /* 中央寄せ           */
        width          : 111px;               /* ボタンの横幅       */
        background     : #fff;                /* デフォルト背景色   */
    }
    
    /* === チェックボックス ==================================== */
    .switchArea input[type="checkbox"] {
        display        : none;            /* チェックボックス非表示 */
    }
    
    /* === チェックボックスのラベル（標準） ==================== */
    .switchArea label {
        display        : block;               /* ボックス要素に変更 */
        box-sizing     : border-box;          /* 枠線を含んだサイズ */
        height         : 38px;                /* ボタンの高さ       */
        border         : 2px solid #999999;   /* 未選択タブのの枠線 */
        border-radius  : 19px;                /* 角丸               */
    }
    
    /* === チェックボックスのラベル（ONのとき） ================ */
    .switchArea input[type="checkbox"]:checked +label {
        border-color   : #4a849a;             /* 選択タブの枠線     */
    }
    
    /* === 表示する文字（標準） ================================ */
    .switchArea label span:after{
        content        : "任意";               /* 表示する文字       */
        padding        : 0 0 0 22px;          /* 表示する位置       */
        color          : #999999;             /* 文字色             */
    }
    
    /* === 表示する文字（ONのとき） ============================ */
    .switchArea  input[type="checkbox"]:checked + label span:after{
        content        : "必須";                /* 表示する文字       */
        padding        : 0 22px 0 0;          /* 表示する位置       */
        color          : #4a849a;             /* 文字色             */
    }
    
    /* === 丸部分のSTYLE（標準） =============================== */
    .switchArea #swImg {
        position       : absolute;            /* 親要素からの相対位置*/
        width          : 30px;                /* 丸の横幅           */
        height         : 30px;                /* 丸の高さ           */
        background     : #999999;             /* カーソルタブの背景 */
        top            : 4px;                 /* 親要素からの位置   */
        left           : 4px;                 /* 親要素からの位置   */
        border-radius  : 15px;                /* 角丸               */
        transition     : .2s;                 /* 滑らか変化         */
    }
    
    /* === 丸部分のSTYLE（ONのとき） =========================== */
    .switchArea input[type="checkbox"]:checked ~ #swImg {
        transform      : translateX(73px);    /* 丸も右へ移動       */
        background     : #4a849a;             /* カーソルタブの背景 */
    }


/*---------------------------------

    ランダム出題

---------------------------------*/

/*---------------------------------

    ランダム出題

---------------------------------*/

    /* === ボタンを表示するエリア ============================== */
    .switchArea2 {
        line-height    : 38px;                /* 1行の高さ          */
        letter-spacing : 0;                   /* 文字間             */
        text-align     : center;              /* 文字位置は中央     */
        font-size      : 16px;                /* 文字サイズ         */

        position       : relative;            /* 親要素が基点       */
        margin         : auto;                /* 中央寄せ           */
        width          : 111px;               /* ボタンの横幅       */
        background     : #fff;                /* デフォルト背景色   */
    }

    /* === チェックボックス ==================================== */
    .switchArea2 input[type="checkbox"] {
        display        : none;            /* チェックボックス非表示 */
    }

    /* === チェックボックスのラベル（標準） ==================== */
    .switchArea2 label {
        display        : block;               /* ボックス要素に変更 */
        box-sizing     : border-box;          /* 枠線を含んだサイズ */
        height         : 38px;                /* ボタンの高さ       */
        border         : 2px solid #999999;   /* 未選択タブのの枠線 */
        border-radius  : 19px;                /* 角丸               */
    }

    /* === チェックボックスのラベル（ONのとき） ================ */
    .switchArea2 input[type="checkbox"]:checked +label {
        border-color   : #4a849a;             /* 選択タブの枠線     */
    }

    /* === 表示する文字（標準） ================================ */
    .switchArea2 label span:after{
        content        : "OFF";               /* 表示する文字       */
        padding        : 0 0 0 22px;          /* 表示する位置       */
        color          : #999999;             /* 文字色             */
    }

    /* === 表示する文字（ONのとき） ============================ */
    .switchArea2  input[type="checkbox"]:checked + label span:after{
        content        : "ON";                /* 表示する文字       */
        padding        : 0 22px 0 0;          /* 表示する位置       */
        color          : #4a849a;             /* 文字色             */
    }

    /* === 丸部分のSTYLE（標準） =============================== */
    .switchArea2 #swImg2 {
        position       : absolute;            /* 親要素からの相対位置*/
        width          : 30px;                /* 丸の横幅           */
        height         : 30px;                /* 丸の高さ           */
        background     : #999999;             /* カーソルタブの背景 */
        top            : 4px;                 /* 親要素からの位置   */
        left           : 4px;                 /* 親要素からの位置   */
        border-radius  : 15px;                /* 角丸               */
        transition     : .2s;                 /* 滑らか変化         */
    }

    /* === 丸部分のSTYLE（ONのとき） =========================== */
    .switchArea2 input[type="checkbox"]:checked ~ #swImg2 {
        transform      : translateX(73px);    /* 丸も右へ移動       */
        background     : #4a849a;             /* カーソルタブの背景 */
    }




/*---------------------------------

    テスト結果の〇✖表記の表示有無

---------------------------------*/

    /* === ボタンを表示するエリア ============================== */
    .switchArea3 {
        line-height    : 38px;                /* 1行の高さ          */
        letter-spacing : 0;                   /* 文字間             */
        text-align     : center;              /* 文字位置は中央     */
        font-size      : 16px;                /* 文字サイズ         */

        position       : relative;            /* 親要素が基点       */
        margin         : auto;                /* 中央寄せ           */
        width          : 111px;               /* ボタンの横幅       */
        background     : #fff;                /* デフォルト背景色   */
    }

    /* === チェックボックス ==================================== */
    .switchArea3 input[type="checkbox"] {
        display        : none;            /* チェックボックス非表示 */
    }

    /* === チェックボックスのラベル（標準） ==================== */
    .switchArea3 label {
        display        : block;               /* ボックス要素に変更 */
        box-sizing     : border-box;          /* 枠線を含んだサイズ */
        height         : 38px;                /* ボタンの高さ       */
        border         : 2px solid #999999;   /* 未選択タブのの枠線 */
        border-radius  : 19px;                /* 角丸               */
    }

    /* === チェックボックスのラベル（ONのとき） ================ */
    .switchArea3 input[type="checkbox"]:checked +label {
        border-color   : #4a849a;             /* 選択タブの枠線     */
    }

    /* === 表示する文字（標準） ================================ */
    .switchArea3 label span:after{
        content        : "なし";               /* 表示する文字       */
        padding        : 0 0 0 22px;          /* 表示する位置       */
        color          : #999999;             /* 文字色             */
    }

    /* === 表示する文字（ONのとき） ============================ */
    .switchArea3  input[type="checkbox"]:checked + label span:after{
        content        : "あり";                /* 表示する文字       */
        padding        : 0 22px 0 0;          /* 表示する位置       */
        color          : #4a849a;             /* 文字色             */
    }

    /* === 丸部分のSTYLE（標準） =============================== */
    .switchArea3 #swImg3 {
        position       : absolute;            /* 親要素からの相対位置*/
        width          : 30px;                /* 丸の横幅           */
        height         : 30px;                /* 丸の高さ           */
        background     : #999999;             /* カーソルタブの背景 */
        top            : 4px;                 /* 親要素からの位置   */
        left           : 4px;                 /* 親要素からの位置   */
        border-radius  : 15px;                /* 角丸               */
        transition     : .2s;                 /* 滑らか変化         */
    }

    /* === 丸部分のSTYLE（ONのとき） =========================== */
    .switchArea3 input[type="checkbox"]:checked ~ #swImg3 {
        transform      : translateX(73px);    /* 丸も右へ移動       */
        background     : #4a849a;             /* カーソルタブの背景 */
    }

/*---------------------------------

    テキストエリア

---------------------------------*/

    textarea {
        resize: none;
        width:300px;
        height:200px;
    }


</style>







    <div class="container">

        <div>
            <h3 class="cp_h1title">テストパーツ変更</h3>
                <p class="cp_p_title m-0 pt-2">・【必須】がついている項目は必須です。必ず入力してください。</p>
                <p class="cp_p_title m-0">・【受講の任意/必須】という項目ではトレーニングの受講を必須とするかどうかを設定します。</p>
                <p class="cp_p_title m-0 pb-4">・【テスト結果表示】という項目ではテスト受講終了後に回答内容をユーザーに表示するかどうかを設定します。</p>


            <!-- 存在確認のエラー -->
            <div>
                {% for error in form.title.errors %}
                <p class="name_error_message">
                    {{ error }}
                </p>
                {% endfor %}
            </div>

        </div>

        <div class="my-div-style w-100">

            <form method="POST" enctype='multipart/form-data' id="parts_update_form">

                <!-- 登録フォームを表示 -->
                {% csrf_token %}


                <table class="parts_update_table">

                    <tbody>

                        <!-- タイトル -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">タイトル</div>
                                </div>
                            </th>

                            <td colspan="3">
                                {% render_field form.title class="form-control is_primary" laceholder="タイトルを入力してください" %}
                            </td>


                            <!-- is_required -->
                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label require_label">受講の任意/必須</div>
                                </div>
                            </th>
                            <td colspan="1" class="text-center">
                                <div class="switchArea">
                                    {% render_field form.is_required class="form-control is_primary" id="switch1" %}
                                    <label for="switch1"><span></span></label>
                                    <div id="swImg"></div>
                                </div>
                            </td>



                        </tr>

                        <!-- 説明 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">説明文</div>
                                </div>
                            </th>

                            <td colspan="5">
                                {% render_field form.description class="form-control is_primary" placeholder="説明文を入力してください" %}
                            </td>
                        </tr>

                        <!-- パーツ内に表示するタイトル -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">設問内のタイトル</div>
                                </div>
                            </th>
                            <td colspan="3">
                                {% render_field form.title_detail class="form-control" placeholder="設問の見出しとして表示するタイトルを入力してください" %}
                            </td>

                            <!-- テスト結果の〇✖表記の表示有無 -->
                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label require_label">テスト結果表示</div>
                                </div>
                            </th>
                            <td colspan="1" class="text-center">
                                <div class="switchArea3">
                                    {% render_field form.answer_content_show class="form-control is_primary" id="switch3" %}
                                    <label for="switch3"><span></span></label>
                                    <div id="swImg3"></div>
                                </div>
                            </td>


                        </tr>

                        <!-- パーツ内に表示する説明 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">設問内の説明文</div>
                                </div>
                            </th>
                            <td colspan="5">
                                {% render_field form.description_detail class="form-control is_primary" placeholder="設問内に表示する説明文を入力してください" %}
                            </td>
                        </tr>

                        <!-- 合格ライン -->
                        <tr>
                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label require_label">合格ライン</div>
                                </div>
                            </th>
                            <td colspan="3">
                                {% render_field form.pass_line min="0" max="100" class="form-control is_primary" placeholder="合格ラインを設定してください" %}
                            </td>

                            <!-- is_question_random -->
                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label require_label">ランダム出題</div>
                                </div>
                            </th>

                            <td colspan="1" class="text-center">
                                <div class="switchArea2">
                                    {% render_field form.is_question_random class="form-control is_primary" id="switch2" %}
                                    <label class="m-0" for="switch2"><span></span></label>
                                    <div id="swImg2"></div>
                                </div>
                            </td>


                        </tr>

                        <!-- 合格文1 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">合格<br>メッセージ(1)</div>
                                </div>
                            </th>
                            <td colspan="5">
                                {% render_field form.pass_text1 class="form-control is_primary" placeholder="入力した文章は受講終了後にテストに合格した方に表示されます" %}
                            </td>
                        </tr>

                        <!-- 合格文2 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label require_label">合格<br>メッセージ(2)</div>
                                </div>
                            </th>
                            <td colspan="5">
                                {% render_field form.pass_text2 class="form-control is_primary" placeholder="入力した文章は受講終了後にテストに合格した方に表示されます" %}
                            </td>
                        </tr>

                        <!-- 不合格文1 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">不合格<br>メッセージ(1)</div>
                                </div>
                            </th>
                            <td colspan="5">
                                {% render_field form.unpass_text1 class="form-control is_primary" placeholder="入力した文章は受講終了後にテストに不合格だった方に表示されます" %}
                            </td>
                        </tr>

                        <!-- 不合格文2 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label require_label">不合格<br>メッセージ(2)</div>
                                </div>
                            </th>
                            <td colspan="5">
                                {% render_field form.unpass_text2 class="form-control is_primary" placeholder="入力した文章は受講終了後にテストに不合格だった方に表示されます" %}
                            </td>
                        </tr>


                    </tbody>

                </table>

                <div class="btn-grp">
                    <!-- 前のページへ遷移 -->
                    <a href="{{request.META.HTTP_REFERER}}">
                        <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3"><span class="my_btn_text">戻る</span></button>
                    </a>
                    <button type="submit" id="parts_test_update_btn" class="my-btn my-btn-egypt-1 my-btn-w12" disabled><span class="my_btn_text">変更</span></button>

                </div>

            </form>


        </div>


    </div>
















{% endblock %}

{% block extra_js %}

    <!-- jquery -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> {% endcomment %}

    <!-- bootstrap -->
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/bootstrap.min.js' %}"></script>

    <!----- Validation ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" ></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.validate.js' %}"></script>

    <!-- 日本語のエラーメッセージを読み込み(Validation) -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_ja.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/messages_ja.min.js' %}"></script>

    <!----- 内部アニメーションを行うためのスクリプト Web-Amination.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script> {% endcomment %}

    <!----- ドラッグ操作を有効にする場合のスクリプト Hammer.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> {% endcomment %}

    <!----- muuri.min.js ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script> {% endcomment %}

    <!----- jQuery UI ------>
    {% comment %} <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> {% endcomment %}

    <!-- jquery.quicksearch -->
    {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script> {% endcomment %}

    <!----- Colorbox ------>
    {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script> {% endcomment %}



<script>

    // -----------------
    // form全体のバリデーションチェック
    // -----------------
    function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)

        return valid

    }

    // -----------------
    // .serialize()でformのデータを保存して
    // 変更ごとに値が一致するかどうかを確認する
    // -----------------

    $(function(){

        $('form')
        .each(function(){
            $(this).data('serialized', $(this).serialize())
        })
        .on('change dp.change input', function(){

            // formの入力が正しく行われている場合
            if(validateForm('#parts_update_form')){

                // 入力前の値と入力後の値が一致した場合
                if($(this).serialize() == $(this).data('serialized')){

                    $(this)
                    .find('input:submit, button:submit')
                        .prop('disabled', true)// ボタンを無効にする
                    ;
                }else{

                    $(this)
                    .find('input:submit, button:submit')
                        .prop('disabled', false)// ボタンを有効にする
                    ;
                }
            // 正しく行われていない場合
            }else{
                $('#parts_test_update_btn').prop('disabled', true);// ボタンを無効にする
            }

        })
        .find('input:submit, button:submit')
            .prop('disabled', true);

    })

</script>



<script>
    $(document).ready(function() {

        // -----------------
        // validateのoption作成
        // -----------------
        $('#parts_update_form').validate({

            errorElement: "span",// labelがspanにかわる

            //入力欄別にルールを作成　※nameを指定すること
            rules:{
                title:{
                    required: true,
                    maxlength: 29,
                },
                description:{
                    required: true,
                    maxlength: 100,
                },
                title_detail:{
                    required: true,
                    maxlength: 45,
                },
                description_detail:{
                    required: true,
                    maxlength: 100,
                },
                //pass_line:{
                    //required: true,
                //},
                pass_text1:{
                    required: true,
                    maxlength: 100,
                },
                pass_text2:{
                    required: false,
                    maxlength: 100,
                },
                unpass_text1:{
                    required: true,
                    maxlength: 100,
                },
                unpass_text2:{
                    required: false,
                    maxlength: 100,
                },
            },
            // エラーメッセージを設定
            messages:{
                title:{
                    required: 'タイトルは必須です。',
                    maxlength: 'タイトルは29文字以内で入力してください。',
                },
                description:{
                    required: '説明文は必須です。',
                    maxlength: '説明文は100文字以内で入力してください。',
                },
                title_detail:{
                    required: '設問内のタイトルは必須です。',
                    maxlength: 'タイトルは45文字以内で入力してください。',
                },
                description_detail:{
                    required: '設問内の説明文は必須です。',
                    maxlength: '説明文は100文字以内で入力してください。',
                },
                //pass_line:{
                    //required: '合格ラインの設定は必須です。',
                //},
                pass_text1:{
                    required: '合格メッセージは必須です。',
                    maxlength: 'メッセージは100文字以内で入力してください。',
                },
                pass_text2:{
                    maxlength: 'メッセージは100文字以内で入力してください。',
                },
                unpass_text1:{
                    required: '不合格メッセージは必須です。',
                    maxlength: 'メッセージは100文字以内で入力してください。',
                },
                unpass_text2:{
                    maxlength: 'メッセージは100文字以内で入力してください。',
                },
            },


        });

        // -----------------
        // validate 変更
        // -----------------
        $("#parts_update_form").on('keyup change', function(event) {

            // validateForm(): フォームのバリデーションを担当する
            //validateForm('#parts_update_form');


        });


        {% comment %} function validateForm(id) {

            var valid = $(id).validate().checkForm();
            console.log("valid", valid)


            if (valid) {
                $('#parts_test_update_btn').prop('disabled', false);// enables button
            } else {
                $('#parts_test_update_btn').prop('disabled', true);// disables button
            }
        } {% endcomment %}


    });


</script>















{% endblock %}