{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% load widget_tweaks %}

{% block title %}パーツの並び替え | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}

    <!-- jQuery UI CSS -->
    {% comment %} <link rel="stylesheet" href="https:///code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'common/css/jquery-ui.css' %}">

    <!-- jQuery jeditable -->
    {% comment %} <link href="https://min.gitcdn.link/repo/WalterWoshid/jQuery-SimpleEdit/master/dist/jquery-simpleedit/css/jquery-simpleedit.min.css" rel="stylesheet"> {% endcomment %}





    <!-- CSSの読み込み -->
    <style>

    .container {
        max-width: 1140px;
        max-height: 1130px;

        min-width: 1140px;
        min-height: 1130px;
    }

    #sortable {
        width: 100%;
    }

    /*---------------------------------

    for Header
    
    ---------------------------------*/
    
    body {
        font-size: 12px;
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
    }
    
    .navbar-expand .navbar-nav .nav-link {
        padding: 0;
        font-size: 1.5rem;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
    
    .menu_title_size {
        font-size: 1.4rem;
    }
    


    /*---------------------------------

        タイトル、サブタイトル

    ---------------------------------*/


    .cp_h1title{
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 10px;
        text-align: left;
    }
    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }
    .cp_h1title:before{
        border-bottom: 4px solid #4a849a;
        width: 100%;
    }

    .cp_p_title {
        text-align: left;
        font-size: 15px;
        padding-top: 10px;

    }


    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .btn-grp {
        margin: 80px;
    }


    </style>



    <div class="container">


        <div>

            <h3 class="cp_h1title">パーツの並び替え</h3>
            <p class="cp_p_title">・並べ替えたいパーツをドラック＆ドロップで移動することができます。</p>

        </div>

        <div>
            <div class="my-div-style w-10">

                {% for training in trainings %}

                    {% with movie_count=training.movie.all|length %}
                    {% with test_count=training.test.all|length %}
                    {% with questionnaire_count=training.questionnaire.all|length %}

                        <div id="sortable">

                            {% for parts in training.parts.all %}

                                {% if parts.type == 1 %}{% comment %} ファイル {% endcomment %}

                                    <div class="parts_card" id="{{parts.id}}">
                                        <div class="d-flex card_body">

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="">
                                                    <i class="fas fa-file-download menu_icon"></i>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                                <div class="d-flex flex-column">
                                                    <div class="menu_title_size">{{parts.title}}</div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                {% endif %}

                                {% if parts.type == 2 %}{% comment %} 動画 {% endcomment %}

                                    <div class="parts_card" id="{{parts.id}}">
                                        <div class="d-flex card_body">

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="">
                                                    <i class="fas fa-file-video menu_icon"></i>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                                <div class="menu_title_size">{{parts.title}}</div>
                                            </div>

                                        </div>
                                    </div>

                                {% endif %}

                                {% if parts.type == 3 %}{% comment %} テスト {% endcomment %}

                                    <div class="parts_card" id="{{parts.id}}">
                                        <div class="d-flex card_body">

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="">
                                                    <i class="fas fa-file-contract menu_icon"></i>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                                <div class="menu_title_size">{{parts.title}}</div>
                                                <div class="menu_desc_size menu_desc_text">{{parts.description}}</div>
                                            </div>

                                        </div>
                                    </div>

                                {% endif %}

                                {% if parts.type == 4 %}{% comment %} アンケート {% endcomment %}

                                    <div class="parts_card" id="{{parts.id}}">
                                        <div class="d-flex card_body">

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="" >
                                                    <i class="fas fa-file-alt menu_icon"></i>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                                <div class="menu_title_size">{{parts.title}}</div>
                                                <div class="menu_desc_size menu_desc_text">{{parts.description}}</div>
                                            </div>

                                        </div>

                                    </div>

                                    {% endif %}


                            {% endfor %}


                        </div>

                    {% endwith %}
                    {% endwith %}
                    {% endwith %}



                    <div class="d-flex justify-content-center btn-grp">

                        <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3" onclick="window.location.href='{% url 'training:training_edit_menu' training.pk %}'"><span class="my_btn_text">戻る</span></button>

                        <button type="submit" id="test_btn" class="my-btn my-btn-egypt-1 my-btn-w12"><span class="my_btn_text">並び順を変更する</span></button>

                    </div>


                {% endfor %}
            </div>
        </div>
    </div>







{% endblock %}

{% block extra_js %}

    <!-- jquery -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> {% endcomment %}

    <!-- Popper JS -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" Integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> {% endcomment %}


    <!-- bootstrap -->
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/bootstrap.min.js' %}"></script>

    <!----- Validation ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" ></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.validate.js' %}"></script>

    <!-- 日本語のエラーメッセージを読み込み(Validation) -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_ja.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/messages_ja.min.js' %}"></script>

    <!----- 内部アニメーションを行うためのスクリプト Web-Amination.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/web-animations.min.js' %}"></script>

    <!----- ドラッグ操作を有効にする場合のスクリプト Hammer.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/hammer.min.js' %}"></script>

    <!----- muuri.min.js ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script> {% endcomment %}

    <!----- jQuery UI ------>
    {% comment %} <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'common/js/jquery-ui.js' %}"></script>
    {% comment %} <script src="assets/jquery-ui-1.10.1.custom/js/jquery-ui-1.10.1.custom.min.js"></script> {% endcomment %}

    <!-- jQuery jeditable -->
    {% comment %} <script src="https://min.gitcdn.link/repo/WalterWoshid/jQuery-SimpleEdit/master/dist/jquery-simpleedit/js/jquery-simpleedit.min.js"></script> {% endcomment %}





<script>
    // -----------------
    // jQuery UI
    // -----------------

    $(function() {

        // リストを並べ替え可能に
        $('#sortable').sortable({

            // updateで並べ替えるたびに更新
            update: function(event, ui){

                // toArrayで現在の順番を取得し出力
                {% comment %} $("#log").text($('#sortable').sortable("toArray"));
                console.log("log", log) {% endcomment %}

                var serial = $('#sortable').sortable('toArray');
                console.log("並び順1", serial) //  ['model-2', 'model-1', 'model-3', 'model-4', 'model-5']


            }

        });



        // ボタンを押下した場合、Ajaxで送信
        $('#test_btn').off('click') //onイベントの重複イベントを削除
        $('#test_btn').on('click', function() {

            // クリックされました
            console.log("クリックされました");


            {% comment %} serial = $('#sortable').sortable('serialize');
            console.log("serial", serial); {% endcomment %}

            var serial = $('#sortable').sortable('toArray');
            console.log("並び順2", serial)


            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');




            $.ajax({

                type: "POST",
                url: '{% url "training:parts_create" %}',
                data: {
                    'serial': serial,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',

                success: function (data) {

                    console.log("data", data.part_obj)
                    console.log("data", data.training_id)
                    // JSONで返ってきたURLを指定してページを遷移させる
                    //document.location.reload()
                    window.location.href="/training_edit_menu/" + data.training_id

                }
            });

        });



    });





</script>








{% endblock %}
