{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}動画パーツ変更 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}

    <!-- dropzone CSS -->
    <link rel="stylesheet" href="/static/training/css/basic.css" >
    {% comment %} <link rel="stylesheet" href="/static/training/css/dropzone.css" /> {% endcomment %}




<!------------ CSS / jsの読み込み ------------->
<style>

.container {
    max-width: 1140px;
    max-height: 1130px;

    min-width: 1140px;
    min-height: 1130px;
}

/*---------------------------------

for Header

---------------------------------*/

body {
    font-size: 12px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
}

.navbar-expand .navbar-nav .nav-link {
    padding: 0;
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.menu_title_size {
    font-size: 1.4rem;
}

/*---------------------------------

    タイトル、サブタイトル

---------------------------------*/

.cp_h1title{
	position: relative;
	overflow: hidden;
	padding-top: 50px;
    padding-bottom: 10px;
    text-align: left;
}
.cp_h1title::before{
	content: "";
	position: absolute;
	bottom: 0;
}
.cp_h1title:before{
	border-bottom: 4px solid #4a849a;
	width: 100%;
}

.cp_p_title {
    text-align: left;
    font-size: 15px;

}


/*---------------------------------

    テーブル

---------------------------------*/

.movie_parts_create_table {
    width: 100%;
    table-layout: fixed;
}

.movie_parts_create_table th,
.movie_parts_create_table td {
    border: 1px solid #ccc;
    padding: 20px;
}

.movie_parts_create_table th {
    font-weight: bold;
    /*background-color: #dedede;*/
    background-color: #eeeeee;
}

.btn-grp {
    margin: 80px;
}

/*---------------------------------

    必須、任意ラベル

---------------------------------*/
.require_label {
    color: #595959;
    font-size: 1rem;
    margin-top: 3px;
}

.option_label {
    color: #595959;
    font-size: 1rem;
    margin-top: 3px;
}

.required_box {
    width: 100%;
    display: -webkit-inline-box;
    /*display: block;*/
    position: relative;
}


.option_box {
    width: 100%;
    display: -webkit-inline-box;
    position: relative;
}


.required_box::after {
    color: #ffffff;
    font-size: 0.5rem;
    position: absolute;
    right: 3px;
    top: 5px;
    background-color: red;
    border-radius: 3px;
    padding: 2px 3px;
    white-space: nowrap;
    margin-left: 10px;
    content: "必須";

}

.option_box::after {
    color: #ffffff;
    font-size: 0.5rem;
    position: absolute;
    right: 3px;
    top: 5px;
    background-color: #7d8285;
    border-radius: 3px;
    padding: 3px;
    white-space: nowrap;
    margin-left: 10px;
    content: "任意";
}

.name_error_message {
    text-align: left;
    color: red;

}

span.error {
    color: red;
    display: block;
    text-align: left;
}


/*---------------------------------

 for Dropzone previews

---------------------------------*/


    html, body {
        height: 100%;
    }
    #actions {
        margin: 2em 0;
    }

    .expiration_start_date,
    .expiration_end_date {
        font-size: 1rem;
        margin-right: 10px
    }

    .step2 btn, .btn-sm{
        padding: .1rem .4rem;
        font-size: 0.8rem;
        border-color: #808080;
    }

    /* Mimic table appearance */
    div.table {
        display: table;
        table-layout: fixed;
    }
    div.table .file-row {
        display: table-row;
    }
    div.table .file-row > div {
        display: table-cell;
        border-top: 1px solid #ddd;
        padding: 0px 8px;
        vertical-align: middle;
    }

    div.table .file-row > .icon_colum {
        width: 30px;
    }

    .icon_colum > .icon {
        font-size: 1.5rem;
        margin: auto;
    }

    .icon_colum > .xls {
        color: #3A7C19;
    }

    .icon_colum > .doc {
        color: #2B569A;
    }

    .icon_colum > .ppt {
        color: #D24627;
    }

    .icon_colum > .csv {
        color: #3A7C19;
    }

    .icon_colum > .pdf {
        color: #EA412C;
    }

    div.table .file-row > .check_colum {
        width: 36px;
    }

    div.table .file-row > .size_colum {
        width: 70px;
    }

    div.table .file-row > .progress_colum {
        width: 190px;
    }

    div.table .file-row > .button_colum {
        width: 80px;
    }

    div.table .preview-text{
        margin: auto;
    }

    div.table .preview-button {
        text-align: right;
    }

    div.table .preview-button .btn-secondary.disabled, .btn-secondary:disabled {
        pointer-events: none;
        opacity: 0.3;
    }

    div.table .preview-button .btn {
        font-size: 0.5rem;
        padding: 1px 2px;
    }


    div.table .file-row:nth-child(odd) {
        background: #f9f9f9;
    }


    /* The total progress gets shown by event listeners */
    #total-progress {
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
        display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start {
        display: none;
    }
    #previews .file-row.dz-success .cancel,
    #previews .file-row.dz-success .delete {
        display: block;
    }


    .movie_parts_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        margin: 30px;
    }



/*---------------------------------

Dropzone

---------------------------------*/

    /*　外枠　*/
    /*#poster_Dropzone.dropzone {
        padding: 5px;
        width: 1030px;
    }*/

    /*　カーソルを当てた時の動画の詳細　*/
    #poster_Dropzone.dropzone .dz-preview .dz-details{
        top: 40%;
        left: 288%;
    }

    /*　削除リンク　*/
    #poster_Dropzone.dropzone .dz-preview .dz-remove  {
        position: relative;
        left: 288%;
        margin-top: 10px;
    }

    /*　画像　*/
    .dropzone .dz-preview .dz-image img {
        display: block;
        width: 810px;
        height: 600px;
    }

    /*　ドロップゾーンのファイルアップロード、横棒を消す　*/
    #poster_Dropzone .dz-progress {
        display: none;
    }

    /*　ドロップゾーンのファイルのサイズ変更、丸みを消す　*/
    #poster_Dropzone.dropzone .dz-preview .dz-image {
        width: 810px;
        height: 600px;
        border-radius: 0;
    }

    /*　サムネイル、動画アップロードアイコン　*/
    .fa-file-upload {
        color: #999999;
    }


 /* === ボタンを表示するエリア ============================== */
 .switchArea {
    line-height    : 38px;                /* 1行の高さ          */
    letter-spacing : 0;                   /* 文字間             */
    text-align     : center;              /* 文字位置は中央     */
    font-size      : 16px;                /* 文字サイズ         */
  
    position       : relative;            /* 親要素が基点       */
    margin         : auto;                /* 中央寄せ           */
    width          : 111px;               /* ボタンの横幅       */
    background     : #fff;                /* デフォルト背景色   */
  }
  
   /* === チェックボックス ==================================== */
  .switchArea input[type="checkbox"] {
    display        : none;            /* チェックボックス非表示 */
  }
  
   /* === チェックボックスのラベル（標準） ==================== */
  .switchArea label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    height         : 38px;                /* ボタンの高さ       */
    border         : 2px solid #999999;   /* 未選択タブのの枠線 */
    border-radius  : 19px;                /* 角丸               */
  }
  
   /* === チェックボックスのラベル（ONのとき） ================ */
  .switchArea input[type="checkbox"]:checked +label {
    border-color   : #4a849a;             /* 選択タブの枠線     */
  }
  
   /* === 表示する文字（標準） ================================ */
  .switchArea label span:after{
    content        : "任意";               /* 表示する文字       */
    padding        : 0 0 0 22px;          /* 表示する位置       */
    color          : #999999;             /* 文字色             */
  }
  
   /* === 表示する文字（ONのとき） ============================ */
  .switchArea  input[type="checkbox"]:checked + label span:after{
    content        : "必須";                /* 表示する文字       */
    padding        : 0 22px 0 0;          /* 表示する位置       */
    color          : #4a849a;             /* 文字色             */
  }
  
   /* === 丸部分のSTYLE（標準） =============================== */
  .switchArea #swImg {
    position       : absolute;            /* 親要素からの相対位置*/
    width          : 30px;                /* 丸の横幅           */
    height         : 30px;                /* 丸の高さ           */
    background     : #999999;             /* カーソルタブの背景 */
    top            : 4px;                 /* 親要素からの位置   */
    left           : 4px;                 /* 親要素からの位置   */
    border-radius  : 15px;                /* 角丸               */
    transition     : .2s;                 /* 滑らか変化         */
  }
  
   /* === 丸部分のSTYLE（ONのとき） =========================== */
  .switchArea input[type="checkbox"]:checked ~ #swImg {
    transform      : translateX(73px);    /* 丸も右へ移動       */
    background     : #4a849a;             /* カーソルタブの背景 */
  }


/*---------------------------------

    テキストエリア

---------------------------------*/

    textarea {
        resize: none;
        width:300px;
        height:200px;
    }

</style>








    <div class="container">

        <div>
            <h3 class="cp_h1title">動画パーツ変更</h3>
            <p class="cp_p_title m-0 pt-2">・【必須】がついている項目は必須です。必ず入力してください。</p>
            <p class="cp_p_title m-0 pb-4">・【受講の任意/必須】という項目ではトレーニングの受講を必須とするかどうかを設定します。</p>

            <!-- 存在確認のエラー -->
            <div>
                {% for error in form.title.errors %}
                <p class="name_error_message">
                    {{ error }}
                </p>
                {% endfor %}
            </div>

        </div>


        <div class="my-div-style w-100">

            <form method="POST" enctype='multipart/form-data' id="movie_parts_create_form">

                <!-- 登録フォームを表示 -->
                {% csrf_token %}

                <table class="movie_parts_create_table">

                    <tbody>
                        <!-- 順番 -->
                        <tr class="hidden" style="display:none;">
                            <th style="width: 200px;">{{ form.order.label_tag }}</th>
                            <td>{% render_field form.order class="form-control is_primary" placeholder="順番を入力してください" %}</td>
                        </tr>

                        <!-- タイプ 非表示にしている-->
                        <tr  class="hidden" style="display:none; width: 200px;">
                            <th>{{ form.type.label_tag }}</th>
                            <td>{% render_field form.type class="form-control is_primary" placeholder="タイプを入力してください" %}</td>
                        </tr>

                        <!-- タイトル＆必須ラベル -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">タイトル</div>
                                </div>
                            </th>

                            <td colspan="3">
                                {% render_field form.title class="form-control is_primary" placeholder="タイトルを入力してください" %}
                            </td>

                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label require_label">受講の任意/必須</div>
                                </div>
                            </th>
                            <td colspan="1" class="text-center">
                                <div class="switchArea">
                                    {% render_field form.is_required class="is_primary" id="switch1" %}
                                    <label for="switch1"><span></span></label>
                                    <div id="swImg"></div>
                                </div>

                            </td>


                        </tr>

                        <!-- 説明 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">説明文</div>
                                </div>
                            </th>

                            <td colspan="5">
                                {% render_field form.description class="form-control" placeholder="説明文を入力してください" %}
                            </td>
                        </tr>

                        <!-- 所要時間 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label option_label">所要時間</div>
                                </div>
                            </th>

                            <td colspan="5">
                                {% render_field form.duration class="form-control" placeholder="所要時間を入力してください。例)5分" %}
                            </td>
                        </tr>

                        <!-- ポスター -->
                        <tr>
                            <!-- ポスターのドラッグアンドドロップ部 -->

                                <th style="width: 200px">
                                    <div class="option_box">
                                        <div class="label require_label">サムネイル<br>アップロード</div>
                                    </div>
                                </th>

                                <td colspan="5">

                                    <div id="poster_Dropzone" class="dropzone" name="poster">

                                        <div class="fallback">
                                            <input name="poster" type="file"/>
                                        </div>

                                    </div>

                                    <!-- ドラッグアンドドロップしたファイルのリスト表示部 -->
                                    <div class="table table-striped m-0" class="files" id="poster_previews">

                                        <div id="template" class="file-row">

                                            <!-- This is used as the file preview template -->
                                            <div class="icon_colum">
                                                <div class="preview"></div>
                                            </div>

                                            <div class="name_colum">
                                                <span class="name preview-text" data-dz-name></span>
                                                <strong class="error text-danger" data-dz-errormessage></strong>
                                            </div>

                                            <div class="size_colum">
                                                <span class="size preview-text" data-dz-size></span>
                                            </div>

                                            <div class="check_colum">
                                                <div class="btn-group delete_checkbox" data-toggle="parts_movie_delete_checkbox">
                                                    <label class="text btn" data-toggle="tooltip" title="削除">
                                                        <input type="checkbox" name="del_file" class="delete_checkbox"><i class="far fa-square fa-2x"></i><i class="far fa-check-square fa-2x"></i>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="preview-button preview-text button_colum">
                                                <button data-dz-remove class="btn btn-secondary my-btn-w3 cancel">
                                                    <!-- <i class="glyphicon glyphicon-ban-circle"></i> -->
                                                    <span class="preview-button-text">取消</span>
                                                </button>
                                            </div>

                                        </div>

                                    </div>

                                    <div id="validation-error-poster"></div>

                                </td>

                        </tr>




                        <!-- ファイルのドラッグアンドドロップ部 -->
                        <tr>
                            <th style="width: 200px">
                                <div class="required_box">
                                    <div class="label require_label">動画<br>アップロード</div>
                                </div>
                            </th>

                            <td colspan="5">

                                <div id="myDropzone" class="dropzone" name="movie">

                                    <div class="fallback">
                                        <input name="movie" type="file"/>
                                    </div>

                                </div>

                                <!-- ドラッグアンドドロップしたファイルのリスト表示部 -->
                                <div class="table table-striped m-0" class="files" id="previews">

                                    <div id="template" class="file-row">

                                        <!-- This is used as the file preview template -->
                                        <div class="icon_colum">
                                            <div class="preview"></div>
                                        </div>

                                        <div class="name_colum">
                                            <span class="name preview-text" data-dz-name></span>
                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                        </div>

                                        <div class="size_colum">
                                            <span class="size preview-text" data-dz-size></span>
                                        </div>

                                        {% comment %} <div class="check_colum">
                                            <div class="btn-group delete_checkbox" data-toggle="parts_movie_delete_checkbox">
                                                <label class="text btn" data-toggle="tooltip" title="削除">
                                                    <input type="checkbox" name="del_file" class="delete_checkbox"><i class="far fa-square fa-2x"></i><i class="far fa-check-square fa-2x"></i>
                                                </label>
                                            </div>
                                        </div> {% endcomment %}

                                        <!-- 削除ボタン -->
                                        {% comment %} <div class="preview-button preview-text button_colum">
                                            <button data-dz-remove class="btn btn-secondary my-btn-w3 cancel">
                                                <!-- <i class="glyphicon glyphicon-ban-circle"></i> -->
                                                <span class="preview-button-text">取消</span>
                                            </button>
                                        </div> {% endcomment %}

                                    </div>

                                </div>

                                <div id="validation-error"></div>

                            </td>

                        </tr>

                    </tbody>

                </table>

                <div class="d-flex justify-content-center btn-grp">

                    <!-- トレーニング編集ページへ遷移 -->
                    <a href="{{request.META.HTTP_REFERER}}">
                        <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3"><span class="my_btn_text">戻る</span></button>
                    </a>

                    <button type="submit" id="movie_parts_update_btn" class="my-btn my-btn-egypt-1 my-btn-w12" disabled><span class="my_btn_text">変更</span></button>


                </div>

            </form>

        </div>

    </div>













{% endblock %}

{% block extra_js %}

    <!-- jquery -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!----- Validation ------>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" ></script>

    <!-- 日本語のエラーメッセージを読み込み(Validation) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_ja.min.js"></script>

    <!----- 内部アニメーションを行うためのスクリプト Web-Amination.js ------>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script>

    <!----- ドラッグ操作を有効にする場合のスクリプト Hammer.js ------>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

    <!----- muuri.min.js ------>
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>

    <!----- jQuery UI ------>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <!----- dropzone ------>
    <script src="/static/training/js/dropzone.js" ></script> {% endcomment %}


<script>

    // -----------------
    // form全体のバリデーションチェック
    // -----------------
    function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)

        return valid

    }


    // -----------------
    // .serialize()でformのデータを保存して
    // 変更ごとに値が一致するかどうかを確認する
    // -----------------

    $(function(){

        $('form')
        .each(function(){
            $(this).data('serialized', $(this).serialize())
            console.log("serialized", $(this).data('serialized', $(this).serialize()))
        })

        .on('change dp.change input', function(){

            // formの入力が正しく行われている場合
            if(validateForm('#movie_parts_create_form')){

                // 入力前の値と入力後の値が一致した場合
                if($(this).serialize() == $(this).data('serialized')){

                    console.log("入力前の値と入力後の値が一致");

                    // 動画 / ポスターがアップロードされた場合
                    if(file_changed || poster_changed){
                        console.log("file_changed/poster_changedはtrueです")

                        $(this)
                        .find('input:submit, button:submit')
                            .prop('disabled', false)// どちらか一方のフラグがtrueであればボタンを有効にする
                        ;

                    }else{
                        console.log("file_changed/poster_changedはfalseです")

                        $(this)
                        .find('input:submit, button:submit')
                            .prop('disabled', true)// ボタンを無効にする
                        ;
                    }

                }else{

                    console.log("入力前の値と入力後の値が不一致");

                    $(this)
                    .find('input:submit, button:submit')
                        .prop('disabled', false)// ボタンを有効にする
                    ;
                }
            // 正しく行われていない場合
            }else{
                $('#movie_parts_update_btn').prop('disabled', true);// ボタンを無効にする
            }

        })
        .find('input:submit, button:submit')
            .prop('disabled', true);

    })

</script>


<script>

    // -----------------
    // Dropzone.jsの設定
    // -----------------

    // Dropzoneの自動検出を無効
    Dropzone.autoDiscover = false;

    // デフォルトメッセージを変更
    Dropzone.prototype.defaultOptions.dictRemoveFile = "取消し";

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the document
    var previewNode = document.querySelector("#template");
    // #templateというIDがあるときのみ処理
    if (previewNode) {
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);
    }

    // ページ読み込み前に事前にアップロードされたファイルをサーバ側から読み込む
    // escapejsでjsonとして受け取ることができる。受け取った情報はdist_fileというjavascript側の変数に入る
    var dist_file = "{{dist_file|escapejs}}";// ※functionの外で受け取ることに注意

    // json形式になっているか確認
    //console.log("------ dist_fileの形式確認 -----", dist_file)

    var currentFile = null;

    // ファイルがアップロードされているか検知する用のフラグ
    var file_changed = false;


    // 動画
    $(function() {

        // 5秒後にエラーメッセージを消す関数
        function messageTimer(){
            $('#validation-error').fadeIn("slow", function () {
                //コールバックで5秒後にフェードアウト
                $(this).delay(5000).fadeOut("slow");
            });
        }

        $("div#myDropzone").dropzone({// id指定

            // 設定と処理
            url: "{% url 'training:movie_upload' %}",
            params: {'csrfmiddlewaretoken': getCookie('csrftoken')},
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            paramName: "file",
            maxFiles: 1,
            maxFilesize: 500,
            timeout: 7200000, // 2h //milliseconds

            acceptedFiles: 'video/mp4',
            //acceptedFiles: 'video/*',
            dictDefaultMessage: '<i class="fas fa-file-upload fa-5x dropzone_upload_icon"></i><br /><br />ドラッグ&ドロップまたはクリック',
            dictMaxFilesExceeded: "アップロードできる動画ファイルは1ファイルまでです。",
            // タイプが違う
            dictInvalidFileType: "アップロードしようとしたファイルの形式はサポートされていません。mp4形式の動画ファイルをアップロードしてください。",
            // サイズが大きい
            dictFileTooBig: "アップロードしようとしたファイルのサイズが大きすぎます。",
            dictUploadCanceled: "アップロードをキャンセルしました。",//
            dictCancelUploadConfirmation: "アップロードをキャンセルしますか？",//
            previewTemplate: previewTemplate,
            previewsContainer: "#previews",

            // ファイルの削除ボタン
            //addRemoveLinks: true,



            // The setting up of the dropzone
            init: function() {

                var myDropzone = this;

                // mockFileで表示しているファイルの削除用のフラグを立てる
                var is_uploaded_file = 0;

                // ドラッグ&ドロップ領域以外にファイルをドラッグ&ドロップしても反応しないようにする
                $(document).on('drop dragover', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                });

                // 動画
                // ファイルを追加したときの処理
                myDropzone.on("addedfile", function(file) {

                    console.log("動画ファイルが追加されました");

                    $('#validation-error').html('');// エラーメッセージを削除

                    //console.log("file",file.status)
                    console.log("this.files",this)// ユーザーがドラック＆ドロップしたファイルしか値が入らない
                    console.log("is_uploaded_file", is_uploaded_file)
                    console.log("currentFile 前のファイル",currentFile)

                    if (file.status == "added") {
                        file_changed = true;
                        $('#movie_parts_update_btn').prop('disabled', false);// ボタンを有効にする
                    }

                    // サーバー上で作られたmockFileを削除する
                    if (currentFile) {
                        console.log("currentFileが削除されたよ")
                        this.removeFile(currentFile);
                    }

                    // 新しく追加したファイルが代入される
                    currentFile = file;
                    console.log("currentFile 今のファイル",currentFile)

                    // 削除ボタンを押したときにファイルのIDをfile_up_namesに追加
                    //file_up_names.push(file.pk);
                    //console.log('file_up_names 動画', file_up_names);

                    // ファイル名から拡張子を取得する
                    var ext = checkFileExt(file.name); // Get extension
                    //console.log("ext", ext);

                    // ランダムな文字を生成する
                    var gendelclass = getUniqueStr()

                    // アイコンを表示するカラムのクラスをランダムに変更する。
                    {% comment %} $(".delete_checkbox").removeClass().addClass(gendelclass);
                    if (file.pk) {
                        // ファイルIDをセット
                        $('.' + gendelclass).removeClass().attr("value", file.pk);
                        // 親要素を削除
                        $('#previews div.preview-button.preview-text.button_colum > button').remove();
                    } else {
                        // チェックボックス要素を削除
                        $('.' + gendelclass).remove();
                    } {% endcomment %}


                    // ランダムな文字を生成する
                    var genclass = getUniqueStr()

                    // アイコンを表示するカラムのクラスをランダムに変更する。
                    $(".preview").removeClass().addClass(genclass);


                    switch (ext) {
                        // エクセル系
                        case 'xls':
                        case 'xlsx':
                            $('.' + genclass).addClass("icon xls");
                            $('.' + genclass).append('<i class="far fa-file-excel"></i>');
                            break;

                        // ワード系
                        case 'doc':
                        case 'docx':
                            $('.' + genclass).addClass("icon doc");
                            $('.' + genclass).append('<i class="far fa-file-word"></i>');
                            break;

                        // パワーポイント系
                        case 'ppt':
                        case 'pptx':
                            $('.' + genclass).addClass("icon ppt");
                            $('.' + genclass).append('<i class="far fa-file-powerpoint"></i>');
                            break;

                        // 写真系
                        case 'png':
                        case 'jpg':
                        case 'jpeg':
                        case 'svg':
                        case 'gif':
                        case 'tiff':
                        case 'bmp':
                            $('.' + genclass).addClass("icon img");
                            $('.' + genclass).append('<i class="far fa-file-image"></i>');
                            break;

                        // 音声系
                        case 'mp3':
                        case 'wma':
                        case 'aac':
                        case 'ogg':
                        case 'mov':
                        case 'm4a':
                        case 'mkv':
                        case 'flac':
                        case 'wav':
                        case 'aif':
                            $('.' + genclass).addClass("icon audio");
                            $('.' + genclass).append('<i class="far fa-file-audio"></i>');
                            break;

                        // 動画系
                        case 'mp4':
                        case 'mov':
                        case 'mpg':
                        case 'mpeg':
                        case 'avi':
                        case 'wmv':
                        case 'webm':
                        case 'flv':
                        case 'mkv':
                            $('.' + genclass).addClass("icon vido");
                            $('.' + genclass).append('<i class="far fa-file-video"></i>');
                            break;

                        // アーカイブ系
                        case 'zip':
                        case 'lzh':
                        case 'cab':
                        case 'tar':
                        case 'gz':
                        case 'tgz':
                            $('.' + genclass).addClass("icon arc");
                            $('.' + genclass).append('<i class="far fa-file-archive"></i>');
                            break;

                        // PDF
                        case 'pdf':
                            $('.' + genclass).addClass("icon pdf");
                            $('.' + genclass).append('<i class="far fa-file-pdf"></i>');
                            break;

                        // その他
                        default:
                            $('.' + genclass).addClass("icon");
                            $('.' + genclass).append('<i class="far fa-file"></i>');
                            break;
                        }

                        // 追加フラグをたてる
                        if (this.files.length > 0) {
                            addflug = true;
                            console.log("---- addflug = true; ----")
                        } else {
                            addflug = false;
                            console.log("---- addflug = false; ----")
                        }

                        {% comment %} // ビデオプレビュー
                        var $previewEl = $("#preview");
                        console.log("previewEl", $previewEl)

                        if ($previewEl[0].canPlayType(file.type) !== "no"){

                            var fileURL = URL.createObjectURL(file);
                            console.log("fileURL", fileURL)

                            $(previewEl).one('loadeddata', function(){

                                URL.revokeObjectURL(fileURL);

                            });

                            previewEl[0].src = fileURL;
                        } {% endcomment %}

                }); // end addfile event




                // 確定ボタンを押下したらファイルをアップロード
                $("#movie_parts_update_btn").click(function (e) {

                    if (addflug) {

                        //console.log("---- addflug if ----")

                        // フラグがtrueの時はファイルアップロードを実行
                        e.preventDefault();
                        // キューを実行、ファイルアップデートviewで処理が行われる
                        myDropzone.processQueue();

                        /////////////////////
                        // 行単位のリンク  //
                        /////////////////////
                        // ローディング開始
                        loadingView(true);
                        console.log("ローディング開始")

                        $('#movie_parts_update_btn').prop('disabled', true);

                        setTimeout(function(){
                            console.log("ローディング終了")
                            loadingView(false);
                            $('#movie_parts_update_btn').prop('disabled', false);
                        },10000);





                    } else {
                        //console.log("---- addflug else ----")

                        // フラグがfalseの時はメッセージ等の保存を実行
                        document.myform.submit();
                        window.opener.focus();
                    }
                });

                // サーバ上にあるファイルを描画する。
                // StringとなっているのでJSONに変換
                // dist_fileはHTMLのScriptタグで取得（Viewのコンテキストとして取得）

                // dist_fileがあるかないかの判断をする
                console.log("dist_file", dist_file)

                if (dist_file != "None") {

                    // 削除用のフラグに1を代入
                    is_uploaded_file = 1;

                    // js側でjson形式に加工する
                    dist_file_json = JSON.parse(dist_file);
                    console.log("---- dist_file_json 動画 ----", dist_file_json)

                    // dist_file_jsonをループで取り出す
                    for (var i = 0; i < dist_file_json.length; i++) {

                        // サーバー側にあるアップロードされた情報のファイルの元ネタを作成
                        var mockFile = { name: dist_file_json[i].fields.name, size: dist_file_json[i].fields.size, pk:dist_file_json[i].pk};
                        console.log("---- mockFile 動画 ----", mockFile)

                        // mockFileを使ってaddfileイベントを発火し拡張子等のチェックを行う。
                        // ユーザーがDropzoneのドラッグ＆ドロップの領域に対してドラッグ＆ドロップしたときと同じ処理が走るイメージ
                        myDropzone.emit("addedfile", mockFile);

                        // thumbnailイベントを発火しパスの情報を紐付ける
                        myDropzone.emit("thumbnail", mockFile, dist_file_json[i].fields.file);

                    }

                }

            }, //end init




            // 上限数を超えたときに行われる処理
            maxfilesexceeded:  function(file) {
                // 上限数を超えたファイルは削除する
                console.log('maxfilesexceeded');
            },
            // アップロード成功時の処理
            successmultiple: function(file, response){

                console.log('successmultiple 動画');

                $('#movie_parts_create_form').submit();
                $(file.previewTemplate).append('<span class="server_file">'+response.path+'</span>');
                window.opener.focus();
            },
            // アップロード失敗時にメッセージを表示する。
            error: function(file, response, xhr){

                console.log('error');

                //　動画ファイルのサイズが大きいメッセージを出す
                $('#validation-error').html('<div class="alert alert-danger" role="alert">' + response + '</div>');

                messageTimer();

                // フロントエンドでエラーが発生した場合。(サーバからのレスポンスがないエラー)
                if (xhr == null) {
                    $('#validation-error').html('<div class="alert alert-danger" role="alert">' + response + '</div>');//　動画ファイルのタイプが違うメッセージを出す
                    this.removeFile(file);// アップロードされたファイルを削除する

                    // 2つ以上のファイルアップロードの場合
                    {% comment %} if (response == "You can not upload any more files.") {
                        // エラーを表示しない
                        // message
                        this.removeFile(file);
                        $('#validation-error').html('<div class="alert alert-danger" role="alert"> SSSS</div>');

                    }else if (response == "You can't upload files of this type.") {
                        this.removeFile(file);
                        $('#validation-error').html('<div class="alert alert-danger" role="alert"> タイプが違います</div>');
                    } else {
                        $('#validation-error').html('<div class="alert alert-danger" role="alert">' + response + '</div>');//ファイル数の制限
                    } {% endcomment %}

                // サーバーからレスポンスが帰ってきた場合(サーバ側でエラーが発生した場合)
                } else {
                    $('#validation-error').html('<div class="alert alert-danger" role="alert">' + xhr.statusText + '</div>');
                }
            },

            {% comment %} removedfile:function(file){

                console.log('削除ボタンが押された');

                var ref;
                (ref = file.previewElement) != null ? ref.parentNode.removeChild(file.previewElement) : void 0;
                console.log("ref", ref);

                //$.ajax({
                    //url: "{% url 'training:movie_delete' %}", //your php file path to remove specified image
                    //type: "POST",
                    //data: {
                        //movie_pk: file.pk,
                        //type: 'delete',

                    //},
                //});

                // 配列の最後の要素を削除する
                var newArray = file_up_names.pop();
                console.log('file_up_names 削除後', file_up_names);

            } {% endcomment %}





        });


        Dropzone.options.myAwesomeDropzone = {

            accept: function(file, done) {
                console.log("uploaded");
                done();
            },

            addRemoveLinks: true,

            init: function() {
                this.on("addedfile", function() {
                    if (this.files[1]!=null){
                        console.log("ポスター、ifに落ちたよ");
                        this.removeFile(this.files[0]);
                    }
                });

            }
        };


        // ファイルの拡張子を取得する。
        function checkFileExt(filename){
            filename = filename.toLowerCase();
            return filename.split('.').pop();
        }


        // ランダムな値を生成
        function getUniqueStr(myStrong){
            var strong = 1000;
            if (myStrong) strong = myStrong;
            return new Date().getTime().toString(16) + Math.floor(strong*Math.random()).toString(16)
        }




    });



</script>





<script>

    // -----------------
    // Dropzone.jsの設定
    // -----------------

    // Dropzoneの自動検出を無効
    Dropzone.autoDiscover = false;

    // デフォルトメッセージを変更
    Dropzone.prototype.defaultOptions.dictRemoveFile = "取消し";



    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the document
    var previewNode = document.querySelector("#template");
    // #templateというIDがあるときのみ処理
    if (previewNode) {
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);
    }


    // ページ読み込み前に事前にアップロードされたファイルをサーバ側から読み込む
    // escapejsでjsonとして受け取ることができる。受け取った情報はdist_fileというjavascript側の変数に入る
    var dist_poster = "{{dist_poster|escapejs}}";// ※functionの外で受け取ることに注意

    // json形式になっているか確認
    //console.log("------ dist_posterの形式確認 -----", dist_poster)

    var file_up_names=[];

    // ポスターがアップロードされているか検知する用のフラグ
    var poster_changed = false;

    // ポスター
    $(function() {
        $("div#poster_Dropzone").dropzone({// id指定
            // 設定と処理
            url: "{% url 'training:poster_upload' %}",
            params: {'csrfmiddlewaretoken': getCookie('csrftoken')},
            autoProcessQueue: true,
            uploadMultiple: true,// url:で指定されたURLに自動的にアップロードされる
            parallelUploads: 100,
            maxFiles: 1,
            maxFilesize: 2,
            timeout: 7200000, // 2h //milliseconds

            paramName: "file",
            acceptedFiles: 'image/*',
            dictDefaultMessage: '<i class="fas fa-file-upload fa-5x dropzone_upload_icon"></i><br /><br />ドラッグ&ドロップまたはクリック',
            dictMaxFilesExceeded: "アップロードできるファイルは1ファイルまでです。",
            dictUploadCanceled: "アップロードをキャンセルしました。",
            dictCancelUploadConfirmation: "アップロードをキャンセルしますか？",
            // タイプが違いますのdictを調べる
            dictInvalidFileType: "アップロードしようとした画像の形式はサポートされていません。",
            // サイズが大きい
            dictFileTooBig: "アップロードしようとしたファイルのサイズが大きすぎます。",

            // ファイルの削除ボタン
            addRemoveLinks: true,
            thumbnailWidth: 1000,
            thumbnailHeight: 600,


            // The setting up of the dropzone
            init: function() {

                var myDropzone = this;

                // ドラッグ&ドロップ領域以外にファイルをドラッグ&ドロップしても反応しないようにする
                $(document).on('drop dragover', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                });


                // ファイルを追加したときの処理
                myDropzone.on("addedfile", function(file) {

                    console.log("ポスターが追加されました");
                    //console.log("checkFilesize", file[0]);

                    console.log("ポスター",file.status)

                    if (file.status == "added") {
                        poster_changed = true;
                        $('#movie_parts_update_btn').prop('disabled', false);// ボタンを有効にする
                    }

                    $('#validation-error-poster').html('');// エラーメッセージを削除

                }); // end addfile event


                // サーバ上にあるファイルを描画する。
                // StringとなっているのでJSONに変換
                // dist_fileはHTMLのScriptタグで取得（Viewのコンテキストとして取得）

                //console.log("dist_poster1", dist_poster)

                // dist_posterがNoneじゃあなかった場合
                if (dist_poster != "None") {
                    dist_poster_json = JSON.parse(dist_poster);
                    //console.log("---- dist_file_json ポスター ----", dist_poster_json)

                    // dist_file_jsonをループで取り出す
                    for (var i = 0; i < dist_poster_json.length; i++) {

                        var fileSize = dist_poster_json[i].filesize
                        //console.log("---- fileSize ポスター2 ----", dist_poster_json[i].size)

                        var mockFile = { name: dist_poster_json[i].fields.name, size: dist_poster_json[i].fields.size, pk:dist_poster_json[i].pk, poster:dist_poster_json[i].fields.poster, type:dist_poster_json[i].fields.type};
                        console.log("---- mockFile ポスター ----", mockFile)

                        // addfileイベントを発火し拡張子等のチェックを行う
                        myDropzone.emit("addedfile", mockFile);

                        // thumbnailイベントを発火しパスを紐付ける
                        myDropzone.emit("thumbnail", mockFile, "/media/" + dist_poster_json[i].fields.poster);
                        //myDropzone.createThumbnailFromUrl(mockFile, dist_poster_json[i].fields.poster);

                        file_up_names.push(dist_poster_json[i].pk);
                        console.log('file_up_names ポスター1', file_up_names);
        

                    }
                }

            }, //end init


            // アップロードが完了したときに行われる処理
            maxfilesexceeded:  function(file) {

                console.log('ポスターmaxfilesexceeded');

                // 上限数を超えたファイルは削除する
                this.removeFile(file);

            },

            // アップロード成功時の処理
            successmultiple: function(file, response){

                console.log('ポスターsuccessmultiple');

                //$('#movie_parts_create_form').submit();

                file_up_names.push(response);
                console.log('file_up_names ポスター2', file_up_names);


                //window.opener.focus();
            },
            // アップロード失敗時にメッセージを表示する。
            error: function(file, response, xhr){

                // フロントエンドでエラーが発生した場合。(サーバからのレスポンスがないエラー)
                if (xhr == null) {

                    //　動画ファイルのタイプが違うメッセージを出す
                    $('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + response + '</div>');

                    // アップロードされたファイルを削除する
                    this.removeFile(file);

                // サーバーからレスポンスが帰ってきた場合(サーバ側でエラーが発生した場合)
                } else {
                    $('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + xhr.statusText + '</div>');
                }
            },

            removedfile:function(file){

                // 削除ボタンを押下した場合、Ajaxで送信
                var ref;
                (ref = file.previewElement) != null ? ref.parentNode.removeChild(file.previewElement) : void 0;

                console.log('file_up_names', file_up_names);

                for(var i=0;i<file_up_names.length;++i){

                    //if(file_up_names[i]==file.pk) {

                        //console.log('名前が一致したよ');

                        $.ajax({
                            url: "{% url 'training:poster_delete' %}", //your php file path to remove specified image
                            type: "POST",
                            data: {
                                file_name: file_up_names[i],
                                type: 'delete',
                            },
                        });

                    //} else {
                       // console.log('名前が一致しなかったよ');
                    //}
                }


            }



        });








    });



</script>














<script>

$(document).ready(function() {

    // -----------------
    // validateのoption作成
    // -----------------
    $('#movie_parts_create_form').validate({

        errorElement: "span",// labelがspanにかわる

        //入力欄別にルールを作成　※nameを指定すること
        rules:{

            title:{
                required: true,
                maxlength: 29,
            },
            description:{
                required: true,
                maxlength: 100,
            },

        },
        // エラーメッセージを設定
        messages:{

            title:{
                required: 'タイトルは必須です。',
                maxlength: 'タイトルは29文字以内で入力してください。',
            },
            description:{
                required: '説明文は必須です。',
                maxlength: '説明文は100文字以内で入力してください。',
            },

        },


    });



    // -----------------
    // validate 変更
    // -----------------
    $("#movie_parts_create_form").on('keyup change', function(event) {


        // validateForm(): フォームのバリデーションを担当する
        //validateForm('#movie_parts_create_form');


    });


    {% comment %} function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)


        if (valid) {
            $('#movie_parts_update_btn').prop('disabled', false);// enables button
        } else {
            $('#movie_parts_update_btn').prop('disabled', true);// disables button
        }
    } {% endcomment %}


});


</script>






{% endblock %}
