
{% extends "common/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% load set_order %}

{% block title %}アンケート | {{ block.super }}{% endblock %}


{% block content %}


    <div class="container-fluid mb-5">

        <div class="p-3 form_confirm_color">

            <!-- 確認メッセージ -->
            <div class="alert alert-green" role="alert">内容をご確認ください</div>

            <div class="questionnaire_dict" hidden>{{questionnaire_dict_json}}</div>


                <div class="card">
                    <div class="d-flex flex-column card_header">

                        <div class="d-none d-inline-block mt-3 ml-4 mb-0">
                            <div class="test_title_size">{{questionnaire.title_detail}}</div>
                        </div>
                        <div class="d-none d-inline-block mt-0 ml-4 mb-0">
                            <div class="test_desc_size">{{questionnaire.description_detail|safe}}</div>
                        </div>

                        <div class="d-none d-inline-block mt-0 ml-4 mb-3">
                            {% comment %} <div>多肢選択の項目は必須、自由入力形式の項目は任意となっています。</div> {% endcomment %}
                        </div>

                    </div>
                </div>




                <form id="myfrom" action="" method="post" class="needs-validation" novalidate>{% csrf_token %}

                    {% for question in questionnaire.questionnairequestion_set.all %}

                        <!-- 設問 -->
                        <div class="d-flex align-items-center">

                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                <div class="test_question_text_size">{{ forloop.counter }}.{{question.text|safe}}</div>

                                <!-- 画像を表示 -->
                                {% if question.image.all|length == 0 %}
                                    <!-- 表示しない -->
                                {% else %}
                                    <!-- 表示する -->
                                    <div class="flex_Box">
                                        <!-- .ManyToManyFieldで繋いだものをTemplateに表示する -->
                                        {% for image in question.image.all %}
                                            <img src="{{ image.image.url }}" class="image" width="350" height="200">
                                        {% endfor %}
                                    </div>

                                {% endif %}

                            </div>

                        </div>


                        {% comment %} <div class="form-group">

                            {% for choice in question.questionnairechoice_set.all|set_order:"order" %}


                                <div class="card mt-1">

                                    <div class="d-flex align-items-center">

                                        <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                            <div class="test_chice_text_size"><input class="question{{ question.id }}" type="{{question.is_type}}" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                        </div>


                                        <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                            <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice.order}}.{{choice}}</label>
                                        </div>

                                    </div>

                                </div>

                            {% endfor %}

                        </div> {% endcomment %}



                        {% if question.is_multiple_questionnaire == 1 %}
                            <div class="form-group">

                                {% for choice in question.questionnairechoice_set.all|set_order:"order" %}

                                    <div class="card mt-1">

                                        <div class="d-flex align-items-center">

                                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                {% comment %} <div class="test_chice_text_size"><input class="question{{ question.id }}" type="{{question.is_type}}" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div> {% endcomment %}
                                                <div class="test_chice_text_size"><input class="question{{ question.id }}" type="radio" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                            </div>

                                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice.order}}.{{choice}}</label>
                                            </div>

                                        </div>

                                    </div>

                                {% endfor %}

                            </div>

                        {% comment %} {% elif question.is_type == "checkbox" %} {% endcomment %}
                        {% elif question.is_multiple_questionnaire == 2 %}

                            <div class="form-group">

                                {% for choice in question.questionnairechoice_set.all|set_order:"order" %}

                                    <div class="card mt-1">

                                        <div class="d-flex align-items-center">

                                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="test_chice_text_size"><input class="question{{ question.id }}" type="checkbox" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                            </div>

                                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice.order}}.{{choice}}</label>
                                            </div>

                                        </div>

                                    </div>

                                {% endfor %}

                            </div>


                        {% comment %} {% elif question.is_type == "textarea" %} {% endcomment %}
                        {% elif question.is_multiple_questionnaire == 3 %}

                            <div class="form-group mb-0">

                                <div class="card mt-1">

                                    <div class="d-none d-md-inline-block mt-3 ml-2 mb-3 mr-2">
                                        <div class="test_chice_text_size"><textarea class="question{{ question.id }}" style="width:100%" rows="10" type="{{question.is_type}}" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required readonly></textarea>
                                    </div>

                                </div>

                            </div>

                        {% endif %}




                        {% comment %} {% if question.is_multiple_questionnaire == 3 %}

                            <div class="form-group">

                                <div class="card mt-1">

                                    <div class="d-none d-md-inline-block mt-2 ml-2 mb-2 mr-2">
                                        <div class="test_chice_text_size"><textarea class="question{{ question.id }}" style="width:100%" rows="10" type="{{question.is_type}}" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></textarea>
                                    </div>

                                </div>

                            </div>

                        {% endif %} {% endcomment %}


                    {% endfor %}

            </div>


<!-- baseで定義している id="wrapper"とcontents-wrapperのDiv閉じ -->
    </div>
</div>


                <!--　ボタン xs（横幅576px）で【A】、それ以上は【B】を表示 -->
                <div class="mt-5">
                    <div class="d-flex justify-content-center btn-grp">

                        <!-- 【B】 -->
                        <div>
                            <button type="button" class="my-btn my-btn-gray-2 my-btn-block my-btn-w25 mr-2 questionnaire_form_confirm_return_btn" onclick="location.href='{% url 'training:questionnaire' questionnaire.id %}'" ><span class="text">戻る</span></button>
                        </div>
                        <div>
                            <button type="button" onclick="submit();" class="my-btn my-btn-egypt-1 my-btn-block my-btn-w25 questionnaire_form_confirm_btn" ><span>登録</span></button>
                        </div>

                        <!-- 【A】 -->
                        <div class="d-block d-sm-none">
                            <div class="btn-group d-flex">
                                <button type="button" class="my-btn my-btn-gray-2 my-btn-block my-btn-w8 mr-2 questionnaire_form_confirm_return_btn" onclick="location.href='{% url 'training:questionnaire' questionnaire.id %}'" ><span class="text">戻る</span></button>
                                <button type="button" onclick="submit();" class="my-btn my-btn-egypt-1 my-btn-block my-btn-w8 questionnaire_form_confirm_btn"><span>登録</span></button>
                            </div>
                        </div>

                    </div>
                </div>



                <input type="textarea" name="questionnaire_id" value="{{questionnaire.id}}" hidden>

            </form>

        </div>

    </div>









{% comment %} <!-- 登録用Modal-->
<div class="modal fade" id="send_data_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
        登録しますか？<br />
        登録ボタンをクリックすると自動的に画面を閉じます。
        </div>
        <div class="modal-footer">
        <button id="submit_file_upload" type="submit" class="btn btn-primary my-btn-sm my-btn-w8" onfocus="this.blur();">登録</button>
        <button class="btn btn-secondary btn-sm my-btn-w8 send_data_btn_cancel" type="button" data-dismiss="modal" onfocus="this.blur();">キャンセル</button>
        </div>
    </div>
    </div>
</div> {% endcomment %}


{% endblock %}

{% block extra_js %}


<script>
$(function(){
    // 別タブの「✖」ボタンを押したときに画面を更新する
    $(window).on('beforeunload', function() {
        window.opener.location.reload();
    });
    $(".questionnaire_form_confirm_btn").click(function() {
        $(window).off('beforeunload');
    });
});
</script>


<script>

$(document).ready(function() {

    /////////////////////
    // 登録モーダル表示   //
    /////////////////////
    $('#send_data_modal').on('show.bs.modal', function (event) {

        // チェックボックスに値がない場合は単体削除のユーザーIDを取得
        var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
        var q_count = button.data('q_count') //値を取得
        //var not_draft_children = button.data('not_draft_children') //値を取得

        //console.log(q_count)

        // チェックボックスにチェックで削除ボタン活性化
        //$("[name='質問']").change(function(){
        // console.log("チェック")
        var checks=[];
        $("[name^='質問']:checked").each(function(){
            checks.push(this.value);
            //console.log(checks.length)
        });

        console.log(checks.length)
        console.log(checks)

        // チェックされている場合は有効、チェックされていない場合は無効化
        if (checks.length > 0) {
            console.log("ture")
            $('#delbutton').prop("disabled", false);
        } else {
            console.log("false")
            $('#delbutton').prop("disabled", true);
        }


        //});





        // 削除ボタンを押下した場合、Ajaxで送信
        $('#send_data_modal').off('click', '.modal-footer .btn-primary') //onイベントの重複イベントを削除
        $('#send_data_modal').on('click', '.modal-footer .btn-primary', function() {
        $('#send_data_modal').modal('hide');


            $.post("index",
                    {}


            ).done(function(data){
                // モーダルの表示
                $('#result_modal').on('show.bs.modal', function (e) {
                    var modal = $(this);
                    modal.find('.modal-body').text(data.message);
                })
            //$('#result_modal').modal('show')
            //$("#result_modal_link").attr("onclick", "window.location.reload();")

            }).always(function(data){
            // 処理後に Loading 画像を削除
            //loadingView(false);

            });


        });
    });




    //////////////////////////////////////////
    // JSON解析してチェックボックスのチェック   //
    //////////////////////////////////////////
    var questionnaire_dict_json = $('.questionnaire_dict').text()

    var questionnaire_dict_result = JSON.parse(questionnaire_dict_json);

    key_list = Object.keys(questionnaire_dict_result)

    questionnaire_dict_main = {}

    for (var key of key_list) {
        console.log(key)
        value_list = questionnaire_dict_result[key];
        //$("input[name=" + key + "]").val(value_list);
        $(".question" + key).val(value_list);
    }



    //////////////////////////////////////////
    // チェック有無に応じてプロパティ変更   //
    //////////////////////////////////////////
    $('input[type="radio"]').each(function(i, elem) {

        if (!elem.checked) {
            $(this).prop('disabled', true)
        } else {
            // なにもしない
        }
    });


    $('textarea[type="textarea"]').each(function(i, elem) {

        $(this).prop('readonly', true)

    });






});







</script>




{% endblock %}
