{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% load widget_tweaks %}

{% block title %}設問の並び替え | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    <!-- jQuery UI CSS -->
    {% comment %} <link rel="stylesheet" href="https:///code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'common/css/jquery-ui.css' %}">





<!-- CSSの読み込み -->
<style>

    #sortable_question {
        width: 100%;
    }

    /*---------------------------------

    for Header
    
    ---------------------------------*/
    
    body {
        font-size: 12px;
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
    }
    
    .navbar-expand .navbar-nav .nav-link {
        padding: 0;
        font-size: 1.5rem;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
    
    .menu_title_size {
        font-size: 1.4rem;
    }
    

    /*---------------------------------

        タイトル、サブタイトル

    ---------------------------------*/

    .cp_h1title{
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 10px;
        text-align: left;
    }
    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }
    .cp_h1title:before{
        border-bottom: 4px solid #4a849a;
        width: 100%;
    }

    .cp_p_title {
        text-align: left;
        padding-top: 10px;
        font-size: 15px;

    }


    /*---------------------------------

        ボタン

    ---------------------------------*/

    .my-btn-gray-1 {
        color: #595959 !important;
        background: #adadad;
    }

    .btn-grp {
        margin: 80px;
    }


</style>



        <div class="container">

            <div>
                <h3 class="cp_h1title">設問の並び替え</h3>
                <p class="cp_p_title">・並べ替えたい設問をドラック＆ドロップで移動することができます。</p>
            </div>

            <div id="sortable_question">

                {% for question in questions %}

                    <div class="question_card" id="{{question.id}}">
                        <div class="d-flex card_body">

                            {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box"> {% endcomment %}
                            <div class="d-md-inline-block mt-3 ml-4 mb-3 mr-2 title_desc_box">
                                <div class="menu_title_size">{{question.text}}</div>
                            </div>


                        </div>

                    </div>


                    {% comment %} <div id="{{ question.id }}">

                        <div class="ui-state-default">
                            <div class="menu_title_size"><span class="movie_title">{{ question.text }}</span></div>
                        </div>

                    </div> {% endcomment %}



                {% endfor %}

            </div>

            <!-- ボタン -->
            <div class="d-flex justify-content-center btn-grp">

                <!-- トレーニング編集ページへ遷移 -->
                <a href="{{request.META.HTTP_REFERER}}">
                    <button type="button" class="my-btn my-btn-gray-1 my-btn-w12 mr-3"><span class="my_btn_text">前のページに戻る</span></button>
                </a>

                <button type="submit" id="sortable_question_btn" class="my-btn my-btn-egypt-1 my-btn-w12"><span class="my_btn_text">並び順を変更する</span></button>


            </div>

            {% comment %} <div class="d-flex justify-content-center btn-grp">

                <button type="submit" id="sortable_question_btn" class="my-btn my-btn-egypt-1 my-btn-w12"><span class="my_btn_text">並び順を変更する</span></button>

                <!-- 前のページへ遷移 -->
                <a href="{{request.META.HTTP_REFERER}}">
                    <button type="button" class="my-btn my-btn-gray-1 my-btn-w12"><span class="my_btn_text">戻る</span></button>
                </a>

            </div> {% endcomment %}

            {% comment %} <p>リストの順番は「<span id="log"></span>」です</p> {% endcomment %}

        </div>















{% endblock %}

{% block extra_js %}

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- bootstrap -->
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/bootstrap.min.js' %}"></script>

    <!----- Validation ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" ></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.validate.js' %}"></script>

    <!-- 日本語のエラーメッセージを読み込み(Validation) -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_ja.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/messages_ja.min.js' %}"></script>

    <!----- 内部アニメーションを行うためのスクリプト Web-Amination.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/web-animations.min.js' %}"></script>

    <!----- ドラッグ操作を有効にする場合のスクリプト Hammer.js ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/hammer.min.js' %}"></script>

    <!----- muuri.min.js ------>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script> {% endcomment %}

    <!----- jQuery UI ------>
    {% comment %} <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'common/js/jquery-ui.js' %}"></script>

    <!-- jQuery jeditable -->
    {% comment %} <script src="https://min.gitcdn.link/repo/WalterWoshid/jQuery-SimpleEdit/master/dist/jquery-simpleedit/js/jquery-simpleedit.min.js"></script> {% endcomment %}





<script>
    // -----------------
    // jQuery UI
    // -----------------

    $(function() {

        // リストを並べ替え可能に
        $('#sortable_question').sortable({

            // updateで並べ替えるたびに更新
            update: function(event, ui){

                // toArrayで現在の順番を取得し出力
                //$("#log").text($('#sortable_question').sortable("toArray"));
                //console.log("log", log)

                var serial = $('#sortable_question').sortable('toArray');
                console.log("並び順1", serial) //  ['model-2', 'model-1', 'model-3', 'model-4', 'model-5']


            }

        });



        // ボタンを押下した場合、Ajaxで送信
        $('#sortable_question_btn').off('click') //onイベントの重複イベントを削除
        $('#sortable_question_btn').on('click', function() {

            // クリックされました
            console.log("クリックされました");

            var serial = $('#sortable_question').sortable('toArray');
            console.log("並び順2", serial)


            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');




            $.ajax({

                type: "POST",
                url: '{% url "training:question_sort_done" %}',
                data: {
                    'serial': serial,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',

                success: function (data) {

                    console.log("data", data.question_obj)
                    console.log("data", data.training_id)

                    // JSONで返ってきたURLを指定してページを遷移させる
                    window.location.href="/training_edit_menu/" + data.training_id



                }
            });

        });



    });





</script>







{% endblock %}
