{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load get_list %}

<!--  Crispy Form -->
{% load widget_tweaks %}






{% block content %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% comment %} <link rel="stylesheet" href="https:///code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'common/css/jquery-ui.css' %}">


    <!----- Colorbox ------>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-colorbox@1.6.4/example2/colorbox.css" /> {% endcomment %}


    <!-- CSSの読み込み -->

    <style>

        /*---------------------------------
    
            背景色
    
        ---------------------------------*/
    
        #wrapper {
            background-color: #f1f1f1;
        }
    
        /*---------------------------------
    
            タイトル、サブタイトル
    
        ---------------------------------*/
    
        .cp_h1title{
            position: relative;
            overflow: hidden;
            padding-top: 50px;
            padding-bottom: 10px;
            text-align: left;
        }
        .cp_h1title::before{
            content: "";
            position: absolute;
            bottom: 0;
        }
        .cp_h1title:before{
            border-bottom: 4px solid #4a849a;
            width: 100%;
        }
    
        .cp_p_title {
            text-align: left;
        }
    
    
        /*---------------------------------
    
            ボタン
    
        ---------------------------------*/
    
        .my-btn-gray-1 {
            color: #595959 !important;
            background: #adadad;
        }
    
        .btn-grp {
            margin: 80px;
        }
    
    
        /*---------------------------------
    
            フォーム
    
        ---------------------------------*/
    
        .card_form {
            background-color: #fff;
            border: 1px solid #e8e8e8;
            box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
            border-radius: 0;
        }
    
        .card-body {
            color: #554738;
            padding: 65px;
            font-size: 16px;
            line-height: 28px;
        }
    
        /*---------------------------------
    
            必須、任意ラベル
    
        ---------------------------------*/
        .require_label {
            color: #595959;
            font-size: 1rem;
            margin-top: 3px;
        }
    
        .option_label {
            color: #595959;
            font-size: 1rem;
            margin-top: 3px;
        }
    
        .required_box {
            width: 100%;
            display: -webkit-inline-box;
            /*display: block;*/
            position: relative;
        }
    
    
        .option_box {
            width: 100%;
            display: -webkit-inline-box;
            position: relative;
        }
    
    
        .required_box::after {
            color: #ffffff;
            font-size: 0.5rem;
            position: absolute;
            left: 115px;
            background-color: red;
            border-radius: 3px;
            padding: 0px 10px;
            white-space: nowrap;
            margin-left: 10px;
            content: "必須";
    
        }
    
        .option_box::after {
            color: #ffffff;
            font-size: 0.5rem;
            position: absolute;
            left: 125px;
            {% comment %} right: 3px;
            top: 7px; {% endcomment %}
            background-color: #7d8285;
            border-radius: 3px;
            padding: 0px 10px;
            white-space: nowrap;
            margin-left: 10px;
            content: "任意";
        }
    
        .name_error_message {
            text-align: left;
            color: red;
    
        }
    
        span.error {
            color: red;
            display: block;
            text-align: left;
        }
    
    
    
    
        /*---------------------------------
    
        パーツを追加するのボタン
    
        ---------------------------------*/
    
        .fas_button_parts_add:focus {
            outline: none;/* ボタンクリック時の枠線を消す */
        }
    
        .fas_button_parts_add{
            border: none;
            padding: 0 404px;
            height: 55px;
            line-height: 1;
            background-color: #FFFFFF;
            color: #f99593;
            border: 2px solid #f99593;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 10px;
            {% comment %} outline: none; {% endcomment %}
        }
        .fas_button_parts_add:before{
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: '\f055';
            margin-right: 5px;
        }
    
    
    
        /*---------------------------------
    
        回答項目・正解
    
        ---------------------------------*/
    
        .sb-example-1 .search {
            width: 100%;
            padding-bottom: 10px;
            position: relative;
            display: flex;
            align-items :center;
        }
    
        .sb-example-1 .searchTerm {
            display: inline-block; /* なくても大丈夫だけど、念の為 */
            position: relative;    /* 基準値とする */
    
            width: 100%;
            border: 2px solid #7cb1ec;
            border-left: none;
            padding: 5px;
            border-radius: 0 5px 5px 0;
            outline: none;
            color: #343a40;
        }
    
        .sb-example-1 .searchButton {
            width: 70px;
            height: 42px;
            border: 1px solid #7cb1ec;
            background: #7cb1ec;
            text-align: center;
            color: #fff;
            border-radius: 5px 0 0 5px;
            cursor: pointer;
            font-size: 32px;
        }
    
    
        /*---------------------------------
    
        textarea
    
        ---------------------------------*/
        textarea {
            resize: none;/* 拡大・縮小を禁止 */
            width: 100%;
            height: 200px;
        }
    
    
        /*---------------------------------
    
        画像アップロード
    
        ---------------------------------*/
        .dropzone_upload_icon {
            color: #7cb1ec;
        }
    
    
        .border {
            width: 113%;
            margin: 65px 0 65px 0;
            margin-left: -65px;/* 左側に線を伸ばす */
        }

        .cp_ipselect {
            overflow: hidden;
            width: 100%;
            text-align: center;
        }
        .cp_ipselect select {
            width: 100%;
            padding-right: 1em;
            cursor: pointer;
            text-indent: 0.01px;
            text-overflow: ellipsis;
            border: none;
            outline: none;
            background: transparent;
            background-image: none;
            box-shadow: none;
            -webkit-appearance: none;
            appearance: none;
        }
        .cp_ipselect select::-ms-expand {
            display: none;
        }
        .cp_ipselect.cp_sl01 {
            position: relative;
            border: 1px solid #bbbbbb;
            border-radius: 2px;
            background: #ffffff;
        }
        .cp_ipselect.cp_sl01::before {
            position: absolute;
            top: 20px;
            right: 0.9em;
            width: 0;
            height: 0;
            padding: 0;
            content: '';
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #666666;
            pointer-events: none;
        }
        .cp_ipselect.cp_sl01 select {
            padding: 8px 38px 8px 8px;
            color: #666666;
        }
    
    
    
        /*---------------------------------
    
        for Dropzone previews
    
        ---------------------------------*/
    
        html, body {
            height: 100%;
        }
        #actions {
            margin: 2em 0;
        }
    
        .expiration_start_date,
        .expiration_end_date {
            font-size: 1rem;
            margin-right: 10px
        }
    
        .step2 btn, .btn-sm{
            padding: .1rem .4rem;
            font-size: 0.8rem;
            border-color: #808080;
        }
    
        /* Mimic table appearance */
        div.table {
            display: table;
            table-layout: fixed;
        }
        div.table .file-row {
            display: table-row;
        }
        div.table .file-row > div {
            display: table-cell;
            border-top: 1px solid #ddd;
            padding: 0px 8px;
            vertical-align: middle;
        }
    
        div.table .file-row > .icon_colum {
            width: 30px;
        }
    
        .icon_colum > .icon {
            font-size: 1.5rem;
            margin: auto;
        }
    
        .icon_colum > .xls {
            color: #3A7C19;
        }
    
        .icon_colum > .doc {
            color: #2B569A;
        }
    
        .icon_colum > .ppt {
            color: #D24627;
        }
    
        .icon_colum > .csv {
            color: #3A7C19;
        }
    
        .icon_colum > .pdf {
            color: #EA412C;
        }
    
        div.table .file-row > .check_colum {
            width: 36px;
        }
    
        div.table .file-row > .size_colum {
            width: 70px;
        }
    
        div.table .file-row > .progress_colum {
            width: 190px;
        }
    
        div.table .file-row > .button_colum {
            width: 80px;
        }
    
        div.table .preview-text{
            margin: auto;
        }
    
        div.table .preview-button {
            text-align: right;
        }
    
        div.table .preview-button .btn-secondary.disabled, .btn-secondary:disabled {
            pointer-events: none;
            opacity: 0.3;
        }
    
        div.table .preview-button .btn {
            font-size: 0.5rem;
            padding: 1px 2px;
        }
    
    
        div.table .file-row:nth-child(odd) {
            background: #f9f9f9;
        }
    
    
        /* The total progress gets shown by event listeners */
        #total-progress {
            opacity: 0;
            -webkit-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
        }

        /* Hide the progress bar when finished */
        #previews .file-row.dz-success .progress {
            opacity: 0;
            -webkit-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
        }

        /* Hide the delete button initially */
        #previews .file-row .delete {
            display: none;
        }

        /* Hide the start and cancel buttons and show the delete button */

        #previews .file-row.dz-success .start {
            display: none;
        }
        #previews .file-row.dz-success .cancel,
        #previews .file-row.dz-success .delete {
            display: block;
        }


        /*---------------------------------

        削除ボタン

        ---------------------------------*/

        .fa-minus-circle {
            font-size: 20px;
            margin-left: 10px;
            color: #7cb1ec;
        }

        </style>
    </style>





    <div class="container">

        {% for parts in test_parts %}

            {{form.formset}}
            {% comment %} {{question.is_multiple}} {% endcomment %}

            <div>
                <h3 class="cp_h1title">テストの設問編集画面</h3>
                    <p class="cp_p_title m-0 pt-2 pb-4">・【必須】がついている項目は必須です。必ず入力してください。</p>
                    {% comment %} <p class="cp_p_title m-0 pb-4">・【受講の任意/必須】という項目ではトレーニングの受講を必須とするかどうかを設定します。</p> {% endcomment %}

                <!-- 存在確認のエラー -->
                <div>
                    {% for error in form.non_field_errors %}
                    <p class="name_error_message">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>

            </div>


            <div class="card p-30">
                <div class="d-flex flex-column card_header">

                    <div class="d-none d-inline-block mt-3 ml-4 mb-0">
                        <div class="test_title_size">{{parts.title_detail}}</div>
                    </div>
                    <div class="d-none d-inline-block mt-0 ml-4 mb-3">
                        <div class="test_desc_size">{{parts.description_detail|safe}}</div>
                    </div>

                </div>
            </div>


            <div class="my-div-style w-100">

                <form action="" method="POST" id="question_update_form">

                    <div class="card_form mt-4">

                        <div class="card-body">

                            {% comment %} {{ formset.management_form }}<!-- こっちにしないと回答欄が追加できなかった --> {% endcomment %}
                            {{ form.formset.management_form }}
                            {% csrf_token %}

                                <div>
                                    <div class="required_box">
                                        <div class="label require_label pb-2" style="font-weight: bold;">設問内容</div>
                                    </div>

                                    {% render_field form.text class="form-control is_primary" placeholder="" %}

                                </div>

                                <hr class="border">

                                <div>
                                    <div class="required_box">
                                        <div class="label require_label pb-2" style="font-weight: bold;">回答タイプ</div>
                                    </div>

                                    {% comment %} <div class="select-box02"> {% endcomment %}
                                    <div class="cp_ipselect cp_sl01">
                                        {% comment %} {% render_field form.is_multiple class="form-control is_primary" placeholder="" %} {% endcomment %}
                                        {% render_field form.is_multiple class="" placeholder="" %}
                                    </div>

                                </div>

                                <hr class="border">

                                <div>

                                    <div class="required_box">
                                        <div class="label require_label pb-2" style="font-weight: bold;">選択項目・正解</div>
                                    </div>


                                    {% comment %} {{form.formset.as_p}} {% endcomment %}

                                    <div class="choice_area sb-example-1">

                                        {% for form in form.formset %}

                                            <div class="search">
                                                <!-- 正解 -->
                                                {% if question.is_multiple == 1 %}
                                                    <!-- ラジオボタン -->
                                                    {% comment %} <p>ラジオボタンです</p> {% endcomment %}
                                                    ああ<div class="">{{form.is_correct_radio}}</div>
                                                {% elif question.is_multiple == 2 %}
                                                    <!-- チェックボックス -->
                                                    {% comment %} <p>チェックボックスです</p> {% endcomment %}
                                                    いい<div class="searchButton">{{form.is_correct}}</div>
                                                {% endif %}

                                                <!-- 入力欄 -->
                                                <div class="text_field">{{form.text}}</div>

                                                <!-- 削除アイコン -->
                                                <div class="remove_field">
                                                    <a href="javascript:void(0);" class="remove_button" id="{{form.id.value}}">
                                                        <i class="fas fa-minus-circle"></i>
                                                    </a>
                                                </div>
                                                <!-- id ※これがないと値が更新されない -->
                                                {{form.id}}
                                            </div>

                                        {% endfor %}

                                        <!-- 記述式 -->
                                        <div class="text_area" style="display:none">
                                            うう<textarea name="choice_set-0-text" id="id_choice_set-0-text" value="" class="searchTerm text_d" data-target="hoge" disabled>{{form.instance}}</textarea>
                                        </div>

                                    </div>




                                </div>

                            <button type="button" class="fas_button_parts_add btn-tag--favorite" id="add_more" data-toggle="modal" data-pk="">回答項目を追加する</button>

                            <hr class="border">


                            <!-- 画像アップロード -->
                            <div class="">
                                <div class="option_box">
                                    <div class="label option_label pb-2" style="font-weight: bold;">画像アップロード</div>
                                </div>

                                <!-- ポスターのドラッグアンドドロップ部 -->

                                <div id="image_Dropzone" class="dropzone" name="poster">

                                    <div class="fallback">
                                        <input name="poster" type="file"/>
                                    </div>

                                </div>

                                <!-- ドラッグアンドドロップしたファイルのリスト表示部 -->
                                <div class="table table-striped" class="files" id="previews">

                                    <div id="template" class="file-row">

                                        <!-- This is used as the file preview template -->
                                        <div class="icon_colum">
                                            <div class="preview"></div>
                                        </div>

                                        <div class="name_colum">
                                            <span class="name preview-text" data-dz-name></span>
                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                        </div>

                                        <div class="size_colum">
                                            <span class="size preview-text" data-dz-size></span>
                                        </div>

                                        <div class="preview-button preview-text button_colum">
                                            <button data-dz-remove class="btn btn-secondary my-btn-w3 cancel">
                                                <!-- <i class="glyphicon glyphicon-ban-circle"></i> -->
                                                <span class="preview-button-text">取消</span>
                                            </button>
                                        </div>

                                    </div>

                                </div>

                                <div id="validation-error-poster"></div>

                            </div>

                        </div><!-- card-body -->
                    </div>

                    <!-- ボタン -->
                    <div class="d-flex justify-content-center btn-grp">

                        <!-- トレーニング編集ページへ遷移 -->
                        <a href="{{request.META.HTTP_REFERER}}">
                            <button type="button" class="my-btn my-btn-gray-1 my-btn-w12 mr-3"><span class="my_btn_text">戻る</span></button>
                        </a>

                        <button type="submit" id="question_update_btn" class="my-btn my-btn-egypt-1 my-btn-w12"><span class="my_btn_text">作成</span></button>


                    </div>


                </form>

            </div>

        {% endfor %}


    </div>





{% endblock %}

{% block extra_js %}











{% endblock %}