{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load get_list %}

<!--  Crispy Form -->
{% load widget_tweaks %}

{% block title %}アンケート編集画面 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="https:///code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'common/css/jquery-ui.css' %}">


    <!-- CSSの読み込み -->
    <style>
    .container {
        max-width: 1140px;
        max-height: 1130px;

        min-width: 1140px;
        min-height: 1130px;
    }

    /*---------------------------------

    for Header
    
    ---------------------------------*/
    
    body {
        font-size: 12px;
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
    }
    
    .navbar-expand .navbar-nav .nav-link {
        padding: 0;
        font-size: 1.5rem;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
    
    .menu_title_size {
        font-size: 1.4rem;
    }
    

    /*---------------------------------

        背景色

    ---------------------------------*/

    #wrapper {
        background-color: #f1f1f1;
    }

    /*---------------------------------

        タイトル、サブタイトル

    ---------------------------------*/

    .cp_h1title{
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 10px;
        text-align: left;
    }
    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }
    .cp_h1title:before{
        border-bottom: 4px solid #4a849a;
        width: 100%;
    }

    .cp_p_title {
        font-size: 15px;
        text-align: left;
    }

    /*---------------------------------

        ボタン

    ---------------------------------*/

    .my-btn-gray-1 {
        color: #595959 !important;
        background: #adadad;
    }

    .btn-grp {
        margin: 80px;
    }

    /*---------------------------------

        フォーム

    ---------------------------------*/

    .card_form {
        background-color: #fff;
        border: 1px solid #e8e8e8;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
        border-radius: 0;
    }

    .card-body {
        color: #554738;
        padding: 65px;
        font-size: 16px;
        line-height: 28px;
    }

    /*---------------------------------

        必須、任意ラベル

    ---------------------------------*/
    .require_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .option_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .required_box {
        width: 100%;
        display: -webkit-inline-box;
        /*display: block;*/
        position: relative;
    }


    .option_box {
        width: 100%;
        display: -webkit-inline-box;
        position: relative;
    }


    .required_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        left: 115px;
        background-color: red;
        border-radius: 3px;
        padding: 0px 10px;
        white-space: nowrap;
        margin-left: 10px;
        content: "必須";

    }

    .option_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        left: 125px;
        {% comment %} right: 3px;
        top: 7px; {% endcomment %}
        background-color: #7d8285;
        border-radius: 3px;
        padding: 0px 10px;
        white-space: nowrap;
        margin-left: 10px;
        content: "任意";
    }

    .name_error_message {
        text-align: left;
        color: red;
    }

    span.error {
        color: red;
        display: block;
        text-align: left;
    }

    /*---------------------------------

    パーツを追加するのボタン

    ---------------------------------*/

    .fas_button_parts_add:focus {
        outline: none;/* ボタンクリック時の枠線を消す */
    }

    .fas_button_parts_add{
        border: none;
        padding: 0 404px;
        height: 55px;
        line-height: 1;
        background-color: #FFFFFF;
        color: #7cb1ec;
        border: 2px solid #7cb1ec;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 10px;
        {% comment %} outline: none; {% endcomment %}
    }
    .fas_button_parts_add:before{
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f055';
        margin-right: 5px;
    }

    /*---------------------------------

    回答項目・正解

    ---------------------------------*/
    .sb-example-1 .search {
        width: 100%;
        padding-bottom: 10px;
        position: relative;
        display: flex;
        align-items :center;
    }

    .sb-example-1 .searchTerm {
        display: inline-block; /* なくても大丈夫だけど、念の為 */
        position: relative;    /* 基準値とする */

        width: 100%;
        border: 2px solid #cbcbcb;
        {% comment %} border-left: none; {% endcomment %}
        padding: 5px;
        border-radius: 5px 5px;
        outline: none;
        color: #343a40;
    }

    {% comment %} .sb-example-1 .searchButton {
        width: 70px;
        height: 42px;
        border: 1px solid #7cb1ec;
        background: #7cb1ec;
        text-align: center;
        color: #fff;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        font-size: 32px;
    } {% endcomment %}


    /*---------------------------------

    削除ボタン

    ---------------------------------*/

    .fa-minus-circle {
        font-size: 20px;
        margin-left: 10px;
        color: #ff6e6e;
    }

    /*---------------------------------

    textarea

    ---------------------------------*/
    textarea {
        resize: none;/* 拡大・縮小を禁止 */
        width: 100%;
        height: 200px;
    }

    /*---------------------------------

    画像アップロード

    ---------------------------------*/
    .dropzone_upload_icon {
        color: #999999;
    }


    .border {
        width: 113%;
        margin: 50px 0 50px 0;
        margin-left: -65px;/* 左側に線を伸ばす */
    }


    /*---------------------------------

    回答タイプ

    ---------------------------------*/
    {% comment %} .cp_ipselect {
        overflow: hidden;
        width: 100%;
        text-align: center;
    }
    .cp_ipselect select {
        width: 100%;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
    }
    .cp_ipselect select::-ms-expand {
        display: none;
    }
    .cp_ipselect.cp_sl01 {
        position: relative;
        border: 1px solid #bbbbbb;
        border-radius: 2px;
        background: #ffffff;
    }
    .cp_ipselect.cp_sl01::before {
        position: absolute;
        top: 20px;
        right: 0.9em;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #666666;
        pointer-events: none;
    }
    .cp_ipselect.cp_sl01 select {
        padding: 8px 38px 8px 8px;
        color: #666666;
    } {% endcomment %}




    /*---------------------------------

    for Dropzone previews

    ---------------------------------*/

    html, body {
        height: 100%;
    }
    #actions {
        margin: 2em 0;
    }

    .expiration_start_date,
    .expiration_end_date {
        font-size: 1rem;
        margin-right: 10px
    }

    .step2 btn, .btn-sm{
        padding: .1rem .4rem;
        font-size: 0.8rem;
        border-color: #808080;
    }

    /* Mimic table appearance */
    div.table {
        display: table;
        table-layout: fixed;
    }
    div.table .file-row {
        display: table-row;
    }
    div.table .file-row > div {
        display: table-cell;
        border-top: 1px solid #ddd;
        padding: 7px 5px;
        vertical-align: middle;
    }

    div.table .file-row > .icon_colum {
        width: 30px;
    }

    .icon_colum > .icon {
        font-size: 1.5rem;
        margin: auto;
    }

    .icon_colum > .xls {
        color: #3A7C19;
    }

    .icon_colum > .doc {
        color: #2B569A;
    }

    .icon_colum > .ppt {
        color: #D24627;
    }

    .icon_colum > .csv {
        color: #3A7C19;
    }

    .icon_colum > .pdf {
        color: #EA412C;
    }

    div.table .file-row > .check_colum {
        width: 36px;
    }

    div.table .file-row > .size_colum {
        width: 70px;
    }

    div.table .file-row > .progress_colum {
        width: 190px;
    }

    div.table .file-row > .button_colum {
        width: 80px;
    }

    div.table .preview-text{
        margin: auto;
    }

    div.table .preview-button {
        text-align: right;
    }

    div.table .preview-button .btn-secondary.disabled, .btn-secondary:disabled {
        pointer-events: none;
        opacity: 0.3;
    }

    div.table .preview-button .btn {
        font-size: 0.5rem;
        padding: 1px 2px;
    }


    div.table .file-row:nth-child(odd) {
        background: #f9f9f9;
    }


    /* The total progress gets shown by event listeners */
    #total-progress {
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
        display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start {
        display: none;
    }
    #previews .file-row.dz-success .cancel,
    #previews .file-row.dz-success .delete {
        display: block;
    }






    </style>






    <div class="container">

        {% for parts in test_parts %}

            <div>
                <h3 class="cp_h1title">アンケート編集画面</h3>
                <p class="cp_p_title m-0 pt-2">・【必須】がついている項目は必須です。必ず入力してください。</p>
                <p class="cp_p_title m-0">・選択項目を入力した状態で回答タイプを再選択する場合、選択項目・正解に入力した内容は初期化されます。</p>
                <p class="cp_p_title m-0 pb-4">・画像の推奨サイズは縦4000ピクセル以上、横2000ピクセル以上です。それ以下のサイズの画像をアップロードする場合、表示する際にレイアウトが崩れる可能性がありますのでご注意ください。</p>
                {% comment %} <p class="cp_p_title m-0 pb-4">・【受講の任意/必須】という項目ではトレーニングの受講を必須とするかどうかを設定します。</p> {% endcomment %}
            </div>

            <div class="card p-30">
                <div class="d-flex flex-column card_header">

                    <div class="d-none d-inline-block mt-3 ml-4 mb-0">
                        <div class="test_title_size">{{parts.title_detail}}</div>
                    </div>
                    <div class="d-none d-inline-block mt-0 ml-4 mb-3">
                        <div class="test_desc_size">{{parts.description_detail|safe}}</div>
                    </div>

                </div>
            </div>


            <form action="" method="post" id="questionnaire_update_form">

                <div class="card_form mt-4">

                    <div class="card-body">

                        {% csrf_token %}
                        {{ form.formset.management_form }}

                        <div>
                            <div class="required_box">
                                <div class="label require_label pb-2" style="font-weight: bold;">質問内容</div>
                            </div>

                            {% render_field form.text class="form-control is_primary" placeholder="500文字以内で入力してください。" %}
                        </div>

                        {% comment %} </div> {% endcomment %}

                        <hr class="border">

                        <div>
                            <div class="required_box">
                                <div class="label require_label pb-2" style="font-weight: bold;">回答タイプ</div>
                            </div>

                            <div class="cp_ipselect cp_sl01">
                                {% comment %} {% render_field form.is_multiple class="form-control is_primary" placeholder="" %} {% endcomment %}
                                {% render_field form.is_multiple_questionnaire %}
                            </div>

                        </div>

                        <hr class="border">

                        <div class="choice_area">

                            <div>
                                <div class="required_box">
                                    {% comment %} <div class="label require_label pb-2" style="font-weight: bold;">回答項目・正解</div> {% endcomment %}
                                    <div class="label require_label pb-2" style="font-weight: bold;">選択項目</div>
                                </div>
                            </div>


                            <div class="sb-example-1">
                                {% for form in form.formset %}

                                    <div class="search">
                                        <!-- 正解 -->
                                        {% comment %} <div class="searchButton">{{form.is_correct}}</div> {% endcomment %}

                                        <!-- 入力欄 -->
                                        <div class="text_field">{{form.text}}</div>

                                        <!-- 削除アイコン -->
                                        <div class="remove_field">
                                            <a href="javascript:void(0);" class="remove_button" id="{{form.id.value}}">
                                                <i class="fas fa-minus-circle"></i>
                                            </a>
                                        </div>

                                        <!-- id ※これがないと値が更新されない -->
                                        {% render_field form.id data-target="form_id" %}

                                    </div>

                                {% endfor %}

                                <!-- 記述式 -->
                                <div class="text_area" style="display:none">
                                    <textarea name="choice_set-0-text" id="id_choice_set-0-text" value="" class="searchTerm text_d" data-target="hoge" disabled></textarea>
                                </div>

                            </div>

                            <!-- 回答欄追加ボタン -->
                            <button type="button" class="fas_button_parts_add btn-tag--favorite" id="add_more" data-toggle="modal" data-pk="">回答項目を追加する</button>

                        </div>

                        <hr class="border">

                        <!-- 画像アップロード -->
                        <div class="">

                            <div class="option_box">
                                <div class="label option_label pb-2" style="font-weight: bold;">画像アップロード</div>
                            </div>

                            <!-- ポスターのドラッグアンドドロップ部 -->

                            <div id="image_Dropzone" class="dropzone" name="poster">

                                <div class="fallback">
                                    <input name="poster" type="file"/>
                                </div>

                            </div>

                            <!-- ドラッグアンドドロップしたファイルのリスト表示部 -->
                            <div class="table table-striped" class="files" id="previews">

                                <div id="template" class="file-row">

                                    <!-- This is used as the file preview template -->
                                    <div class="icon_colum">
                                        <div class="preview"></div>
                                    </div>

                                    <div class="name_colum">
                                        <span class="name preview-text" data-dz-name></span>
                                        <strong class="error text-danger" data-dz-errormessage></strong>
                                    </div>

                                    <div class="size_colum">
                                        <span class="size preview-text" data-dz-size></span>
                                    </div>

                                    <div class="preview-button preview-text button_colum">
                                        <button data-dz-remove class="btn btn-secondary my-btn-w3 cancel">
                                            <!-- <i class="glyphicon glyphicon-ban-circle"></i> -->
                                            <span class="preview-button-text">取消</span>
                                        </button>
                                    </div>

                                </div>

                            </div>

                            <div id="validation-error-poster"></div>

                        </div>

                    </div><!-- card-body -->

                </div>

                <!-- ボタン -->
                <div class="d-flex justify-content-center btn-grp">

                    <!-- トレーニング編集ページへ遷移 -->
                    {% comment %} <a href="{{request.META.HTTP_REFERER}}">
                        <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3"><span class="my_btn_text">戻る</span></button>
                    </a> {% endcomment %}

                    <button type="button" class="my-btn my-btn-gray-1 my-btn-w12 mr-3" data-toggle="modal" data-target="#exampleModal">
                        戻る
                    </button>

                    <button type="submit" id="questionnaire_update_btn" class="my-btn my-btn-egypt-1 my-btn-w12" disabled><span class="my_btn_text">変更</span></button>

                </div>

            </form>


        {% endfor %}

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ナビゲーションの確認</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>
                        入力内容は保存されません。よろしいですか？<br>
                        このページから移動してもよろしいですか？
                    </h6>
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="{{request.META.HTTP_REFERER}}">
                        <button type="button" class="my-btn my-btn-gray-1 my-btn-w12 mr-3"><span class="my_btn_text">このページを離れる</span></button>
                    </a>
                    <button type="button" class="my-btn my-btn-egypt-1 my-btn-w12" data-dismiss="modal">このページにとどまる</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}

<script>
    /////////////////////////////
    // リロード時にトップにくるようにする
    /////////////////////////////
    $(function() {
        $('html,body').scrollTop(0)
    });
</script>


<script>
    /////////////////////////////
    // 設問内容にカーソルが当たった状態で
    //　ページを表示する
    /////////////////////////////
    $("#id_text").focus()
</script>


<script>
    /////////////////////////////
    // 入力されたら戻るボタンを
    // 押したときにモーダル表示
    /////////////////////////////

    // -----------------
    // form全体のバリデーションチェック
    // -----------------
    function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)

        return valid

    }

    // 確認ダイアログボタン非表示
    $(".return_btn_modal").fadeOut();

	setTimeout(function(){
		// 遅延実行したい処理
        var $form = $('form'),
        origForm = $form.serialize();

        $('form')
        .on('change input', function() {

            if(validateForm('#questionnaire_update_form')){

                if ($form.serialize() !== origForm){
                    $(".return_btn_modal").css("display", "block");
                    $(".return_btn").css("display", "none");

                    $("#questionnaire_update_btn").prop('disabled', false);// ボタンを有効にする

                    console.log("不一致です")
                }else{
                    $(".return_btn").css("display", "block");
                    $(".return_btn_modal").css("display", "none");

                    $("#questionnaire_update_btn").prop('disabled', true);// ボタンを無効にする
                    console.log("一致です")
                }

            }else{
                $("#questionnaire_update_btn").prop('disabled', true);// ボタンを無効にする
            }
        });

	}, 3000 );

</script>


<script>

    $(document).ready(function() {

        // -----------------
        // validateのoption作成
        // -----------------
        $('#questionnaire_update_form').validate({

            errorElement: "span",// labelがspanにかわる

            //入力欄別にルールを作成　※nameを指定すること
            rules:{
                text:{
                    required: true,
                    maxlength: 500,
                },
                is_multiple_questionnaire:{
                    required: true,
                },

            },
            // エラーメッセージを設定
            messages:{
                text:{
                    required: '設問内容の入力は必須です。',
                    maxlength: '設問内容は500文字以内で入力してください。',
                },
                is_multiple_questionnaire:{
                    required: '回答タイプの選択は必須です。',
                },

            },

            errorPlacement: function (error, element) {

                // 指定タグの中に出したい場合はappendTo()

                if (element.attr("name") == "text" ) {
                    element.parent().append(error)

                } else if (element.attr("name") == "is_multiple_questionnaire" ) {
                    element.parent().parent().append(error)
                }

            }


        });

        // -----------------
        // validate 変更
        // -----------------
        $("#questionnaire_update_form").on('keyup change', function(event) {

            // validateForm(): フォームのバリデーションを担当する
            //validateForm('#questionnaire_update_form');

        });


        {% comment %} function validateForm(id) {

            var valid = $(id).validate().checkForm();
            console.log("valid", valid)

            if (valid) {
                $('#questionnaire_update_btn').prop('disabled', false);// enables button
            } else {
                $('#questionnaire_update_btn').prop('disabled', true);// disables button
            }
        } {% endcomment %}

        // formを送信するときに回答が入力されているか確認
        $('#questionnaire_update_form').submit(function(e){

            // selectボックスの値を取得
            //var value = $('[name=is_multiple_questionnaire]').val();
            var value = $('input[name=is_multiple_questionnaire]:checked').val();

            // inputの値を取得
            var flag = false;
            $('input[type="text"]').each(function() {
                // 一つでもinputに値が入力されていればtrue
                flag = $(this).val().length > 0;
                return !flag;// true
            });

            console.log("flag", flag)


            // ラジオボタン
            if (value == '1') {
                // inputの値を取得
                if (!flag){
                    console.log("aaaa")
                    $('.sb-example-1').after('<span id="id_text-error" class="error">回答の入力は必須です。</span>');
                    return false;
                } else {
                    console.log("bbbb")
                }

            // チェックボックス
            }else if(value == '2'){
                // inputの値を取得
                if (!flag){
                    console.log("aaaa")
                    $('.sb-example-1').after('<span id="id_text-error" class="error">回答の入力は必須です。</span>');
                    return false;
                } else {
                    console.log("bbbb")
                }

            }

        });



    });


</script>



{% comment %} <script>

    // -----------------
    // form全体のバリデーションチェック
    // -----------------
    function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)

        return valid

    }

    // -----------------
    // .serialize()でformのデータを保存して
    // 変更ごとに値が一致するかどうかを確認する
    // -----------------

    $(function(){

        $('form')
        .each(function(){
            $(this).data('serialized', $(this).serialize())
        })
        .on('change dp.change input', function(){

            // formの入力が正しく行われている場合
            if(validateForm('#questionnaire_update_form')){

                //console.log("formの入力が正しく行われている")

                // 入力前の値と入力後の値が一致した場合
                if($(this).serialize() == $(this).data('serialized')){

                    //console.log("入力前の値と入力後の値が一致")

                    // ファイルがアップロードされた場合
                    if(file_changed || add_more_flg || choice_delete_flg){
                        console.log("file_changed/add_more_flgはtrueです")

                        $(this)
                        .find('input:submit, button:submit')
                            .prop('disabled', false)// ボタンを有効にする
                        ;

                    }else{
                        console.log("file_changedはfalseです")

                        $(this)
                        .find('input:submit, button:submit')
                            .prop('disabled', true)// ボタンを無効にする
                        ;
                    }

                }else{
                    //console.log("入力前の値と入力後の値が不一致")
                    $(this)
                    .find('input:submit, button:submit')
                        .prop('disabled', false)// ボタンを有効にする
                    ;

                    // 戻るボタンを押したときにモーダル表示
                    $(".return_btn_modal").css("display", "block");
                    $(".return_btn").css("display", "none");
                }
            // 正しく行われていない場合
            }else{
                console.log("formの入力が正しく行われていない")
                $('#questionnaire_update_btn').prop('disabled', true);// ボタンを無効にする

                // 戻るボタンを押したときにモーダル表示
                $(".return_btn_modal").css("display", "block");
                $(".return_btn").css("display", "none");
            }

        })
        .find('input:submit, button:submit')
            .prop('disabled', true);

    })

</script> {% endcomment %}


<script>

    /////////////////////////////
    // 選択項目の表示、非表示    //
    /////////////////////////////


    $(function() {

        //var fuga = $('input[data-target="fuga"]');

        var hoge = $('#id_choice_set-1-text.searchTerm');

        // 一番目と二番目の削除ボタンを削除できないようにする
        $(".remove_button").eq(0).css({"pointer-events":"none", "opacity":"0.5"});
        $(".remove_button").eq(1).css({"pointer-events":"none", "opacity":"0.5"});

        // selectボックスの変更時
        //$('select').on("change", function() {
        //$('input[type="radio"]').change(function() {

        //var contents = $('input[data-target="hoge"]');
        //console.log("contents", contents);

        // セレクトボックスの値を取得
        //var value = $('option:selected').val();
        var value = $('input[name="is_multiple_questionnaire"]:checked').val();

        // 結果の出力
        //console.log("セレクトボックス：", value)
        console.log("ラジオボタン：", value)

        // 選択された値ごとに選択肢の表示を切り替える
        if (value == '3') {

            console.log('記述式です');

            // 非表示
            $('.choice_area').hide();// 選択項目
            $('.border').eq(2).css('display', 'none');// ボーダー


        } else {

            console.log('それ以外です');

            // 表示
            $('.choice_area').show();// 選択項目
            $('.border').eq(2).css('display', '');

        }

        //})
        //}).trigger("change");// 疑似的にchangeイベントを発動




        // 追加
        // ページ読み込みと同時にchangeイベントを実行する
        $('input[type="radio"]').change(function() {

            // セレクトボックスの値を取得
            var value = $('input[name="is_multiple_questionnaire"]:checked').val();

            // 結果の出力
            console.log("ラジオボタンaaaaaaaa：", value)

            // 選択された値ごとに選択肢の表示を切り替える
            if (value == '3') {

                console.log('記述式です');

                // 非表示
                $('.choice_area').hide();// 選択項目
                $('.border').eq(2).css('display', 'none');// ボーダー


            } else {

                console.log('それ以外です');

                // 表示
                $('.choice_area').show();// 選択項目
                $('.border').eq(2).css('display', '');

            }

        })








    });

</script>



<script>

    /////////////////////////////
    // 回答項目の追加           //
    /////////////////////////////

    var add_more_flg = false;

    var choice_delete_flg = false;

    $(function(){

        var totalManageElement = $('#id_questionnairechoice_set-TOTAL_FORMS');
        console.log("totalManageElement", totalManageElement)

        // 文字列を整数に変換
        var currentFileCount = parseInt(totalManageElement.val());
        console.log("currentFileCount", currentFileCount)// 1

        // 回答項目の数をカウントしてボタンをdisabledにする関数
        function countChoiceset(){

            var totalManageElement = $('#id_questionnairechoice_set-TOTAL_FORMS');

            var currentFileCount = parseInt(totalManageElement.val());
            console.log("currentFileCount 1111", currentFileCount)

            //if(currentFileCount >= 5) {
            if(currentFileCount >= 7) {

                console.log("5だよ")
                $('#add_more').prop('disabled', true);
                $('#add_more').css('opacity',' 0.3');

            } else {
                console.log("5じゃないよ")
                $('#add_more').prop('disabled', false);
                $('#add_more').css('opacity','');

            }
        }

        //$('select').on("change", function() {
        $('input[type="radio"]').change(function() {

            // セレクトボックスの値を取得
            //var selected_value = $('option:selected').val();
            //console.log("セレクトボックスの値", selected_value)

            //var selected_value = $(this).val();
            var selected_value = $('input[name=is_multiple]:checked').val();
            console.log("ラジオボタンの値", selected_value)

            countChoiceset();

            // 回答項目の追加ボタンが押されたときの処理
            // イベントが2回以上重複して実行されるのを防ぐ
            $('#add_more').off('click');
            $('#add_more').on('click', function(){

                console.log("クリックされた")

                // 選択項目が追加されているか検知する用のフラグ
                add_more_flg = true;
                $('#questionnaire_update_btn').prop('disabled', false);// ボタンを有効にする

                // テキスト入力欄
                var textElement = $('<input>', {
                    type: 'text',
                    name: 'questionnairechoice_set-' + currentFileCount + '-text',
                    id: 'id_questionnairechoice_set-' + currentFileCount + '-text',
                    class: 'searchTerm',
                    size: "120",
                    maxlength: "150",
                });

                $(textElement).attr('data-target', 'hoge');
                $(textElement).attr("placeholder", "120文字以内で入力してください。");


                // textElementをdivで囲う
                var text_obj = $('<div>').append(textElement);

                // 削除リンク
                var deletl_link = $('<a>', {
                    href: 'javascript:void(0);',
                    class: 'remove_button',
                });

                // 削除ボタン
                var deletl_icon = $('<i>', {
                    class: 'fas fa-minus-circle',
                    name: 'questionnairechoice_set-' + currentFileCount + '-text',
                    id: 'id_questionnairechoice_set-' + currentFileCount + '-text',
                });

                // deletl_iconをdeletl_linkに入れる
                var delet_a = $(deletl_link).append(deletl_icon);

                // deletl_linkをdivで囲う
                var delet_obj = $('<div class="remove_field">').append(delet_a);

                // form.id
                var formidElement = $('<input>', {
                    type: 'hidden',
                    name: 'questionnairechoice_set-' + currentFileCount + '-id',
                    id: 'id_questionnairechoice_set-' + currentFileCount + '-id',
                });

                // data属性追加
                $(formidElement).attr('data-target', 'form_id');

                // <div class="search"></div>でcheckboxとtext_objを囲う
                var choice_more = $('<div>').attr('class', 'search').append(text_obj).append(delet_obj).append(formidElement);

                // 項目を追加
                $('.sb-example-1').append(choice_more);


                // フォームの数(id_choice_set-TOTAL_FORMS, value)に追加した一行分を足す
                currentFileCount += 1;
                totalManageElement.attr('value', currentFileCount);

                countChoiceset();

            });

        //})
        }).trigger("change");// ここで疑似的にchangeイベントを発動




        /////////////////////////////
        // 回答項目の削除　　　　    //
        /////////////////////////////

        $(document).on('click', '.remove_button', function() {

            console.log("削除します")

            $(this).parents('.search').remove();

            // 削除する項目に入力されている値を取得
            var val = $(this).parents('.search').find("input[type='text']").val();
            console.log("削除する項目のinputのvalue", val)

            var choice_id = $(this).attr("id");
            //console.log("choice_id", choice_id)

            // DBから選択したchoiceを削除する
            $.ajax({
                url: "{% url 'training:questionnairechoice_delete' %}",
                type: "POST",
                data: {
                    choice_id: choice_id,
                    type: 'delete',
                },
                success: function (data) {

                    if(data.status == "ok"){
                        console.log("------- okだったよ")

                        choice_delete_flg = true;
                        $('#questionnaire_update_btn').prop('disabled', false);// ボタンを有効にする

                    }
                }
            });

            // text
            var hoge = $('input[data-target="hoge"]');
            //console.log("hoge1", hoge);

            // form.id
            var form_id = $('input[data-target="form_id"]');

            // 番号振り直し(text)
            $.each(hoge, function(i, elem){

                //console.log("hoge2", i + ': ' + elem);

                $(elem).attr('id','id_questionnairechoice_set-' + (i+0) + '-text');
                $(elem).attr('name','questionnairechoice_set-' + (i+0) + '-text');
            });

            // 番号振り直し(form_id)
            $.each(form_id, function(i, elem){

                //console.log("hoge2", i + ': ' + elem);

                $(elem).attr('id','id_questionnairechoice_set-' + (i+0) + '-id');
                $(elem).attr('name','questionnairechoice_set-' + (i+0) + '-id');
            });

            // フォームの数(id_choice_set-TOTAL_FORMS, value)から消した一行分を引く
            currentFileCount -= 1;
            totalManageElement.attr('value', currentFileCount);

            countChoiceset();

            // フォームの数(id_questionnairechoice_set-INITIAL_FORMS, value)から消した一行分を引く ※削除した後に値が変更できない問題解決用に追加
            if(val == null || val == '' ){
                console.log("一行分引かない");
                // 値が何も入力されていない項目を消したときは一行分引かない
            }else{
                console.log("一行分引く");
                var total_INITIAL_FORMS = $('#id_questionnairechoice_set-INITIAL_FORMS');

                var INITIAL_FORMS_Count = parseInt(total_INITIAL_FORMS.val());
                console.log("INITIAL_FORMS_Count", INITIAL_FORMS_Count)

                INITIAL_FORMS_Count -= 1;
                total_INITIAL_FORMS.attr('value', INITIAL_FORMS_Count);

            }


        });


    });

</script>


<script>

    // -----------------
    // Dropzone.jsの設定
    // -----------------

    // Dropzoneの自動検出を無効
    Dropzone.autoDiscover = false;

    // デフォルトメッセージを変更
    //Dropzone.prototype.defaultOptions.dictRemoveFile = "取消し";

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the document
    var previewNode = document.querySelector("#template");
    // #templateというIDがあるときのみ処理
    if (previewNode) {
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);
    }

    // ページ読み込み前に事前にアップロードされたファイルをサーバ側から読み込む
    // escapejsでjsonとして受け取ることができる。受け取った情報はdist_fileというjavascript側の変数に入る
    var dist_file = "{{dist_file|escapejs}}";// ※functionの外で受け取ることに注意

    var question_pk = "{{question_pk}}";
    console.log("question_pk", question_pk)

    // json形式になっているか確認
    //console.log("------ dist_fileの形式確認 -----", dist_file)

    var currentFile = null;

    var image_up_names=[];

    var file_up_max=[];

    // ファイルがアップロードされているか検知する用のフラグ
    var file_changed = false;


    // 画像
    $(function() {


        // 5秒後にエラーメッセージを消す関数
        function messageTimer(){
            $('#validation-error-poster').fadeIn("slow", function () {
                //コールバックで5秒後にフェードアウト
                $(this).delay(5000).fadeOut("slow");
            });
        }




        $("div#image_Dropzone").dropzone({// id指定
            // 設定と処理
            url: "{% url 'training:image_upload' %}",
            params: {'csrfmiddlewaretoken': getCookie('csrftoken')},
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            paramName: "file",
            maxFiles: 5,
            maxFilesize: 2000,// 2ギガ
            timeout: 7200000, // 2h //milliseconds

            acceptedFiles: 'image/*',
            dictDefaultMessage: '<i class="fas fa-file-upload fa-5x dropzone_upload_icon"></i><br /><br />ドラッグ&ドロップまたはクリック<br />アップロードできるファイルは5ファイルまでです。',
            dictMaxFilesExceeded: "アップロードできるファイルは5ファイルまでです。",
            // タイプが違う
            dictInvalidFileType: "アップロードしようとしたファイルの形式はサポートされていません。",
            // サイズが大きい
            dictFileTooBig: "アップロードしようとしたファイルのサイズが大きすぎます。",
            dictUploadCanceled: "アップロードをキャンセルしました。",//
            dictCancelUploadConfirmation: "アップロードをキャンセルしますか？",//
            previewTemplate: previewTemplate,
            previewsContainer: "#previews",

            // The setting up of the dropzone
            init: function() {

                var myDropzone = this;

                // mockFileで表示しているファイルの削除用のフラグを立てる
                var is_uploaded_file = 0;

                // ドラッグ&ドロップ領域以外にファイルをドラッグ&ドロップしても反応しないようにする
                $(document).on('drop dragover', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                });


                // ファイルを追加したときの処理
                myDropzone.on("addedfile", function(file) {

                    console.log("画像が追加されました");

                    // アップロードに成功したファイルを配列に保存しておく
                    file_up_max.push(file.pk);
                    console.log("file_up_max addedfile 元々追加されてたファイル", file_up_max);
                    console.log("file_up_max addedfile 後から追加されたファイル", this.files.length);

                    if (file.status == "added") {
                        file_changed = true;
                        $('#questionnaire_update_btn').prop('disabled', false);// ボタンを有効にする

                        // 戻るボタンを押したときにモーダル表示
                        $(".return_btn_modal").css("display", "block");
                        $(".return_btn").css("display", "none");
                    }

                    // サーバにアップしているファイルが5ファイルを超えている場合もエラー
                    //if (file_up_max.length + this.files.length >= 8) {
                    if (file_up_max.length >= 6) {

                        console.log("超えてるよ");

                        $('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + "アップロードできるファイルは5ファイルまでです。" + '</div>');

                        messageTimer();

                        this.removeFile(file);

                    } else {

                        console.log("超えてないよ");

                        // エラーメッセージを削除
                        //$('#validation-error-poster').html('');
                    }


                    // ファイル名から拡張子を取得する
                    var ext = checkFileExt(file.name); // Get extension

                    // 削除ボタンを押したときにファイルのIDをimage_up_namesに追加
                    image_up_names.push(file.pk);
                    console.log('image_up_names 画像', image_up_names);

                    // ランダムな文字を生成する
                    var gendelclass = getUniqueStr()

                    // アイコンを表示するカラムのクラスをランダムに変更する。
                    $(".delete_checkbox").removeClass().addClass(gendelclass);
                    if (file.pk) {
                        // ファイルIDをセット
                        $('.' + gendelclass).removeClass().attr("value", file.pk);
                        // 親要素を削除
                        //$('#previews div.preview-button.preview-text.button_colum > button').remove();
                    } else {
                        // チェックボックス要素を削除
                        $('.' + gendelclass).remove();
                    }


                    // ランダムな文字を生成する
                    var genclass = getUniqueStr()

                    // アイコンを表示するカラムのクラスをランダムに変更する。
                    $(".preview").removeClass().addClass(genclass);


                    switch (ext) {
                        // エクセル系
                        case 'xls':
                        case 'xlsx':
                            $('.' + genclass).addClass("icon xls");
                            $('.' + genclass).append('<i class="far fa-file-excel"></i>');
                            break;

                        // ワード系
                        case 'doc':
                        case 'docx':
                            $('.' + genclass).addClass("icon doc");
                            $('.' + genclass).append('<i class="far fa-file-word"></i>');
                            break;

                        // パワーポイント系
                        case 'ppt':
                        case 'pptx':
                            $('.' + genclass).addClass("icon ppt");
                            $('.' + genclass).append('<i class="far fa-file-powerpoint"></i>');
                            break;

                        // 写真系
                        case 'png':
                        case 'jpg':
                        case 'jpeg':
                        case 'svg':
                        case 'gif':
                        case 'tiff':
                        case 'bmp':
                            $('.' + genclass).addClass("icon img");
                            $('.' + genclass).append('<i class="far fa-file-image"></i>');
                            break;

                        // 音声系
                        case 'mp3':
                        case 'wma':
                        case 'aac':
                        case 'ogg':
                        case 'mov':
                        case 'm4a':
                        case 'mkv':
                        case 'flac':
                        case 'wav':
                        case 'aif':
                            $('.' + genclass).addClass("icon audio");
                            $('.' + genclass).append('<i class="far fa-file-audio"></i>');
                            break;

                        // 動画系
                        case 'mp4':
                        case 'mov':
                        case 'mpg':
                        case 'mpeg':
                        case 'avi':
                        case 'wmv':
                        case 'webm':
                        case 'flv':
                        case 'mkv':
                            $('.' + genclass).addClass("icon vido");
                            $('.' + genclass).append('<i class="far fa-file-video"></i>');
                            break;

                        // アーカイブ系
                        case 'zip':
                        case 'lzh':
                        case 'cab':
                        case 'tar':
                        case 'gz':
                        case 'tgz':
                            $('.' + genclass).addClass("icon arc");
                            $('.' + genclass).append('<i class="far fa-file-archive"></i>');
                            break;

                        // PDF
                        case 'pdf':
                            $('.' + genclass).addClass("icon pdf");
                            $('.' + genclass).append('<i class="far fa-file-pdf"></i>');
                            break;

                        // その他
                        default:
                            $('.' + genclass).addClass("icon");
                            $('.' + genclass).append('<i class="far fa-file"></i>');
                            break;
                        }

                        // 追加フラグをたてる
                        if (this.files.length > 0) {
                            addflug = true;
                        } else {
                            addflug = false;
                        }


                }); // end addfile event



                // 確定ボタンを押下したらファイルをアップロード
                $("#questionnaire_update_btn").click(function (e) {

                    //if (addflug) {
                    if (myDropzone.files.length > 0) {
                        // フラグがtrueの時はファイルアップロードを実行
                        e.preventDefault();
                        // キューを実行、ファイルアップデートviewで処理が行われる
                        myDropzone.processQueue();

                    } else {
                        // フラグがfalseの時はメッセージ等の保存を実行
                        document.myform.submit();
                        window.opener.focus();
                    }
                });

                // サーバ上にあるファイルを描画する。
                // StringとなっているのでJSONに変換
                // dist_fileはHTMLのScriptタグで取得（Viewのコンテキストとして取得）
                if (dist_file) {

                    // js側でjson形式に加工する
                    dist_file_json = JSON.parse(dist_file);
                    console.log("---- dist_file_json 画像 ----", dist_file_json)

                    // dist_file_jsonをループで取り出す
                    for (var i = 0; i < dist_file_json.length; i++) {

                        // サーバー側にあるアップロードされた情報のファイルの元ネタを作成
                        var mockFile = { name: dist_file_json[i].fields.name, size: dist_file_json[i].fields.size, pk:dist_file_json[i].pk};
                        console.log("---- mockFile 動画 ----", mockFile)

                        // mockFileを使ってaddfileイベントを発火し拡張子等のチェックを行う。
                        // ユーザーがDropzoneのドラッグ＆ドロップの領域に対してドラッグ＆ドロップしたときと同じ処理が走るイメージ
                        myDropzone.emit("addedfile", mockFile);

                        // thumbnailイベントを発火しパスの情報を紐付ける
                        myDropzone.emit("thumbnail", mockFile, dist_file_json[i].fields.file);

                    }
                }

            }, //end init


            // アップロードが完了したときに行われる処理
            maxfilesexceeded:  function(file) {

                // 上限数を超えたファイルは削除する
                console.log("maxfilesexceededが動いてるよ");

                // エラーメッセージ
                $('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + response + '</div>');

                messageTimer();

                this.removeFile(file);

            },
            // アップロード成功時の処理
            successmultiple: function(file, response){

                console.log("successmultipleが動いてるよ");

                $('#questionnaire_update_form').submit();

                window.opener.focus();

            },
            // アップロード失敗時にメッセージを表示する。
            error: function(file, response, xhr){

                //　動画ファイルのサイズが大きいメッセージを出す
                //$('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + response + '</div>');

                // フロントエンドでエラーが発生した場合。(サーバからのレスポンスがないエラー)
                if (xhr == null) {

                    console.log("ファイルのタイプが違う error");

                    //　動画ファイルのタイプが違うメッセージを出す
                    $('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + response + '</div>');

                    messageTimer();

                    // アップロードされたファイルを削除する
                    this.removeFile(file);


                // サーバーからレスポンスが帰ってきた場合(サーバ側でエラーが発生した場合)
                } else {

                    $('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + xhr.statusText + '</div>');

                    messageTimer();
                }
            },

            removedfile:function(file){

                // 削除ボタンを押下した場合、Ajaxで送信
                var ref;
                (ref = file.previewElement) != null ? ref.parentNode.removeChild(file.previewElement) : void 0;

                console.log('image_up_names', image_up_names);

                file_changed = true;
                $('#questionnaire_update_btn').prop('disabled', false);// ボタンを有効にする

                //for(var i=0;i<image_up_names.length;++i){

                    //if(image_up_names[i]==file.pk) {

                        //console.log('名前が一致したよ');

                        $.ajax({
                            url: "{% url 'training:image_delete' %}", //your php file path to remove specified image
                            type: "POST",
                            data: {
                                //image_up_name: image_up_names[i],
                                image_up_name: file.pk,
                                question_pk: question_pk,
                                type: 'delete',
                            },
                        });

                    //} else {
                        //console.log('名前が一致しなかったよ');
                    //}
                //}


                var image = image_up_names.pop();
                console.log('image_up_names 削除後', image_up_names);

                var file = file_up_max.pop();
                console.log('file_up_max 削除後', file_up_max);





            }

        });

        Dropzone.options.myAwesomeDropzone = {

            accept: function(file, done) {
                console.log("uploaded");
                done();
            },

            addRemoveLinks: true,

            init: function() {
            this.on("addedfile", function() {
                if (this.files[1]!=null){
                    console.log("ポスター、ifに落ちたよ");
                    this.removeFile(this.files[0]);
                }
            });
            }
        };

        // ファイルの拡張子を取得する。
        function checkFileExt(filename){
            filename = filename.toLowerCase();
            return filename.split('.').pop();
        }

        // ランダムな値を生成
        function getUniqueStr(myStrong){
            var strong = 1000;
            if (myStrong) strong = myStrong;
            return new Date().getTime().toString(16) + Math.floor(strong*Math.random()).toString(16)
        }

    });


</script>















{% endblock %}