
{% extends "common/base.html" %}
{% load i18n static %}
{% block title %}アンケート | {{ block.super }}{% endblock %}

{% block content %}

    <div class="container-fluid result_page mb-5">


        <div class="out">

            <div class="result_title">アンケートが完了しました</div>
            <div class="main">
                <div>アンケートのご協力ありがとうございました。</div>
            </div>


            <div class="home">
                <button type="button" class="my-btn my-btn-gray-2 my-btn-w8 close_test" onClick="window.open('about:blank', '_self').close()"><span>画面を閉じる</span></button>
            </div>

        </div>


    </div>

{% endblock %}


{% block extra_js %}

<script>
// 閉じるボタンを押したときに画面を更新する
$(document).ready(function() {
    $('.close_test').on('click', function() {
        window.opener.location.reload();
    });
});

$(function(){
    // 別タブの「✖」ボタンを押したときに画面を更新する
    $(window).on('beforeunload', function() {
        window.opener.location.reload();
    });
    $(".close_test").click(function() {
        $(window).off('beforeunload');
    });
});

</script>


{% endblock %}
