
{% extends "common/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% load set_order %}
{% load index %}
{% block title %}アンケート | {{ block.super }}{% endblock %}

{% block content %}

<style>
    textarea {
        resize: none;/*拡大・縮小を禁止*/
    }

    /*---------------------------------

    コンテンツが登録されていない場合の
    メッセージ

    ---------------------------------*/

    .fa-file {
        color: #afafaf;
        font-size: 100px;
    }

    .box2 {
        display: inline-block;
        text-align: center;
    }

    /*---------------------------------

    バリデーションのエラーメッセージ

    ---------------------------------*/
    span.error {
        color: red;
        display: block;
        text-align: left;
        font-size: 14px;
    }


</style>

    <div class="container-fluid mb-5">

        <!-- Form全体のバリデーション時のエラーを表示 -->
        <div class="alert_text"></div>

        <div class="questionnaire_dict" hidden>{{questionnaire_dict_json}}</div>


            <div class="card">
                <div class="d-flex flex-column card_header">

                    <div class="d-none d-inline-block mt-3 ml-4 mb-0">
                        <div class="test_title_size">{{questionnaire.title_detail}}</div>
                    </div>
                    <div class="d-none d-inline-block mt-0 ml-4 mb-0">
                        <div class="test_desc_size">{{questionnaire.description_detail|safe}}</div>
                    </div>

                    <div class="d-none d-inline-block mt-0 ml-4 mb-3">
                        {% comment %} <div>多肢選択の項目は必須、自由入力形式の項目は任意となっています。</div> {% endcomment %}
                    </div>

                </div>
            </div>

            {% comment %} {{ questionnaire.questionnairequestion_set.all|length }}個のアンケートが登録されています {% endcomment %}

            {% if not questionnaire.questionnairequestion_set.all|length == 0 %}

                <form id="myfrom" action="" method="post" class="needs-validation" novalidate>{% csrf_token %}

                    {% for question in questionnaire.questionnairequestion_set.all %}


                        <div class="d-flex align-items-center">

                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                <div class="test_question_text_size">{{ forloop.counter }}.{{question.text|safe}}</div>

                                <!-- 画像 -->
                                {% if question.image.all|length == 0 %}
                                <!-- 表示しない -->
                                {% else %}
                                    <!-- 表示する -->
                                    <div class="flex_Box">
                                        {% for image in question.image.all %}
                                            <img src="{{ image.image.url }}" class="image" width="350" height="200">
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                        </div>


                        {% if question.is_multiple_questionnaire == 1 %}
                            <div class="form-group">

                                {% for choice in question.questionnairechoice_set.all|set_order:"order" %}

                                    <div class="card mt-1">

                                        <div class="d-flex align-items-center test_chice_box">

                                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="test_chice_text_size"><input class="question{{ question.id }}" type="radio" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                                {% comment %} <div class="test_chice_text_size"><input class="question{{ question.id }}" type="radio" id="{{ choice.id }}" value="{{ choice.id }}" required></div> {% endcomment %}
                                            </div>

                                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="test_chice_text_size">{{choice_num|index:forloop.counter0}}.</div>
                                            </div>

                                            <div class="d-none d-md-inline-block mt-3 ml-1 mb-3">
                                                <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice}}</label>
                                            </div>

                                        </div>

                                    </div>

                                {% endfor %}

                            </div>

                        {% elif question.is_multiple_questionnaire == 2 %}

                            <div class="form-group">

                                {% for choice in question.questionnairechoice_set.all|set_order:"order" %}

                                    <div class="card mt-1">

                                        <div class="d-flex align-items-center test_chice_box">

                                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="test_chice_text_size"><input class="question{{ question.id }}" type="checkbox" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                                {% comment %} <div class="test_chice_text_size"><input class="question{{ question.id }}" type="checkbox" id="{{ choice.id }}" value="{{ choice.id }}" required></div> {% endcomment %}
                                            </div>

                                            <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                <div class="test_chice_text_size">{{choice_num|index:forloop.counter0}}.</div>
                                            </div>

                                            <div class="d-none d-md-inline-block mt-3 ml-1 mb-3">
                                                <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice}}</label>
                                            </div>

                                        </div>

                                    </div>

                                {% endfor %}

                            </div>


                        {% elif question.is_multiple_questionnaire == 3 %}

                            <div class="form-group mb-0">

                                <div class="card mt-1 test_chice_box">

                                    <div class="d-none d-md-inline-block mt-3 ml-2 mb-3 mr-2">
                                        <div class="d-flex align-items-center justify-content-center test_chice_text_size"><textarea class="question{{ question.id }} textInput" type="textarea" rows="10" cols="200" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></textarea></div>
                                        {% comment %} <div class="d-flex align-items-center justify-content-center test_chice_text_size"><textarea class="question{{ question.id }}" type="textarea" rows="10" cols="200" name='textInput' id="{{ choice.id }}" value="{{ choice.id }}"></textarea></div> {% endcomment %}

                                    </div>

                                </div>

                            </div>

                        {% endif %}


                    {% endfor %}

                    <!-- baseで定義している id="wrapper"とcontents-wrapperのDiv閉じ -->
                    {% comment %} </div> {% endcomment %}

                    {% comment %} </div> {% endcomment %}



                    <div>
                        <div class="row justify-content-center p-5">

                            <!-- 【B】 -->

                            <div class="d-none d-sm-block col-sm-3">
                                <button type="button" class="my-btn my-btn-gray-2 my-btn-block close_btn mr-2"><span>画面を閉じる</span></button>
                            </div>

                            <div class="d-none d-sm-block col-sm-3">
                                <button type="submit" id="questionnaire_form_btn" class="my-btn my-btn-egypt-1 my-btn-block" disabled><span>確認</span></button>
                            </div>

                            <!-- 【A】 -->
                            <div class="d-block d-sm-none">
                                <div class="btn-group d-flex">
                                    <button type="submit" class="my-btn my-btn-gray-2 my-btn-block close_btn mr-2"><span>画面を閉じる</span></button>
                                    <button type="submit" id="questionnaire_form_btn" class="my-btn my-btn-egypt-1 my-btn-block" disabled><span>確認</span></button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <input type="textarea" name="questionnaire_id" value="{{questionnaire.id}}" hidden>

                </form>

            {% else %}

            <div class="box1 d-flex align-items-center justify-content-center">
                <div class="box2 mt-5">
                    <i class="far fa-file"></i>
                    <h4 class="card-title font-weight-bold text-black-50 mt-3">コンテンツの登録がありません</h4>
                </div>
            </div>

            {% endif %}

    </div>









<!-- クローズ用Modal-->
<div class="modal fade" id="close_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
        入力した内容が消える可能性があります。<br />
        画面を閉じますか？
        </div>
        <div class="modal-footer">
        {% comment %} <button id="submit_file_upload" type="submit" class="btn btn-primary my-btn-sm my-btn-w8" onfocus="this.blur();">登録</button> {% endcomment %}
        {% comment %} <button class="btn btn-secondary btn-sm my-btn-w8 send_data_btn_cancel" type="button" data-dismiss="modal" onfocus="this.blur();">キャンセル</button> {% endcomment %}
        <button type="button" class="my-btn my-btn-egypt-1 my-btn-sm my-btn-w12 close_modal_btn"><span>アンケート画面を閉じる</span></button>
        <button type="button" onfocus="this.blur();" class="my-btn my-btn-egypt-1 my-btn-sm my-btn-w12" data-dismiss="modal">このメッセージを閉じる</button>


        </div>
    </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}

<script>
$(function(){
    // 別タブの「✖」ボタンを押したときに画面を更新する
    $(window).on('beforeunload', function() {
        window.opener.location.reload();
    });
    $("#questionnaire_form_btn").click(function() {
        $(window).off('beforeunload');
    });
});
</script>


<script>


$(document).ready(function() {


    /////////////////////
    // 登録モーダル表示   //
    /////////////////////
    $('#send_data_modal').on('show.bs.modal', function (event) {

        // チェックボックスに値がない場合は単体削除のユーザーIDを取得
        var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
        var q_count = button.data('q_count') //値を取得
        //var not_draft_children = button.data('not_draft_children') //値を取得

        //console.log(q_count)

        // チェックボックスにチェックで削除ボタン活性化
        //$("[name='質問']").change(function(){
        // console.log("チェック")
        var checks=[];
        $("[name^='質問']:checked").each(function(){
            checks.push(this.value);
            //console.log(checks.length)
        });

        console.log(checks.length)
        console.log(checks)

        // チェックされている場合は有効、チェックされていない場合は無効化
        if (checks.length > 0) {
            console.log("ture")
            $('#delbutton').prop("disabled", false);
        } else {
            console.log("false")
            $('#delbutton').prop("disabled", true);
        }


        //});





        // 削除ボタンを押下した場合、Ajaxで送信
        $('#send_data_modal').off('click', '.modal-footer .btn-primary') //onイベントの重複イベントを削除
        $('#send_data_modal').on('click', '.modal-footer .btn-primary', function() {
        $('#send_data_modal').modal('hide');


            $.post("index",
                    {}


            ).done(function(data){
                // モーダルの表示
                $('#result_modal').on('show.bs.modal', function (e) {
                    var modal = $(this);
                    modal.find('.modal-body').text(data.message);
                })
            //$('#result_modal').modal('show')
            //$("#result_modal_link").attr("onclick", "window.location.reload();")

            }).always(function(data){
            // 処理後に Loading 画像を削除
            //loadingView(false);

            });


        });
    });





    //////////////////////////////////////////
    // JSON解析してチェックボックスのチェック   //
    //////////////////////////////////////////
    var questionnaire_dict_json = $('.questionnaire_dict').text()

    if(questionnaire_dict_json != ""){

        var questionnaire_dict_result = JSON.parse(questionnaire_dict_json);

        key_list = Object.keys(questionnaire_dict_result)

        questionnaire_dict_main = {}

        for (var key of key_list) {
            value_list = questionnaire_dict_result[key];
            //$("input[name=" + key + "]").val(value_list);
            $(".question" + key).val(value_list);

        }

    }

    //////////////////////////////////////////
    // 画面閉じる際にメッセージを表示する   //
    //////////////////////////////////////////
    var check_list = [];
    var val_list = [];


    $('input[type="radio"]').each(function() {
        var is_checked = $(this).prop('checked')
        check_list.push(is_checked);
    });

    $('textarea').each(function() {
        var is_val = $(this).val()
        if (is_val){
            val_list.push(is_val);
        }
    });


    $('input[type="radio"]').on('change', function() {

        $('input[type="radio"]').each(function() {
            var is_checked = $(this).prop('checked')
            check_list.push(is_checked);
        });

    });

    $('textarea').on('change', function() {

        $('textarea').each(function() {
            var is_val = $(this).val()
            if (is_val){
                val_list.push(is_val);
            }
        });
    });

    $('.close_btn').on('click', function() {

        var is_checked_result = $.inArray(true, check_list);

        if(is_checked_result > 0 || val_list.length > 0) {
            $('#close_modal').modal('show')
        } else {
            window.opener.location.reload();
            window.open('about:blank','_self').close();
        }

    });

    $('.close_modal_btn').on('click', function() {
        window.open('about:blank','_self').close();
        window.opener.location.reload();
    });


});


</script>


<script>

    $(document).ready(function () {
        //標準エラーメッセージの変更
        $.extend($.validator.messages, {
            required: '未回答です。選択または入力してください。',
        });


        // 特定の文字だけ入力させないようにするルールを追加
        $.validator.addMethod(
            // ルールの名前を指定
            'comma',
            // ルールのメソッド
            function(value, element) {
                if ( this.optional( element ) ) {
                    return true;
                }
                if ( value.match(/,|'|%/) ){
                    return false;
                }
                return true;
            },
            // ルールに反した時のメッセージ
            '無効な文字列があります。'
        );

        // classに「textInput」が指定されているものにルールを適用
        $.validator.addClassRules("textInput", {
            required: true,
            comma: true,
        });


        $("#myfrom").validate({

            errorElement: "span",// labelがspanにかわる

            //エラーメッセージ出力箇所調整
            errorPlacement: function(error, element){
                if (element.is(':radio')) {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                    $('.alert_text').html('<div class="alert alert-danger" role="alert">未回答の項目があります。</div>');
                    //$('.error').css({'color':'red','font-size':'14px'});
                }else if (element.is(':checkbox')) {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                    $('.alert_text').html('<div class="alert alert-danger" role="alert">未回答の項目があります。</div>');
                    //$('.error').css({'color':'red','font-size':'14px'});
                }else {
                    error.insertAfter(element.parent().parent().parent());
                    $('.alert_text').html('<div class="alert alert-danger" role="alert">未回答の項目があります。</div>');
                    //$('label.error').css({'color':'red','font-size':'14px'});
                }

            },
        });


        // -----------------
        // validate 変更
        // -----------------
        $("#myfrom").on('keyup change', function(event) {

            // validateForm(): フォームのバリデーションを担当する
            validateForm('#myfrom');

        });


        function validateForm(id) {

            var valid = $(id).validate().checkForm();
            console.log("valid", valid)


            if (valid) {
                $('#questionnaire_form_btn').prop('disabled', false);// enables button
            } else {
                $('#questionnaire_form_btn').prop('disabled', true);// disables button
            }
        }


    });


</script>







{% endblock %}
