{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load get_list %}
{% load get_co_admin_user %}

<!--  Crispy Form -->
{% load widget_tweaks %}

{% load index %}

{% block title %}「{{test.title_detail}}」編集画面 | {{ block.super }}{% endblock %}

{% block content %}


<style>
    .delete-button {
        display: none;
        position: absolute;
        top: 57%;
        left: 45%;
        z-index: 10;
    }

    .hoge:hover .delete-button {
        display: block;
    }


    {% comment %} .hoge:hover {
        /*background-color:#cce9ff;*/
        opacity: 0.5;
    } {% endcomment %}

    .hoge::before { /* ボタンと同じサイズの白い半透明の疑似要素beforeを作成し、非表示にしておく */
        display: none;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFF;
        opacity: 0.5;
        z-index: 9;
    }

    .hoge:hover::before { /* マウスホバー時に先程作成したbeforeを表示させる */
        display: block;
    }

    .text_form_confirm {
        width: 100%;
        box-sizing: border-box;
        -webkit-appearance: none;
        display: block;
    }


    /*---------------------------------

        前のページに戻るボタン

    ---------------------------------*/

    .return_btn {
        color: #ffffff !important;
        background: #7db4e6;
    }

    .btn-grp {
        margin: 80px;
    }

    .fas_button {
        display: block;
        position: relative;
        width: 180px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        background-color: #fff;
        cursor: pointer;
    }

    {% comment %} .my-btn-egypt-1 {
        color: #ffffff !important;
        background: #7db4e6;
    } {% endcomment %}

    .my-btn-w12 {
        height: 45px;
        width: 300px;
    }

    .btn_parts_chg {
        color: #ffffff;
        background: #87c040;
    }

    .btn_parts_chg:before {
        position: absolute;
        top: 20%;
        left: 30px;
        width: 10px;
        color: #ffffff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f044';
        font-size: 15px;
    }

    .btn_test_create {
        color: #ffffff;
        background: #f783ac;
    }

    .btn_test_create:before {
        position: absolute;
        top: 20%;
        left: 30px;
        width: 10px;
        color: #ffffff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f5ae';
        font-size: 15px;
    }

    .btn_oder_chg {
        color: #ffffff;
        background: #ffae01;
    }

    .btn_oder_chg:before {
        position: absolute;
        top: 20%;
        left: 30px;
        width: 10px;
        color: #ffffff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f0cb';
        font-size: 15px;
    }

    /*---------------------------------

    設問が登録されていない場合の
    メッセージ

---------------------------------*/

    .fa-file {
        color: #afafaf;
        font-size: 100px;
    }

    .box2 {
        display: inline-block;
        text-align: center;
    }


</style>







    <div class="container-fluid mb-5">


        <!-- messages.succes や messages.errorにて利用 -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}


        <!-- Form全体のバリデーション時のエラーを表示 -->
        <div class="alert_text"></div>


        <div class="answer_dict" hidden>{{answer_dict_json}}</div>

        {% comment %} {% for question in test.question_parts.all %} {% endcomment %}

            <div class="card">

                <div class="d-flex flex-column card_header">

                    <!-- タイトル -->
                    {% comment %} <div class="d-none d-inline-block mt-3 ml-4 mb-0"> {% endcomment %}
                    <div class="d-inline-block mt-3 ml-4 mb-0">
                        <div class="test_title_size">「{{test.title_detail}}」編集画面</div>
                    </div>
                    {% comment %} <div class="d-none d-inline-block mt-0 ml-4 mb-3"> {% endcomment %}
                    <div class="d-inline-block mt-0 ml-4 mb-3">
                        <div class="test_desc_size">{{test.description_detail|safe}}</div>
                    </div>


                    {% comment %} <div class="d-flex d-none d-inline-block mt-0 ml-4 mb-3"> {% endcomment %}
                    <div class="d-flex d-inline-block mt-0 ml-4 mb-3">
                        <!-- パーツ変更ページへ遷移 -->
                        <a href="{% url 'training:parts_test_update' test.id %}">
                            {% comment %} <button type="submit" id="{{ test.order }}" class="fas_button btn_parts_chg btn_management_test my-btn-w8"><span class="my_btn_text">パーツ変更</span></button> {% endcomment %}
                            <span id="{{ test.order }}" class="fas_button btn_parts_chg btn_management_test mr-2">パーツ変更</span>

                        </a>

                        <!-- テスト設問作成ページへ遷移 -->
                        <a href="{% url 'training:question_register' test.id%}">
                            {% comment %} <button type="submit" id="{{ test.id }}" class="my-btn btn_test_create btn_management_test my-btn-w8"><span class="my_btn_text">設問登録</span></button> {% endcomment %}
                            <span id="{{ test.id }}" class="fas_button btn_test_create btn_management_test mr-2">設問登録</span>
                        </a>

                        <!-- 設問の並び替えページへ遷移 -->
                        <a href="{% url 'training:question_sort_top' test.id %}">
                            {% comment %} <button type="submit" class="my-btn btn_oder_chg btn_management_test my-btn-w9"><span class="my_btn_text">設問の並び替え</span></button> {% endcomment %}
                            <span class="fas_button btn_oder_chg btn_management_test">設問の並び替え</span>
                        </a>

                    </div>

                </div>

            </div>

                <!-- 設問が登録されていない場合 -->
                {% if test.question_parts.all|length == 0 %}
                    <div class="box1 d-flex align-items-center justify-content-center">
                        <div class="box2 mt-5">
                            <i class="far fa-file"></i>
                            <h4 class="card-title font-weight-bold text-black-50 mt-3">設問が登録されていません</h4>
                        </div>
                    </div>

                <!-- 設問が登録されている場合 -->
                {% else %}

                    {% for question in test.question_parts.all %}

                        {% comment %} {% if question.is_multiple %} {% endcomment %}

                            <div class="form-group hoge position-relative">

                                {% comment %} <button type="button" id="{{ question.id }}" class="my-btn my-btn-egypt-1 my-btn-w8 delete-button"><span class="my_btn_text">設問登録</span></button> {% endcomment %}

                                <!-- questionとchoiceの変更・削除 -->
                                <div class="delete-button">

                                    <a href="{% url 'training:question_update' question.id %}">
                                        <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8 "><span class="my_btn_text">変更</span></button>
                                    </a>


                                    {% if current_user|get_co_admin_user %}
                                    <!-- 共同管理者の場合 -->
                                        {% if question.question_register_user.display_name == login_user.display_name %}
                                            <!-- 設問の作成者が共同管理者の場合 -->
                                            <button type="button" class="btn my-btn-danger-1 my-btn-w8" data-toggle="modal" data-target="#question_delete_modal{{question.id}}" data-pk="{{ question.id }}">
                                                削除
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn my-btn-danger-1 my-btn-w8" data-toggle="modal" data-target="#question_delete_modal{{question.id}}" data-pk="{{ question.id }}" style="pointer-events: none; opacity: 0.5;">
                                                削除
                                            </button>
                                        {% endif %}

                                    {% else %}
                                        <!-- 管理者の場合 -->
                                        <button type="button" class="btn my-btn-danger-1 my-btn-w8" data-toggle="modal" data-target="#question_delete_modal{{question.id}}" data-pk="{{ question.id }}">
                                            削除
                                        </button>
                                    {% endif %}

                                </div>
                                <!-- questionとchoiceの変更・削除 -->



                                <div class="d-flex align-items-center">

                                    {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                    <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                        <div class="test_question_text_size">{{ forloop.counter }}.{{question.text|safe}}</div>
                                    </div>


                                    <!-- questionとchoiceの変更・削除 -->
                                    {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                        <a href="{% url 'training:question_update' question.id %}">
                                            <button type="button" class="my-btn my-btn-egypt-1 my-btn-w8"><span class="my_btn_text">変更</span></button>
                                        </a>
                                    </div>

                                    <div class="d-none d-md-inline-block mt-3 ml-2 mb-3">

                                        <button type="button" class="btn btn-primary del_confirm" data-toggle="modal" data-target="#question_delete_modal{{question.id}}" data-pk="{{ question.id }}">
                                            削除
                                        </button>

                                    </div> {% endcomment %}

                                </div>

                                <div class="card-box">

                                    {% for choice in question.choice_set.all %}

                                        {% comment %} <div class="card mt-1" id="hoge"> {% endcomment %}

                                            <div class="card mt-1">

                                                {% comment %} <input class="delete-button" type="button" value="×"> {% endcomment %}

                                                <div class="d-flex align-items-center test_chice_box">

                                                    <!-- ラジオボタン -->
                                                    {% if question.is_multiple == 1 %}
                                                        {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                                        <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                            <div class="test_chice_text_size"><input class="input_check" type="radio" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                                        </div>

                                                        <!-- ア、イ、ウ、エ -->
                                                        {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                                        <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                            <div class="test_chice_text_size">{{choice_num|index:forloop.counter0}}.</div>
                                                        </div>

                                                        <!-- 選択肢の値 -->
                                                        {% comment %} <div class="d-none d-md-inline-block mt-3 ml-1 mb-3"> {% endcomment %}
                                                        <div class="d-md-inline-block mt-3 ml-1 mb-3">
                                                            <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice}}</label>
                                                        </div>

                                                    <!-- チェックボックス -->
                                                    {% elif question.is_multiple == 2 %}
                                                        {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                                        <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                            <div class="test_chice_text_size"><input class="input_check" type="checkbox" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                                        </div>

                                                        <!-- ア、イ、ウ、エ -->
                                                        {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                                        <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                            <div class="test_chice_text_size">{{choice_num|index:forloop.counter0}}.</div>
                                                        </div>

                                                        <!-- 選択肢の値 -->
                                                        {% comment %} <div class="d-none d-md-inline-block mt-3 ml-1 mb-3"> {% endcomment %}
                                                        <div class="d-md-inline-block mt-3 ml-1 mb-3">
                                                            <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice}}</label>
                                                        </div>

                                                    <!-- 記述式(完全一致) -->
                                                    {% elif question.is_multiple == 3 %}
                                                        {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                                        <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                            <div class="test_chice_text_size"><textarea class="text_form_confirm" cols="40" rows="2" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required>{{choice}}</textarea></div>
                                                        </div>
                                                    <!-- 記述式(部分一致) -->
                                                    {% else %}
                                                        {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3"> {% endcomment %}
                                                        <div class="d-md-inline-block mt-3 ml-4 mb-3">
                                                            <div class="test_chice_text_size"><textarea class="text_form_confirm" cols="40" rows="2" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required>{{choice}}</textarea></div>
                                                        </div>
                                                    {% endif %}

                                                    {% comment %} <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                                        <div class="test_chice_text_size">{{choice_num|index:forloop.counter0}}.</div>
                                                    </div>

                                                    <div class="d-none d-md-inline-block mt-3 ml-1 mb-3">
                                                        <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice}}</label>
                                                    </div> {% endcomment %}

                                                </div>

                                            </div>

                                    {% endfor %}

                            </div>

                        </div>



                        <!-- 削除モーダルの設定 -->
                        <div class="modal fade" id="question_delete_modal{{question.id}}" tabindex="-1" aria-labelledby="exampleModalLabel">

                            <div class="modal-dialog modal-dialog-centered">

                                <div class="modal-content">

                                    <div class="modal-header">

                                        <h5 class="modal-title" id="exampleModalLabel">テスト削除</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>

                                    <div class="modal-body">
                                        <!-- 警告メッセージ内で表示する設問は30文字でカット -->
                                        <h6><i class="fas fa-exclamation-circle" style="color: #dc3e45;"></i>「{{ question.text|truncatechars:30 }}」を削除しますか？</h6>
                                    </div>

                                    <div class="modal-footer justify-content-center">

                                        <form action="{% url 'training:question_delete' question.id %}" method="POST" id="delete-form">

                                            {% csrf_token %}

                                            <div class="btn_group">
                                                <button type="button" class="my-btn my-btn-gray-2 my-btn-w7 mr-3" data-dismiss="modal">閉じる</button>
                                                <button type="submit" class="my-btn my-btn-egypt-1 my-btn-w7">削除</button>
                                            </div>

                                        </form>

                                    </div><!-- /.modal-footer -->

                                </div><!-- /.modal-content -->

                            </div><!-- /.modal-card -->

                        </div><!-- /.modal -->

                    {% endfor %}

                {% endif %}


<!-- baseで定義している id="wrapper"とcontents-wrapperのDiv閉じ -->
    </div>
</div>



            <!-- ボタン -->
            <div class="d-flex justify-content-center btn-grp">

                {% comment %} <a href="{{request.META.HTTP_REFERER}}">
                    <button type="button" class="my-btn my-btn-egypt-1 my-btn-w12"><span class="my_btn_text">前のページに戻る</span></button>
                </a> {% endcomment %}

                <!-- 前のページに戻る -->
                <button type="button" class="my-btn my-btn-egypt-1 return_btn my-btn-w12" onclick="window.location.href='{% url 'training:training_edit_menu' training_id %}'"><span class="my_btn_text">前のページに戻る</span></button>

            </div>



    </div>





{% endblock %}

{% block extra_js %}


<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>





{% endblock %}