
{% extends "common/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% load get_training_status %}
{% load get_reminder_user_name %}
{% load get_reminder_user_company %}
{% load get_reminder_user_company_pic_dept_name %}


{% block title %}リマインダー | {{ block.super }}{% endblock %}


{% block content %}

<style>

    /*---------------------------------

        タイトル

    ---------------------------------*/
    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        font-weight: bold;
        font-size: 25px;
    }

    .cp_p_title {
        text-align: left;
        font-size: 15px;
    }

    :focus-ring {
        outline: none;
    }

    .container-fluid {
        padding-right: 40px;
        padding-left: 40px;
    }

</style>


<div class="container">

    <!-- messages.succes や messages.errorにて利用 -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}




    {% comment %} {% for training_manage in training_manages %}
        {{ training_manage.user }}<br>
        {{ training_manage.status }}

    {% endfor %} {% endcomment %}




    <div class="card card-register border-0 mx-auto mt-3">

        {% comment %} <div class="page-title" style="font-weight: 600;">リマインダー</div> {% endcomment %}

        <div class="mdl_align-height mt-3 mb-3">

            <div class="">
                <h4 class="training_title">リマインダー</h4>
                <p class="cp_p_title m-0 pt-2 pb-4">・トレーニングを完了していないユーザーにメッセージを送ることができます。</p>
            </div>

        </div>

        <div class="reminder_body">

            <h6 class="section_title">通知先</h6>

            <table class="table table-hover mb-5">

                <thead class="">
                    <tr>
                        <th></th>
                        <th scope="col">会社名</th>
                        <th scope="col">所属</th>
                        <th scope="col">氏名</th>
                        <th scope="col">ステータス</th>
                        {% comment %} <th scope="col">対応期限</th>
                        <th scope="col">残り日数</th> {% endcomment %}
                    </tr>
                </thead>

                <tbody>




                    {% for training_manage in training_manages %}
                        {% comment %} {{ training_manage.user|get_user_name:training_manage.user }} {% endcomment %}

                        <tr class="table-light">
                            <!-- 番号 -->
                            <td class="r_task_reminder_col_1" style="width: 10px;">
                                {{ forloop.counter }}
                            </td>

                            <!-- 会社名 -->
                            <td class="r_task_reminder_col_2" style="width: 50px;">
                                {{ training_manage.user|get_reminder_user_company }}
                            </td>

                            <!-- 所属 -->
                            <td class="r_task_reminder_col_2" style="width: 50px;">
                                {% comment %} {{ training_manage.user.company.pic_dept_name }} {% endcomment %}
                                {{ training_manage.user|get_reminder_user_company_pic_dept_name }}
                            </td>

                            <!-- ユーザー名 -->
                            <td class="r_task_reminder_col_3" style="width: 50px;">
                                {{ training_manage.user|get_reminder_user_name }}
                            </td>


                            <!-- 提出状況 -->
                            <td class="r_task_reminder_col_4" style="width: 30px;">

                                {% if training_manage.status == 1 %} <!-- 未対応 -->
                                    未対応
                                {% elif training_manage.status == 2 %} <!-- 対応中 -->
                                    対応中
                                {% endif %}
                            </td>


                            <!-- 期限 -->
                            {% comment %} <td class="r_task_reminder_col_3">
                                {{ training_manage.training.end_date|date:'Y/m/d H:i' }}
                            </td> {% endcomment %}

                            <!-- ステータス -->
                            {% comment %} <td class="r_task_reminder_col_3">
                                <div class="period_rem_date" data-period_date="{{ training_manage.training.end_date|date:'Y/m/d H:i' }}"></div>
                            </td> {% endcomment %}

                        </tr>

                    {% endfor %}









                    {% comment %} {% for user in users %}

                        {% with training_status=user.training_manage_user.all|get_training_status:training_id%}

                            {% if training_status != "完了"%}

                                <tr class="table-light">
                                    <!-- 番号 -->
                                    <td class="r_task_reminder_col_1">
                                        {{ forloop.counter }}
                                    </td>

                                    <!-- 学籍番号 -->
                                    <td class="r_task_reminder_col_2">
                                        {{ user.company.pic_dept_name }}
                                    </td>

                                    <!-- 学生名 -->
                                    <td class="r_task_reminder_col_3">
                                        {{ user.display_name }}
                                    </td>

                                    <!-- 提出状況 -->
                                    <td class="r_task_reminder_col_4">
                                        {{ training_status|default_if_none:"未対応" }}
                                    </td>
                                </tr>

                            {% endif %}

                        {% endwith %}

                    {% endfor %} {% endcomment %}

                </tbody>

            </table>



            <form id="myfrom" action="" method="post" class="needs-validation" novalidate>{% csrf_token %}

                <div class="form-row">

                    <div class="col">

                        <!-- メッセージ -->
                        <h6 class="section_title reminder_label">
                            メッセージ
                            <div class="require_label require_label_mg29 float-right">
                                <span style="color: #fff;">必須</span>
                            </div>
                        </h6>


                        <div class="form-group mb-0">
                            <!-- 入力フィールド -->
                            {% if form.is_bound %}<!-- エラーがはるかな以下の判断 -->

                                {% if form.message.errors %}<!-- エラー時の表示 -->

                                    {% render_field form.message class="form-control is-invalid" %}

                                    {% for error in form.message.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}

                                {% else %}<!-- 正常時の表示 -->
                                    {% render_field form.message class="form-control is-valid" %}
                                {% endif %}

                            {% else %}<!-- 初期表示 -->
                                {% render_field form.message class="form-control" value="テストユーザー" %}
                            {% endif %}
                        </div>
                    </div>
                </div>



                {% comment %} <div class="row mt-4"> {% endcomment %}
                <div class="d-flex justify-content-center mt-4">


                    {% comment %} <div class="col-sm-6"> {% endcomment %}
                        {% comment %} <a href="{% url 'training:app_admin' %}" onfocus="this.blur();" class="btn btn-secondary btn-block cancel_btn">キャンセル</a> {% endcomment %}
                    {% comment %} </div> {% endcomment %}

                    <a href="{% url 'training:app_admin' %}" onfocus="this.blur();" class="my-btn my-btn-gray-2 my-btn-w12 mr-3 cancel_btn">キャンセル</a>

                    {% comment %} <div class="col-sm-6"> {% endcomment %}
                        <button type="submit" class="my-btn my-btn-egypt-1 my-btn-w12 my-btn-block">送信</button>
                    {% comment %} </div> {% endcomment %}

                </div>

            </form>

        </div> <!-- end reminder_body -->

        {% comment %} </div><!-- end page-title --> {% endcomment %}

    </div> <!-- end card -->

</div> <!-- end container-->



{% endblock %}


{% block extra_js %}

<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>


<script>

$(document).ready(function() {

    $('.close_test').on('click', function() {
        window.opener.location.reload();
    });

});

    /////////////////////
    // 有効期限の表示    //
    /////////////////////
    {% comment %} $('.period_rem_date').each(function(){

        // 現在日時
        var current = new Date();

        // 期限(文字列)
        period_date_str = $(this).data('period_date')
        console.log("期限ストリング")
        console.log(period_date_str)

        // 期限
        var period_date = new Date( period_date_str )

        // 公開日時ミリ秒
        var period_date = period_date.getTime();

        // 日付差分
        var diff_date =  period_date - current

        // 日に変換
        var rem_day = Math.floor(diff_date / (1000 * 60 * 60 *24));

        // 日に1日を加算
        var rem_day_add = rem_day + 1;
        console.log("日に1日を加算")
        console.log(rem_day_add)

        // 2日以下の場合は赤
        if (rem_day_add <= 2) {
        $(this).css("color", "#ff0000");

        // 6日以下の場合は黄色
        } else if (rem_day_add <= 6) {
        $(this).css("color", "#ffa500");

        // それ以外は青
        } else {
        $(this).css("color", "#0000ff");
        }

        // 30日以上の場合は一ヶ月以上と表示
        if (rem_day_add >= 30) {
        $(this).text("残り30日以上");

        } else if (rem_day_add < 0) {
        $(this).text("期限切れ");

        // それ以外は日数を表示
        } else {
        // 残り時間を表示
        $(this).text("残り" + rem_day_add + "日");
        }

    }); {% endcomment %}





(function(){
    //標準エラーメッセージの変更
    $.extend($.validator.messages, {
        email: '*正しいメールアドレスの形式で入力して下さい',
        required: '未入力です。メッセージを入力してください。',
        phone: "*正しい電話番号の形式で入力してください"
    });

    //入力項目の検証ルール定義
    var rules = {
        text: {required: true},
    };

    //入力項目ごとのエラーメッセージ定義
    var messages = {
        text: {
        required: "*名前を入力してください"
        },
    };

    $(function(){
        $('#myfrom').validate({
            rules: rules,
            messages: messages,

            //エラーメッセージ出力箇所調整
            errorPlacement: function(error, element){
                error.appendTo(element.parent().parent());
                $('.alert_text').html('<div class="alert alert-danger" role="alert">未回答の項目があります。</div>');
                $('label.error').css({'color':'red','font-size':'14px'});
            },
            success: function(error, element) {
                var result = $('#myfrom').find('.error');
                // errorクラス名で検索した結果数が8以下の場合アラートを削除
                if (result.length <= 8) {
                    $('.alert_text').html("");
                }
            }
        });
    });

})();



</script>


{% endblock %}
