{% extends "common/base.html" %}
{% load i18n static %}
{% load get_model_obj %}
{% load set_order %}
{% load get_parts_type %}
{% load get_training_status %}
{% load get_training_status_waiting %}
{% load get_training_status_working %}
{% load get_training_status_done %}
{% load zfill %}
{% load get_user_status %}

{% block title %}リソース管理 | {{ block.super }}{% endblock %}

{% block content %}

<style>

    {% comment %} @media (min-width: 1367px) { /*ウィンドウ幅が最大1366px以上の場合に適用*/
        #wrapper {
            overflow: scroll;
        }
    } {% endcomment %}

    /*---------------------------------

        タイトル

    ---------------------------------*/
    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        font-weight: bold;
        font-size: 25px;
    }

    /*---------------------------------

    ラベル

    ---------------------------------*/

    span.label {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }

    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .row {
        margin: auto;
        justify-content: center; /*外枠の上下左右中央寄せ*/
    }

    .container {
        padding-right: 80px;
        padding-left: 80px;
    }

    /*---------------------------------

        CSS Grid

    ---------------------------------*/

    .container2 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 0px 0px;
    }


    .card:nth-of-type(1) {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }

    .card:nth-of-type(2) {
        grid-column: 5 / span 6;
        grid-row: 1 / span 5;
    }

    .card:nth-of-type(3) {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    }

    .card:nth-of-type(4) {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
    }

    .card:nth-of-type(5) {
        grid-column: 1 / span 2;
        grid-row: 4 / span 2;
    }

    .card:nth-of-type(6) {
        grid-column: 3 / span 2;
        grid-row: 4 / span 2;
    }

    /*---------------------------------

    カード

    ---------------------------------*/

    .card {
        background: whitesmoke;
        margin: 10px;
        border-radius: 4px;
        box-shadow:
            0 0.2px 0.3px rgba(0, 0, 0, 0.017),
            0 0.4px 0.7px rgba(0, 0, 0, 0.024),
            0 0.6px 1.2px rgba(0, 0, 0, 0.03),
            0 1px 1.9px rgba(0, 0, 0, 0.035),
            0 1.5px 2.9px rgba(0, 0, 0, 0.04),
            0 2.4px 4.5px rgba(0, 0, 0, 0.046),
            0 4px 7.5px rgba(0, 0, 0, 0.053),
            0 8px 15px rgba(0, 0, 0, 0.07)
        ;
    }

    .card.plan_line {
        border-left: solid 15px #125ea3;/*左側の線*/
    }

    .card-text.plan {
        font-size: 30px;
        color: #494949;
        font-weight: bold;
    }

    .fa-edit {
        font-size: 30px;
        color: #87c040;
        cursor: pointer;
    }

    /*---------------------------------

    大文字、小文字

    ---------------------------------*/
    .capital_letter{
        font-size: 50px;
        color: #125ea3;
    }

    .small_letter {
        font-size: 30px;
        color: #494949;
    }

    .resource{
        font-size: 20px;
    }

    /*---------------------------------

    下線

    ---------------------------------*/
    .line {
        padding-bottom: 5px;
        border-bottom: 1px solid #494949;
    }

    /*---------------------------------

        トレーニングタイトル

    ---------------------------------*/

    .menu_title_size {
        font-size: 1.3rem;
        font-weight: 500!important;
    }

    /*---------------------------------

        前のページに戻るボタン

    ---------------------------------*/

    .btn-grp {
        margin: 80px;
    }

    .btn_back_home {
        color: #ffffff !important;
        background: #7db4e6;
    }

    .btn_back_home_w12 {
        height: 45px;
        width: 25%;
    }

    /*---------------------------------

        divの中のdivを中央配置

    ---------------------------------*/

    .box1 {
        display: flex;
        justify-content: center;
    }
    .box2 {
        padding: 40px 0;
        text-align: center;
    }


</style>

<div class="container">

    <div class="mdl_align-height mt-3 mb-3">
        <div class="">
            <sapan class="training_title">リソース管理</sapan><span class="label">管理者画面</span>
        </div>
    </div>

    <div class="container2">

        <div class="card plan_line">
            <div class="d-flex align-items-center justify-content-center justify-content-around card-body">
                <h5 class="card-title d-inline m-0">契約プラン</h5>
                <div class="d-flex align-items-center">
                    <p class="card-text plan d-inline m-0">スタンダードプラン</p>
                    <a href="#" title="プランの変更"><span><i class="fas fa-edit ml-2"></i></span></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body p-4">
                <div>
                    <h3 class="card-title line m-0">リソース状況</h3>
                    <p class="card-text resource d-inline">ディスク使用量</p>
                    <p class="card-text  resource d-inline">{{total_file_size}}MB / 500MB(残容量 : {{ remaining_capacity }}MB)</p><!-- 500MBは仮 -->
                </div>
                <!-- chart.js この場所にグラフが描画される-->
                <div class="d-flex align-items-center justify-content-center">
                    <div class="chart-container">
                        <canvas id="myChart" width="350" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="card box1">
            <div class="card-body box2">
                <h5 class="card-title m-0">ユーザー数</h5>
                <p class="card-text inner"><span class="capital_letter">{{company_user_count}}</span><span class="small_letter">/30</span></p>
            </div>
        </div>

        <div class="card box1">
            <div class="card-body box2">
                <h5 class="card-title m-0">ゲストユーザー数</h5>
                <p class="card-text"><span class="capital_letter">{{company_guest_user_count}}</span><span class="small_letter">/10</span></p>
            </div>
        </div>

        <div class="card box1">
            <div class="card-body box2">
                <h5 class="card-title m-0">トレーニング数</h5>
                <p class="card-text"><span class="capital_letter">{{number_of_training}}</span><span class="small_letter">/15</span></p>
            </div>
        </div>

        <div class="card box1">
            <div class="card-body box2">
                <h5 class="card-title m-0">実サイズ</h5>
                <p class="card-text"><span class="capital_letter">{{total_file_size}}</span><span class="small_letter">MB</span></p>
            </div>
        </div>

    </div>


</div>

<!-- ボタン -->
<div class="d-flex justify-content-center btn-grp">
    <!-- 前のページに戻る -->
    <button type="button" class="my-btn btn_back_home btn_back_home_w12" onclick="window.location.href='{% url 'training:training' %}'"><span class="my_btn_text">ホームへ戻る</span></button>
</div>




{% endblock %}

{% block extra_js %}

    <!----- chart.js ------>
    <script type="text/javascript" src="{% static 'training/js/chart.min.js' %}"></script>





<script>
// -----------------
// chart.js 半円グラフ
// -----------------

$(function () {

    var total_file_size_val = "";
    var usage_rate_val = "";

    // 実サイズ
    total_file_size_val = "{{total_file_size}}";
    console.log("total_file_size_val", total_file_size_val)

    // 実サイズが500を超えていた場合
    if(total_file_size_val >= 500){
        total_file_size_val = 500;
    }

    // 使用率
    var usage_rate_val = "{{usage_rate}}";
    console.log("usage_rate_val", usage_rate_val)

    var ctx = $("#myChart");

    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            //labels: ["Red"],
            datasets: [{
                //label: '# of Votes',
                data: [total_file_size_val,500-total_file_size_val],
                //text: "ff",
                backgroundColor: [
                    "#9fcded",// 青
                    "#cacaca"// グレー
                ],
                cutout: '65%',//チャートの幅(%)
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,// 自動でサイズ変更をする
            circumference: 180,
            rotation: -90,
        },

        // 半円グラフ中央に数字を表示
        plugins: [{
            id: 'text',
            beforeDraw: function(chart, a, b) {

                var width = chart.width,
                    height = chart.height,
                    ctx = chart.ctx;

                ctx.restore();

                var fontSize = (height / 80).toFixed(2);
                ctx.font = fontSize + "em sans-serif";
                ctx.textBaseline = "middle";

                // userを描画
                var text = usage_rate_val + "%",
                    textX = Math.round((width - ctx.measureText(text).width) / 2),
                    textY = height / 1.5;

                ctx.fillText(text, textX, textY);
                ctx.save();

            },
        }]

    });


});
</script>

{% endblock %}
