{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load widget_tweaks %}

{% block title %}コース登録 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}"> {% endcomment %}

    <!-- dropzone CSS -->
    <link rel="stylesheet" href="/static/training/css/basic.css" >

<style>
    .container {
        max-width: 1140px;
        max-height: 1130px;

        min-width: 1140px;
        min-height: 1130px;
    }

    /*---------------------------------

    タイトル、サブタイトル

    ---------------------------------*/
    .cp_h1title{
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 25px;
    }
    .cp_h1title::before{
        content: "";
        position: absolute;
        bottom: 0;
    }
    .cp_h1title:before{
        border-bottom: 4px solid #4a849a;
        width: 100%;
    }

    .cp_p_title {
        text-align: left;
        padding-top: 10px;
        font-size: 15px;

    }

    /*---------------------------------

    テーブル

    ---------------------------------*/

    .subject_create_table {
        width: 100%;
        table-layout: fixed;
    }

    .subject_create_table th,
    .subject_create_table td {
        border: 1px solid #ccc;
        padding: 20px;
    }

    .subject_create_table th {
        font-weight: bold;
        background-color: #eeeeee;
    }

    /*---------------------------------

    ラベル

    ---------------------------------*/
    span.label {
        line-height: 1.6;
        font-size: 12px;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: middle;
        color: #fff;
        padding: 8px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }

    /*---------------------------------

    必須、任意ラベル

    ---------------------------------*/
    .require_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .option_label {
        color: #595959;
        font-size: 1rem;
        margin-top: 3px;
    }

    .required_box {
        width: 100%;
        display: -webkit-inline-box;
        /*display: block;*/
        position: relative;
    }


    .option_box {
        width: 100%;
        display: -webkit-inline-box;
        position: relative;
    }


    .required_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 5px;
        background-color: red;
        border-radius: 3px;
        padding: 2px 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "必須";

    }

    .option_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 5px;
        background-color: #7d8285;
        border-radius: 3px;
        padding: 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "任意";
    }

    span.error {
        color: red;
        display: block;
        text-align: left;
    }

    /*---------------------------------

    もっと見るボタン

    ---------------------------------*/

    .list_toggle {
        position: absolute;
        {% comment %} width: 452px; {% endcomment %}
        width: 400px;
        bottom: -18px;
        /*left: 116px;*/
        text-align: center;
        background: linear-gradient(0,#fff,#fff 20%,hsla(0,0%,100%,0));
        border-radius: 5px;
    }

    /* 閉じたときのボタン位置 */
    .list_toggle.close_area {
        background: none;
        /*position: static;*/
        margin-top: 85px;
    }

    .list_toggle a {
        width: 170px;
        color: #fff;
        border: 2px solid;
        border-radius: 50px;
        display: block;
        font-weight: bold;
        font-size: 12px;
        padding: 8px 0;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        transition: all .3s ease-in;

        margin: 0 auto;/* ボタンを中央に */
    }

    .list_toggle a.open_link {
        background: #f8b75d;
    }

    .list_toggle a.close_link {
        background: #f8b75d;
    }

    .list_toggle a.open_link:before {
        content: "リストをもっと見る ▼";
        display: inline;
    }

    .list_toggle a.close_link:before {
        content: "リストを閉じる ▲";
        display: inline;
    }

    /*グループの登録が5個以上*/
    .showmore_list {
        overflow: hidden;
        line-height: 1.6;
        transition: all .3s ease-in;
    }

    /*グループの登録が5個以下*/
    .showmore_list_2 {
        overflow: hidden;
        line-height: 1.6;
        transition: all .3s ease-in;
    }


/*---------------------------------

    選択したユーザーの表示

---------------------------------*/

    .selected_group_box {
        float: left;
        width: 50%;
        margin-left: 70px;
    }

    .fa-user {
        color: #4a849a;
    }

    #selected_user {
        text-align: left;
    }


/*---------------------------------

    絞り込み検索

---------------------------------*/

    .search_container {
        box-sizing: border-box;
        position: relative;
        right: -20px;
        border: 1px solid #999;
        padding: 3px 10px;
        border-radius: 20px;
        height: 2.3em;
        width: 385px;
        overflow: hidden;
    }

    .search-area:after {
        position: relative;
        right: 15px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f002";
        color: #595959;
    }


/*---------------------------------

    枠

---------------------------------*/

    .box28 {
        position: relative;
        /*margin: 2em 0;*/
        padding: 32px;
        width: 452px;
        text-align: left;
        border: solid 2px #f8b75d;
        border-radius: 5px;
        background: white;
        font-size: 16px;
    }

    .box28 .box-title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        background: #f8b75d;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
    }

    .box29 {
        position: relative;
        /*margin: 2em 0;*/
        padding: 34px;
        width: 452px;
        text-align: left;
        border: solid 2px  #4a849a;
        border-radius: 5px;
        background: white;

    }

    .box29 .box-title {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        background:  #4a849a;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
    }

/*---------------------------------

Dropzone

---------------------------------*/
    /*　外枠　*/
    /*#poster_Dropzone.dropzone {
        padding: 5px;
        width: 1030px;
    }*/

    /*　カーソルを当てた時の動画の詳細　*/
    #poster_Dropzone.dropzone .dz-preview .dz-details{
        top: 40%;
        left: 288%;
    }

    /*　削除リンク　*/
    #poster_Dropzone.dropzone .dz-preview .dz-remove  {
        position: relative;
        left: 288%;
        margin-top: 10px;
    }

    /*　画像　*/
    .dropzone .dz-preview .dz-image img {
        display: block;
        width: 810px;
        height: 600px;
    }

    /*　ドロップゾーンのファイルアップロード、横棒を消す　*/
    #poster_Dropzone .dz-progress {
        display: none;
    }

    /*　ドロップゾーンのファイルのサイズ変更、丸みを消す　*/
    #poster_Dropzone.dropzone .dz-preview .dz-image {
        {% comment %} width: 810px; {% endcomment %}
        width: 765px;
        height: 600px;
        border-radius: 0;
    }

    /*　サムネイル、動画アップロードアイコン　*/
    .fa-file-upload {
        color: #999999;
    }


/*---------------------------------

    エラー

---------------------------------*/
    .name_error_message {
        color: red;
        text-align: left;
    }


/*---------------------------------

戻るボタン

---------------------------------*/
    .btn-grp {
        margin: 80px;
        text-align: center;
    }
</style>


<div class="container">

    <!-- messages.succes や messages.errorにて利用 -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }} mb-3"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div>
        <h3 class="cp_h1title">コース変更</h3>
        <p class="cp_p_title">・【必須】がついている項目は必須です。必ず入力してください。</p>

        <!-- 存在確認エラー -->
        <div>
            <!-- コース名の重複チェックエラー -->
            {% for error in form.subject_name.errors %}
                <p class="name_error_message">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

    </div>

    <div class="my-div-style w-100">

        <form method="POST" enctype='multipart/form-data' id="subject_update_form">

            <!-- 登録フォームを表示 -->
            {% csrf_token %}

            <table class="subject_create_table">
                <tbody>
                    <!-- コース名 -->
                    <tr>
                        <th style="width: 250px;">
                            <div class="required_box">
                                <div class="label require_label">コース名</div>
                            </div>
                        </th>
                        <td colspan="5">
                            {% render_field form.subject_name class="form-control" %}
                        </td>
                    </tr>

                    <!-- 対象者 -->
                    <tr>
                        <th style="width: 250px;">
                            <div class="option_box">
                                <div class="label option_label">対象者</div>
                            </div>
                        </th>
                        <td colspan="5">
                            {% render_field form.target class="form-control" %}
                        </td>
                    </tr>

                    <!-- 所要時間 -->
                    <tr>
                        <th style="width: 250px;">
                            <div class="option_box">
                                <div class="label option_label">所要時間</div>
                            </div>
                        </th>
                        <td colspan="5">
                            {% render_field form.duration class="form-control" %}
                        </td>
                    </tr>

                    <!-- 目的 -->
                    <tr>
                        <th>
                            <div class="option_box">
                                <div class="label option_label">目的</div>
                            </div>
                        </th>
                        <td colspan="5">{% render_field form.objective class="form-control" %}</td>
                    </tr>

                    <!-- ポスター -->
                    <tr>
                        <!-- ポスターのドラッグアンドドロップ部 -->

                            <th style="width: 200px">
                                <div class="option_box">
                                    <div class="label require_label">ポスター<br>アップロード</div>
                                </div>
                            </th>

                            <td colspan="5">

                                <div id="poster_Dropzone" class="dropzone" name="poster">

                                    <div class="fallback">
                                        <input name="poster" type="file"/>
                                    </div>

                                </div>

                                <!-- ドラッグアンドドロップしたファイルのリスト表示部 -->
                                <div class="table table-striped m-0" class="files" id="poster_previews">

                                    <div id="template" class="file-row">

                                        <!-- This is used as the file preview template -->
                                        <div class="icon_colum">
                                            <div class="preview"></div>
                                        </div>

                                        <div class="name_colum">
                                            <span class="name preview-text" data-dz-name></span>
                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                        </div>

                                        <div class="size_colum">
                                            <span class="size preview-text" data-dz-size></span>
                                        </div>

                                        <div class="check_colum">
                                            <div class="btn-group delete_checkbox" data-toggle="parts_movie_delete_checkbox">
                                                <label class="text btn" data-toggle="tooltip" title="削除">
                                                    <input type="checkbox" name="del_file" class="delete_checkbox"><i class="far fa-square fa-2x"></i><i class="far fa-check-square fa-2x"></i>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="preview-button preview-text button_colum">
                                            <button data-dz-remove class="btn btn-secondary my-btn-w3 cancel">
                                                <!-- <i class="glyphicon glyphicon-ban-circle"></i> -->
                                                <span class="preview-button-text">取消</span>
                                            </button>
                                        </div>

                                    </div>

                                </div>

                                <div id="validation-error-poster"></div>

                            </td>
                    </tr>

                    <!-- トレーニング -->
                    {% comment %} <tr>
                        <th>
                            <div class="required_box">
                                <div class="label require_label">トレーニング</div>
                            </div>
                        </th>

                        <td colspan="5" class="list">
                            <div class="position-relative">
                                <!-- タイトル+検索窓 -->
                                <div class="d-flex flex-row align-items-center mb-3">
                                    <div class="text">
                                        右にトレーニングを追加してください
                                    </div>

                                    <div class="search-area ml-auto">
                                        <input type="text" size="35" class="search_form search_container" id="search" placeholder="検索したいトレーニング名を入力してください">
                                    </div>
                                </div>

                                <!-- 存在確認のエラー -->
                                <div>
                                    {% for error in form.subject_reg_training.errors %}
                                        <p class="name_error_message">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>

                                <!--　トレーニングを表示 -->
                                {% if form.subject_reg_training|length >= 5 %}

                                    <div class="d-flex showmore_list">

                                        {% render_field form.subject_reg_training placeholder="" %}

                                        <!--　選択しているトレーニングを表示 -->

                                        <div class="box29">
                                            <span class="box-title">選択済み</span>

                                            <!-- 選択済みトレーニング -->
                                            <div class="form-group">
                                                <div class="selected_container">

                                                    <div id="selected_group"></div>

                                                    <div id="selected_user_help_text">
                                                        <div class="help_text">
                                                            選択されていません
                                                        </div>
                                                    </div>

                                                    <div id="selected_user"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}

                                    <div class="d-flex showmore_list_2">

                                        {% render_field form.subject_reg_training placeholder="" %}

                                        <!--　選択しているグループを表示 -->

                                        <div class="box29">

                                            <span class="box-title">選択済み</span>

                                            <!-- 選択済みトレーニング -->
                                            <div class="form-group">

                                                <div class="selected_container">

                                                    <div id="selected_group"></div>

                                                    <div id="selected_user_help_text">
                                                        <div class="help_text">
                                                            選択されていません
                                                        </div>
                                                    </div>

                                                    <div id="selected_user"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr> {% endcomment %}

                </tbody>
            </table>

            <div class="btn-grp">
                <!-- トレーニング設定一覧へ遷移　セッションを消すためにReturnViewへ -->
                <button type="button" class="my-btn my-btn-gray-2 my-btn-w12 mr-3" onclick="window.location.href='{% url 'training:subject_management' %}'"><span class="my_btn_text">戻る</span></button>
                <button type="submit" id="subject_update_btn" class="my-btn my-btn-egypt-1 my-btn-w12" disabled><span class="my_btn_text">変更</span></button>
            </div>

        </form>

    </div>

</div>

{% endblock %}

{% block extra_js %}

<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>


<script>
    // -----------------
    // 絞り込み検索
    // -----------------
    $(function(){
        $('input#search').quicksearch('div.group_list div', {
            'noResults': 'div#noresults',//検索該当無しの場合表示する対象
        });
    })
</script>


<script>

    // -----------------
    // Dropzone.jsの設定
    // -----------------

    // Dropzoneの自動検出を無効
    Dropzone.autoDiscover = false;

    // デフォルトメッセージを変更
    Dropzone.prototype.defaultOptions.dictRemoveFile = "取消し";

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the document
    var previewNode = document.querySelector("#template");
    // #templateというIDがあるときのみ処理
    if (previewNode) {
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);
    }

    // ページ読み込み前に事前にアップロードされたファイルをサーバ側から読み込む
    // escapejsでjsonとして受け取ることができる。受け取った情報はdist_fileというjavascript側の変数に入る
    var dist_poster = "{{dist_poster|escapejs}}";// ※functionの外で受け取ることに注意

    // json形式になっているか確認
    console.log("------ dist_posterの形式確認 -----", dist_poster)

    var file_up_names=[];

    // ポスターがアップロードされているか検知する用のフラグ
    var poster_changed = false;

    // ポスター
    $(function() {
        $("div#poster_Dropzone").dropzone({// id指定
            // 設定と処理
            url: "{% url 'training:subject_poster_upload' %}",
            params: {'csrfmiddlewaretoken': getCookie('csrftoken')},
            autoProcessQueue: true,
            uploadMultiple: true,// url:で指定されたURLに自動的にアップロードされる
            parallelUploads: 100,
            maxFiles: 1,
            maxFilesize: 2,
            timeout: 7200000, // 2h //milliseconds

            paramName: "file",
            acceptedFiles: 'image/*',
            dictDefaultMessage: '<i class="fas fa-file-upload fa-5x dropzone_upload_icon"></i><br /><br />ドラッグ&ドロップまたはクリック',
            dictMaxFilesExceeded: "アップロードできる画像は1ファイルまでです。",
            dictUploadCanceled: "アップロードをキャンセルしました。",
            dictCancelUploadConfirmation: "アップロードをキャンセルしますか？",
            // タイプが違いますのdictを調べる
            dictInvalidFileType: "アップロードしようとした画像の形式はサポートされていません。",
            // サイズが大きい
            dictFileTooBig: "アップロードしようとしたファイルのサイズが大きすぎます。",

            // ファイルの削除ボタン
            addRemoveLinks: true,
            thumbnailWidth: 1000,
            thumbnailHeight: 600,


            // The setting up of the dropzone
            init: function() {

                var myDropzone = this;

                // ドラッグ&ドロップ領域以外にファイルをドラッグ&ドロップしても反応しないようにする
                $(document).on('drop dragover', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                });


                // ファイルを追加したときの処理
                myDropzone.on("addedfile", function(file) {

                    console.log("ポスターが追加されました");
                    //console.log("checkFilesize", file[0]);

                    console.log("ポスター",file.status)

                    if (file.status == "added") {
                        poster_changed = true;
                        $('#subject_update_btn').prop('disabled', false);// ボタンを有効にする
                    }

                    $('#validation-error-poster').html('');// エラーメッセージを削除

                }); // end addfile event


                // サーバ上にあるファイルを描画する。
                // StringとなっているのでJSONに変換
                // dist_fileはHTMLのScriptタグで取得（Viewのコンテキストとして取得）

                console.log("dist_poster1", dist_poster)

                // dist_posterがNoneじゃあなかった場合
                if (dist_poster != "None") {
                    dist_poster_json = JSON.parse(dist_poster);
                    console.log("---- dist_file_json ポスター ----", dist_poster_json)

                    // dist_file_jsonをループで取り出す
                    for (var i = 0; i < dist_poster_json.length; i++) {

                        var fileSize = dist_poster_json[i].filesize
                        //console.log("---- fileSize ポスター2 ----", dist_poster_json[i].size)

                        var mockFile = { name: dist_poster_json[i].fields.name, size: dist_poster_json[i].fields.size, pk:dist_poster_json[i].pk, subject_image:dist_poster_json[i].fields.subject_image, type:dist_poster_json[i].fields.type};
                        console.log("---- mockFile ポスター ----", mockFile)

                        // addfileイベントを発火し拡張子等のチェックを行う
                        myDropzone.emit("addedfile", mockFile);

                        // thumbnailイベントを発火しパスを紐付ける
                        myDropzone.emit("thumbnail", mockFile, "/media/" + dist_poster_json[i].fields.subject_image);
                        //myDropzone.createThumbnailFromUrl(mockFile, dist_poster_json[i].fields.poster);

                        file_up_names.push(dist_poster_json[i].pk);
                        console.log('file_up_names ポスター1', file_up_names);
                    }
                }
            }, //end init


            // アップロードが完了したときに行われる処理
            maxfilesexceeded:  function(file) {

                console.log('ポスターmaxfilesexceeded');

                // 上限数を超えたファイルは削除する
                this.removeFile(file);

            },

            // アップロード成功時の処理
            successmultiple: function(file, response){

                console.log('ポスターsuccessmultiple');

                //$('#movie_parts_create_form').submit();

                file_up_names.push(response);
                console.log('file_up_names ポスター2', file_up_names);


                //window.opener.focus();
            },
            // アップロード失敗時にメッセージを表示する。
            error: function(file, response, xhr){

                // フロントエンドでエラーが発生した場合。(サーバからのレスポンスがないエラー)
                if (xhr == null) {

                    //　動画ファイルのタイプが違うメッセージを出す
                    $('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + response + '</div>');

                    // アップロードされたファイルを削除する
                    this.removeFile(file);

                // サーバーからレスポンスが帰ってきた場合(サーバ側でエラーが発生した場合)
                } else {
                    $('#validation-error-poster').html('<div class="alert alert-danger" role="alert">' + xhr.statusText + '</div>');
                }
            },

            removedfile:function(file){

                // 削除ボタンを押下した場合、Ajaxで送信
                var ref;
                (ref = file.previewElement) != null ? ref.parentNode.removeChild(file.previewElement) : void 0;

                console.log('file_up_names', file_up_names);

                for(var i=0;i<file_up_names.length;++i){

                    $.ajax({
                        url: "{% url 'training:subject_poster_delete' %}", //your php file path to remove specified image
                        type: "POST",
                        data: {
                            file_name: file_up_names[i],
                            type: 'delete',
                        },
                    });
                }
            }
        });
    });



</script>



<script>

    $(document).ready(function() {

        // -----------------
        // validateのoption作成
        // -----------------

        $('#subject_update_form').validate({

            errorElement: "span",// labelがspanにかわる

            //入力欄別にルールを作成　※nameを指定すること
            rules:{
                subject_name:{
                    required: true,
                    maxlength: 30,
                },
                {% comment %} "subject_reg_training[]":{
                    required: true,
                }, {% endcomment %}
            },
            // エラーメッセージを設定
            messages:{
                subject_name:{
                    required: 'コース名の入力は必須です。',
                    maxlength: 'コース名は30文字以内で入力してください。',
                },
                {% comment %} "subject_reg_training[]":{
                    required: 'トレーニングの選択は必須です。',
                }, {% endcomment %}
            },

            errorPlacement: function (error, element) {

                // 指定タグの中に出したい場合はappendTo()
                if (element.attr("name") == "subject_name" ) {
                    element.parent().append(error)
                }

            }

        });

        // -----------------
        // validate 変更
        // -----------------
        $("#subject_update_form").on('keyup change', function(event) {

            // validateForm(): フォームのバリデーションを担当する
            validateForm('#subject_update_form');

        });

        function validateForm(id) {

            var valid = $(id).validate().checkForm();
            console.log("valid", valid)

            if (valid) {
                $('#subject_update_btn').prop('disabled', false);// enables button
            } else {
                $('#subject_update_form').prop('disabled', true);// disables button
            }
        }

    });

    </script>


    <script>

        // グループの登録が5個以上
        var showmoreList = $('.showmore_list');
        var showmoreListOpen = parseInt(showmoreList.height());
        var showmoreListClose = parseInt(showmoreList.height() * 0.64);
        var showmoreTop;

        //初期値
        showmoreList.css('height', showmoreListClose + 'px');

        $('.list_toggle a').click(function () {
            var thisBtn = $(this);
            showmoreTop = showmoreList.offset().top

            if ($(this).hasClass('open_link')) {
                thisBtn
                    .removeClass('open_link')
                    .addClass('close_link')
                    .parent().addClass('close_area');

                showmoreList
                    .css('height', showmoreListOpen + 'px');

            } else if ($(this).hasClass('close_link')) {
                thisBtn
                    .removeClass('close_link')
                    .addClass('open_link')
                    .parent().removeClass('close_area');

                showmoreList
                    .css('height', showmoreListClose + 'px');
            }
        });

        // グループの登録が5個以下
        var showmoreList_2 = $('.showmore_list_2');
        var showmoreListOpen_2 = parseInt(showmoreList_2.height());
        var showmoreListClose_2 = parseInt(showmoreList_2.height() * 0.85);
        var showmoreTop_2;
    
        //初期値
        showmoreList_2.css('height', showmoreListClose_2 + 'px');
    
        $('.list_toggle a').click(function () {
            var thisBtn = $(this);
            showmoreTop_2 = showmoreList_2.offset().top
    
            if ($(this).hasClass('open_link')) {
                thisBtn
                    .removeClass('open_link')
                    .addClass('close_link')
                    .parent().addClass('close_area');
    
                showmoreList_2
                    .css('height', showmoreListOpen_2 + 'px');
    
            } else if ($(this).hasClass('close_link')) {
                thisBtn
                    .removeClass('close_link')
                    .addClass('open_link')
                    .parent().removeClass('close_area');

                showmoreList_2
                    .css('height', showmoreListClose_2 + 'px');
            }
        });

    </script>


    <script>
    // -----------------
    // 選択したユーザーの表示
    // -----------------
    $(function(){

        $(" input[name='subject_reg_training']").change(function(){
            // 選択されていない状態の場合、その旨を表示する
            if ( $('input:checkbox[name="subject_reg_training"]:checked').length== 0) {
                // ヘルパーテキストを表示
                $("#selected_user_help_text").append("<div class='help_text'>選択されていません</div>");

            } else {
                // ヘルパーテキストを削除
                $("#selected_user_help_text").children().remove();
            }
        });


        // ユーザーチェックボックスクリック時のイベント
        $("input[name='subject_reg_training']").change(function(){

            // 配列初期化
            var user_name = [];

            // チェックボックスにチェックがついたときのイベント
            $('input:checkbox[name="subject_reg_training"]:checked').each(function() {

                // IDを取得
                var id = $(this).attr("id");
                // IDからラベルを取得
                var user = $('label[for=' + id + ']').text();
                // ラベルを配列へ保存
                user_name.push(user)

            });

            // HTMLへ表示
            $("#selected_user").children().remove();
            for (  var i = 0;  i < user_name.length;  i++  ) {
                $("#selected_user").append("<div class='select_user check_row d-flex align-items-center mb-1'><i class='fas fa-file fa-fw mr-1' style='font-size: 20px; color:#595959;'></i>"  + user_name[i] + "</div>");
            }
        });




        // エラー表示で画面が更新されても✔を付けた状態で選択済みユーザーを表示
        var user_name = [];

        // チェックボックスにチェックがついたときのイベント
        $('input:checkbox[name="subject_reg_training"]:checked').each(function() {

            // IDを取得
            var id = $(this).attr("id");
            // IDからラベルを取得
            var user = $('label[for=' + id + ']').text();
            // ラベルを配列へ保存
            user_name.push(user)

            // ヘルパーテキストを削除
            $("#selected_user_help_text").children().remove();

        });

        // HTMLへ表示
        $("#selected_user").children().remove();
        for (  var i = 0;  i < user_name.length;  i++  ) {
            $("#selected_user").append("<div class='select_user check_row d-flex align-items-center mb-1'><i class='fas fa-file fa-fw mr-1' style='font-size: 20px; color:#595959;'></i>"  + user_name[i] + "</div>");
        }


    });


    </script>


{% endblock %}