{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% comment %} {% load get_file_id_value %} {% endcomment %}
{% load zfill %}
{% load get_model_obj %}
{% load btn_activate_ctl %}
{% load training_disabled %}
{% load training_check_date %}
{% load get_folder_is_open %}

{% block title %}コース一覧 | {{ block.super }}{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'common/css/fontawesome.css' %}">


<style>

    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .row {
        margin: auto;
        justify-content: center; /*外枠の上下左右中央寄せ*/
    }

    .container {
        padding-right: 80px;
        padding-left: 80px;
    }

    /*---------------------------------

        タイトル

    ---------------------------------*/
    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        {% comment %} margin-top: 20px; {% endcomment %}
        font-weight: bold;
        font-size: 25px;
    }

    .parts_label_status.glay {
        background-color: #CCCCCC;
    }

    .parts_label_status.blue {
        background-color: #3232FF;
        color: #fff;
    }

    .parts_label_status.done {
        background-color: #595959;
        color: #fff;
    }

    .parts_label_status {
        width: 100px;
        text-align: center;
        color: #000;
        vertical-align: middle;
    }

    /*---------------------------------

    作成日、所要時間、対象者

    ---------------------------------*/
    .detail p {
        display: inline-block;
        margin: auto;
    }

</style>


<div class="container-fluid">

    <!-- messages.succes や messages.errorにて利用 -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}


    <div class="container">

        <div class="mdl_align-height mt-3 mb-3">
            <div class="d-flex">
                <h4 class="training_title">コース一覧</h4>
            </div>
        </div>

        {% for subjecte in subjectes %}
            <div class="card mb-3" style="box-shadow: rgb(140 149 159 / 15%) 0px 3px 6px; color: #494949;">
                {% comment %} {{subjecte.subject_image.subject_image.name}} {% endcomment %}

                <div class="card-body">
                    <div class="row">
                        <!-- ポスター -->
                        <div class="col">
                            <img width="150" height="100" class="align-self-center" src="{{subjecte.subject_image.subject_image.url}}">
                        </div>

                        <div class="col-9">
                            <div class="mb-2 detail" style="color: #878787;">
                                <!-- 作成日 -->
                                <p class="mr-3"><i class="far fa-calendar-alt"></i> 作成日 : {{subjecte.created_subject_date}}</p>

                                <!-- 所要時間 -->
                                {% if subjecte.duration %}
                                    <p class="mr-3"><i class="far fa-clock"></i> 所要時間 : {{subjecte.duration}}</p>
                                {% else %}
                                    <p class="mr-3"><i class="far fa-clock"></i> 所要時間 : -------</p>
                                {% endif %}

                                <!-- 対象者 -->
                                {% if subjecte.target %}
                                    <p class=""><i class="fas fa-user-circle"></i> 対象者 : {{subjecte.target}}</p>
                                {% else %}
                                    <p class=""><i class="fas fa-user-circle"></i> 対象者 : -------</p>
                                {% endif %}
                            </div>

                            <!-- タイトル -->
                            <h5 class="mt-0 mb-2" style="font-weight: bold;">{{subjecte.subject_name}}</h5>
                            <!-- 目的 -->
                            {% if subjecte.objective %}
                                <h6 class="mb-0">{{subjecte.objective}}</h6>
                            {% endif %}
                        </div>

                        <div class="col">
                            <a class="btn btn-primary float-right" href="{% url 'training:subject_training' subjecte.id %}">
                                <span>受講する</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div><!-- container-fluid end -->



{% endblock %}

{% block extra_js %}

<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>

{% endblock %}
