{% extends "common/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% load set_order %}
{% load index %}


{% block content %}

<link rel="stylesheet" href="{% static 'common/css/icon.css' %}">

<style>
    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .container-fluid {
        padding-right: 50px;
        padding-left: 50px;
    }


    /*---------------------------------

    コンテンツが登録されていない場合の
    メッセージ

    ---------------------------------*/

    .article-title {
        font-size: 28px;
        font-weight: bold;
        {% comment %} font-weight: 700; {% endcomment %}
    }

    /*---------------------------------

        タイトル

    ---------------------------------*/

    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        margin-top: 20px;
        {% comment %} font-size: 16px; {% endcomment %}
    }

    .fa-question-circle {
        color: #4A849A;
    }

    /*---------------------------------

        見出し、説明文

    ---------------------------------*/
    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    /*---------------------------------

    画像

    ---------------------------------*/
    img {
        vertical-align: middle;
        border-style: none;
        display: block;
        margin: auto;
    }

    .img_box {
        border: 1px solid #ccc;
    }

    /*---------------------------------

    テーブル

    ---------------------------------*/
    th {
        padding: 20px;
        font-weight: bold;
        font-size: 13px;
        line-height: 160%;
        background-color: #F5F5F5;
        border: 1px solid #e5e5e5;
    }

    td {
        padding: 20px;
        font-size: 13px;
        line-height: 160%;
        border: 1px solid #e5e5e5;
    }

    /*---------------------------------

    目次

    ---------------------------------*/
    .li_c {
        margin-left: 20px;
        padding: 0;
    }

    .li_c li {
        padding: 3px 0;
        line-height: 140%;
        list-style: outside disc;
        font-size: 16px;

    }

    a {
        color: #3d3d3d;
        text-decoration: none;
    }

    /*---------------------------------

    必須、任意ラベル

    ---------------------------------*/
    .require_label {
        color: #595959;
        {% comment %} font-size: 1rem; {% endcomment %}
        {% comment %} margin-top: 3px; {% endcomment %}
    }

    .option_label {
        color: #595959;
        {% comment %} font-size: 1rem;
        margin-top: 3px; {% endcomment %}
    }

    .required_box {
        width: 100%;
        display: -webkit-inline-box;
        /*display: block;*/
        position: relative;
    }


    .option_box {
        width: 100%;
        display: -webkit-inline-box;
        position: relative;
    }


    .required_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 3px;
        background-color: red;
        border-radius: 3px;
        padding: 0px 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "必須";

    }

    .option_box::after {
        color: #ffffff;
        font-size: 0.5rem;
        position: absolute;
        right: 3px;
        top: 3px;
        background-color: #7d8285;
        border-radius: 3px;
        padding: 0px 3px;
        white-space: nowrap;
        margin-left: 10px;
        content: "任意";
    }


</style>

<div class="container-fluid">

    <div class="mdl_align-height mt-4">

        <h1 class="article-title mb-4"><i class="fas fa-question-circle"></i> テストパーツ作成の手引き</h1>

        <!-- 目次 -->
        <div class="mt-5">
            <h5 class="training_title font-weight-bold mt-3 mb-3">目次</h5>
            <ul class="li_c">
                <li><a>テストパーツの構成</a></li>
                <li><a href="#p01">Step1. タイトルと説明文の入力</a></li>
                <li><a href="#p02">Step2. 設問内のタイトルと説明文の入力</a></li>
                <li><a href="#p03">Step3. 合格メッセージと不合格メッセージの入力</a></li>
                {% comment %} <li><a href="#p05">受付完了メールの入力</a></li>
                <li><a href="#p06">変更完了メールの入力</a></li> {% endcomment %}
            </ul>

        </div>

        <!-- テストパーツの構成 -->
        <div class="mt-5">
            <h5 class="training_title font-weight-bold mt-3 mb-3">テストパーツの構成</h5>
            <p>【必須】がついている項目は必須です。必ず入力してください。</p>

            <div class="box">
                <table class="m_t mb">
                    <tbody>
                        <tr>
                            <th width="250">
                                <div class="required_box">
                                    <div class="label require_label">タイトル</div>
                                </div>
                            </th>
                            <td width="800">
                                トレーニングを展開したパーツ内に表示するタイトルを入力します。<br>
                                例：ビジネスマナー研修、情報セキュリティ研修　など
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="required_box">
                                    <div class="label require_label">説明文</div>
                                </div>
                            </th>
                            <td>
                                トレーニングを展開したパーツ内に表示する説明文を入力します。
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="option_box">
                                    <div class="label require_label">受講の任意/必須</div>
                                </div>
                            </th>
                            <td>トレーニングの受講を必須とするかどうかを設定します。</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="required_box">
                                    <div class="label require_label">設問内のタイトル</div>
                                </div>
                            </th>
                            <td>
                                テストを開いたときに、上部に表示されるタイトルを入力します。<br>
                                例：ビジネスマナー研修(初級編) 確認テスト、情報セキュリティ確認テスト　など
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="required_box">
                                    <div class="label require_label">設問内の説明文</div>
                                </div>
                            </th>
                            <td>
                                テストを開いたときに、上部に表示される説明文を入力します。
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="option_box">
                                    <div class="label require_label">テスト結果表示</div>
                                </div>
                            </th>
                            <td>
                                テスト受講終了後に回答内容をユーザーに表示するかどうかを設定します。
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="option_box">
                                    <div class="label require_label">合格ライン</div>
                                </div>
                            </th>
                            <td>
                                合格の基準となる設問の正解数を設定します。デフォルトは0で設定されています。<br>
                                例：設問が5つ登録されているテストで合格ラインを「2」に設定した場合、5問中2問正解すれば合格となります。
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="option_box">
                                    <div class="label require_label">ランダム出題</div>
                                </div>
                            </th>
                            <td>
                                テストの設問の順番が毎回ランダムに並び替えられ、受講者に出題されます。
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="required_box">
                                    <div class="label require_label">合格 / 不合格メッセージ(1)</div>
                                </div>
                            </th>
                            <td>
                                テストを実施した結果、合格 / 不合格だった場合に表示されるメッセージを入力します。
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="option_box">
                                    <div class="label require_label">合格 / 不合格メッセージ(2)</div>
                                </div>
                            </th>
                            <td>
                                テストを実施した結果、合格/ 不合格だった場合に合格 / 不合格メッセージ(1)の下段に表示されるメッセージを入力します。
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Step1. タイトルと説明文の入力 -->
        <div id="p01" class="mt-5">
            <h5 class="training_title font-weight-bold mt-3 mb-3">Step1. タイトルと説明文の入力</h5>
            <p>タイトルと説明文はトレーニングを展開したパーツ内に表示されます。【受講の任意/必須】という項目ではトレーニングの受講を必須とするかどうかを設定します。</p>

            <div class="img_box">
                <p class="font-weight-bold p-3 m-0">設定例</p>
                <img src="{% static 'common/img/テストパーツ1.5.PNG' %}" alt="テストパーツの設定例" style="width:100%;">

                <p class="font-weight-bold p-3 mt-4 mb-0">表示例</p>
                <img src="{% static 'common/img/テストパーツ1.PNG' %}" alt="テストパーツの反映例" style="width:100%;">
            </div>

        </div>

        <!-- Step2. 設問内のタイトルと説明文の入力 -->
        <div id="p02" class="mt-5">
            <h5 class="training_title font-weight-bold mt-3 mb-3">Step2. 設問内のタイトルと説明文の入力</h5>
            <p>設問内のタイトルと説明文はテスト実施画面を開いたときに上部に表示されます。【テスト結果表示】という項目ではテスト受講終了後に回答内容をユーザーに表示するかどうかを設定します。</p>

            <div class="img_box">
                <p class="font-weight-bold p-3 m-0">設定例</p>
                <img src="{% static 'common/img/テストパーツ2.5.PNG' %}" alt="" style="width:100%;">

                <p class="font-weight-bold p-3 mt-4 mb-0">表示例</p>
                <img src="{% static 'common/img/テストパーツ2.PNG' %}" alt="" style="width:100%;">

                <p class="font-weight-bold p-3 mt-4 mb-0">【テスト結果表示】を有効にした場合の表示例</p>
                <img src="{% static 'common/img/回答内容表示.PNG' %}" alt="" class="mb-4" style="width:98%;">
            </div>

        </div>

        <div id="p03" class="mt-5">
            <h5 class="training_title font-weight-bold mt-3 mb-3">Step3. 合格メッセージと不合格メッセージの入力</h5>
            <p>テストを実施した結果に表示されるメッセージを設定します。【合格ライン】という項目では合格の基準となる設問の正解数を設定することができます。デフォルトは0で設定されています。
                【ランダム出題】を有効にした場合、テストの設問の順番が毎回ランダムに並び替えられ、受講者に出題されます。
            </p>

            <div class="img_box">
                <p class="font-weight-bold p-3 m-0">設定例(合格メッセージの場合)</p>
                <img src="{% static 'common/img/合格メッセージ.PNG' %}" alt="" style="width:98%;">

                <p class="font-weight-bold p-3 mt-4 mb-0">表示例(合格メッセージの場合)</p>
                <img src="{% static 'common/img/合格メッセージ表示例.PNG' %}" alt="" class="mb-4" style="width:98%;">

            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
