{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% load widget_tweaks %}

{% block title %}テストパーツ編集 | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'training/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="https:///code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'common/css/jquery-ui.css' %}">


<!------------ CSS / jsの読み込み ------------->
<style>


    .test_parts_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        margin: 30px;
    }




</style>






    <div class="container">

        <div class="row">

            <h2 class="test_parts_title" id="label1">テストパーツ編集</h2>



            <div class="my-div-style w-100">

                <form method="POST" enctype='multipart/form-data' id="test_parts_update_form">

                    <!-- 登録フォームを表示 -->
                    {% csrf_token %}

                    <table class="table">

                        <tbody>
                            <!-- 順番 -->
                            <tr class="hidden" style="display:none;">
                                <th>{{ form.order.label_tag }}</th>
                                <td>{% render_field form.order class="form-control is_primary" id="test_parts_update_order" placeholder="順番を入力してください" %}</td>
                            </tr>

                            <!-- タイプ 非表示にしている-->
                            <tr class="hidden" style="display:none;">
                                <th>{{ form.type.label_tag }}</th>
                                <td>{% render_field form.type class="form-control is_primary" id="test_parts_update_typer" placeholder="タイプを入力してください"%}</td>
                            </tr>

                            <!-- タイトル -->
                            <tr>
                                <th>{{ form.title.label_tag }}</th>
                                <td>{% render_field form.title class="form-control is_primary" id="test_parts_update_title" placeholder="タイトルを入力してください" %}</td>
                            </tr>

                            <!-- 説明 -->
                            <tr>
                                <th>{{ form.description.label_tag }}</th>
                                <td>{% render_field form.description class="form-control is_primary" id="test_parts_update_description" placeholder="説明を入力してください" %}</td>
                            </tr>

                            <!-- パーツ内に表示するタイトル -->
                            <tr>
                                <th>{{ form.title_detail.label_tag }}</th>
                                <td>{% render_field form.title_detail class="form-control" id="test_parts__update_title_detail" placeholder="パーツ内に表示するタイトルを入力してください" %}</td>
                            </tr>

                            <!-- パーツ内に表示する説明 -->
                            <tr>
                                <th>{{ form.description_detail.label_tag }}</th>
                                <td>{% render_field form.description_detail class="form-control is_primary" id="test_parts_update_description_detail" placeholder="パーツ内に表示する説明を入力してください" %}</td>
                            </tr>

                            <!-- 合格ライン -->
                            <tr>
                                <th>{{ form.pass_line.label_tag }}</th>
                                <td>{% render_field min="1" max="100" form.pass_line class="form-control is_primary" id="test_parts_update_pass_line" placeholder="合格ラインを入力してください" %}</td>
                            </tr>

                            <!-- 合格文1 -->
                            <tr>
                                <th>{{ form.pass_text1.label_tag }}</th>
                                <td>{% render_field form.pass_text1 class="form-control is_primary" id="test_parts_update_pass_text1" placeholder="合格文1を入力してください" %}</td>
                            </tr>

                            <!-- 合格文2 -->
                            <tr>
                                <th>{{ form.pass_text2.label_tag }}</th>
                                <td>{% render_field form.pass_text2 class="form-control is_primary" id="test_parts_update_pass_text2" placeholder="合格文2を入力してください" %}</td>
                            </tr>

                            <!-- 不合格文1 -->
                            <tr>
                                <th>{{ form.unpass_text1.label_tag }}</th>
                                <td>{% render_field form.unpass_text1 class="form-control is_primary" id="test_parts_update_unpass_text1" placeholder="不合格文1を入力してください" %}</td>
                            </tr>

                            <!-- 不合格文2 -->
                            <tr>
                                <th>{{ form.unpass_text2.label_tag }}</th>
                                <td>{% render_field form.unpass_text2 class="form-control is_primary" id="test_parts_update_unpass_text2" placeholder="不合格文2を入力してください" %}</td>
                            </tr>

                            <!-- is_required -->
                            <tr>
                                <th>{{ form.is_required.label_tag }}</th>
                                <td>{% render_field form.is_required class="form-control is_primary" id="test_parts_update_is_required" %}</td>
                            </tr>



                        </tbody>

                    </table>

                    <div class="btn-grp">

                        <button type="submit" id="test_parts_update_btn" class="my-btn my-btn-egypt-1 my-btn-w12 mr-3"><span class="my_btn_text">編集</span></button>

                        <!-- トレーニング作成ページへ遷移 -->
                        <a href="{% url 'training:training_management' %}">
                            <button type="submit" id="test_btn" class="my-btn my-btn-gray-1 my-btn-w12"><span class="my_btn_text">戻る</span></button>
                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>













{% endblock %}

{% block extra_js %}





<script>

$(document).ready(function() {

    // -----------------
    // validateのoption作成
    // -----------------
    $('#test_parts_update_form').validate({

        errorElement: "span",// labelがspanにかわる

        //入力欄別にルールを作成　※nameを指定すること
        rules:{
            {% comment %} order:{
                required: true,
            }, {% endcomment %}
            title:{
                required: true,
                maxlength: 10,
            },
            description:{
                required: true,
                maxlength: 10,
            },
            title_detail:{
                required: true,
                maxlength: 10,
            },
            description_detail:{
                required: true,
                maxlength: 10,
            },
            pass_line:{
                required: true,
            },
            pass_text1:{
                required: true,
                maxlength: 10,
            },
            unpass_text1:{
                required: true,
                maxlength: 10,
            },
        },
        // エラーメッセージを設定
        messages:{
            {% comment %} order:{
                required: '順番は必須です。',
            }, {% endcomment %}
            title:{
                required: 'タイトルは必須です。',
                maxlength: 'タイトルは45文字以内で入力してください。',
            },
            description:{
                required: '説明文は必須です。',
                maxlength: '説明文は100文字以内で入力してください。',
            },
            title_detail:{
                required: 'パーツ内に表示するタイトルは必須です。',
                maxlength: '説明文は100文字以内で入力してください。',
            },
            description_detail:{
                required: 'パーツ内に表示する説明は必須です。',
                maxlength: '説明文は100文字以内で入力してください。',
            },
            pass_line:{
                required: '合格ラインの設定は必須です。',
            },
            pass_text1:{
                required: '合格文は必須です。',
                maxlength: '説明文は100文字以内で入力してください。',
            },
            unpass_text1:{
                required: '不合格文は必須です。',
                maxlength: '説明文は100文字以内で入力してください。',
            },
        },


    });



    // -----------------
    // validate 変更
    // -----------------
    $("#test_parts_update_form").on('keyup change', function(event) {


        {% comment %} // カテゴリ
        var test_parts_title = $('#test_parts_title').val();
        console.log("test_parts_title", test_parts_title)

        // 期限
        var test_parts_description = $('#test_parts_description').val();
        console.log("test_parts_description", test_parts_description)

        // 内容
        var test_parts_order = $('#test_parts_order').val();
        console.log("test_parts_order", test_parts_order) {% endcomment %}



        // validateForm(): フォームのバリデーションを担当する
        validateForm('#test_parts_update_form');


    });


    function validateForm(id) {

        var valid = $(id).validate().checkForm();
        console.log("valid", valid)


        if (valid) {
            $('#test_parts_update_btn').prop('disabled', false);// enables button
        } else {
            $('#test_parts_update_btn').prop('disabled', true);// disables button
        }
    }


});


</script>






{% endblock %}
