{% extends "common/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}

<!-- index -->
{% load index %}
<!-- 引き算用 -->
{% load subtraction %}
<!-- range用 -->
{% load get_list %}
<!-- valueの不足分の要素追加用 -->
{% load append %}
<!-- 割り算 -->
{% load division %}
<!-- リストの全要素数をカウント -->
{% load total_list %}
<!-- Trueがいくつか調べる -->
{% load count_list %}

{% load get_int %}

{% block title %}テスト | {{ block.super }}{% endblock %}

{% block content %}

<style>
    /*---------------------------------

        質問文と回答の表示

    ---------------------------------*/

    .question_answer_box {
        text-align:center
    }

    .question_answer{
        /* margin: 3em; */
        padding: 30px 20px;
        line-height: 1.8;
        border: solid 2px #4a849a;
        width: 87%;
        font-size: 17px;
        border-radius: 15px;
        display: inline-block;
        text-align: left;
    }

    .flex_answer {
        display: flex;
        align-items: center;
    }

    .multiple_answers {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
        background-color: #f7f4f4;
        border-radius: 10px;
    }

</style>






    <div class="container-fluid result_page mb-5">

        <div class="out" style="width: 100%;">

            <!-- テスト結果の〇✖表記の表示ありの場合 -->
            {% if test.answer_content_show %}

                <!-- 合格メッセージ -->
                {% if test_result == "pass" %}

                    <div class="result_title">

                        <!-- 結果：合格です。 -->
                        <div>{{test.pass_text1}}</div>

                        <!-- 〇問中△問正解 -->
                        {% with result=check_list|division %}
                            <div>{{ check_list|total_list }}問中{{ result }}問正解</div>
                        {% endwith %}

                    </div>

                    <div class="main">
                        <div>{{test.pass_text2}}</div>
                    </div>

                <!-- 不合格メッセージ -->
                {% else %}

                    <div class="result_title">

                        <!-- 結果：不合格です。 -->
                        <div>{{test.unpass_text1}}</div>

                        <!-- 〇問中△問正解 -->
                        {% with result=check_list|division %}
                            <div>{{ check_list|total_list }}問中{{ result }}問正解</div>
                        {% endwith %}

                    </div>

                    <div class="main">
                        <div>{{test.unpass_text2}}</div>
                    </div>

                {% endif %}



                <!-- 質問文と回答 -->
                <div class="question_answer_box">

                    <div class="question_answer">

                        <h3 class="mb-3">回答内容</h3>


                        <!-- 辞書型でforを使う場合、itemsを活用する -->
                        {% for key, value in ansewer_text_dict.items %}

                            <div class="mb-3">

                                <!-- 設問 -->
                                <b><div>{{ forloop.counter }}.{{ key }}</div></b>

                                <div class="flex_answer">

                                    <!--check_listのTrue/Falseを表示-->
                                    <div>
                                        {% if check_list|index:forloop.counter0 == True %}
                                            <i class="far fa-circle mr-2" style="color:#4a849a;"></i>
                                        {% else %}
                                            <i class="fas fa-times mr-2" style="color:red;"></i>
                                        {% endif %}
                                    </div>


                                    <!--ユーザーの回答を表示-->
                                    <div>

                                        <!-- ユーザーの回答数が選ばないといけない回答数=number_of_answersより多いとき -->
                                        {% if number_of_answers|index:forloop.counter0 <= value|length %}

                                            <!-- 回答が2つ以上あった場合 -->
                                            {% if value|length >= 2 %}

                                                <!-- 回答を枠で囲う -->
                                                <div class="multiple_answers">
                                                    {% for value in value %}
                                                        <div>
                                                            <!-- 要素数すべてを表示する -->
                                                            {{ forloop.counter }}.{{ value }}
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                            {% else %}

                                                {% for value in value %}

                                                    <div>
                                                        <!-- 要素数すべてを表示する -->
                                                        {{ forloop.counter }}.{{ value }}
                                                    </div>
                                                {% endfor %}

                                            {% endif %}




                                        <!-- valueが少ない=リストの中の要素数が足りないとき -->
                                        {% else %}

                                            <!-- 回答を囲う -->
                                            <div class="multiple_answers">

                                                <!-- 1,valueの不足分の値を算出 -->
                                                {% with value_number=value|length %}

                                                    <!-- 不足してる値の数 -->
                                                    {% with subtraction_value=number_of_answers|index:forloop.counter0|subtraction:value_number %}


                                                        <!-- 2,valueに不足分の値を追加 -->
                                                        {% with value_all_list=value|append:subtraction_value %}

                                                            <!-- 3,lengthで指定した回数回す -->
                                                            {% for i in number_of_answers|index:forloop.counter0|get_list %}

                                                                <div>
                                                                    <!-- 4,複数回答の値がNoneだった場合、未回答と表示する -->
                                                                    {{ forloop.counter }}.{{ value_all_list|index:i|default_if_none:"未選択" }}
                                                                </div>

                                                            {% endfor %}

                                                        {% endwith %}

                                                    {% endwith %}

                                                {% endwith %}
                                            </div>

                                        {% endif %}

                                    </div>

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                </div>


            <!-- 〇✖なしの場合 -->
            {% else %}

                <!-- 合格メッセージ -->
                {% if test_result == "pass" %}

                    <div class="result_title">

                        <!-- 結果：合格です。 -->
                        <div>{{test.pass_text1}}</div>

                        <!-- 〇問中△問正解 -->
                        {% with result=check_list|division %}
                            <div>{{ check_list|total_list }}問中{{ result }}問正解</div>
                        {% endwith %}

                    </div>

                    <div class="main">
                        <div>{{test.pass_text2}}</div>
                    </div>

                <!-- 不合格メッセージ -->
                {% else %}

                    <div class="result_title">

                        <!-- 結果：不合格です。 -->
                        <div>{{test.unpass_text1}}</div>

                        <!-- 〇問中△問正解 -->
                        {% with result=check_list|division %}
                            <div>{{ check_list|total_list }}問中{{ result }}問正解</div>
                        {% endwith %}

                    </div>

                    <div class="main">
                        <div>{{test.unpass_text2}}</div>
                    </div>

                {% endif %}


                <!-- 質問文と回答 -->
                {% comment %} <div class="question_answer_box">

                    <div class="question_answer">

                        <h3 class="mb-3">回答内容</h3>


                        <!-- 辞書型でforを使う場合、itemsを活用する -->
                        {% for key, value in ansewer_text_dict.items %}

                            <div class="mb-3">

                                <!-- 設問 -->
                                <b><div>{{ forloop.counter }}.{{ key }}</div></b>

                                <div class="flex_answer">

                                    <!--check_listのTrue/Falseを表示-->
                                    <div>
                                        {% if check_list|index:forloop.counter0 == True %}
                                            <i class="far fa-circle mr-2" style="color:#4a849a;"></i>
                                        {% else %}
                                            <i class="fas fa-times mr-2" style="color:red;"></i>
                                        {% endif %}
                                    </div>


                                    <!--ユーザーの回答を表示-->
                                    <div>

                                        <!-- ユーザーの回答数が選ばないといけない回答数=number_of_answersより多いとき -->
                                        {% if number_of_answers|index:forloop.counter0 <= value|length %}

                                            <!-- 回答が2つ以上あった場合 -->
                                            {% if value|length >= 2 %}

                                                <!-- 回答を枠で囲う -->
                                                <div class="multiple_answers">
                                                    {% for value in value %}
                                                        <div>
                                                            <!-- 要素数すべてを表示する -->
                                                            {{ forloop.counter }}.{{ value }}
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                            {% else %}

                                                {% for value in value %}

                                                    <div>
                                                        <!-- 要素数すべてを表示する -->
                                                        {{ forloop.counter }}.{{ value }}
                                                    </div>
                                                {% endfor %}

                                            {% endif %}




                                        <!-- valueが少ない=リストの中の要素数が足りないとき -->
                                        {% else %}

                                            <!-- 回答を囲う -->
                                            <div class="multiple_answers">

                                                <!-- 1,valueの不足分の値を算出 -->
                                                {% with value_number=value|length %}

                                                    <!-- 不足してる値の数 -->
                                                    {% with subtraction_value=number_of_answers|index:forloop.counter0|subtraction:value_number %}


                                                        <!-- 2,valueに不足分の値を追加 -->
                                                        {% with value_all_list=value|append:subtraction_value %}

                                                            <!-- 3,lengthで指定した回数回す -->
                                                            {% for i in number_of_answers|index:forloop.counter0|get_list %}

                                                                <div>
                                                                    <!-- 4,複数回答の値がNoneだった場合、未回答と表示する -->
                                                                    {{ forloop.counter }}.{{ value_all_list|index:i|default_if_none:"未選択" }}
                                                                </div>

                                                            {% endfor %}

                                                        {% endwith %}

                                                    {% endwith %}

                                                {% endwith %}
                                            </div>

                                        {% endif %}

                                    </div>

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                </div> {% endcomment %}






            {% endif %}


            <!-- ボタン -->
            <div class="home">
                <button type="button" class="my-btn my-btn-gray-2 my-btn-w8 close_test m-3" onClick="window.open('about:blank', '_self').close()"><span>画面を閉じる</span></button>
            </div>

        </div>

    </div>

{% endblock %}


{% block extra_js %}


<script>

// 閉じるボタンを押したときに画面を更新する
$(document).ready(function() {
    $('.close_test').on('click', function() {
        window.opener.location.reload();
    });
});


$(function(){
    // 別タブの「✖」ボタンを押したときに画面を更新する
    $(window).on('beforeunload', function() {
        window.opener.location.reload();
    });
    $(".close_test").click(function() {
        $(window).off('beforeunload');
    });
});

</script>


{% endblock %}
