
{% extends "common/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% load index %}
<!-- テンプレートタグの読み込み -->
{% load get_value %}

{% block title %}テスト | {{ block.super }}{% endblock %}


{% block content %}

<style>

    .text_form_confirm {
        width: 100%;
        box-sizing: border-box;
        -webkit-appearance: none;
        display: block;
    }

</style>

    <div class="container-fluid mb-5 test_form_confirm">

        <div class="p-3 form_confirm_color">

            <!-- 確認メッセージ -->
            <div class="alert alert-green" role="alert">内容をご確認ください</div>

            <div class="answer_dict" hidden>{{answer_dict_json}}</div>

            <div class="card">
                <div class="d-flex flex-column card_header">
                    <!-- タイトル -->
                    <div class="d-none d-inline-block mb-0 p-2">
                        <div class="test_title_size">{{test.title_detail}}</div>
                    </div>
                    <!-- サブタイトル -->
                    <div class="d-none d-inline-block pr-3 pl-3">
                        <div class="test_desc_size">{{test.description_detail|safe}}</div>
                    </div>

                    <div class="d-none d-inline-block mt-0 ml-4 mb-3"></div>

                </div>
            </div>


                <form id="myfrom" action="" method="post" class="needs-validation" novalidate>{% csrf_token %}

                    {% for question in q_querysets %}

                        {% comment %} {% if question.is_multiple %} {% endcomment %}
                        {% if question.is_multiple == 1 %}<!-- ラジオボタン -->

                            <div class="form-group">

                                <div>
                                    <div class="d-md-inline-block p-2">
                                        <div class="test_question_text_size">{{ forloop.counter }}.{{question.text|safe}}</div>
                                    </div>

                                </div>

                                <!-- 選択肢 -->
                                {% for choice in question.choice_set.all %}
                                    <div class="card mt-1">

                                            <div class="d-flex align-items-center">
                                                <!--　☑の表示　valueで選択した値を保持 -->
                                                <div class="d-md-inline-block p-2">
                                                    <div class="test_chice_text_size"><input class="" type="radio" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                                </div>
                                                <!--　☑横のアイウエオ　-->
                                                <div class="d-md-inline-block p-2">
                                                    <div class="test_chice_text_size">{{choice_num|index:forloop.counter0}}.</div>
                                                </div>
                                                <!--　選択肢の文章　-->
                                                <div class="d-md-inline-block p-2">
                                                    <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice}}</label>
                                                </div>

                                            </div>

                                    </div>

                                {% endfor %}

                            </div>

                        {% endif %}


                        {% comment %} {% else %} {% endcomment %}
                        {% if question.is_multiple == 2 %}<!-- チェックボックス -->

                            <div class="form-group">

                                <div>
                                    <div class="d-md-inline-block p-2">
                                        <div class="test_question_text_size">{{ forloop.counter }}.{{question.text|safe}}</div>
                                    </div>

                                </div>

                                {% for choice in question.choice_set.all %}

                                    <div class="card mt-1">

                                            <div class="d-flex align-items-center">
                                                <div class="d-md-inline-block p-2">
                                                    <div class="test_chice_text_size"><input class="" type="checkbox" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required></div>
                                                </div>

                                                <div class="d-md-inline-block p-2">
                                                    <div class="test_chice_text_size">{{choice_num|index:forloop.counter0}}.</div>
                                                </div>

                                                <div class="d-md-inline-block p-2">
                                                    <label class="test_chice_text_size mb-0" for={{ choice.id }}>{{choice}}</label>
                                                </div>

                                            </div>

                                    </div>

                                {% endfor %}

                            </div>


                        {% endif %}

                        <!--　記述式問題(完全一致)　-->
                        {% if question.is_multiple == 3 %}

                            <div class="form-group">

                                <div class="d-flex align-items-center">
                                    <div class="d-md-inline-block p-2">
                                        <div class="test_question_text_size">{{ forloop.counter }}.{{question.text|safe}}</div>
                                    </div>
                                </div>

                                {% for choice in question.choice_set.all %}

                                <div>

                                    <div class="card mt-1">
                                        <div class="d-md-inline-block p-2">
                                            <div class="test_chice_text_size"><textarea class="text_form_confirm question{{ question.id }}" cols="40" rows="2" type="{{question.is_multiple}}" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required readonly></textarea>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}

                            </div>

                        {% endif %}

                        <!--　記述式問題(部分一致)　-->
                        {% if question.is_multiple == 4 %}

                            <div class="form-group">

                                <div class="d-flex align-items-center">

                                    <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                        <div class="test_question_text_size">{{ forloop.counter }}.{{question.text|safe}}</div>
                                    </div>

                                </div>

                                {% for choice in question.choice_set.all %}

                                <div>

                                    <div class="card mt-1">
                                        <div class="d-md-inline-block p-2">
                                            <div class="test_chice_text_size"><textarea class="text_form_confirm question{{ question.id }}" cols="40" rows="2" type="{{question.is_multiple}}" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}" required readonly></textarea>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}

                            </div>

                        {% endif %}

                    {% endfor %}
            </div>




<!-- baseで定義している id="wrapper"とcontents-wrapperのDiv閉じ -->
    </div>
</div>

                <!-- ボタン xs（横幅576px）で【A】、それ以上は【B】を表示 -->
                <div>
                    <div class="row justify-content-center p-5">

                        <!-- 【B】 -->
                        <div class="d-none d-sm-block col-sm-3">
                            {% comment %} <button type="submit" class="my-btn my-btn-egypt-1 my-btn-block mr-2" ><span>確認</span></button> {% endcomment %}
                            <button type="button" class="my-btn my-btn-gray-2 my-btn-block" onclick="location.href='{% url 'training:test' test.id %}'" ><span class="text">戻る</span></button>

                        </div>
                        <div class="d-none d-sm-block col-sm-3">
                            {% comment %} <button type="button" class="my-btn my-btn-gray-2 my-btn-block close_btn"><span>画面を閉じる</span></button> {% endcomment %}
                            <button type="submit" id="test_form_confirm_btn" class="my-btn my-btn-egypt-1 my-btn-block mr-2" ><span>回答</span></button>

                        </div>


                    {% comment %} <div class="">
                        <div class="row justify-content-center">
                            <div class="col-sm-3">
                                <button type="button" class="my-btn my-btn-gray-2 my-btn-block" onclick="location.href='{% url 'training:test' test.id %}'" ><span class="text">戻る</span></button>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="my-btn my-btn-egypt-1 my-btn-block mr-2" ><span>回答</span></button>
                            </div>
                        </div>
                    </div> {% endcomment %}





                        <!-- 【A】 -->
                        <div class="d-block d-sm-none">
                            <div class="btn-group d-flex">
                                {% comment %} <button type="submit" class="my-btn my-btn-egypt-1 my-btn-block mr-2" ><span>確認</span></button> {% endcomment %}
                                <button type="button" class="my-btn my-btn-gray-2 my-btn-block" onclick="location.href='{% url 'training:test' test.id %}'" ><span class="text">戻る</span></button>

                                {% comment %} <button type="submit" class="my-btn my-btn-gray-2 my-btn-block close_btn"><span>画面を閉じる</span></button> {% endcomment %}
                                <button type="submit" id="test_form_confirm_btn" class="my-btn my-btn-egypt-1 my-btn-block mr-2" ><span>回答</span></button>
                            </div>
                        </div>

                    </div>
                </div>


                {% comment %} <div class="">
                    <div class="row justify-content-center">
                        <div class="col-sm-3">
                            <button type="button" class="my-btn my-btn-gray-2 my-btn-block" onclick="location.href='{% url 'training:test' test.id %}'" ><span class="text">戻る</span></button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="my-btn my-btn-egypt-1 my-btn-block mr-2" ><span>回答</span></button>
                        </div>

                    </div>
                </div> {% endcomment %}


            </form>

    </div>









<!-- 登録用Modal-->
<div class="modal fade" id="send_data_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
        登録しますか？<br />
        登録ボタンをクリックすると自動的に画面を閉じます。
        </div>
        <div class="modal-footer">
        <button id="submit_file_upload" type="submit" class="btn btn-primary my-btn-sm my-btn-w8" onfocus="this.blur();">登録</button>
        <button class="btn btn-secondary btn-sm my-btn-w8 send_data_btn_cancel" type="button" data-dismiss="modal" onfocus="this.blur();">キャンセル</button>
        </div>
    </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}


<script>
    $(function(){
        // 別タブの「✖」ボタンを押したときに画面を更新する
        $(window).on('beforeunload', function() {
            window.opener.location.reload();
        });
        $("#test_form_confirm_btn").click(function() {
            $(window).off('beforeunload');
        });
    });
</script>


<script>

$(document).ready(function() {


    /////////////////////
    // 登録モーダル表示   //
    /////////////////////
    $('#send_data_modal').on('show.bs.modal', function (event) {

        // チェックボックスに値がない場合は単体削除のユーザーIDを取得
        var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
        var q_count = button.data('q_count') //値を取得
        //var not_draft_children = button.data('not_draft_children') //値を取得

        //console.log(q_count)

        // チェックボックスにチェックで削除ボタン活性化
        //$("[name='質問']").change(function(){
        // console.log("チェック")
        var checks=[];
        $("[name^='質問']:checked").each(function(){
            checks.push(this.value);
            //console.log(checks.length)
        });

        console.log(checks.length)
        console.log(checks)

        // チェックされている場合は有効、チェックされていない場合は無効化
        if (checks.length > 0) {
            console.log("ture")
            $('#delbutton').prop("disabled", false);
        } else {
            console.log("false")
            $('#delbutton').prop("disabled", true);
        }


        //});





        // 削除ボタンを押下した場合、Ajaxで送信
        $('#send_data_modal').off('click', '.modal-footer .btn-primary') //onイベントの重複イベントを削除
        $('#send_data_modal').on('click', '.modal-footer .btn-primary', function() {
        $('#send_data_modal').modal('hide');


            $.post("index",
                    {}


            ).done(function(data){
                // モーダルの表示
                $('#result_modal').on('show.bs.modal', function (e) {
                    var modal = $(this);
                    modal.find('.modal-body').text(data.message);
                })
            //$('#result_modal').modal('show')
            //$("#result_modal_link").attr("onclick", "window.location.reload();")

            }).always(function(data){
            // 処理後に Loading 画像を削除
            //loadingView(false);

            });


        });
    });


    //////////////////////////////////////////
    // JSON解析してチェックボックスのチェック   //
    //////////////////////////////////////////
    var answer_dict_json = $('.answer_dict').text()
    console.log("answer_dict_json", answer_dict_json)

    var answer_dict_result = JSON.parse(answer_dict_json);
    console.log("answer_dict_result", answer_dict_result)

    key_list = Object.keys(answer_dict_result)
    console.log("key_list", key_list)

    anser_dict_main = {}

    for (var key of key_list) {
        value_list = answer_dict_result[key];
        console.log(value_list)
        // key（=name,問題番号）とvalue（=chois.id,選択肢の番号）の組み合わせ
        $("input[name=" + key + "]").val(value_list);
        // 追加 : テキストボックスで入力した値を表示
        $(".question" + key).val(value_list);
    }



    //////////////////////////////////////////
    // チェック有無に応じてプロパティ変更   //
    //////////////////////////////////////////
    $('input[type="radio"]').each(function(i, elem) {
        //確認画面でラジオボタンで選択されていないものはdisabledで押せないようにする
        if (!elem.checked) {
            $(this).prop('disabled', true)
        } else {
            // なにもしない
        }
    });


    $('input[type="checkbox"]').each(function(i, elem) {

        if (!elem.checked) {
            $(this).prop('disabled', true)

        } else {
            {% comment %} $(this).attr('readonly', true) {% endcomment %}
            // checkboxはdisabled属性が使えないため、readonlyを有効にして
            {% comment %} $(this).parent().find('input[type="checkbox"]').prop("readonly", true); {% endcomment %}
            $(this).attr('onclick', "return false;")
        }
    });

    $('textarea[type="textarea"]').each(function(i, elem) {

        $(this).prop('readonly', true)

    });



});




</script>


{% endblock %}
