{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load get_list %}
{% load get_co_admin_user %}

<!--  Crispy Form -->
{% load widget_tweaks %}

{% block title %}トレーニング設定 | {{ block.super }}{% endblock %}





{% block content %}

    <!-- jQuery UI CSS -->
    {% comment %} <link rel="stylesheet" href="https:///code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'common/css/jquery-ui.css' %}">


    <!-- CSSの読み込み -->
    <style>

    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        margin-top: 20px;
        font-weight: bold;
        font-size: 25px;
    }

    {% comment %} .my-btn-egypt-1 {
        color: #ffffff !important;
        background: #034a91;
        margin: 20px;
        padding: 20px 100px;
    } {% endcomment %}


    /*---------------------------------

    ラベル

    ---------------------------------*/

    span.label {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }

    /* 共同管理者用のラベル */
    span.label_co_admin_user {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ff794f;
    }


    .menu_title_size {
        font-size: 1.4rem;
        float: left;
    }


    a.disabled{
        pointer-events: none;
    }

    .disabled_btn {
        background: #a3a7ab;
    }


    .btn_change_test {
        color: #ffffff !important;
        background: #034a91;
        margin: 7px;
        padding: 16px;
    }

    .btn_management_test {
        color: #ffffff !important;
        background: #034a91;
        margin: 7px;
        padding: 16px;
    }


    .btns {
        display: flex;
        justify-content: center;
        margin: 35px;
    }

    .edit_title {
        font-size: 25px;
    }

    .fa-plus-circle {
        font-size: 25px;
    }

    .fa-edit {
        font-size: 25px;
    }

    .fa-tasks {
        font-size: 25px;
    }


    .new_parts_selection {
        font-size: 11px;
    }

    .parent{
        display: flex;
    }


    .child-2 {
        margin-top: 45px;
        margin-right: 15px;
        margin-left: auto;
    }


    .mdl_align-height {
        overflow: hidden;
        width: 100%;
        padding-top: 1px;
    }

    .row {
        margin: auto;
        justify-content: center; /*外枠の上下左右中央寄せ*/
    }


    .row .col_12 {
        width: 48%;/*外枠の幅*/
        padding: 25px;
        margin: 10px;
        text-align: center;/*ボックス内のボタンを中央に配置*/
    }

    .pnl {
        border: 1px solid #e8e8e8;
        border-bottom: 1px solid #e9e9e9;
        box-shadow: 0 0.0625em 0.125em rgb(0 0 0 / 10%);
        margin-bottom: 1em;
        background-color: #fff;
    }

    .container-fluid {
        padding-right: 40px;
        padding-left: 40px;
    }


    .training_update_massage {
        font-size: 20px;
    }


    /* 試し */
    .flex_test-box {
        display: flex;              /* フレックスボックスにする */
        height: 300px;              /* 高さ指定 */
        justify-content:center;
    }

    .flex_test-box {
        /*background-color: #eee;*/     /* 背景色指定 */
        padding:  30px;             /* 余白指定 */
        border: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        box-shadow: 0 0.0625em 0.125em rgb(0 0 0 / 30%);
        margin-bottom: 1em;
        background-color: #fff;
    }

    .flex_test-item {
        width: 100%;
        padding: 15px;
        color:  #fff;               /* 文字色 */
        margin:  15px;              /* 外側の余白 */
        border-radius:  5px;        /* 角丸指定 */
        {% comment %} font-weight: bolder; {% endcomment %}

        position: relative;/* aタグをdivいっぱいに適用する */
    }

    .flex_test-item:nth-child(1) {
        background-color:  #55acee; /* 背景色指定 */
        background-image: linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
        box-shadow: 0 2px 2px 0 rgba(255,255,255,.1) inset,0 2px 10px 0 rgba(255,255,255,.2) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
        border: 1px solid rgba(0,0,0,.2);
    }

    .flex_test-item:nth-child(2) {
        background-color:  #87c040; /* 背景色指定 */
        background-image: linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
        box-shadow: 0 2px 2px 0 rgba(255,255,255,.1) inset,0 2px 10px 0 rgba(255,255,255,.2) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
        border: 1px solid rgba(0,0,0,.2);
    }

    .flex_test-item:nth-child(3) {
        background-color: #f59537; /* 背景色指定 */
        background-image: linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
        box-shadow: 0 2px 2px 0 rgba(255,255,255,.1) inset,0 2px 10px 0 rgba(255,255,255,.2) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
        border: 1px solid rgba(0,0,0,.2);
    }

    .flex_test-item:nth-child(4) {
        background-color: #f53753; /* 背景色指定 */
        background-image: linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
        box-shadow: 0 2px 2px 0 rgba(255,255,255,.1) inset,0 2px 10px 0 rgba(255,255,255,.2) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
        border: 1px solid rgba(0,0,0,.2);
    }

    /* aタグをdivいっぱいに適用する */
    .link_btn {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }



    .wrap.pattern-1 {
        text-align: center;
        padding: 15px 0;
        font-weight: bolder;
        font-size: 23px;
    }

    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    .subtitle {
        font-size: 16px;
        font-weight: 500;
    }

    /*---------------------------------

        前のページに戻るボタン

    ---------------------------------*/

    .btn-grp {
        margin: 80px;
    }

    .btn_back_home {
        color: #ffffff !important;
        background: #7db4e6;
    }

    .btn_back_home_w12 {
        height: 45px;
        width: 25%;
    }

    </style>





    <div class="container-field">
    </div>






    <div class="container-fluid">

        <!-- messages.succes や messages.errorにて利用 -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="mdl_align-height mt-4">

            {% comment %} <h4 class="training_title">トレーニング設定一覧</h4> {% endcomment %}
            <sapan class="training_title">トレーニング設定</sapan><span class="label">管理者画面</span><span class="label_co_admin_user ml-2">共同管理者画面</span>

            <div class="flex_test-box mt-3">
                <!-- 共同管理者の場合 -->
                {% if current_user|get_co_admin_user %}
                    <div class="flex_test-item" id="input_training_btn"  style="opacity: 0.33;" title="管理者のみ操作が可能です。">
                        <div class="wrap pattern-1" style="pointer-events:none;">
                            <a href="{% url 'training:training_create' %}" class="link_btn"></a>
                            <i class="fas fa-plus-circle mb-3" style="font-size: 70px;"></i><br>トレーニングの新規作成<p class="subtitle">新しいトレーニングを作成します</p></span>
                        </div>
                    </div>
                <!-- 管理者の場合 -->
                {% else %}
                    <!-- リソースの要領に空きがない場合 -->
                    {% if remaining_capacity == 0 %}
                        <div class="flex_test-item" id="input_training_btn" style="opacity: 0.33;" title="リソースの要領に空きがありません。トレーニング、またはパーツを削除してください。">
                            <div class="wrap pattern-1" style="pointer-events:none;">
                                <a href="" class="link_btn"></a>
                                <i class="fas fa-plus-circle mb-3" style="font-size: 70px;"></i><br>トレーニングの新規作成<p class="subtitle">新しいトレーニングを作成します</p></span>
                            </div>
                        </div>
                    {% else %}
                        <div class="flex_test-item" id="input_training_btn">
                            <div class="wrap pattern-1">
                                <!-- トレーニング作成ページへ遷移 -->
                                <a href="{% url 'training:training_create' %}" class="link_btn"></a>
                                <i class="fas fa-plus-circle mb-3" style="font-size: 70px;"></i><br>トレーニングの新規作成<p class="subtitle">新しいトレーニングを作成します</p></span>
                            </div>
                        </div>
                    {%  endif %}

                {%  endif %}



                <!-- リソースの要領に空きがない場合 -->
                {% comment %} {% if remaining_capacity == 0 %}
                    <div class="flex_test-item" id="input_training_btn" style="opacity: 0.33;" title="リソースの要領に空きがありません。トレーニング、またはパーツを削除してください。">
                        <div class="wrap pattern-1" style="pointer-events:none;">
                            <a href="" class="link_btn"></a>
                            <i class="fas fa-plus-circle mb-3" style="font-size: 70px;"></i><br>トレーニングの新規作成<p class="subtitle">新しいトレーニングを作成します</p></span>
                        </div>
                    </div>
                {% else %}
                    <div class="flex_test-item" id="input_training_btn">
                        <div class="wrap pattern-1">
                            <!-- トレーニング作成ページへ遷移 -->
                            <a href="{% url 'training:training_create' %}" class="link_btn"></a>
                            <i class="fas fa-plus-circle mb-3" style="font-size: 70px;"></i><br>トレーニングの新規作成<p class="subtitle">新しいトレーニングを作成します</p></span>
                        </div>
                    </div>
                {%  endif %} {% endcomment %}


                <!-- 管理者、共同管理者アクセス可能 -->
                <div class="flex_test-item cancel_btn" id="training_update_btn">
                    <div class="wrap pattern-1">
                        <!-- トレーニング一覧ページへ遷移 -->
                        <a href="{% url 'training:training_change_management_all' %}" class="link_btn"></a>
                        <i class="fas fa-edit mb-3" style="font-size: 70px;"></i><br>トレーニングの変更<p class="subtitle">既存のトレーニングを変更します</p></span>
                    </div>
                </div>


                <!-- 共同管理者の場合 -->
                {% if current_user|get_co_admin_user %}
                    <div class="flex_test-item" style="opacity: 0.33;" title="管理者のみ操作が可能です。">
                        <div class="wrap pattern-1" style="pointer-events:none;">
                            <a href="{% url 'training:customgroup_management' %}" class="link_btn"></a>
                            <i class="fas fa-users-cog mb-3" style="font-size: 70px;"></i><br>グループ管理<p class="subtitle">グループ内ユーザーを管理します</p></span>
                        </div>
                    </div>

                    <div class="flex_test-item" style="opacity: 0.33;" title="管理者のみ操作が可能です。">
                        <div class="wrap pattern-1" style="pointer-events:none;">
                            <a href="{% url 'training:subject_management' %}" class="link_btn"></a>
                            <i class="fas fa-tasks mb-3" style="font-size: 70px;"></i><br>科目管理<p class="subtitle">科目を作成・管理します</p></span>
                        </div>
                    </div>
                <!-- 管理者の場合 -->
                {% else %}
                    <div class="flex_test-item">
                        <div class="wrap pattern-1">
                            <!-- グループ管理ページへ遷移 -->
                            <a href="{% url 'training:customgroup_management' %}" class="link_btn"></a>
                            <i class="fas fa-users-cog mb-3" style="font-size: 70px;"></i><br>グループ管理<p class="subtitle">グループ内ユーザーを管理します</p></span>
                        </div>
                    </div>

                    <div class="flex_test-item">
                        <div class="wrap pattern-1">
                            <a href="{% url 'training:subject_management' %}" class="link_btn"></a>
                            <i class="fas fa-tasks mb-3" style="font-size: 70px;"></i><br>科目管理<p class="subtitle">科目を作成・管理します</p></span>
                        </div>
                    </div>
                {%  endif %}



                <!-- 管理者の場合 -->
                {% comment %} <div class="flex_test-item">
                    <div class="wrap pattern-1">
                        <!-- グループ管理ページへ遷移 -->
                        <a href="{% url 'training:customgroup_management' %}" class="link_btn"></a>
                        <i class="fas fa-users-cog mb-3" style="font-size: 70px;"></i><br>グループ管理<p class="subtitle">グループ内ユーザーを管理します</p></span>
                    </div>
                </div>

                <div class="flex_test-item">
                    <div class="wrap pattern-1">
                        <a href="{% url 'training:subject_management' %}" class="link_btn"></a>
                        <i class="fas fa-tasks mb-3" style="font-size: 70px;"></i><br>科目管理<p class="subtitle">科目を作成・管理します</p></span>
                    </div>
                </div> {% endcomment %}


            </div>

        </div>
    </div>

    <!-- ボタン -->
    <div class="d-flex justify-content-center btn-grp">
        <!-- 前のページに戻る -->
        <button type="button" class="my-btn btn_back_home btn_back_home_w12" onclick="window.location.href='{% url 'training:training' %}'"><span class="my_btn_text">ホームへ戻る</span></button>
    </div>

    <!-- トレーニングのパーツ作成確認モーダル -->
    <div class="modal" data-keyboard="false" data-backdrop="static" id="parts_register_modal" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="mypartsModalLabel" style="font-weight: bold; text">パーツの作成</h5>
                    {% if training_id_str %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる" onclick="window.location.href='{% url 'training:cancel_parts_register' training_id_str %}'">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    {% endif %}
                </div><!-- /.modal-header -->

                <div class="modal-body">
                    <h5 class="text-center m-0 p-3">続けてパーツを作成しますか？</h5>
                </div><!-- /.modal-body -->

                <div class="modal-footer justify-content-center">

                    <!-- ボタン -->
                    {% comment %} <div class="d-flex justify-content-center btns"> {% endcomment %}
                    <div class="btn_group">

                        {% if training_id_str %}
                            <!-- トレーニング管理画面へ遷移　バックエンドでセッションを削除 -->
                            <button type="button" id="" class="my-btn my-btn-gray-2 my-btn-w7 mr-3" data-dismiss="modal" onclick="window.location.href='{% url 'training:cancel_parts_register' training_id_str %}'"><span class="my_btn_text">いいえ</span></button>
                            <!-- パーツ作成画面へ遷移 -->
                            <button type="button" id="question_create_btn" class="my-btn my-btn-egypt-1 my-btn-w7" onclick="window.location.href='{% url 'training:training_edit_menu' training_id_str %}'"><span class="my_btn_text">はい</span></button>
                        {% endif %}

                    </div>

                {% comment %} </div><!-- /.modal-body --> {% endcomment %}
                </div><!-- /.modal-footer -->

            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->





{% endblock %}

{% block extra_js %}



<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>

<script>

$(function () {

    $('#detailed_search_btn').on('click', function() {
        $('.childe1').fadeToggle();
    });


    // 配布ファイルのダウンロードを取得
    $('.file_download a').on('click', function() {
        var is_type = "single"
        var file_id = $(this).attr('id');
        var parts_id = $(this).data('parts_id');

        // 送信データとして保存
        var data = { 'file_id': file_id, 'parts_id': parts_id, 'is_type': is_type};

        console.log("aaaa")

        $.ajax({
            type: 'POST',
            url: "{% url 'training:file_download_status' %}",
            data: data,
            dataType: 'json',
            success: function(data){
                if(data.status=='ok'){
                    alert(data.message)
                    //console.log('#' + file_id > ".download_status")
                    //aaa = $(this).find("span");
                    //aaa = $(“span”,this);
                    //console.log(aaa)
                    //console.log($(this))
                    //aaa.text("変更後の文章");
                    window.location.href = '/';
                }else{
                    alert(data.message)
                }
            }
        });
    });



    // 配布ファイルのダウンロードを取得
    $('.zip_download').on('click', function() {
        var is_type = "multiple"
        var file_id = $(this).attr('id');
        var parts_id = $(this).data('parts_id');

        // 送信データとして保存
        var data = { 'file_id': file_id, 'parts_id': parts_id, 'is_type': is_type};


        console.log("bbb")

        $.ajax({
            type: 'POST',
            url: "{% url 'training:file_download_status' %}",
            data: data,
            dataType: 'json',
            success: function(data){
                if(data.status=='ok'){
                    alert(data.message)
                    //console.log('#' + file_id > ".download_status")
                    //aaa = $(this).find("span");
                    //aaa = $(“span”,this);
                    //console.log(aaa)
                    //console.log($(this))
                    //aaa.text("変更後の文章");
                    window.location.href = '/';
                }else{
                    alert(data.message)
                }
            }
        });
    });

    /////////////////////
    // 有効期限の表示    //
    /////////////////////
    $('.period_rem_date').each(function(){

        // 現在日時
        var current = new Date();

        // 期限(文字列)
        period_date_str = $(this).data('period_date')
        console.log("期限ストリング")
        console.log(period_date_str)
        // 期限
        var period_date = new Date( period_date_str )
        // 公開日時ミリ秒
        var period_date = period_date.getTime();

        // 日付差分
        var diff_date =  period_date - current

        // 日に変換
        var rem_day = Math.floor(diff_date / (1000 * 60 * 60 *24));

        // 日に1日を加算
        var rem_day_add = rem_day + 1;
        console.log("日に1日を加算")
        console.log(rem_day_add)
        // 2日以下の場合は赤
        if (rem_day_add <= 2) {
        $(this).css("color", "#ff0000");

        // 6日以下の場合は黄色
        } else if (rem_day_add <= 6) {
        $(this).css("color", "#ffa500");

        // それ以外は青
        } else {
        $(this).css("color", "#0000ff");
        }

        // 30日以上の場合は一ヶ月以上と表示
        if (rem_day_add >= 30) {
        $(this).text("残り30日以上");

        } else if (rem_day_add < 0) {
        $(this).text("期限切れ");

        // それ以外は日数を表示
        } else {
        // 残り時間を表示
        $(this).text("残り" + rem_day_add + "日");
        }

        // // 中央揃え
        // $(this).css("text-align", "center");

    });



    /////////////////////
    // ボタンの有効・無効 //
    /////////////////////
    {% comment %} $('.card').each(function(){
        card_value = $(this)
        before_card_value = card_value.prev()
        before_card_status = before_card_value.find('.label_status').text()

        // 前のカードのステータスが完了以外だった場合
        if (before_card_status !== "完了") {
            //カレントカードのボタンオブジェクトを取得
            current_card_button = $(this).find('button')
            // カレントカードのボタン名がまとめてダウンロード以外だった場合
            if (current_card_button.first().text().trim() !== "まとめてダウンロード") {
                // ボタンを無効化
                current_card_button.prop("disabled", true);

            // カレントカードのボタン名がまとめてダウンロードだった場合
            } else {
                if (card_value.find('.label_status').text() === "完了") {
                    current_card_button.prop("disabled", true);

                } else {
                    current_card_button.prop("disabled", false);

                }

            }

            if (card_value.find('.movie_title').text() == "令和2年度新任主査級職員研修動画（基礎編）") {
                console.log("人事課主査")
                current_card_button.prop("disabled", false);
            }

            console.log(card_value.find('.movie_title').text())

        } else {
            console.log("aa")
        }

    }); {% endcomment %}



    ///////////////////
    // Newラベルの表示 //
    ///////////////////
    $('.new').each(function(){
        // 現在日時
        var current = new Date();
        // 6時間前のミリ秒を取得
        var range = current - (6 * 60 * 60 * 1000);
        // 作成日時(文字列)
        created_date_str = $(this).data('created_time')
        // 作成日時
        var created_date = new Date( created_date_str )
        // 作成日時ミリ秒
        var created_date_ms = created_date.getTime();
        // 作成日が、６時間前の時間を超えたら非表示
        if (range > created_date_ms){
            $(this).css("display", "inline-block");
        }else{
            $(this).css("display", "none");
        }
    });




});



{% comment %} $('.training_done_check').click(function() {

    // もしチェックが入っていなかったら
    if ($('input[name="show_training_done"]').prop('checked')==false) {
        console.log('チェック入ってなかった');

    // もしチェックが外れていたら
    } else {
        console.log('チェック入っていた');
    }
}); {% endcomment %}




    /////////////////////
    // トレーニングの非表示  //
    /////////////////////

    //$('.training_done_check').click(function() {
    $('input[name="show_training_done"]').click(function() {

    done_disp_bool = $(this).data('done_disp_bool')
    console.log(done_disp_bool);

    // 送信データとして保存
    var data = { 'done_disp_bool': done_disp_bool };


    $.ajax({
        type: 'POST',
        url: "{% url 'training:training_done' %}",
        data: data,
        dataType: 'json',

        success: function(data){
            if(data.status=='ok'){
                alert(data.message)
                window.location.href = '{% url "training:training_management" %}';
            }else{
                alert(data.message)
            }
        }
    });

});



</script>



<script>
    ///////////////////
    // モーダルの表示 //
    ///////////////////

    $(function () {

        console.log("モーダルの表示")

        // パーツ作成
        // セッションを受け取る
        var training_register_done = "{{ request.session.training_register_done }}"
        console.log("----------------------トレーニング", training_register_done)

        // question_register_doneがある場合
        if(training_register_done!=''){

            console.log('セッションが存在する');

            // モーダル表示
            $('#parts_register_modal').modal('show')

        } else {
            console.log('存在しない');

            // モーダル非表示
            $('#parts_register_modal').modal('hide')

        }

    });


</script>












{% endblock %}
