{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}ゲストユーザーに紐づくトレーニング一覧 | {{ block.super }}{% endblock %}

{% block content %}

<style>

    thead input {
        width: 100%;
    }

    /*---------------------------------

    ツールチップ

    ---------------------------------*/
    .tooltip-inner{
        max-width: 100%;
    }

    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .container {
        padding-right: 80px;
        padding-left: 80px;
    }

    /*---------------------------------

        タイトル

    ---------------------------------*/
    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        font-weight: bold;
        font-size: 25px;
    }

    .cp_p_title {
        text-align: left;
        padding-top: 10px;
        font-size: 15px;
    }

    /*---------------------------------

    戻るボタン

    ---------------------------------*/
    .btn-grp {
        margin: 35px;
    }

    .return_btn {
        color: #ffffff !important;
        background: #7db4e6;
        height: 45px;
        width: 25%;
    }

    /*---------------------------------

    ラベル

    ---------------------------------*/

    .waiting_label {
        width: 70px;
        line-height: 1.6;
        font-size: 1em;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 4px 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ff8fa6;
        border-radius: 20px;
    }

    .working_label {
        width: 70px;
        line-height: 1.6;
        font-size: 1em;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 4px 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #7dc3f4;
        border-radius: 20px;
    }

    .done_label {
        width: 70px;
        line-height: 1.6;
        font-size: 1em;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 4px 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #a3d26a;
        border-radius: 20px;
    }

    .del_label {
        width: 82px;
        line-height: 1.6;
        font-size: 1em;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 4px 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #8d8d8d;
        border-radius: 20px;
    }

    /*---------------------------------

    一括取消ボタン

    ---------------------------------*/
    .btn02 {
        display: block;
        position: relative;
        border: 2px solid #e73c64;
        width: 280px;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: .1rem;
        cursor: pointer;
    }

    .btn02:before {
        position: absolute;
        top: 23%;
        left: 15px;
        width: 10px;
        color: #e73c64;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f2ed';
        font-size: 18px;
    }
    
    .btn02:hover {
        background: #e73c64;
        color: #fff;
    }
    
    .btn02:hover:before {
        position: absolute;
        top: 23%;
        left: 15px;
        width: 10px;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f2ed';
        font-size: 18px;
    }

    /*---------------------------------

    テーブル

    ---------------------------------*/
    .row {
        display: flex;
        flex-wrap: nowrap;
        /* margin-right: -15px; */
        /* margin-left: -15px; */
        justify-content: space-between;
    }

    @media (min-width: 576px){
        .col-sm-6 {
            flex: none !important;
            max-width: 50%;
        }
    }

    /*画面幅を狭めても元のレイアウトをキープ*/
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: initial !important;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: right !important;
    }



</style>





<div class="container">

    <!-- messages.succes や messages.errorにて利用 -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} mb-3"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}


    <div class="mdl_align-height mt-3 mb-3">

        <div class="">
            <sapan class="training_title">トレーニング一覧</sapan>
            <p class="cp_p_title mb-0">・ゲストユーザーに紐づいているトレーニングを表示します。</p>
        </div>

        <div class="d-flex mdl_align-height mt-4">

            <button id="training_delete_row" class="btn02 dropdown-item" data-toggle="modal" data-target="#training_all_delete_modal">
                <span>紐づけの一括取り消し</span>
            </button>

        </div>

        <div class="my-div-style w-100 mt-4">

            <h6 class="section_title mb-3">紐づいているトレーニング一覧</h6>

            <table id="training_link_table" class="table table-hover dt-responsive mb-5" cellspacing="0" width="100%">

                <thead>
                    <tr>
                        <th style="text-align:center; vertical-align: middle; width: 30px;"><input type="checkbox" name="allChecked" id="all"></th>
                        <th style="text-align:left; vertical-align: middle; width: 280px;">トレーニング名</th>
                        <th style="text-align:left; vertical-align: middle; width: 220px;">発信者</th>
                        <th style="text-align:left; vertical-align: middle; width: 220px;">配信日</th>
                        <th style="text-align:left; vertical-align: middle; width: 220px;">受講期限</th>
                        <th style="text-align:left; vertical-align: middle; width: 220px;">受講日時</th>
                        <th style="text-align:left; vertical-align: middle; width: 220px;">ステータス</th>
                        <th style="text-align:left; vertical-align: middle; width: 220px;"></th><!--削除済み-->
                    </tr>
                </thead>

                <tbody id="boxes">

                    {% for guest_user_training in guest_user_trainings %}

                        <tr class="table-light">

                            <!-- 一括チェック -->
                            <td style="text-align:center; vertical-align: middle;">
                                <input class="checks" type="checkbox" value="{{ guest_user_training.id }}" name="check[]">
                            </td>

                            <!-- トレーニングタイトル -->
                            <td class="align-middle">

                                {% if guest_user_training.title|length > 25 %}
                                    <div class="" data-toggle="tooltip" title={{guest_user_training.title}}>{{ guest_user_training.title|truncatechars:25 }}</div>
                                {% else %}
                                    <div class="">{{guest_user_training.title}}</div>
                                {% endif %}
                            </td>

                            <!-- 投稿者 -->
                            <td class="align-middle">
                                {% if guest_user_training.training.reg_user is None %}
                                    発信者削除済み
                                {% else %}
                                    {{ guest_user_training.reg_user }}
                                {% endif %}
                            </td>

                            <!-- 配信日 -->
                            <td class="align-middle">
                                {{ guest_user_training.start_date }}
                            </td>

                            <!-- 受講期限 -->
                            <td class="align-middle">
                                {{ guest_user_training.end_date }}
                            </td>

                            <!-- 受講日時 -->
                            <td class="align-middle">
                                <!-- ここはForeignKeyで紐づいているTrainingは使わない -->
                                {% if guest_user_training.done_date is Null %}
                                    未受講
                                {% else %}
                                    {{ guest_user_training.done_date }}
                                {% endif %}
                            </td>

                            <!-- ステータス -->
                            <td class="align-middle">
                                <!-- ここはForeignKeyで紐づいているTrainingは使わない -->
                                {% if guest_user_training.status == 1 %}
                                    <div class="waiting_label mx-auto">未対応</div>
                                {% elif guest_user_training.status == 2 %}
                                    <div class="working_label mx-auto">対応中</div>
                                {% else %}
                                    <div class="done_label mx-auto">完了済</div>
                                {% endif %}

                            </td>

                            <!-- 削除ボタン -->
                            <td class="align-middle">
                                <button type="button" class="my-btn my-btn-danger-1 my-btn-w12" title="紐づけの取り消し" id="delete_guest_user_training" data-toggle="modal" data-target="#guest_user_training_delete_modal{{forloop.counter}}" data-pk="{{ guest_user_training.id }}">
                                    紐づけの取り消し
                                </button>
                            </td>

                        </tr>


                        <!-- 削除モーダル　個別 -->
                        <div class="modal fade" id="guest_user_training_delete_modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                            <div class="modal-dialog modal-dialog-centered">

                                <div class="modal-content">

                                    <div class="modal-header">

                                        <h5 class="modal-title" id="myModalLabel" style="font-weight: bold; text">紐づけの取り消し確認</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>

                                    <div class="modal-body">

                                        <h6><i class="fas fa-exclamation-circle" style="color: #dc3e45;"></i>「{{ guest_user_training.title }}」の紐づけの取り消しますか？</h6>

                                    </div>

                                    <div class="modal-footer justify-content-center">

                                        <form action="{% url 'training:training_link_delete' guest_user_training.id %}" method="POST" id="delete-form">

                                            {% csrf_token %}

                                            <div class="btn_group">
                                                <button type="button" class="my-btn my-btn-gray-1 my-btn-w7 mr-3" data-dismiss="modal">閉じる</button>
                                                <button type="submit" name="submit" value="{{ guest_user_id }}" id="del_training_link" class="my-btn my-btn-egypt-1 my-btn-w7">取り消す</button>
                                            </div>

                                        </form>

                                    </div><!-- /.modal-footer -->

                                </div><!-- /.modal-content -->

                            </div><!-- /.modal-card -->

                        </div><!-- /.modal -->


                    <!-- 削除モーダル　一括 -->
                    <div class="modal fade" id="training_all_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                        <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="myModalLabel" style="font-weight: bold; text">トレーニングの取り消し確認</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body">

                                    <h6 class="modal-message">
                                        <!-- 削除確認メッセージ -->
                                    </h6>

                                </div>

                                <div class="modal-footer justify-content-center">

                                    <button type="button" class="my-btn my-btn-gray-2 my-btn-w7 mr-3" data-dismiss="modal">閉じる</button>
                                    <button type="button" name="submit" value="{{ guest_user_id }}" id="training_all_delete_btn" class="my-btn my-btn-egypt-1 my-btn-w7">取り消し</button>

                                </div><!-- /.modal-footer -->

                            </div><!-- /.modal-content -->

                        </div><!-- /.modal-card -->

                    </div><!-- /.modal -->




                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

    <!-- ボタン -->
    <div class="d-flex justify-content-center btn-grp">

        <!-- 前のページに戻る -->
        <button type="button" class="return_btn my-btn my-btn-egypt-1 my-btn-w12" onclick="window.location.href='{% url 'training:guest_user_management' %}'"><span class="my_btn_text">前のページに戻る</span></button>

    </div>


</div>


{% endblock %}

{% block extra_js %}

<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>

<script>
    /////////////////////
    // ツールチップ     //
    /////////////////////
    $('[data-toggle="tooltip"]').tooltip()
</script>

<script>
    // -----------------
    // Datatables
    // -----------------
    jQuery(function($){
        // デフォルトの設定を変更
        $.extend( $.fn.dataTable.defaults, {
            language: {
                "sProcessing":   "処理中...",
                "sLengthMenu":   "_MENU_ 件表示",
                "sZeroRecords":  "データはありません。",
                "sInfo":         " _TOTAL_ 件中 _START_ から _END_ まで表示",
                "sInfoEmpty":    " 0 件中 0 から 0 まで表示",
                "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                "sInfoPostFix":  "",
                "sSearch":       "検索:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "先頭",
                    "sPrevious": "前",
                    "sNext":     "次",
                    "sLast":     "最終"
                }
        }
    });

        // Setup - add a text input to each footer cell
        //$('#training_link_table thead tr')
        //.clone(true)
        //.addClass('filters')
        //.appendTo('#training_link_table thead');

        //var table = $("#training_link_table").DataTable({
        $("#training_link_table").DataTable({
            "dom":
            "<'row'<'col-sm-6 col-auto mr-auto'l><'col-sm-6 col-auto'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5 col-auto mr-auto'i><'col-sm-7 col-auto'p>>",

            "columnDefs":[{
                "autowidth": false,
                "bAutoWidth": false,
            }],
            // ページネーションボタンの表示
            "pagingType": "simple_numbers",
            "lengthMenu": [ [5, 10, 15,-1], [5, 10, 15, "全件"]],//表示件数メニュー
            //　列設定
            columnDefs: [
                { orderable: false, targets: 0 },
                { orderable: true, targets: 1 },
                { orderable: true, targets: 2 },
                { orderable: false, targets: 3 },
                { orderable: false, targets: 4 },
                { orderable: false, targets: 5 },
                { orderable: false, targets: 6 },
                { orderable: false, targets: 7 },

            ],


        });
    });

    {% comment %} $(document).ready( function () {
        $('#training_link_table').DataTable();
    }); {% endcomment %}

</script>

<script>
    // -----------------
    // 一括削除ボタンの活性/非活性
    // -----------------

    $(function() {

        // 一括削除ボタンを非活性
        $(".btn02").prop('disabled', true).css("opacity",0.33);

        // 1. 「全選択」する
        $('#all').on('click', function() {

            $("input[name='check[]']").prop('checked', this.checked);

            if($("#all").prop('checked')) {
                $(".btn02").prop('disabled', false).css("opacity",1);
            }
            else {
                $(".btn02").prop('disabled', true).css("opacity",0.33);
            }

        });

        // 2. 「全選択」以外のチェックボックスがクリックされたら、
        $("input[name='check[]']").on('click', function() {

            if ($('#boxes :checked').length == $('#boxes :input').length) {
                // 全てのチェックボックスにチェックが入っていたら、「全選択」 = checked
                $('#all').prop('checked', true);
            } else {
                // 1つでもチェックが入っていたら、「全選択」 = checked
                $('#all').prop('checked', false);
            }
        });

        // チェックボックスの状態が変わったら（クリックされたら）
        $("input[type='checkbox']").on('change', function () {

            // チェックされているチェックボックスの数
            if ($(".checks:checked").length > 1) {
                // ボタン有効
                $(".btn02").prop('disabled', false).css("opacity",1);
            } else {
                // ボタン無効
                $(".btn02").prop('disabled', true).css("opacity",0.33);
            }
        });
    });
</script>

<script>
    // -----------------
    // 一括削除処理
    // -----------------

    $(function() {

        $('#training_all_delete_modal').on('show.bs.modal', function (event) {

            var guest_user_id = "{{ guest_user_id }}";
            console.log("guest_user_id", guest_user_id)

            // チェックボックスの値を取得
            var checks=[];

            $('[class="checks"]:checked').each(function(){
                checks.push(this.value);
            });
            console.log("------ checks -----", checks)

            // モーダル上に件数を表示
            var modal = $(this);
            //modal.find('.modal-message').text("選択した" + checks.length + "個のトレーニングの紐づけを取り消しますか？");
            modal.find('.modal-message').text("選択したトレーニングとゲストユーザーの紐づけを取り消しますか？");

            // 削除ボタンを押下した場合、Ajaxで送信
            $('#training_all_delete_btn').off('click') //onイベントの重複イベントを削除
            $('#training_all_delete_btn').on('click', function() {

                console.log('クリックされたよ');

                $('#training_all_delete_modal').modal('hide');

                $.ajax({
                    type: "POST",
                    url: '{% url "training:training_all_delete" %}',
                    data: {
                        'checks': checks,
                        'guest_user_id':guest_user_id,
                    },
                    dataType: 'json',

                    success: function (data) {
                        console.log("data", data)
                        location.reload();
                    }
                });

            });

        });

    });

</script>


{% endblock %}