{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
<!--  Crispy Form -->
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}受講履歴 | {{ block.super }}{% endblock %}

{% block content %}

<style>

    thead input {
        width: 100%;
    }

    /*---------------------------------

    ツールチップ

    ---------------------------------*/
    .tooltip-inner{
        max-width: 100%;
    }

    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .container {
        padding-right: 80px;
        padding-left: 80px;
    }

    /*---------------------------------

        タイトル

    ---------------------------------*/
    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        font-weight: bold;
        font-size: 25px;
    }

    .cp_p_title {
        text-align: left;
        padding-top: 10px;
        font-size: 15px;
    }

    /*---------------------------------

    戻るボタン

    ---------------------------------*/
    .btn-grp {
        margin: 35px;
    }

    .return_btn {
        color: #ffffff !important;
        background: #7db4e6;
        height: 45px;
        width: 25%;
    }

    /*---------------------------------

    ラベル

    ---------------------------------*/

    .waiting_label {
        width: 70px;
        line-height: 1.6;
        font-size: 1em;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 4px 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ff8fa6;
        border-radius: 20px;
    }

    .working_label {
        width: 70px;
        line-height: 1.6;
        font-size: 1em;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 4px 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #7dc3f4;
        border-radius: 20px;
    }

    .done_label {
        width: 70px;
        line-height: 1.6;
        font-size: 1em;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 4px 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #a3d26a;
        border-radius: 20px;
    }

    .del_label {
        width: 82px;
        line-height: 1.6;
        font-size: 1em;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 4px 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #8d8d8d;
        border-radius: 20px;
    }

    /*---------------------------------

    テーブル

    ---------------------------------*/
    .row {
        display: flex;
        flex-wrap: nowrap;
        /* margin-right: -15px; */
        /* margin-left: -15px; */
        justify-content: space-between;
    }

    @media (min-width: 576px){
        .col-sm-6 {
            flex: none !important;
            max-width: 50%;
        }
    }


    /*画面幅を狭めても元のレイアウトをキープ*/
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: initial !important;
    }


    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: right !important;
    }




</style>





<div class="container">
    <div class="mdl_align-height mt-3 mb-3">

        <div class="">
            <sapan class="training_title">受講履歴一覧</sapan>
            <p class="cp_p_title mb-0">・受講対象では無くなった、または削除されたトレーニングのうち、ステータスが未対応および対応中のものが表示されます。</p>
            {% comment %} <p class="cp_p_title p-0">・完了したトレーニングは、トレーニング削除状況に関わらず全て表示されます。</p> {% endcomment %}
            <p class="cp_p_title p-0">・トレーニングはトレーニング削除状況に関わらず全て表示されます。</p>
        </div>

        <div class="my-div-style w-100 mt-4">

            <h6 class="section_title mb-3">トレーニング一覧</h6>

            <table id="training_history_table" class="table table-hover dt-responsive mb-5" cellspacing="0" width="100%">

                <thead>
                    <tr>
                        <th style="text-align:left; vertical-align: middle; width: 280px;">トレーニング名</th>
                        <th style="text-align:left; vertical-align: middle; width: 220px;">発信者</th>
                        <th style="text-align:left; vertical-align: middle; width: 80px;">配信日</th>
                        <th style="text-align:left; vertical-align: middle; width: 80px;">受講期限</th>
                        <th style="text-align:left; vertical-align: middle; width: 80px;">受講日時</th>
                        <th style="text-align:left; vertical-align: middle; width: 40px;">ステータス</th>
                        <th style="text-align:left; vertical-align: middle; width: 40px;">削除済み</th><!--削除済み-->
                    </tr>
                </thead>

                <tbody id="boxes">

                    {% for training in trainings %}

                        {% comment %} {{training.training.title}}aaaa {% endcomment %}

                        <tr class="table-light">

                            <!-- 削除されていないトレーニングはForeignKeyで紐づいているTrainingから値を取得する -->
                            {% if not training.del_flg %}

                                <!-- トレーニングタイトル -->
                                <td class="align-middle">
                                    {% comment %} {{ training.title|truncatechars:15 }} {% endcomment %}

                                    {% comment %} {% if training.title|length > 25 %} {% endcomment %}
                                    {% if training.training.title|length > 25 %}
                                        {% comment %} <div class="" data-toggle="tooltip" title={{training.title}}>{{ training.title|truncatechars:25 }}</div> {% endcomment %}
                                        <div class="" data-toggle="tooltip" title={{training.training.title}}>{{ training.training.title|truncatechars:25 }}</div>

                                        {% else %}
                                        {% comment %} <div class="">{{ training.title }}</div> {% endcomment %}
                                        <div class="">{{training.training.title}}</div>
                                    {% endif %}
                                </td>

                                <!-- 投稿者 -->
                                <td class="align-middle">
                                    {% comment %} {{ training.reg_user_for_display }} {% endcomment %}
                                    {% if training.training.reg_user is None %}
                                        発信者削除済み
                                    {% else %}
                                        {{ training.training.reg_user }}
                                    {% endif %}

                                </td>

                                <!-- 配信日 -->
                                <td class="align-middle">
                                    {% comment %} {{ training.start_date }} {% endcomment %}
                                    {{ training.training.start_date }}
                                </td>

                                <!-- 受講期限 -->
                                <td class="align-middle">
                                    {% comment %} {{ training.end_date }} {% endcomment %}
                                    {{ training.training.end_date }}
                                </td>

                                <!-- 受講日時 -->
                                <td class="align-middle">
                                    <!-- ここはForeignKeyで紐づいているTrainingは使わない -->
                                    {% if training.done_date is Null %}
                                        未受講
                                    {% else %}
                                        {{ training.done_date }}
                                    {% endif %}
                                </td>

                                <!-- ステータス -->
                                <td class="align-middle">
                                    <!-- ここはForeignKeyで紐づいているTrainingは使わない -->
                                    {% if training.status == 1 %}
                                        <div class="waiting_label mx-auto">未対応</div>
                                    {% elif training.status == 2 %}
                                        <div class="working_label mx-auto">対応中</div>
                                    {% else %}
                                        <div class="done_label mx-auto">完了済</div>
                                    {% endif %}

                                </td>

                                <!-- 削除済み -->
                                <td class="align-middle">
                                    <!-- 削除済みフラグが立っている場合 -->
                                    <!-- ここはForeignKeyで紐づいているTrainingは使わない -->
                                    {% if training.del_flg %}
                                        <div class="del_label mx-auto">削除済み</div>
                                        {% else %}
                                    <!-- 何も表示しない -->
                                    {% endif %}

                                </td>

                            <!-- 削除されているトレーニングはTrainingHistoryのフィールドにコピーした情報から値を取得する -->
                            {% else %}

                                <!-- トレーニングタイトル -->
                                <td class="align-middle">
                                    {% comment %} {{ training.title|truncatechars:15 }} {% endcomment %}

                                    {% comment %} {% if training.title|length > 25 %} {% endcomment %}
                                    {% if training.title|length > 25 %}
                                        {% comment %} <div class="" data-toggle="tooltip" title={{training.title}}>{{ training.title|truncatechars:25 }}</div> {% endcomment %}
                                        <div class="" data-toggle="tooltip" title={{training.title}}>{{ training.title|truncatechars:25 }}</div>

                                        {% else %}
                                        <div class="">{{training.title}}</div>
                                    {% endif %}
                                </td>

                                <!-- 投稿者 -->
                                <td class="align-middle">
                                    {% comment %} {{ training.reg_user_for_display }} {% endcomment %}
                                    {% if training.reg_user is None %}
                                        発信者削除済み
                                    {% else %}
                                        {{ training.reg_user }}
                                    {% endif %}

                                </td>

                                <!-- 配信日 -->
                                <td class="align-middle">
                                    {{ training.start_date }}
                                </td>

                                <!-- 受講期限 -->
                                <td class="align-middle">
                                    {{ training.end_date }}
                                </td>

                                <!-- 受講日時 -->
                                <td class="align-middle">
                                    {% if training.done_date is Null %}
                                        未受講
                                    {% else %}
                                        {{ training.done_date }}
                                    {% endif %}
                                </td>

                                <!-- ステータス -->
                                <td class="align-middle">
                                    {% if training.status == 1 %}
                                        <div class="waiting_label mx-auto">未対応</div>
                                    {% elif training.status == 2 %}
                                        <div class="working_label mx-auto">対応中</div>
                                    {% else %}
                                        <div class="done_label mx-auto">完了済</div>
                                    {% endif %}

                                </td>

                                <!-- 削除済み -->
                                <td class="align-middle">
                                    <!-- 削除済みフラグが立っている場合 -->
                                    {% if training.del_flg %}
                                        <div class="del_label mx-auto">削除済み</div>
                                    {% else %}
                                        <!-- 何も表示しない -->
                                    {% endif %}

                                </td>

                            {% endif %}

                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

    <!-- ボタン -->
    <div class="d-flex justify-content-center btn-grp">

        <!-- 前のページに戻る -->
        <button type="button" class="return_btn my-btn my-btn-egypt-1 my-btn-w12" onclick="window.location.href='{% url 'training:training' %}'"><span class="my_btn_text">前のページに戻る</span></button>

    </div>


</div>


{% endblock %}

{% block extra_js %}

<script>
    /////////////////////
    // ツールチップ     //
    /////////////////////
    $('[data-toggle="tooltip"]').tooltip()
</script>

<script>
    // -----------------
    // Datatables
    // -----------------
    jQuery(function($){
        // デフォルトの設定を変更
        $.extend( $.fn.dataTable.defaults, {
            language: {
                "sProcessing":   "処理中...",
                "sLengthMenu":   "_MENU_ 件表示",
                //"sZeroRecords":  "データはありません。",
                "sEmptyTable": "受講したトレーニングはありません。",
                "sInfo":         " _TOTAL_ 件中 _START_ から _END_ まで表示",
                "sInfoEmpty":    " 0 件中 0 から 0 まで表示",
                "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                "sInfoPostFix":  "",
                "sSearch":       "検索:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "先頭",
                    "sPrevious": "前",
                    "sNext":     "次",
                    "sLast":     "最終"
                }
        }
    });

        // Setup - add a text input to each footer cell
        {% comment %} $('#training_history_table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#training_history_table thead'); {% endcomment %}

        var table = $("#training_history_table").DataTable({
        //$("#training_history_table").DataTable({
            "dom":
            "<'row'<'col-sm-6 col-auto mr-auto'l><'col-sm-6 col-auto'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5 col-auto mr-auto'i><'col-sm-7 col-auto'p>>",

            "columnDefs":[{
                "autowidth": false,
                "bAutoWidth": false,
            }],
            // ページネーションボタンの表示
            "pagingType": "simple_numbers",
            "lengthMenu": [ [5, 10, 15,-1], [5, 10, 15, "全件"]],//表示件数メニュー
            //　列設定
            columnDefs: [
                {% comment %} { orderable: false, targets: 0, width: "600px" },
                { orderable: true, targets: 1, width: "200px" },
                { orderable: true, targets: 2, width: "150px" },
                { orderable: false, targets: 3, width: "150px" },
                { orderable: false, targets: 4, width: "150px" },
                { orderable: false, targets: 5, width: "50px" },
                { orderable: false, targets: 6, width: "50px" }, {% endcomment %}

                { orderable: true, targets: 0 },
                { orderable: true, targets: 1 },
                { orderable: true, targets: 2 },
                { orderable: true, targets: 3 },
                { orderable: true, targets: 4 },
                { orderable: true, targets: 5 },
                { orderable: true, targets: 6 },

            ],

            {% comment %} initComplete: function () {
                var api = this.api();
                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
     
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            }, {% endcomment %}

            {% comment %} initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );

                    column.data().unique().sort().each( function ( d, j ) {
                       // For first column
                       // ignore HTML tags
                        if(column.index() == 0){ d = $(d).text(); }

                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            } {% endcomment %}






        });
    });

    {% comment %} $(document).ready( function () {
        $('#training_history_table').DataTable();
    }); {% endcomment %}

</script>

{% endblock %}