{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load get_list %}
{% load get_subject %}
{% load get_training_reguser_display_name %}
{% load get_training_reguser_company_pic_dept_name %}


<!--  Crispy Form -->
{% load widget_tweaks %}

{% block title %}トレーニング一覧 | {{ block.super }}{% endblock %}





{% block content %}

    <!-- jQuery UI CSS -->
    {% comment %} <link rel="stylesheet" href="https:///code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'common/css/jquery-ui.css' %}">


    <!-- CSSの読み込み -->
    <style>

    /*---------------------------------

        タイトル

    ---------------------------------*/
    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        margin-top: 20px;
        font-weight: bold;
        font-size: 25px;
    }

    /*---------------------------------

        ラベル

    ---------------------------------*/

    span.label {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }

    /* 共同管理者用のラベル */
    span.label_co_admin_user {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ff794f;
    }

    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .row {
        margin: auto;
        justify-content: center; /*外枠の上下左右中央寄せ*/
    }


    .container-fluid {
        padding-right: 40px;
        padding-left: 40px;
    }


    /*---------------------------------

        トレーニング

    ---------------------------------*/

    .card_header {
        cursor: pointer;
    }

    /*---------------------------------

        タブ

    ---------------------------------*/

    /* カテゴリーごとにタブ分け */
    .cp_qa *, .cp_qa *:before, .cp_qa *:after {
        {% comment %} font-family: 'FontAwesome', sans-serif; {% endcomment %}
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .cp_qa {
        margin: 0 auto;
        background: #ffffff;
    }
    .cp_qa input {
        display: none;
    }
    /* カテゴリー */
    {% comment %} .cp_qa #cp_content1,
    .cp_qa #cp_content2,
    .cp_qa #cp_content3,
    .cp_qa #cp_content4 {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid #dddddd;
    } {% endcomment %}
    .cp_qa label.cp_tabitem {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        text-align: center;
        color: #bbbbbb;
        border: 1px solid transparent;
    }
    .cp_qa label.cp_tabitem:before {
        margin-right: 10px;
    }

    /*.cp_qa label.cp_tabitem[for*='1']:before { content: '\f2bd'; }
    .cp_qa label.cp_tabitem[for*='2']:before { content: '\f15c'; }
    .cp_qa label.cp_tabitem[for*='3']:before { content: '\f0f4'; }
    .cp_qa label.cp_tabitem[for*='4']:before { content: '\f001'; }*/

    .cp_qa label.cp_tabitem:hover {
        cursor: pointer;
        color: #888888;
    }
    .cp_qa input:checked + label {
        color: #494949;
        border: 1px solid #dddddd;
        border-bottom: 1px solid #ffffff;
    }
    /* --ブロックのバーの色 */
    .cp_qa input:checked + label[for*='1'] {
        border-top: 5px solid #144a74;
    }
    .cp_qa input:checked + label[for*='2'] {
        border-top: 5px solid  #FC5768;
    }
    .cp_qa input:checked + label[for*='3'] {
        border-top: 5px solid  #7B7BA9;
    }
    .cp_qa input:checked + label[for*='4'] {
        border-top: 5px solid  #F3B888;
    }
    @media screen and (max-width: 650px) {
        .cp_qa label.cp_tabitem {
            font-size: 0;
        }
        label:before {
            font-size: 18px;
            margin: 0;
        }
    }
    @media screen and (max-width: 400px) {
        .cp_qa label.cp_tabitem {
            padding: 15px;
        }
        .cp_qa label.cp_tabitem:before {
            margin-right: 0px;
        }
    }
    /* QAブロック */
    .cp_qa #cp_conttab1:checked ~ #cp_content1,
    .cp_qa #cp_conttab2:checked ~ #cp_content2,
    .cp_qa #cp_conttab3:checked ~ #cp_content3,
    .cp_qa #cp_conttab4:checked ~ #cp_content4 {
    display: block;
    }
    .cp_qa .cp_qain {
        overflow-x: hidden;
        margin: 0 auto;
        color: #333333;
    }
    .cp_qa .cp_qain .cp_actab {
        padding: 10px 0;
        /*border-bottom: 1px dotted #cccccc;*/
    }
    /* 質問 */
    .cp_qa .cp_qain label {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 10px 0 48px;
        cursor: pointer;
    }
    /* ＋アイコン */
    .cp_qa .cp_qain .cp_plus {
        font-size: 2em;
        line-height: 100%;
        position: absolute;
        z-index: 5;
        margin-top: 3px;
        margin-left: 10px;
        -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
    }

    /* 答え */
    .cp_qa .cp_qain .cp_actab-content {
        position: relative;
        overflow: hidden;
        height: 0;
        margin: 0 10px 0 48px;
        padding: 14px 0;
        -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
        opacity: 0;
    }
    /* 質問を開いた時の仕様 */
    .cp_qa .cp_qain .cp_actab input[type=checkbox]:checked ~ .cp_actab-content {
        height: auto;
        opacity: 1;
    }
    /* 質問をクリックした時の▼アイコンの動き */
    .cp_qa .cp_qain .cp_actab input[type=checkbox]:checked ~ .cp_plus {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }


    .training_choice_message {
        font-size: 16px;
        margin: 0px;
        padding: 15px;
    }



    /*---------------------------------

        前のページに戻るボタン

    ---------------------------------*/

    .btn-grp {
        margin: 80px;
    }

    .my-btn-egypt-1 {
        color: #ffffff !important;
        background: #7db4e6;
    }

    .my-btn-w12 {
        height: 45px;
        width: 25%;
    }




    </style>







    <div class="container-fluid">

        <!-- messages.succes や messages.errorにて利用 -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="mdl_align-height mt-5">

            <div>
                {% comment %} <h4 class="training_title">トレーニング一覧</h4> {% endcomment %}
                <sapan class="training_title">トレーニング一覧</sapan><span class="label">管理者画面</span><span class="label_co_admin_user ml-2">共同管理者画面</span>
            </div>

        </div>

        {% comment %} <div class="cp_qa mt-5"> {% endcomment %}
        <div class="cp_qa mt-2">
            <input id="cp_conttab1" type="radio" name="tabs" data-tab_menu="all" checked>
            {% comment %} <label for="cp_conttab1" class="cp_tabitem">全て表示</label> {% endcomment %}

            {% comment %} <input id="cp_conttab2" type="radio" name="tabs" data-tab_menu="b" onclick="window.location.href='{% url 'training:training_change_management_waiting' %}'">
            <label for="cp_conttab2" class="cp_tabitem">未対応</label>

            <input id="cp_conttab3" type="radio" name="tabs" data-tab_menu="c" onclick="window.location.href='{% url 'training:training_change_management_working' %}'">
            <label for="cp_conttab3" class="cp_tabitem">対応中</label>

            <input id="cp_conttab4" type="radio" name="tabs" data-tab_menu="d" onclick="window.location.href='{% url 'training:training_change_management_done' %}'">
            <label for="cp_conttab4" class="cp_tabitem">完了</label> {% endcomment %}



            <!-- 全て表示 -->
            <div id="cp_content1">

                <p class="training_choice_message">編集したいトレーニングを選択してください</p>

                <div class="cp_qain">

                    <div class="cp_actab">

                        <div class="row">

                            {% for training in trainings %}

                                {% comment %} {% with movie_count=training.training.movie.all|length %}
                                {% with test_count=training.training.test.all|length %}
                                {% with questionnaire_count=training.training.questionnaire.all|length %}

                                {% with parts_count=training.parts.count|add:"-10" %} {% endcomment %}

                                {% with movie_count=training.movie.all|length %}
                                {% with test_count=training.test.all|length %}
                                {% with questionnaire_count=training.questionnaire.all|length %}

                                {% with parts_count=training.parts.count|add:"-10" %}

                                <div class="col-12 mt-2">

                                    {% comment %} <div class="card home_card" onclick="window.location.href='{% url 'training:training_edit_menu' training.training.pk %}'"> {% endcomment %}
                                    <div class="card home_card" onclick="window.location.href='{% url 'training:training_edit_menu' training.pk %}'">

                                        <div class="d-flex card_header">

                                            {% comment %} <div class="d-none d-md-inline-block mt-2 ml-2 mb-2 mr-2" style="width: 700px;"> {% endcomment %}
                                            <div class="d-md-inline-block mt-2 ml-2 mb-2 mr-2" style="width: 700px;">

                                                <div class="d-flex">
                                                    {% comment %} <div class="menu_title_size">{{forloop.counter|zfill:3}}.{{training.training.title}}</div> {% endcomment %}
                                                    <div class="menu_title_size">{{forloop.counter|zfill:3}}.{{training.title}}</div>

                                                </div>
                                                {% comment %} <div class="menu_desc_size menu_desc_text">{{training.training.description|safe}}</div> {% endcomment %}
                                                <div class="menu_desc_size menu_desc_text">{{training.description|safe}}</div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-2 ml-auto mr-2 mb-2" style="width: 250px;"> {% endcomment %}
                                            <div class="d-md-inline-block mt-2 ml-auto mr-2 mb-2" style="width: 250px;">

                                                <div class="d-flex">
                                                    <div class="label_text label_text_w62">発信者</div>
                                                    {% comment %} <div class="menu_reg_user_size menu_reg_user_text label_border_left pl-3 menu_reg_user_box">{{training.reg_user.company.pic_dept_name}}</div> {% endcomment %}
                                                    <div class="menu_reg_user_size menu_reg_user_text label_border_left pl-3 menu_reg_user_box">{{training.reg_user|get_training_reguser_company_pic_dept_name}}</div>
                                                </div>

                                                <div class="d-flex">
                                                    <div class="label_text label_text_w62" style="visibility:hidden;">発信者</div>
                                                    {% comment %} <div class="menu_reg_user_size menu_reg_user_text label_border_left pl-3 menu_reg_user_box" style="font-weight: bold; color: #494949;"></i>{{training.reg_user.display_name}}</div> {% endcomment %}
                                                    <div class="menu_reg_user_size menu_reg_user_text label_border_left pl-3 menu_reg_user_box" style="font-weight: bold; color: #494949;"></i>{{training.reg_user|get_training_reguser_display_name}}</div>
                                                </div>
                                            </div>

                                            {% comment %} <div class="d-none d-md-inline-block mt-2 ml-3 mr-5 mb-2" style="width: 250px;"> {% endcomment %}
                                            <div class="d-md-inline-block mt-2 ml-3 mr-5 mb-2" style="width: 250px;">

                                                <div class="d-inline-flex">
                                                    <div class="label_text label_text_w90 label_border_right pr-3 mr-3">ステータス</div>
                                                    {% comment %} {% with training_manage=training.training.training_manage.all|get_model_obj:current_user %}
                                                        {% if training_manage.status == 1 %} <!-- 未対応 -->
                                                            <div class="label_status menu_sutatus_size glay label_status_custom">{{training_manage.get_status_display}}</div>
                                                        {% elif training_manage.status == 2 %} <!-- 対応中 -->
                                                            <div class="label_status menu_sutatus_size blue label_status_custom">{{training_manage.get_status_display}}</div>
                                                        {% elif training_manage.status == 3 %} <!-- 完了 -->
                                                            <div class="label_status menu_sutatus_size done label_status_custom">{{training_manage.get_status_display}}</div>
                                                        {% endif %}
                                                    {% endwith %} {% endcomment %}

                                                    {% comment %} {% with training_manage=training.training_manage.all|get_model_obj:current_user %}
                                                        {% if training_manage.status == 1 %} <!-- 未対応 -->
                                                            <div class="label_status menu_sutatus_size glay label_status_custom">{{training_manage.get_status_display}}</div>
                                                        {% elif training_manage.status == 2 %} <!-- 対応中 -->
                                                            <div class="label_status menu_sutatus_size blue label_status_custom">{{training_manage.get_status_display}}</div>
                                                        {% elif training_manage.status == 3 %} <!-- 完了 -->
                                                            <div class="label_status menu_sutatus_size done label_status_custom">{{training_manage.get_status_display}}</div>
                                                        {% endif %}
                                                    {% endwith %} {% endcomment %}

                                                    {% comment %} <div class="ml-1 period_rem_date menu_sutatus_size" data-period_date="{{ training.training.end_date|date:'Y/m/d H:i' }}">ステータス</div> {% endcomment %}
                                                    {% comment %} <div class="ml-1 period_rem_date menu_sutatus_size" data-period_date="{{ training.end_date|date:'Y/m/d H:i' }}">ステータス</div> {% endcomment %}

                                                </div>

                                                <div class="menu_sutatus_size">

                                                    <div class="d-flex">
                                                        <div class="label_text label_text_w90 label_border_right pr-3 mr-3">対応期限</div>
                                                        <div class="menu_status_box" data-toggle="tooltip" title="{{ training.end_date|date:'Y/m/d H:i' }}">{{ training.end_date|date:'Y/m/d H:i'}}</div>
                                                    </div>

                                                </div>





                                            </div>

                                        </div>

                                    </div>

                                </div>


                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}

                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>

        </div>


        <!-- ボタン -->
        <div class="d-flex justify-content-center btn-grp">

            <!-- 前のページに戻る -->
            <button type="button" class="my-btn my-btn-egypt-1 my-btn-w12" onclick="window.location.href='{% url 'training:training_management' %}'"><span class="my_btn_text">前のページに戻る</span></button>

        </div>





    </div>








{% endblock %}

{% block extra_js %}



<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>

<script>

$(function () {

    $('#detailed_search_btn').on('click', function() {
        $('.childe1').fadeToggle();
    });


    // 配布ファイルのダウンロードを取得
    $('.file_download a').on('click', function() {
        var is_type = "single"
        var file_id = $(this).attr('id');
        var parts_id = $(this).data('parts_id');

        // 送信データとして保存
        var data = { 'file_id': file_id, 'parts_id': parts_id, 'is_type': is_type};

        console.log("aaaa")

        $.ajax({
            type: 'POST',
            url: "{% url 'training:file_download_status' %}",
            data: data,
            dataType: 'json',
            success: function(data){
                if(data.status=='ok'){
                    alert(data.message)
                    //console.log('#' + file_id > ".download_status")
                    //aaa = $(this).find("span");
                    //aaa = $(“span”,this);
                    //console.log(aaa)
                    //console.log($(this))
                    //aaa.text("変更後の文章");
                    window.location.href = '/';
                }else{
                    alert(data.message)
                }
            }
        });
    });



    // 配布ファイルのダウンロードを取得
    $('.zip_download').on('click', function() {
        var is_type = "multiple"
        var file_id = $(this).attr('id');
        var parts_id = $(this).data('parts_id');

        // 送信データとして保存
        var data = { 'file_id': file_id, 'parts_id': parts_id, 'is_type': is_type};


        console.log("bbb")

        $.ajax({
            type: 'POST',
            url: "{% url 'training:file_download_status' %}",
            data: data,
            dataType: 'json',
            success: function(data){
                if(data.status=='ok'){
                    alert(data.message)
                    //console.log('#' + file_id > ".download_status")
                    //aaa = $(this).find("span");
                    //aaa = $(“span”,this);
                    //console.log(aaa)
                    //console.log($(this))
                    //aaa.text("変更後の文章");
                    window.location.href = '/';
                }else{
                    alert(data.message)
                }
            }
        });
    });

    /////////////////////
    // 有効期限の表示    //
    /////////////////////
    $('.period_rem_date').each(function(){

        // 現在日時
        var current = new Date();

        // 期限(文字列)
        period_date_str = $(this).data('period_date')
        console.log("期限ストリング")
        console.log(period_date_str)
        // 期限
        var period_date = new Date( period_date_str )
        // 公開日時ミリ秒
        var period_date = period_date.getTime();

        // 日付差分
        var diff_date =  period_date - current

        // 日に変換
        var rem_day = Math.floor(diff_date / (1000 * 60 * 60 *24));

        // 日に1日を加算
        var rem_day_add = rem_day + 1;
        console.log("日に1日を加算")
        console.log(rem_day_add)
        // 2日以下の場合は赤
        if (rem_day_add <= 2) {
        $(this).css("color", "#ff0000");

        // 6日以下の場合は黄色
        } else if (rem_day_add <= 6) {
        $(this).css("color", "#ffa500");

        // それ以外は青
        } else {
        $(this).css("color", "#0000ff");
        }

        // 30日以上の場合は一ヶ月以上と表示
        if (rem_day_add >= 30) {
        $(this).text("残り30日以上");

        } else if (rem_day_add < 0) {
        $(this).text("期限切れ");

        // それ以外は日数を表示
        } else {
        // 残り時間を表示
        $(this).text("残り" + rem_day_add + "日");
        }

        // // 中央揃え
        // $(this).css("text-align", "center");

    });



    /////////////////////
    // ボタンの有効・無効 //
    /////////////////////
    {% comment %} $('.card').each(function(){
        card_value = $(this)
        before_card_value = card_value.prev()
        before_card_status = before_card_value.find('.label_status').text()

        // 前のカードのステータスが完了以外だった場合
        if (before_card_status !== "完了") {
            //カレントカードのボタンオブジェクトを取得
            current_card_button = $(this).find('button')
            // カレントカードのボタン名がまとめてダウンロード以外だった場合
            if (current_card_button.first().text().trim() !== "まとめてダウンロード") {
                // ボタンを無効化
                current_card_button.prop("disabled", true);

            // カレントカードのボタン名がまとめてダウンロードだった場合
            } else {
                if (card_value.find('.label_status').text() === "完了") {
                    current_card_button.prop("disabled", true);

                } else {
                    current_card_button.prop("disabled", false);

                }

            }

            if (card_value.find('.movie_title').text() == "令和2年度新任主査級職員研修動画（基礎編）") {
                console.log("人事課主査")
                current_card_button.prop("disabled", false);
            }

            console.log(card_value.find('.movie_title').text())

        } else {
            console.log("aa")
        }

    }); {% endcomment %}



    ///////////////////
    // Newラベルの表示 //
    ///////////////////
    $('.new').each(function(){
        // 現在日時
        var current = new Date();
        // 6時間前のミリ秒を取得
        var range = current - (6 * 60 * 60 * 1000);
        // 作成日時(文字列)
        created_date_str = $(this).data('created_time')
        // 作成日時
        var created_date = new Date( created_date_str )
        // 作成日時ミリ秒
        var created_date_ms = created_date.getTime();
        // 作成日が、６時間前の時間を超えたら非表示
        if (range > created_date_ms){
            $(this).css("display", "inline-block");
        }else{
            $(this).css("display", "none");
        }
    });



    /////////////////////
    // トレーニングの非表示  //
    /////////////////////

    //$('.training_done_check').click(function() {
    $('input[name="tabs"]').click(function() {

        console.log("tabがクリックされました");

        tab_menu = $(this).data('tab_menu')
        console.log("tab_menu :", tab_menu);

        // 送信データとして保存
        var tab_menu = { 'tab_menu': tab_menu };

        $.ajax({
            type: 'GET',
            url: "{% url 'training:training_done' %}",
            data: tab_menu,
            dataType: 'json',

            success: function(data){
                console.log("trainings", data);
                $('<tr>').html(
                    "</td><td>" + '<input type="radio" value="' + data.id ).appendTo('#test');

            }
        });

    });










});
















</script>









{% endblock %}
