{% extends "common/base.html" %}
{% load i18n static %}
{% load is_exists %}
{% load get_file_id_value %}
{% load zfill %}
{% load get_model_obj %}
{% load widget_tweaks %}

{% block title %}ユーザー管理 | {{ block.super }}{% endblock %}

{% block content %}

<!-- bootstrap-duallistbox -->
{% comment %} <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.2/bootstrap-duallistbox.css" rel="stylesheet" type="text/css"  /> {% endcomment %}
<link rel="stylesheet" href="{% static 'training/css/bootstrap-duallistbox.css' %}">


<style>

    /*---------------------------------

        bootstrap-duallistbox

    ---------------------------------*/

    .bootstrap-duallistbox-container select {
        width: 100%;
        height: 250px;
        border: 1px solid #ced4da;
        padding: 0;
    }

    .bootstrap-duallistbox-container label {
        font-weight: bold;
        color: #494949;
    }

    .moveall,
    .removeall {
        border: 1px solid #ced4da !important;
        color: #808080;
    }

    .buttons > .btn i + i{
        display:none;
    }

    /*---------------------------------

        モーダル

    ---------------------------------*/

    .modal .service_admin_modal .modal-body{
        min-height:400px;/* - height - 100*/
    }

    select[multiple] {
        height: auto;
        min-height: 188px;
    }

    option {
        font-size: 14px;
    }


    /*---------------------------------

        画面の幅

    ---------------------------------*/

    .container {
        padding-right: 80px;
        padding-left: 80px;
    }

    /*---------------------------------

        タイトル

    ---------------------------------*/
    .training_title {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        border-left: solid 10px #7db4e6;/*左線*/
        font-weight: bold;
        font-size: 25px;
    }

    .cp_p_title {
        text-align: left;
        padding-top: 10px;
        font-size: 15px;
    }

    /*---------------------------------

        ラベル

    ---------------------------------*/

    span.label {
        line-height: 1.6;
        font-size: 1em;
        margin: 10px 0;
        font-weight: 700;
        vertical-align: text-bottom;
        color: #fff;
        padding: 5px 14px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #0d94ec;
    }

/*---------------------------------

    管理者権限の付与ボタン

---------------------------------*/

/* 管理者権限の付与 */
.btn01 {
    display: block;
    position: relative;
    border: 2px solid #00a7e9;
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1rem;
    cursor: pointer;
}

.btn01:before {
    position: absolute;
    top: 15%;
    left: 15px;
    width: 10px;
    color: #7cb4e6;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\2b';
    font-size: 22px;
}

.btn01:hover {
	background: #7cb4e6;
	color: #fff;
}

.btn01:hover:before {
    position: absolute;
    top: 15%;
    left: 15px;
    width: 10px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\2b';
    font-size: 22px;
}

/*---------------------------------

    削除ボタン

---------------------------------*/

.my-btn-danger-1 {
    color: #ffffff !important;
    background: #e73c64;
}

/*---------------------------------

    戻るボタン

---------------------------------*/
.btn-grp {
    margin: 35px;
}

.return_btn {
    color: #ffffff !important;
    background: #7db4e6;
    height: 45px;
    width: 25%;
}

/*---------------------------------

    テーブル

---------------------------------*/
.row {
    display: flex;
    flex-wrap: nowrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    justify-content: space-between;
}

@media (min-width: 576px){
    .col-sm-6 {
        flex: none !important;
        max-width: 50%;
    }
}

/*画面幅を狭めても元のレイアウトをキープ*/
div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    text-align: initial !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: right !important;
}



</style>

<div class="container">

    <!-- messages.succes や messages.errorにて利用 -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="mdl_align-height mt-3 mb-3">

        <div class="">
            <sapan class="training_title">管理者権限設定</sapan><span class="label">管理者画面</span>
            <p class="cp_p_title mb-0">・管理者権限を他のユーザーに割り当てることができます。</p>
            <p class="cp_p_title mb-0">・自分自身の権限の変更や削除はできません。そのため、自分以外の「管理者」に設定を依頼してください。</p>
            <p class="cp_p_title mb-0">・管理者は一名以上必要です。</p>
        </div>

    </div>

    <div class="d-flex mdl_align-height mt-4">

        <button type="button" class="btn01 dropdown-item mr-2" data-toggle="modal" data-target="#exampleModal">
            <span>ユーザーに管理者権限を与える</span>
        </button>

    </div>

    <div class="my-div-style w-100 mt-4">

        <h6 class="section_title mb-3">管理者一覧</h6>

        <table id="user_service_admin_table" class="table table-hover nowrap mb-5">

            <thead>
                <tr>
                    <th style="text-align:left; vertical-align: middle;">ユーザー名</th>
                    <th style="text-align:left; vertical-align: middle;">メールアドレス</th>
                    <th style="text-align:left; vertical-align: middle;">所属</th>
                    <th style="text-align:left; vertical-align: middle;"></th><!-- 削除ボタン -->
                </tr>
            </thead>

            <tbody id="boxes">

                {% for user in user_service_admins %}

                    <tr class="table-light">

                        <!-- ユーザー名 -->
                        <td class="r_task_reminder_col_3 align-middle">
                            {{ user.display_name }}
                        </td>

                        <!-- メールアドレス -->
                        <td class="r_task_reminder_col_3 align-middle">
                            {{ user.email }}
                        </td>

                        <!-- 会社名 -->
                        <td class="r_task_reminder_col_2 align-middle">
                            {{ user.company.pic_company_name }}
                        </td>

                        <!-- 削除ボタン -->
                        <td class="r_task_reminder_col_2" style="text-align:right; vertical-align: middle;">

                            <!-- ログインユーザーの削除ボタンは非表示 -->
                            {% if current_user.email == user.email %}

                                <button type="button" class="my-btn my-btn-danger-1 my-btn-w12" title="権限の取り消し" id="delete_is_staff" data-toggle="modal" data-target="#is_staff_delete_modal{{forloop.counter}}" data-pk="{{ user.id }}" disabled>
                                    権限の取り消し
                                </button>

                            {% else %}
                                <!-- 管理者の登録が2名以上ならボタンを表示 -->
                                {% if user_service_admins|length >= 2 %}
                                    <button type="button" class="my-btn my-btn-danger-1 my-btn-w12" title="権限の取り消し" id="delete_is_staff" data-toggle="modal" data-target="#is_staff_delete_modal{{forloop.counter}}" data-pk="{{ user.id }}">
                                        権限の取り消し
                                    </button>
                                <!-- ボタンを非表示 -->
                                {% else %}
                                    <button type="button" class="my-btn my-btn-danger-1 my-btn-w12" title="権限の取り消し" id="delete_is_staff" data-toggle="modal" data-target="#is_staff_delete_modal{{forloop.counter}}" data-pk="{{ user.id }}" disabled>
                                        権限の取り消し
                                    </button>
                                {% endif %}


                            {% endif %}

                        </td>

                    </tr>

                    <!-- 削除モーダル　個別 -->
                    <div class="modal fade" id="is_staff_delete_modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                        <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="myModalLabel" style="font-weight: bold; text">管理者権限取り消し確認</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body">

                                    <h6><i class="fas fa-exclamation-circle" style="color: #dc3e45;"></i>「{{ user.display_name }}」の管理者権限を取り消しますか？</h6>

                                </div>

                                <div class="modal-footer justify-content-center">

                                    <form action="{% url 'training:is_staff_delete' user.id %}" method="POST" id="delete-form">

                                        {% csrf_token %}

                                        <div class="btn_group">
                                            <button type="button" class="my-btn my-btn-gray-1 my-btn-w7 mr-3" data-dismiss="modal">閉じる</button>
                                            <button type="submit" class="my-btn my-btn-egypt-1 my-btn-w7">取り消す</button>
                                        </div>

                                    </form>

                                </div><!-- /.modal-footer -->

                            </div><!-- /.modal-content -->

                        </div><!-- /.modal-card -->

                    </div><!-- /.modal -->

                {% endfor %}

            </tbody>

        </table>

        <!-- 管理者権限追加モーダル -->
        <div class="modal service_admin_modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">

            <div class="modal-dialog modal-xl modal-dialog-centered">

                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; text">権限の付与</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <p style="font-size: 16px;">管理者権限を割り当てたいユーザーを選択してください。</p>

                        <form method="POST" enctype='multipart/form-data' id="is_staff_check_form">
                            {% csrf_token %}

                            {% for field in form %}

                                {{ field }}

                            {% endfor %}

                        </from>

                    </div>

                    <div class="modal-footer justify-content-center">

                        <div class="btn_group">
                            <button type="button" class="my-btn my-btn-gray-1 my-btn-w8 mr-3" data-dismiss="modal">閉じる</button>
                            <button type="submit" id="is_staff_check_btn" class="my-btn my-btn-egypt-1 my-btn-w8 mr-3"><span class="my_btn_text">追加</span></button>
                        </div>

                    </div><!-- /.modal-footer -->

                </div><!-- /.modal-content -->

            </div><!-- /.modal-dialog -->

        </div><!-- /.modal -->


        <!-- ボタン -->
        <div class="d-flex justify-content-center btn-grp">

            <!-- 前のページに戻る -->
            <button type="button" class="return_btn my-btn my-btn-egypt-1 my-btn-w12" onclick="window.location.href='{% url 'training:training' %}'"><span class="my_btn_text">前のページに戻る</span></button>

        </div>

    </div>





</div>

{% endblock %}

{% block extra_js %}

    <!----- Bootstrap duallistbox ------>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.2/jquery.bootstrap-duallistbox.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'training/js/jquery.bootstrap-duallistbox.js' %}"></script>


<script>
    // 5秒後にエラーメッセージを消す関数
    $('.messages').fadeIn("slow", function () {
        //コールバックで5秒後にフェードアウト
        $(this).delay(5000).fadeOut("slow");
    });
</script>


<script>
    // -----------------
    // Datatables
    // -----------------
    jQuery(function($){
        // デフォルトの設定を変更
        $.extend( $.fn.dataTable.defaults, {
            language: {
                "sProcessing":   "処理中...",
                "sLengthMenu":   "_MENU_ 件表示",
                "sZeroRecords":  "データはありません。",
                "sInfo":         " _TOTAL_ 件中 _START_ から _END_ まで表示",
                "sInfoEmpty":    " 0 件中 0 から 0 まで表示",
                "sInfoFiltered": "（全 _MAX_ 件より抽出）",
                "sInfoPostFix":  "",
                "sSearch":       "検索:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "先頭",
                    "sPrevious": "前",
                    "sNext":     "次",
                    "sLast":     "最終"
                }
        }
    });

        $("#user_service_admin_table").DataTable({
            "dom":
            "<'row'<'col-sm-6 col-auto mr-auto'l><'col-sm-6 col-auto'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5 col-auto mr-auto'i><'col-sm-7 col-auto'p>>",

            "columnDefs":[{
                "autowidth": false,
                "bAutoWidth": false,
            }],
            // ページネーションボタンの表示
            "pagingType": "simple_numbers",
            "lengthMenu": [ [5, 10, 15,-1], [5, 10, 15, "全件"]],//表示件数メニュー
            //　列設定
            columnDefs: [
                { orderable: false, targets: 0, width: "350px" },
                { orderable: true, targets: 1, width: "350px" },
                { orderable: true, targets: 2, width: "350px" },
                { orderable: false, targets: 3, width: "200px" },
                {% comment %} { orderable: false, targets: 4, width: "200px" }, {% endcomment %}
            ]


        });
    });

    {% comment %} $(document).ready( function () {
        $('#user_service_admin_table').DataTable();
    }); {% endcomment %}

</script>


<script>
    // -----------------
    // bootstrap-duallistbox
    // -----------------
    var demo1 = $('select[name="is_staff"]').bootstrapDualListbox({
        moveOnSelect: true,
        filterTextClear:'全件表示',
        filterPlaceHolder:'検索',
        nonSelectedListLabel: 'ユーザー一覧',
        selectedListLabel: '選択済みユーザー一覧',
        preserveSelectionOnMove: 'moved',
        moveAllLabel: '選択済みに全て移動',
        removeAllLabel: '選択を全て解除',
        infoText:'{0}件',
        infoTextEmpty:'0件',
        infoTextFiltered:'{1}件中{0}件表示',
    });

    // 移動アイコン変更
    $(function() {
        var customSettings = $('select[name="is_staff"]').bootstrapDualListbox('getContainer');
        // >>を削除
        customSettings.find('.moveall').text('');
        customSettings.find('.moveall').append('<i class="fas fa-long-arrow-alt-right"></i> <i class="fas fa-long-arrow-alt-right"></i>')
        // <<を削除
        customSettings.find('.removeall').text('');
        customSettings.find('.removeall').append('<i class="fas fa-long-arrow-alt-left"></i> <i class="fas fa-long-arrow-alt-left"></i>')

    });


</script>






{% endblock %}