{% extends "common/base.html" %}

{% load i18n static %}
{% load humanize %}
{% load sort_by %}
{% load check_date %}
{% load is_onemonthago %} 

{% block title %}ご契約状況{% endblock title %}

{% block breadcrumbtitle %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
        <li class="breadcrumb-item">契約管理</li>
        <li class="breadcrumb-item active">ご契約状況</li>
    </ol>
  </nav>

{% endblock breadcrumbtitle %}

{% block extra_css %}{% endblock %}

{% block content %}
<div class="accordion" id="accordionExample">
    {% for contract in contracts %}
        {% with service=contract.service %}
            <div class="card" style="border-radius:0;">
                <div class="card-header" id="heading{{ forloop.counter }}">
                    <div class="row p-0">
                        <div class="col-3 mt-2">
                            {% if contract.status == "1" %} <!-- 1は試用 -->
                                <div class="square size_xxs service-c1">
                                    <div class="letter_one_service_s">{{ contract.service.initial }}</div>
                                </div>
                                {{ contract.service }}
                                <span class="label">試用</span>
                            {% elif contract.status == "2" %} <!-- 2は本番 -->
                                <div class="square size_xxs service-c1">
                                    <div class="letter_one_service_s">{{ contract.service.initial }}</div>
                                </div>
                                {% if contract.pay_start_date %}
                                    <span class="h6 ">{{ contract.service }}(契約中)</span>
                                {% else %}
                                    <span class="gray h6">{{ contract.service }}(振込待ち)</span>
                                {% endif %}
                            {% elif contract.status == "3" %} <!-- 3は解約 -->
                                <span class="gray h6">{{ contract.service }}(解約)</span>
                            {% elif contract.status == "4" %}
                                <span class="gray h6">{{ contract.service }}(更新済)</span>
                            {% else %}
                                <span class="h6">{{ contract.service }}</span>
                            {% endif %}
                        </div><!--col-->
                        <div class="col-3 mt-2">
                            {% if contract.plan == None %}
                                <h6>ベーシックプラン(お試し)</h6>
                            {% else %}
                                <h6>{{ contract.plan }}</h6>
                            {% endif %}
                        </div><!--col-->
                        <div class="col-2 mt-2">
                            <h6>{{ contract.contract_start_date|date:'Y/m/d' }}〜{{ contract.contract_end_date.date|date:'Y/m/d' }}</h6>
                        </div><!--col-->
                        <div class="col-4 text-right">
                            {% if contract.status == "1" %}<!--試用期間終了前の場合-->
                                {% if contract.contract_end_date.date|check_date %}
                                    <button data-toggle="modal" data-target="#trial_date_check_modal" onfocus="this.blur();" data-value="{{contract.id}}"  data-service="{{contract.service.id}}" class="my-btn my-btn-accept my-btn-sm my-btn-w6">申し込み</button>
                                {% else %}<!--試用期間終了後の場合-->
                                    <a href="{% url 'contracts:offer_description' contract.id %}" class="my-btn my-btn-sm my-btn-w6 my-btn-accept">申し込み</a>
                                {% endif %}
                            {% elif contract.status == "2" %}
                                {% if not contract.is_manualcheckout %}
                                {% else %}
                                {% endif %}
                                <a href="{% url 'payment:change_contract_1' contract.id %}" class="my-btn my-btn-sm my-btn-w6 my-btn-accept">プラン変更</a>

                                {% if estimates_is_update %}
                                    {% for estimate in estimates_is_update %}
                                        {% if estimate.service == service %}
                                            {% if estimate.method_payment.id == 1 %}
                                                <button type="button" class="my-btn my-btn-sm my-btn-w6 my-btn-accept"  onclick="location.href='{% url 'payment:update_contract_card' estimate.id %}'" onfocus="this.blur();">更新手続</button>
                                            {% else %}
                                                <button type="button" class="my-btn my-btn-sm my-btn-w6 my-btn-accept"  onclick="location.href='{% url 'payment:update_contract_bank' estimate.id %}'"  onfocus="this.blur();">更新手続</button>
                                            {% endif %}
                                        {% else %}
                                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="契約更新用の見積書を作成後に手続きへ進めます。">
                                                <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" data-value={{contract.id}} data-service={{contract.service.id}} disabled>更新手続</button>
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}<!-- １ヶ月前ではない場合 -->
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="契約更新用の見積書を作成後に手続きへ進めます。">
                                        <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" data-value={{contract.id}} data-service={{contract.service.id}} disabled>更新手続</button>
                                    </span>
                                {% endif %}
                                <button data-toggle="modal" data-target="#cancellation_date_check_modal" onfocus="this.blur();" data-value={{contract.id}} data-date={{contract.contract_end_date.date|check_date}} data-service={{contract.service}} class="my-btn  my-btn-cancel my-btn-sm my-btn-w6">解約</button>
                            {% elif contract.status == "3" and contract.contract_end_date.date|check_date %}
                                <span class="mr-4 h6 text-danger">契約期間終了日までご利用いただけます</span>
                            {% endif %}
                            {% comment %} <input id="acd-check{{ forloop.counter }}" class="acd-check" type="checkbox" name="acd-check" data-roop="{{ forloop.counter }}"> {% endcomment %}
                            {% comment %} <label class="acd-label" for="acd-check{{ forloop.counter }}"><i id="detail{{ forloop.counter }}" class="fas fa-2x fa-plus-circle detail" ></i></label> {% endcomment %}
                            <button class="btn btn-link p-0 acd-btn pl-1" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                <i id="detail{{ forloop.counter }}" class="fas fa-2x fa-plus-circle detail" ></i>
                            </button>
                        </div><!--col-->
                    </div><!--row-->
                </div><!--card-header-->

                <!--詳細-->

                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
                    <div class="card-body contract_list_body p-2">
                        <div id="acd{{ forloop.counter }}" class="row p-0 mx-auto">
                            <div class="price_box m-1">
                                <div class="detail_label">
                                    <span class="detail_label_txt">費用・支払い方法</span>
                                </div><!--detail_label-->
                                <div class="price_sub_box">
                                    <div class="detail_label_value cell">
                                        <span class="">年額 </span><span class="price">¥{{ contract.total|intcomma }}</span><span>(税込)</span>
                                    </div><!--detail_label_value-->
                                </div><!--price_sub_box-->

                                <hr>

                                <div class="price_sub_box">
                                    <div class="detail_label_value cell">
                                        {% if contract.status == "1" %}<!--何も表示しない-->
                                        {% elif contract.status == "2" %} <!--契約中-->
                                            {% if contract.payment.method_payment.id == 2 %} <!--2が銀行振込-->
                                                <span>銀行振込</span>
                                                {% if contract.payment.is_paymented == 0 %}
                                                    <span class="red">(入金未確認)</span>
                                                {% else %}
                                                    <span class="">(入金確認済)</span>
                                                {% endif %}
                                                <div>請求書原本郵送：{{contract.is_invoice_need|yesno:"する,しない,不明"  }}</div>
                                            {% else %}
                                                <div>クレジットカード</div>
                                                <div>
                                                    <span>自動更新</span>
                                                    <div class="switchArea">
                                                        <input type="checkbox" id="switch1" data-contract_id="{{ contract.id }}" data-contract_end_date="{{ contract.contract_end_date|date:'Y/m/d H:i:s' }}" {% if contract.is_autocheckout %}checked{% endif %}>
                                                        <label for="switch1"><span></span></label>
                                                        <div id="swImg"></div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% elif contract.status == "3" %}
                                            解約
                                        {% elif contract.status == "4" %}
                                            更新済
                                        {% else %}
                                            ---
                                        {% endif %}
                                    </div><!--detail_label_value-->
                                </div><!--price_sub_box-->
                            </div><!--price_box-->

                            <div class="option_box m-1">
                                <div class="detail_label"><span class="detail_label_txt">オプション契約</span></div>
                                <div class="detail_label_value">
                                    <div class="pt-2">
                                        {% if contract.option1 %}
                                            {{ contract.option1.name }}<br>
                                        {% endif %}
                                        {% if contract.option2 %}
                                            {{ contract.option2.name }}<br>
                                        {% endif %}
                                        {% if contract.option3 %}
                                            {{ contract.option3.name }}<br>
                                        {% endif %}
                                        {% if contract.option4 %}
                                            {{ contract.option4.name }}<br>
                                        {% endif %}
                                        {% if contract.option5 %}
                                            {{ contract.option5.name }}
                                        {% endif %}
                                    </div>
                                </div><!--detail_label_value-->
                            </div><!--option_box-->


                            <div class="estimate_box m-1">         
                                <div class="detail_label">
                                    <span class="detail_label_txt">見積書</span>
                                </div><!--detail_label-->
                                <div class="estimate_sub_box">
                                    <div class="initial_estimate_box">
                                        <div class="estimate_slider_box mt-1">
                                            {% if contract.service == service %}
                                                {% if contract.status == "1" %}
                                                    <div class="initial_slider" dir="rtl">
                                                        <div class="estimate_icon">
                                                            <a href="#" class="disabled"><i class="far fa-file-alt"></i></a>
                                                        </div><!--estimate_icon-->
                                                    </div><!--initial_slider-->
                                                {% elif contract.status == "3" %}
                                                    {% for estimate3 in status_3.estimate.all|dictsortreversed:"created_date" %}
                                                        <div class="initial_slider" dir="rtl">
                                                            {% if estimate3.service == service %}
                                                                <div class="estimate_icon">
                                                                    <a href="{% url 'contracts:estimateToPdf' estimate.id %}"><i class="far fa-file-alt"></i></a>
                                                                    <div class="estimate_date">{{estimate3.created_date|date:'Y/m/d'}}</div>
                                                                </div><!--estimate_icon-->
                                                            {% endif %}
                                                        </div><!--initial_slider-->
                                                    {% endfor %}
                                                {% elif contract.status == "4" %}
                                                    {% if status_3 %}
                                                        {% for estimate3 in status_3.estimate.all|dictsortreversed:"created_date" %}
                                                            {% if estimate3.service == service %}
                                                                <div class="estimate_icon">
                                                                    <a href="{% url 'contracts:estimateToPdf' estimate3.id %}"><i class="far fa-file-alt"></i></a>
                                                                    <div class="estimate_date">{{estimate3.created_date|date:'Y/m/d'}}</div>
                                                                </div><!--estimate_icon-->
                                                            {% else %}
                                                                <div class="initial_slider" dir="rtl">
                                                                    {% for estimate in contract.estimate.all|dictsortreversed:"created_date" %}
                                                                        <div class="estimate_icon">
                                                                            <a href="{% url 'contracts:estimateToPdf' estimate.id %}"><i class="far fa-file-alt"></i></a>
                                                                            <div class="estimate_date">{{estimate.created_date|date:'Y/m/d'}}</div>
                                                                        </div><!--estimate_icon-->
                                                                    {% endfor %}
                                                                </div><!--initial_slider-->
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="initial_slider" dir="rtl">
                                                            {% for estimate in contract.estimate.all|dictsortreversed:"created_date" %}
                                                                <div class="estimate_icon">
                                                                    <a href="{% url 'contracts:estimateToPdf' estimate.id %}"><i class="far fa-file-alt"></i></a>
                                                                    <div class="estimate_date">{{estimate.created_date|date:'Y/m/d'}}</div>
                                                                </div><!--estimate_icon-->
                                                            {% endfor %}
                                                        </div><!--initial_slider-->
                                                    {% endif %}

                                                {% else %}
                                                    {% if status_3 %}
                                                        <div class="initial_slider" dir="rtl">
                                                            {% for estimate3 in status_3.estimate.all|dictsortreversed:"created_date" %}
                                                                <div class="estimate_icon">
                                                                    <a href="{% url 'contracts:estimateToPdf' estimate3.id %}"><i class="far fa-file-alt"></i></a>
                                                                    <div class="estimate_date">{{estimate3.created_date|date:'Y/m/d'}}</div>
                                                                </div><!--estimate_icon-->
                                                            {% endfor %}
                                                        </div><!--initial_slider-->
                                                    {% else %}
                                                        <div class="initial_slider" dir="rtl">
                                                            {% for estimate in contract.estimate.all|dictsortreversed:"created_date" %}
                                                                <div class="estimate_icon">
                                                                    <a href="{% url 'contracts:estimateToPdf' estimate.id %}"><i class="far fa-file-alt"></i></a>
                                                                    <div class="estimate_date">{{estimate.created_date|date:'Y/m/d'}}</div>
                                                                </div><!--estimate_icon-->
                                                            {% endfor %}
                                                        </div><!--initial_slider-->
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div><!--estimate_slider_box-->
                                    <div class="initial_estimate_text">初回申込時の見積書</div>
                                </div><!--initial_estimate_box-->

                                <div class="center_estimate_box"></div>

                                <div class="initial_estimate_box">
                                    <div class="estimate_slider_box mt-1">
                                        {% if contract.service == service and contract.status == "2" %} 
                                            <div class="initial_slider" dir="rtl">
                                                {% for estimate in contract.estimate.all|dictsortreversed:"created_date" %}
                                                    {% if estimate.service == service and estimate.is_use %}
                                                        <div class="estimate_icon">
                                                            <a href="{% url 'contracts:estimateToPdf' estimate.id %}"><i class="far fa-file-alt"></i></a>
                                                            <div class="estimate_date">{{estimate.created_date|date:'Y/m/d'}}</div>
                                                        </div><!--estimate_icon-->
                                                    {% endif %}
                                                {% endfor %}
                                            </div><!--initial_slider-->
                                        {% endif %}
                                    </div><!--estimate_slider_box-->
                                    <div class="initial_estimate_text">現在契約中の見積書</div>
                                </div><!--initial_estimate_box-->

                                <div class="center_estimate_box"></div>

                                <div class="update_estimate_box">
                                    <div class="estimate_slider_box mt-1">          
                                        {% if contract.service == service and contract.status == "2" %}
                                            {% if estimates_is_update %}
                                                {% for estimate in estimates_is_update %}
                                                    {% if estimate and estimate.service == service %} 
                                                        <div class="initial_slider" dir="rtl">
                                                            <div class="estimate_icon" id="update_estimate" data-update={{ estimate.id }}>
                                                                <a href="{% url 'contracts:estimateToPdf' estimate.id %}"><i class="far fa-file-alt"></i></a>
                                                                <div class="estimate_date small">{{estimate.created_date|date:'Y/m/d'}}</div>
                                                            </div><!--estimate_icon--> 
                                                        </div>
                                                        <button type="button" data-toggle="modal" data-target="#estimate_del_modal" onfocus="this.blur();" id="del_estimate_btn">削除する</button>
                                                        <button type="button" id="create_estimate_btn" class="my-btn my-btn-sm my-btn-w6 my-btn-accept mt-3" data-toggle="modal" data-target="#contract_update_modal" data-value={{contract.id}} data-service={{contract.service.id}} onfocus="this.blur();" hidden>作成</button>
                                                    {% else %}
                                                        {% if contract.is_autocheckout %}
                                                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="自動契約更新のため手続き不要です">
                                                                <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6 mt-3" data-toggle="modal" data-target="#contract_update_modal" data-value={{contract.id}} data-service={{contract.service.id}} onfocus="this.blur();" disabled>作成</button>
                                                            </span>                                      
                                                        {% else %}<!-- 自動更新OFFの場合 -->
                                                            {% if contract.contract_end_date|is_onemonthago %} <!-- 1ヶ月前の場合 -->  
                                                                <button type="button" class="my-btn my-btn-sm my-btn-w6 my-btn-accept mt-3" data-toggle="modal" data-target="#contract_update_modal" data-value={{contract.id}} data-service={{contract.service.id}} onfocus="this.blur();">作成</button>
                                                            {% else %}<!-- １ヶ月前ではない場合 -->
                                                                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="契約期限まで30日以上の場合は作成できません">
                                                                    <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6 mt-3" data-toggle="modal" data-target="#contract_update_modal" data-value={{contract.id}} data-service={{contract.service.id}} onfocus="this.blur();" disabled>作成</button>
                                                                </span>    
                                                            {% endif %}
                                                        {% endif %}  
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% if contract.is_autocheckout %}
                                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="自動契約更新のため手続き不要です">
                                                        <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6 mt-3" data-toggle="modal" data-target="#contract_update_modal" data-value={{contract.id}} data-service={{contract.service.id}} onfocus="this.blur();" disabled>作成</button>
                                                    </span>
                                                {% else %}<!-- 自動更新OFFの場合 -->
                                                    {% if contract.contract_end_date|is_onemonthago %} <!-- 1ヶ月前の場合 -->  
                                                        <button type="button" id="create_estimate_btn" class="my-btn my-btn-sm my-btn-w6 my-btn-accept mt-3" data-toggle="modal" data-target="#contract_update_modal" data-value={{contract.id}} data-service={{contract.service.id}} onfocus="this.blur();">作成</button>
                                                    {% else %}<!-- １ヶ月前ではない場合 -->
                                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="契約期限まで30日以上の場合は作成できません">
                                                            <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6 mt-3" data-toggle="modal" data-target="#contract_update_modal" data-value={{contract.id}} data-service={{contract.service.id}} onfocus="this.blur();" disabled>作成</button>
                                                        </span>    
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}  
                                        {% endif %}
                                    </div><!--estimate_slider_box-->
                                    <div class="update_estimate_text">更新用の見積書</div>
                                </div><!--update_estimate_box-->
                            </div><!--estimate_box-->
                        </div><!--row-->
                    </div><!--card-body--> 
                </div><!--collapse-->
            </div><!--card-->
        {% endwith %}
    {% endfor %}
</div><!--accordion-->

<!-- 試用期間注意モーダル用 -->
<div class="modal fade" id="trial_date_check_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6>試用期間中です。申込みを開始しますか？</h6>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn my-btn-accept btn-sm my-btn-w6" id="trial_date_check_modal_link">申し込む</a>
                <button type="button" class="btn my-btn-cancel btn-sm my-btn-w6" data-dismiss="modal">キャンセル</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 解約注意モーダル用 -->
<div class="modal fade" id="cancellation_date_check_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="cancel-text">まだ契約期間内です。解約しますか？</h6>
            </div>
            <div class="modal-footer">
                <!-- <a href="#" class="btn btn-primary btn-sm my-btn-w6" id="cancellation_date_check_modal_link">解約</a> -->
                <button type="button" class="btn my-btn-accept btn-sm my-btn-w6" id="cancellation_date_check_modal_link">解約</button>
                <button type="button" class="btn my-btn-cancel btn-sm my-btn-w6" data-dismiss="modal">キャンセル</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- レスポンス用 -->
<div class="modal fade" id="result_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="result_text">XXX</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" data-dismiss="modal" id="result_modal_link">OK</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 契約更新モーダル用 -->
<div class="modal fade" id="contract_update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6>更新用の見積書を作成します。プランの変更有無を選択してください。</h6>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="#" id="contract_update_modal_change_link" class="my-btn my-btn-accept my-btn-sm my-btn-w8">変更あり</a>
                <a href="#" id="contract_update_modal_nochange_link" class="my-btn my-btn-outline-accept-1 my-btn-sm my-btn-w8">変更なし</a>
                <a href="#" class="btn my-btn-cancel btn-sm my-btn-w8" data-dismiss="modal">キャンセル</a>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 自動更新実行不可用 -->
<div class="modal fade" id="auto_check_change_prohibition_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6>契約終了日まで1ヶ月を切っているため、自動更新への切り替えはできません。<br>
                更新手続きから同一条件のプラン、または変更したいプランで次年度分の申込みをしてください。</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" data-dismiss="modal" id="result_modal_link">OK</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 見積もり削除モーダル用 -->
<div class="modal fade" id="estimate_del_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6>現在の更新用見積書を削除しますか。<br>
                ※更新手続きを行う際は再度見積書を作成しなおしてください。</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn my-btn-accept btn-sm my-btn-w6" id="del_btn">削除</button>
                <button type="button" class="btn my-btn-cancel btn-sm my-btn-w6" data-dismiss="modal">キャンセル</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <!-- レスポンス用トースト -->
 <div class="position-fixed p-3" style="z-index: 2000; right: 0; bottom: 0;">
    <div id="result_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <div></div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'contracts/css/contracts.css' %}"></script>

<script>
  $(document).ready(function() {
    var cards = $('.card').length;
    $('.acd-btn').on('click', function(){
      setTimeout(function(){
        for(var i=1; cards>=i; i++){
          var area_type = $("#heading"+i).find('.acd-btn');
          var expanded = area_type.attr('aria-expanded')
          if(expanded=='true'){
            $("#detail"+i).removeClass('fa-plus-circle')
            $("#detail"+i).addClass('fa-minus-circle')
          }else{
            $("#detail"+i).removeClass('fa-minus-circle')
            $("#detail"+i).addClass('fa-plus-circle')
          }
        } 
      }, 500);
    });

    function loadingView(flag) {
        $('#loading-view').remove();
        if(!flag) return;
        $('<div id="loading-view" />').appendTo('body');
      }


    $('#trial_date_check_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
        var contract_id = button.data('value') //値を取得
        console.log('contract_id',contract_id)
        var service = button.data('service') //値を取得
        $("#trial_date_check_modal_link").attr("href", "/offer_step1/" + service + "/")

    });

    ///////////////////
    // 解約モーダル表示 //
    ///////////////////
    $('#cancellation_date_check_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
        var contract_id = button.data('value') //値を取得
        var date_check = button.data('date') //値を取得
        var service = button.data('service') //値を取得

        var modal = $(this);

        // 契約期間内の場合
        if (date_check) {
          modal.find('.cancel-text').text("まだ契約期間内です。解約しますか？");
        // 契約期間外の場合
        } else {
          modal.find('.cancel-text').text("現在のプランを解約しますか");
        }

        // ストレージサービスの場合のメッセージ
        switch( service ) {
          case "ストレージサービス":
            modal.find('.modal-body').append("<br>ストレージ上のデータが全て消去されますがよろしいですか？");
            break;

          case "講義支援サービス":
            modal.find('.modal-body').append("<br>講義支援サービス上のデータが全て消去されます。");
            break;
        }


        $("#cancellation_date_check_modal_link").on("click", function (event) {

          $('#cancellation_date_check_modal').modal('hide');

          // 処理前に Loading 画像を表示
          loadingView(true);

          $.post("{% url 'payment:cancellation'%}",
            {"contract_id" : contract_id}

          ).done(function(data){
            // モーダルの表示
            $('#result_modal').on('show.bs.modal', function (e) {
            var modal = $(this);
            modal.find('.result_text').text(data.message);
            })
            $('#result_modal').modal('show')
            $("#result_modal_link").attr("onclick", "window.location.reload();")

          }).always(function(data){
            // 処理後に Loading 画像を削除
            loadingView(false);

          });

        });

    });


    /////////////////////////
    // 契約更新表示        //
    ////////////////////////
    $('#contract_update_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
        var contract_id = button.data('value') //値を取得
        var service_id = button.data('service') //値を取得
        console.log(contract_id)
        $("#contract_update_modal_nochange_link").attr("href", "/cont_update_nochange_step1/" + contract_id);
        $("#contract_update_modal_change_link").attr("href", "/cont_update_change_step1_1/" + contract_id)
    });




    ///////////////////
    // 自動更新SW //
    ///////////////////
    $('#switch1').on('change', function() {
      var is_checked = $(this).prop("checked")
      var contract_id = $(this).data('contract_id')
      var _contract_end_date = $(this).data('contract_end_date')

      // 送信データとして保存
      var data = { 'is_checked' : is_checked, 'contract_id' : contract_id};

      // StringをDate型に変換
      var contract_end_date = new Date(_contract_end_date);

      // 終了日付の一ヶ月前を取得
      var contract_end_date_last_month = contract_end_date.setMonth(contract_end_date.getMonth() -1);

      // 一ヶ月前を取得
      var today = new Date();

      // 手動→自動へ切り替える
      if (is_checked) {
        // 一ヶ月を切ったら自動支払いへの切り替え禁止
        if (contract_end_date_last_month < today) {
            // 自動支払いのモーダル表示
            $('#auto_check_change_prohibition_modal').modal('show')
            $(this).prop('checked', false);
        } else {
            // 処理前に Loading 画像を表示
            loadingView(true);

            $.ajax({
                type: 'POST',
                url: "{% url 'payment:autocheckchange' %}",
                data: data,
                dataType: 'json',
            }).done(function(data){
              // モーダルの表示
              $('#result_modal').on('show.bs.modal', function (e) {
              var modal = $(this);
              modal.find('.modal-body').text(data.message);
              })
              $('#result_modal').modal('show')
              $("#result_modal_link").attr("onclick", "window.location.reload();")


            }).fail(function(data){
              // モーダルの表示
              $('#result_modal').on('show.bs.modal', function (e) {
              var modal = $(this);
              modal.find('.modal-body').text(data.message);
              })
              $('#result_modal').modal('show')
              $("#result_modal_link").attr("onclick", "window.location.reload();")

            }).always(function(data){
              // 処理後に Loading 画像を削除
              loadingView(false);
            });
        }
      // 自動→手動へ切り替える
      } else {
        // 処理前に Loading 画像を表示
        loadingView(true);

        $.ajax({
            type: 'POST',
            url: "{% url 'payment:autocheckchange' %}",
            data: data,
            dataType: 'json',
        }).done(function(data){
          // モーダルの表示
          $('#result_modal').on('show.bs.modal', function (e) {
          var modal = $(this);
          modal.find('.modal-body').text(data.message);
          })
          $('#result_modal').modal('show')
          $("#result_modal_link").attr("onclick", "window.location.reload();")


        }).fail(function(data){
          // モーダルの表示
          $('#result_modal').on('show.bs.modal', function (e) {
          var modal = $(this);
          modal.find('.modal-body').text(data.message);
          })
          $('#result_modal').modal('show')
          $("#result_modal_link").attr("onclick", "window.location.reload();")

        }).always(function(data){
          // 処理後に Loading 画像を削除
          loadingView(false);
        });
      }
    });

    // 見積もりスライダー
    $('.initial_slider').slick({
      infinite: false,
      dots:false,
      slidesToShow:1,
      slidesToScroll:1,
      rtl:true,
      draggable:false,
    });

    // 見積もりスライダー
    $('.update_slider').slick({
      infinite: false,
      dots:false,
      slidesToShow:1,
      slidesToScroll:1,
      draggable:false,
    });


    $('#dataTables-contract').DataTable({
      // 件数切替機能 無効
      lengthChange: false,
      // 検索機能 無効
      searching: false,
      // ソート機能 無効
      ordering: false,
      // 情報表示 無効
      info: false,
      // ページング機能 無効
      paging: false,
      columnDefs: [
        // 利用期間カラムのサイズ調整
        {
          orderable: false,
          //width: 200,
          targets: 2
        },
        // 決済方法カラムのサイズ調整
        {
          orderable: false,
          //width: 80,
          targets: 3
        },
        // 自動更新カラムのサイズ調整
        {
          orderable: false,
          //width: 120,
          targets: 4
        }
      ],
      order: [[ 1, 'asc' ]],
      colResize: true,
      autoWidth: false,
      orderCellsTop: false,
      searchDelay: 2000,// 2秒の遅延
      language: {
          "decimal": ".",
          "thousands": ",",
          "sProcessing": "処理中...",
          "sLengthMenu": "_MENU_ 件表示",
          "sZeroRecords": "データはありません。",
          "sInfo": " _TOTAL_ 件中 _START_ から _END_ まで表示",
          "sInfoEmpty": " 0 件中 0 から 0 まで表示",
          "sInfoFiltered": "（全 _MAX_ 件より抽出）",
          "sInfoPostFix": "",
          "sSearch": "検索:",
          "sUrl": "",
          "oPaginate": {
            "sFirst": "先頭",
            "sPrevious": "前",
            "sNext": "次",
            "sLast": "最終"
          }
      },
    });
    $('#dataTables-estimates').DataTable({
      // 件数切替機能 無効
      lengthChange: false,
      // 検索機能 無効
      searching: false,
      // ソート機能 無効
      ordering: false,
      // 情報表示 無効
      info: false,
      // ページング機能 無効
      paging: false,
      columnDefs: [
      // チェックボックスカラムのサイズ調整
        {
          orderable: false,
          //width: 65,
          className:'text-center',
          searchable: false,
          targets:   0
        },
        // 見積もり・購入カラムのサイズ調整
        {
          orderable: false,
          //width: 150,
          targets: 6
        }
      ],
      order: [[ 1, 'asc' ]],
      colResize: true,
      autoWidth: false,
      orderCellsTop: false,
      searchDelay: 2000,// 2秒の遅延
      language: {
          "decimal": ".",
          "thousands": ",",
          "sProcessing": "処理中...",
          "sLengthMenu": "_MENU_ 件表示",
          "sZeroRecords": "データはありません。",
          "sInfo": " _TOTAL_ 件中 _START_ から _END_ まで表示",
          "sInfoEmpty": " 0 件中 0 から 0 まで表示",
          "sInfoFiltered": "（全 _MAX_ 件より抽出）",
          "sInfoPostFix": "",
          "sSearch": "検索:",
          "sUrl": "",
          "oPaginate": {
            "sFirst": "先頭",
            "sPrevious": "前",
            "sNext": "次",
            "sLast": "最終"
          }
      },
    });

    // 手動ボタンの有効化判断(契約終了日の１ヶ月前になったら有効化)
    {% for contract in contracts %}

      if ("{{ contract.service }}" == "転送サービス")
        // 終了日をDBから取得
        var end_date = "{{contract.contract_end_date.date|date:'Y/m/d' }}";

        // 文字列日付をDate型に変換
        var end_date_obj = new Date( end_date );

        // 1ヶ月前の日付(タイムスタンプ)を取得
        previous_one_month_timestamp = end_date_obj.setMonth(end_date_obj.getMonth() - 1);

        // 本日日付を取得
        var today = new Date();
        // 時間をすべて0にセット
        today.setHours(0, 0, 0, 0);
        // 本日日付のタイムスタンプを取得
        today_timestamp = today.getTime();

        // 日付を比較してボタンの有効化
        // if (today_timestamp == previous_one_month_timestamp) {
        if (today_timestamp == today_timestamp) {
            // $('#btn-manualcheckout').prop("disabled", false);
            $('#btn-manualcheckout').removeClass('disabled');
        }

    {% endfor %}


    //ウィンドウサイズを変更した場合はユーザー一覧を再描画する。
    var update_size = function() {
      $('#dataTables-contract').css({ width: $('#dataTables-contract').parent().width() });
      $('#dataTables-estimates').css({ width: $('#dataTables-estimates').parent().width() });
      var cTable = $('#dataTables-contract').dataTable();
      var eTable = $('#dataTables-estimates').dataTable();
      cTable.fnAdjustColumnSizing();
      eTable.fnAdjustColumnSizing();
    }
    $(window).resize(function() {
      clearTimeout(window.refresh_size);
      window.refresh_size = setTimeout(function() { update_size(); }, 250); // 250ミリ秒
    });
  

      // 削除ボタンを押下した場合、Ajaxで送信
      $('#del_btn').on('click', function() {
        console.log('ajdipajccp')
        $('#estimate_del_modal').modal('hide');
        var update_estimate = $('#update_estimate').data('update') //値を取得
        console.log('fhjciowhf;',update_estimate)
        $.ajax({
          type: "POST",
          url: '{% url "contracts:delete_estimate" %}',

          data: {
            'update_estimate': update_estimate
          },
          dataType: 'json',
          success: function (data) {
            if (data.is_exist) {

              $('#result_toast').on('show.bs.toast', function (e) {
                var toast = $(this);
                toast.find('.toast-body').removeClass('alert-danger');
                toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
                toast.find('.toast-body').text(data.error_message);//サーバ側から戻ってきたメッセージを表示
              });
              $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理
              $('.update_estimate_box').find('.initial_slider').hide()
              $('#del_estimate_btn').hide()
              $('#create_estimate_btn').prop('hidden',false)
            }
          }
        });
      });
    //未使用の契約書の背景を変える
    if($("span:contains('解')")){
      $("span:contains('解')").parent().parent().parent().css('background',"#d8d5d1")
    }
    if($("span:contains('済')")){
      $("span:contains('済')").parent().parent().parent().css('background',"#d8d5d1")
    };
    if($("span:contains('待ち')")){
      $("span:contains('待ち')").parent().parent().parent().css('background',"#d8d5d1")
    };
  });

</script>
{% endblock %}