{% extends "common/base.html" %}

{% load i18n static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block title %}
    お問い合わせ完了
{% endblock title %}

{% block breadcrumbtitle %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
            <li class="breadcrumb-item"><a href="{% url 'accounts:contact' %}">お問い合わせ</a></li>
            <li class="breadcrumb-item active">お問い合わせ完了</li>
        </ol>
    </nav>   
{% endblock breadcrumbtitle %}

{% block extra_css %}{% endblock %}

{% block content %}
    <div class="container mx-auto py-0 text-center pt-5">
        <h6 class="py-3">{{ message }}</h6>
        <button type="button" class="btn my-btn-w11 mr-3 my-btn-accept text-align-center" onclick="location.href='{% url 'accounts:home' %}'">ホームに戻る</button>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}
