{% extends "common/base.html" %}

{% load i18n static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block title %}
ヘルプ
{% endblock title %}

{% block breadcrumbtitle %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
    <li class="breadcrumb-item active">ヘルプ</li>
  </ol>
</nav>

{% endblock breadcrumbtitle %}

{% block extra_css %}{% endblock %}

{% block content %}

    <div class="row justify-content-end mx-auto pb-1 help" >
        <ul class="nav">
            <li class="nav-item">
                <button type="button" class="btn help-unit"  onclick="location.href='#h-contract'">契約管理について</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn help-unit"  onclick="location.href='#h-user'">ユーザー管理について</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn help-unit"  onclick="location.href='#h-payment'">お支払いについて</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn help-unit"  onclick="location.href='#h-other'">その他</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn help-btn" data-toggle="collapse" data-target=".collapse" aria-expanded="false"><i class="fas fa-plus-circle fa-fw"></i>すべて表示</button>
            </li>
        </ul>

    </div>
    <div class="pb-5">
        <h5 id="h-contract">契約管理について</h5>
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">サービスについて</button>
                    </h5>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                        サービスの申し込みは契約管理から行ってください
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->

            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">CloudLabポータルで出来ること2</button>
                    </h5>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                        2番目のアコーディオンパネルのプレースホルダーコンテンツ。...
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->

            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">CloudLabポータルで出来ること</button>
                    </h5>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                    そして最後に、3番目で最後のアコーデオンパネルのプレースホルダーコンテンツ。...
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->
        </div><!-- /#accordion -->

        <h5 id="h-user">ユーザー管理について</h5>
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">サービスについて</button>
                    </h5>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                        サービスの申し込みは契約管理から行ってください
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->

            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">CloudLabポータルで出来ること2</button>
                    </h5>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                        2番目のアコーディオンパネルのプレースホルダーコンテンツ。...
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->

            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">CloudLabポータルで出来ること</button>
                    </h5>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                    そして最後に、3番目で最後のアコーデオンパネルのプレースホルダーコンテンツ。...
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->
        </div><!-- /#accordion -->

        <h5 id="h-payment">お支払いについて</h5>
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">サービスについて</button>
                    </h5>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                        カードはVisa,Mastercard,AmericanExpressのみです
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->

            <div class="card">
                <div class="card-header" role="tab">
                    <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">CloudLabポータルで出来ること2</button>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                        2番目のアコーディオンパネルのプレースホルダーコンテンツ。...
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->

            <div class="card">
                <div class="card-header" role="tab">
                    <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">CloudLabポータルで出来ること</button>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                    そして最後に、3番目で最後のアコーデオンパネルのプレースホルダーコンテンツ。...
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->
        </div><!-- /#accordion -->


        <h5 id="h-other">その他</h5>
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">サービスについて</button>
                    </h5>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                        サービスの申し込みは契約管理から行ってください
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->

            <div class="card">
                <div class="card-header" role="tab">
                    <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">CloudLabポータルで出来ること2</button>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                        2番目のアコーディオンパネルのプレースホルダーコンテンツ。...
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->

            <div class="card">
                <div class="card-header" role="tab">
                    <button type="button" class="btn h-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">CloudLabポータルで出来ること</button>
                </div><!-- /.card-header -->
                <div class="collapse">
                    <div class="card-body">
                    そして最後に、3番目で最後のアコーデオンパネルのプレースホルダーコンテンツ。...
                    </div><!-- /.card-body -->
                </div><!-- /.collapse -->
            </div><!-- /.card -->
        </div><!-- /#accordion -->
    </div>



{% endblock %}

{% block extra_js %}
<script>
$(function(){
    //複数のcard-header要素に動的なidをつける
    var head = "heading"
    var card = document.getElementsByClassName("card-header") ;

    for(var i=0;i<=card.length-1;i++){
        //id追加
        card[i].setAttribute("id",head+i);
    }

    //複数のcollapse要素に動的なidをつける
    var cont = "cont"
    var collapse = document.getElementsByClassName("collapse") ;
    for(var i=0;i<=collapse.length-1;i++){
        //id追加
        collapse[i].setAttribute("id",cont+i);
        var oi = $('#cont' + i).siblings(".card-header").find(".h-item")
        oi.attr("data-target", '#'+cont+i);
    }


    $('.help-btn').on('click',function(event){
        if ($(this).text() === 'すべて表示') {
            var collapse = document.getElementsByClassName("collapse") ;
            /*for(var i=0;i<=collapse.length-1;i++){
                if ($('#cont' + i).is(':hidden')) {
                    $('#cont' + i).show()
                };
            });*/
            $(this).html('<i class="fas fa-minus-circle fa-fw"></i>すべて閉じる');
        }else{
            var collapse = document.getElementsByClassName("collapse") ;
            /*for(var i=0;i<=collapse.length-1;i++){
                if !($('#cont' + i).is(':hidden')) {
                    $('#cont' + i).hidden()
                };
            });*/
            $(this).html('<i class="fas fa-plus-circle fa-fw"></i>すべて表示');
        }
    });

    if($('collapse').css('display') == 'block'){
        $('.card-header').toggleClass('header-color');
    }


    $('.collapse').on({
        'show.bs.collapse': function () {
            //アコーディオンのタイトルバーの色を変更
            $(this).parent().find('.card-header').addClass('header-color');
        },
        'hide.bs.collapse': function () {
              //タイトルバーの色を戻す
            $(this).parent().find('.card-header').removeClass('header-color');
        }
    })

});
</script>
{% endblock %}