{% extends "common/base.html" %}

{% load i18n static %}

{% block extra_css %}{% endblock %}

{% block title %}メール送信完了{% endblock %}


{% block breadcrumbtitle %}

  <span>
   メール送信完了
  </span>

{% endblock breadcrumbtitle %}

{% block content %}
<div class="container">
  <div class="card card-login border-0 mt-5 mx-auto">
    <h6 class="card-header border-0">メール送信完了</h6>
    <div class="card-body px-0">
      <h6>
          パスワード再設定用のメールを送信しました。<br>
          メールに記載されているリンクから再設定してください。
      </h6>
    </div>
  </div>
</div>
{% endblock %}
