{% extends "common/base.html" %}
<!-- {% load bootstrap4 %} -->
{% load i18n static %}
{% load widget_tweaks %}

{% block title %}パスワードリセット{% endblock %}


{% block content %}
<div class="container user">
  <div class="card card-login border-0 mt-5 mx-auto">
    <h5 class="card-header border-0">パスワードリセット</h5>
    <div class="card-body user_passwd_reset">
      <form method="post" validate data-validate id="my_form2" class="password_form">
        {% csrf_token %}

        <!-- Form全体のバリデーション時のエラーを表示 -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
        {% endif %}

        <!-- パスワード -->
        <div class="form-group">
          <!-- ラベル -->
          <div class="label">パスワード</div>
          <!-- 入力フィールド -->
          {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label id="user-password1"%}
          <!-- エラー表示 -->
          {{form.new_password1.errors}}
        </div>

        <!-- パスワードの確認 -->
        <div class="form-group">
          <!-- ラベル -->
          <div class="label">パスワード(確認用)</div>
          <!-- 入力フィールド -->
          {% render_field form.new_password2 class="form-control" placeholder=form.new_password2.label id="user-password2"%}
          <!-- エラー表示 -->
          {{form.new_password2.errors}}
        </div>

        <div id="pm-indicator"></div>
        <small class="form-text text-muted">パスワード判定が「OK」となる、8文字以上の半角英数字や記号を組み合わせて入力してください</small>

        <button type="submit" class="btn my-btn-accept btn-block" onfocus="this.blur();" id="send" disabled>リセット</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
