{% extends "common/base.html" %}

{% load i18n static %}
{% load widget_tweaks %}

{% block title %}パスワードリセット{% endblock %}

{% block breadcrumbtitle %}

  <span>
   パスワードリセット
  </span>

{% endblock breadcrumbtitle %}


{% block content %}
<div class="container">
  <div class="card card-login border-0 mt-5 mx-auto">
    <h6 class="card-header border-0">パスワードリセット用メール送信</h6>
    <div class="card-body px-0">

      <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
         <div class="form-group">

            <label for="id_email">メールアドレス</label>

             {% if form.is_bound %}
               <!-- フィールドのエラー -->
               {% if field.errors %}
               <!--
               *******************************************
               Validation失敗時のフィールド表示
               *******************************************
               -->
                 {% render_field field class="form-control is-invalid" %}
                 {% for error in field.errors %}
                   <div class="invalid-feedback">
                     {{ error }}
                   </div>
                 {% endfor %}

               {% else %}
               <!-- else フィールドのエラー -->

               <!--
               *******************************************
               Validation成功時のフィールド表示
               *******************************************
               -->
                 {% render_field field class="form-control is-valid" %}

               {% endif %}
               <!-- end フィールドのエラー -->
             {% else %}
               <!--
               *******************************************
               初期表示
               *******************************************
               -->
               {% render_field field class="form-control" %}

             {% endif %}

           </div>
       {% endfor %}
          <button type="submit" class="btn my-btn-accept btn-block" onfocus="this.blur();">送信</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
