{% extends "common/base.html" %}

{% load i18n static %}

{% block extra_css %}{% endblock %}

{% block content %}
<div class="container">
  <div class="card card-login border-0 mt-5 mx-auto">
    <h5 class="card-header border-0">パスワードリセット完了</h5>
    <div class="card-body px-0">
      <h6>
        パスワードのリセットが完了しました。<br />
        「ログイン」をクリックし、設定したパスワードで再度ログインしてください。
      </h6>
      <button type="button" class="btn my-btn-accept btn-block" onclick="location.href='{% url 'accounts:login' %}'">ログイン</button>
    </div>
  </div>
</div>

{% endblock %}
