{% extends "common/base.html" %}

{% load i18n static %}
{% load widget_tweaks %}

{% block title %}ユーザー情報設定{% endblock title %}

{% block breadcrumbtitle %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
        <li class="breadcrumb-item">ユーザー管理</li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:user' %}">ユーザー一覧</a></li>
        <li class="breadcrumb-item active">ユーザー情報設定</li>
    </ol>
  </nav>

{% endblock breadcrumbtitle %}

{% block extra_css %}{% endblock %}

{% block content %}

<form action="" method="POST" validate data-validate>
  {% comment %} <div class="container user p-0"> {% endcomment %}
    {% csrf_token %}

    <div class="row mx-auto user">
      <div class="col-sm-6 p-0">
        <div class="card border-0 mt-0 p-0">
          <div class="card-body p-0">
            <table width="100%">
              <tbody>
                <!--ミドルネーム設定-->
                <tr>
                  <th class="px-0 pt-3"> 
                    <h6>ミドルネームの表示</h6>
                  </th>
                  <td class=" pt-3 pb-2 float-right">
                    <div class="radioArea" id="middle_radio">
                      <input type="radio" name="middle_choice" id="mi-valid" value="1" {% if current_user.company.middle_choice == '1' %}checked{% endif %}>
                      <label for="mi-valid"> 有効</label>
                      <input type="radio" name="middle_choice" id="mi-invalid" value="2" {% if current_user.company.middle_choice == '2' %}checked{% endif %}>
                      <label for="mi-invalid">無効</label>
                    </div>
                  </td>
                </tr>
                <!--パスワード変更設定-->
                <tr>
                  <th class="px-0 pt-3"> 
                    <h6>一般ユーザーのパスワード変更</h6>
                  </th>
                  <td class=" pt-3 pb-2 float-right">
                    <div class="radioArea" id="pass_radio">
                      <input type="radio" name="pass_change" id="pa-valid" value="1" {% if current_user.company.pass_change == '1' %}checked{% endif %}>
                      <label for="pa-valid"> 有効</label>
                      <input type="radio" name="pass_change" id="pa-invalid" value="2" {% if current_user.company.pass_change == '2' %}checked{% endif %}>
                      <label for="pa-invalid">無効</label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="px-0 pt-3"> 
                    <h6>一般ユーザーのプロフィール変更</h6>
                  </th>
                  <td class=" pt-3 pb-2 float-right">
                    <div class="radioArea" id="profile_radio">
                      <input type="radio" name="profile_change" id="pr-valid" value="1" {% if current_user.company.profile_change == '1' %}checked{% endif %}>
                      <label for="pr-valid"> 有効</label>
                      <input type="radio" name="profile_change" id="pr-invalid" value="2" {% if current_user.company.profile_change == '2' %}checked{% endif %}>
                      <label for="pr-invalid">無効</label>
                    </div>
                  </td>
                </tr>
              </tbody>  
            </table>

            <div class="row mx-0 pt-5">
              <div class="col-sm-6 p-0 pr-2">
                <button type="button" class="btn my-btn-cancel cancel btn-block" onclick="location.href='{% url 'accounts:user' %}'">キャンセル</button>
              </div>
              <div class="col-sm-6 p-0">
                <button type="submit" class="btn my-btn-accept btn-block save" onfocus="this.blur();">設定を保存</button>
              </div>
            </div>

          </div><!--card-body-->
        </div><!--card-->
      </div><!--col-->
    </div><!--row-->
  {% comment %} </div><!--container--> {% endcomment %}
</form>
{% endblock content %}

{% block extra_js %}
<script>
$(function(){
  

  
});
</script>

{% endblock %}