{% extends "common/base.html" %}

{% load i18n static %}

{% block title %}ユーザー作成完了{% endblock title %}

{% block breadcrumbtitle %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
        <li class="breadcrumb-item">ユーザー管理</li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:user' %}">ユーザー一覧</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:user_create' %}">ユーザー作成</a></li>
        <li class="breadcrumb-item active">ユーザー作成完了</li>
    </ol>
  </nav>

{% endblock breadcrumbtitle %}


{% block extra_css %}{% endblock %}

{% block content %}
<div class="container mx-auto py-0 text-center pt-5">
  <div class="card  border-0 mt-0">
    <div class="card-body px-0">
      <h6>
        ユーザー作成が完了しました。<br />
        作成したユーザーにリンクを送信しています。
      </h6>
      <button type="button" class="btn my-btn-w13 text-align-center my-btn-accept pt-2" onfocus="this.blur();" onclick="location.href='{% url 'accounts:user' %}'">ユーザー一覧へ戻る</button>
    </div>
  </div>
</div>

{% endblock %}
