.maru {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* flex-flow: column wrap; */
  vertical-align: top;
}

.square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  /* flex-flow: column wrap; */
  vertical-align: top;
}

.size_xxs{
  width: 20px;
  height: 20px;
}
.size_xs{
  width: 25px;
  height: 25px;
}

.size_s{
  width: 30px;
  height: 30px;
}

.size_m{
  width: 50px;
  height: 50px;
}

/* .letter3 {
  font-size: 0.9em;
  line-height: 1.5em;
}
.letter_small {
  font-size: 0.5em;
  line-height: 1em;
} */

/* .letter_one_s {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 1rem;
}
.letter_one_m {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 1rem;
} */

.letter_one_service_s {
  font-size: 1rem;
  font-weight: bold;
}
.letter_one_service_m {
  font-size: 1.1rem;
  font-weight: bold;
}
.letter_two_company_m {
  font-size: 1rem;
}
.letter_two_personal_m {
  font-size: 1.2rem;
}

.letter_two_company_s {
  font-size: 0.4rem;
}
.letter_two_personal_s {
  font-size: 0.8rem;
}

.letter_two_company_xs {
  font-size: 10px;
}
.letter_two_personal_xs {
  font-size: 12px;
}

.c00 {
  color: #fff;
  border: 4px solid #8000f0;
  background: #8000f0;
}
.c01 {
  color: #fff;
  border: 4px solid #ff0000;
  background: #ff0000;
}
.c02 {
  color: #ff0000;
  border: 4px solid #FFCCCC;
  background: #FFCCCC;
}
.c03 {
  color: #fff;
  border: 4px solid #ff8000;
  background: #ff8000;
}
.c04 {
  color: #ff8000;
  border: 4px solid #FFE5CC;
  background: #FFE5CC;
}
.c05 {
  color: #000;
  border: 4px solid #ffff00;
  background: #ffff00;
}
.c06 {
  color: #000;
  border: 4px solid #FFFECC;
  background: #FFFECC;
}
.c07 {
  color: #fff;
  border: 4px solid #8FC31F;
  background: #8FC31F;
}
.c08 {
  color: #8FC31F;
  border: 4px solid #E6FFCC;
  background: #E6FFCC;
}
.c09 {
  color: #fff;
  border: 4px solid #009944;
  background: #009944;
}
.c10 {
  color: #009944;
  border: 4px solid #CCFFCC;
  background: #CCFFCC;
}
.c11 {
  color: #fff;
  border: 4px solid #009E96;
  background: #009E96;
}
.c12 {
  color: #009E96;
  border: 4px solid #CCFFE5;
  background: #CCFFE5;
}
.c13 {
  color: #fff;
  border: 4px solid #00ffff;
  background: #00ffff;
}
.c14 {
  color: #00ffff;
  border: 4px solid #CCFFFF;
  background: #CCFFFF;
}
.c15 {
  color: #fff;
  border: 4px solid #0080ff;
  background: #0080ff;
}
.c16 {
  color: #0080ff;
  border: 4px solid #CCE6FF;
  background: #CCE6FF;
}
.c17 {
  color: #fff;
  border: 4px solid #0000ff;
  background: #0000ff;
}
.c18 {
  color: #0000ff;
  border: 4px solid #CCCCFF;
  background: #CCCCFF;
}
.c19 {
  color: #fff;
  border: 4px solid #8000ff;
  background: #8000ff;
}
.c20 {
  color: #8000ff;
  border: 4px solid #E5CCFF;
  background: #E5CCFF;
}
.c21 {
  color: #fff;
  border: 4px solid #ff00ff;
  background: #ff00ff;
}
.c22 {
  color: #ff00ff;
  border: 4px solid #FFCCFF;
  background: #FFCCFF;
}
.c23 {
  color: #fff;
  border: 4px solid #ff0080;
  background: #ff0080;
}
.c24 {
  color: #ff0080;
  border: 4px solid #FFCCE6;
  background: #FFCCE6;
}


.service-c0 {
  color: #0080ff;
  border: 4px solid #CCE6FF;
  background: #CCE6FF;
}
.service-c1 {
  color: #fff;
  border: 4px solid #0000ff;
  background: #0000ff;
}
.service-c2 {
  color: #8000ff;
  border: 4px solid #E5CCFF;
  background: #E5CCFF;
}
.service-c3 {
  color: #fff;
  border: 4px solid #00ffff;
  background: #00ffff;
}
.service-c4 {
  color: #fff;
  border: 4px solid #ff0080;
  background: #ff0080;
}
.service-c5 {
  color: #009944;
  border: 4px solid #CCFFCC;
  background: #CCFFCC;
}


/* アバター用デザイン */
.user_icon_small {
  display: inline-flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1.5px solid #eee;
}

/* アバター用デザイン */
.user_icon_thumbnail {
  display: inline-flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1.5px solid #eee;
}