{% extends "common/base.html" %}

{% load i18n static %}

{% block extra_css %}{% endblock %}

{% block content %}
<!-- ステップ -->
<ul class="progressbar">
  <li class="complete">会社情報の登録</li>
  <li class="active">会社情報登録完了</li>
  <li>管理ユーザー情報の<br>登録</li>
  <li>管理ユーザー情報<br>登録完了</li>
</ul>

<div class="container p-0">
  <div class="card  border-0  mt-5">
    <h6 class="card-header border-0">会社情報登録完了</h6>
    <div class="card-body px-0">
      <h6>
        管理ユーザー情報登録用のメールを送信しました。<br />
        まだ、すべての登録は完了していません。<br />
        確認メールに記載されているリンクから管理ユーザー情報登録を行ってください。<br>
        リンクの有効期限は1日です。<br>
        このページはご利用のブラウザで閉じてください。
      </h6>

    </div>
  </div>
</div>

{% endblock %}
