{% extends "common/base.html" %}

{% load i18n static %}
{% load widget_tweaks %}

{% block title %}申し込みの流れ{% endblock title %}

{% block breadcrumbtitle %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
        <li class="breadcrumb-item">契約管理</li>
        <li class="breadcrumb-item"><a href="{% url 'contracts:contract' %}">ご契約状況</a></li>
        <li class="breadcrumb-item active">申し込みの流れ</li>
    </ol>
  </nav>

{% endblock breadcrumbtitle %}


{% block content %}

  <!-- フォーム -->
  <div class="container offer">

    <div class="card card-register border-0 mx-auto my-5">

        <div class="box">
          <span>説明を入力</span>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="btn_box">
              <button type="button" class="btn  mr-3 my-btn-cancel btn-block" onclick="location.href='{% url 'contracts:contract' %}'"><span class="cancel">キャンセル</span></button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="btn_box">
              <button type="button" class="btn my-btn-accept btn-block" onclick="location.href='{% url 'contracts:offer_step1' contract.service.id %}'"><span class="next">申し込む</span></button>
            </div>
          </div>
        </div>

    </div>

  </div>
{% endblock %}
