{% extends "common/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% load humanize %}
{% load is_exist %}

{% block title %}申込 - プランの選択{% endblock title %}

{% block breadcrumbtitle %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
        <li class="breadcrumb-item">契約管理</li>
        <li class="breadcrumb-item"><a href="{% url 'contracts:contract' %}">ご契約状況</a></li>
        <li class="breadcrumb-item active">申し込み - プランの選択</li>
    </ol>
  </nav>
{% endblock breadcrumbtitle %}


{% block content %}

  <!-- ステップ -->
  <ul class="progressbar pt-4">
    <li class="complete">プランの選択</li>
    <li>支払い方法の選択</li>
    <li>支払いの確認</li>
    <li>申し込み完了</li>
  </ul>

  <!-- フォーム -->
  <div class="card border-0 mx-auto mt-5">
    <h5 class="estimate-guide"><i class="fas fa-feather"></i>&nbsp;作成の流れ</h5>
    <h6 class="pt-2 py-3">
      １．サービス利用開始日ならびに、ご希望のプランとオプションを選択してください。<br>
      ２．見積りの内容をご確認後、「次へ」を押してください。
      <button type="button" class="btn my-btn-w9 mt-2 my-btn-accept" data-toggle="modal" data-target="#exampleModal">プラン比較表</button>
      <button type="button" class="btn my-btn-w12 mt-2 my-btn-accept" data-toggle="modal" data-target="#exampleModal2">オプション比較表</button>
    </h6>
    <!-- Form全体のバリデーション時のエラーを表示 -->
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <form action="" method="post" data-validate id="my-form" >{% csrf_token %}
      <div class="row offer p-0 pb-5">
        <div class="col-6 pb-5">
          <table class="table table-bordered">
            <thead>　　　</thead>
              <tbody>

                <tr>

                  <th class="tr_head">
                    <div class="required_box">
                      <div class="label require_label">サービス</div>
                    </div>
                  </th>
                  <th>
                    <div class="form-check">
                      <!-- 入力フィールド -->
                      <input class="form-check-input" type="radio" id="id_service" checked>
                      <label class="form-check-label service_checkbox_label" for="id_service">
                        {{ service.name }}
                      </label>
                    </div>

                  </th>
                </tr>

                <tr>
                  <th class="tr_head">
                    <div class="required_box">
                      <div class="label require_label">サービス開始日</div>
                    </div>
                  </th>
                  <th>
                    <div class="">
                      <!-- 入力フィールド -->
                      {% if form.is_bound %}
                        {% if form.start_day.errors %}
                          {% render_field form.start_day class="form-control is-invalid" placeholder="YYYY/MM/DD" %}
                            {% for error in form.start_day.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% else %}
                          {% render_field form.start_day class="form-control is-valid" placeholder="YYYY/MM/DD" %}
                        {% endif %}
                      {% else %}<!-- 初期表示 -->
                        {% render_field form.start_day class="form-control" placeholder="YYYY/MM/DD" %}
                        <div class="pt-2">

                          <input type="checkbox"  name="is_start_now" id="is_start_now" data-end_day={{contract.contract_end_date|date:'Y/m/d'　}} >
                          <label for="is_start_now">試用期間終了後に利用開始する。</label>
                        </div>
                      {% endif %}
                    </div>
                  </th>
                </tr>

                <tr>
                  <th class="tr_head">
                    <div class="required_box">
                      <div class="label require_label">プラン</div>
                    </div>
                  </th>
                  <th>
                    <div class="">
                      <!-- 入力フィールド -->
                      {% if form.is_bound %}
                        {% if form.plan.errors %}
                          {% render_field form.plan class="form-control is-invalid" %}
                            {% for error in form.plan.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                        {% else %}
                          {% render_field form.plan class="form-control is-valid" %}
                        {% endif %}
                      {% else %}<!-- 初期表示 -->
                        {% render_field form.plan class="form-control" %}
                      {% endif %}
                    </div>
                  </th>
                </tr>

                <tr>
                  <th class="tr_head">
                    <div class="option_box">
                      <div class="label option_label">オプション</div>
                    </div>
                  </th>

                  <th>
                    {% if options_list|is_exist:form.option1.name %}
                      <!-- オプション1 -->
                      <div class="">
                          <!-- 入力フィールド -->
                          {% if form.is_bound %}

                              {% if form.option1.errors %}
                                {% render_field form.option1 class="form-control is-invalid" %}
                                  {% for error in form.option1.errors %}
                                    <div class="invalid-feedback">
                                      {{ error }}
                                    </div>
                                  {% endfor %}

                              {% else %}
                                {% render_field form.option1 class="form-control is-valid" %}
                              {% endif %}

                          {% else %}<!-- 初期表示 -->
                            {% render_field form.option1  class="form-control" %}
                          {% endif %}

                      </div>

                    {% endif %}


                    {% if options_list|is_exist:form.option2.name %}
                      <hr>
                      <!-- オプション2 -->
                      <div class="">
                        <!-- 入力フィールド -->
                        {% if form.is_bound %}

                            {% if form.option2.errors %}
                              {% render_field form.option2 class="form-control is-invalid" %}
                                {% for error in form.option2.errors %}
                                  <div class="invalid-feedback">
                                    {{ error }}
                                  </div>
                                {% endfor %}

                            {% else %}
                              {% render_field form.option2 class="form-control is-valid" %}
                            {% endif %}

                        {% else %}<!-- 初期表示 -->
                          {% render_field form.option2 class="form-control" %}
                        {% endif %}

                      </div>
                    {% endif %}


                    {% if options_list|is_exist:form.option3.name %}
                      <hr>
                      <!-- オプション3 -->
                      <div class="">
                        <!-- 入力フィールド -->
                        {% if form.is_bound %}

                            {% if form.option3.errors %}
                              {% render_field form.option3 class="form-control is-invalid" %}
                                {% for error in form.option3.errors %}
                                  <div class="invalid-feedback">
                                    {{ error }}
                                  </div>
                                {% endfor %}

                            {% else %}
                              {% render_field form.option3 class="form-control is-valid" %}
                            {% endif %}

                        {% else %}<!-- 初期表示 -->
                          {% render_field form.option3 class="form-control" %}
                        {% endif %}

                      </div>
                    {% endif %}


                    {% if options_list|is_exist:form.option4.name %}
                      <hr>
                      <!-- オプション4 -->
                      <div class="">
                        <!-- 入力フィールド -->
                        {% if form.is_bound %}

                            {% if form.option4.errors %}
                              {% render_field form.option4 class="form-control is-invalid" %}
                                {% for error in form.option4.errors %}
                                  <div class="invalid-feedback">
                                    {{ error }}
                                  </div>
                                {% endfor %}

                            {% else %}
                              {% render_field form.option4 class="form-control is-valid" %}
                            {% endif %}

                        {% else %}<!-- 初期表示 -->
                          {% render_field form.option4 class="form-control" %}
                        {% endif %}
                      </div>
                    {% endif %}


                    {% if options_list|is_exist:form.option5.name %}
                      <hr>
                      <!-- オプション5 -->
                      <div class="">
                        <!-- 入力フィールド -->
                        {% if form.is_bound %}

                            {% if form.option5.errors %}
                              {% render_field form.option5 class="form-control is-invalid" %}
                                {% for error in form.option5.errors %}
                                  <div class="invalid-feedback">
                                    {{ error }}
                                  </div>
                                {% endfor %}

                            {% else %}
                              {% render_field form.option5 class="form-control is-valid" %}
                            {% endif %}

                        {% else %}<!-- 初期表示 -->
                          {% render_field form.option5 class="form-control" %}
                        {% endif %}
                      </div>
                    {% endif %}
                  </th>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-6 estimate-preview mt-3 mb-5">
            <div class='row pt-3'>
              <div class='col'>
              </div>
              <div class='col text-center'>
                <h5 class="font-weight-bold">見積プレビュー</h5>
              </div><!--colsm-->
              <div class='col'>
              </div>
            </div><!--row-->
            
            <hr class="mt-0">
            
            <div class='row mt-4'>
              <div class='col'>
                <h6 class="font-weight-bold">サービス</h6>
              </div><!--col-->
              <div class='col'>
                <h6 id="service_name">{{ service.name }}</h6>
              </div><!--col-->
              <div class='col'>
                
              </div><!--col-->
            </div><!--row-->
            
            <div class='row mt-2'>
              <div class='col'>
                <h6 class="font-weight-bold">サービス契約開始日</h6>
              </div><!--col-->
              <div class='col'>
                <h6 id="s_day"></h6>
              </div><!--col-->
              <div class='col'>
                
              </div><!--col-->
            </div><!--row-->
            <div class='row mt-2'>
              <div class='col'>
                <h6 class="font-weight-bold">プラン</h6>
              </div><!--col-->
              <div class='col'>
                <h6 id="s_plan"></h6>
              </div><!--col-->
              <div class='col pr-4 text-right'>
                <h6 id="p_price"></h6>
              </div><!--col-->
            </div><!--row-->
            
            <div class='row mt-2' style="height:140px;">
              <div class='col'>
                <h6 class="font-weight-bold">オプション</h6>
              </div><!--col-->
              <div class='col' id="s_option">

              </div><!--col-->
              <div class='col pr-4 text-right' id="o_price">

              </div><!--col-->
            </div><!--row-->
            <div class='row mt-2' style="height:50px;"></div>
            
            <hr class="hr-dark">
            <div class='row'>
              <div class='col'>

              </div><!--col-->
              <div class='col text-right'>
                <h5 class="font-weight-bold">合計(税抜)</h5>
              </div><!--col-->
              <div class='col pr-4 text-right'>
                <h5 id="total_price" class="font-weight-bold">0</h5>
              </div><!--col-->
            </div><!--row-->
            <div class='mt-2 text-right'>
              <h6 class="pr-2">単位：円</h6>
            </div>
          </div>
        </div><!--row-->
        <div class="btn-toolbar fixed-bottom p-3 align-middle">  
          <div class="row mx-auto">
              <h5 class="align-middle d-block m-2 tool-text">必須項目を入力して次へ進んでください。</h5>
              <button type="button" class="btn my-btn-w11 mr-3 my-btn-cancel cancel" data-toggle="modal" data-target="#cancel_modal" onfocus="this.blur();">キャンセル</button>
              <button type="submit" class="btn my-btn-w11 mr-1 my-btn-accept" onfocus="this.blur();" disabled><span class="next">次へ</span></button>
          </div>
        </div>

      </form>
    </div><!--card-->

     <!-- モーダルの設定 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">プラン比較表</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="pl-3">さらに詳しいサービス紹介サイトは<a href="{% url 'accounts:help' %}" target="_blank">こちら</a>！</h5>
            <div class="container-fluid">
              <div class="row mx-auto">
                <div class="col-4 p-0">
                  <div class="text-center m-1  border-yellow">
                    <h4 class="bg-yellow py-3 text-white">ライトプラン</h4>
                    <h5 class="plan-price1"></h5>
                    <h5 class="text-secondary">利用可能人数：<span class="text-dark">100人</span></h5>
                    <h5 class="text-secondary">コンテンツ保存可能数：<span class="text-dark">50</span></h5>

                  </div><!--border-->
                </div><!--ライトプラン-->
                
                <div class="col-4 p-0">
                  <div class="text-center m-1  border-blue">
                    <h4 class="bg-blue py-3 text-white">ベーシックプラン</h4>
                    <h5 class="plan-price2"></h5>
                    <h5 class="text-secondary">利用可能人数：<span class="text-dark">300人</span></h5>
                    <h5 class="text-secondary">コンテンツ保存可能数：<span class="text-dark">100</span></h5>

                  </div><!--border-->
                </div><!--ベーシックプラン-->
                <div class="col-4 p-0">
                  <div class="text-center m-1 border-red">
                    <h4 class="bg-red py-3 text-white">プレミアムプラン</h4>
                    <h5 class="plan-price3"></h5>
                    <h5 class="text-secondary">利用可能人数：<span class="text-dark">無制限</span></h5>
                    <h5 class="text-secondary">コンテンツ保存可能数：<span class="text-dark">無制限</span></h5>
                    
                  </div><!--border-->
                </div><!--プレミアムプラン-->
              </div>

            </div><!--containerfluid-->
          </div><!--modalbody-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">オプション比較表</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="pl-3">さらに詳しいサービス紹介サイトは<a href="{% url 'accounts:help' %}" target="_blank">こちら</a>！</h5>
            <div class="container-fluid">
              <div class="p-0">
                <div class="my-3 p-2 border-option option_info1">
                  <div class="row bg-option py-3 text-option m-0">
                    <div class="col-4 h4 option_title1 pl-3"></div>
                    <div class="col-8 h5 option_detail1 mt-1"></div>
                  </div>
                  <div class="row m-0 py-3 text-center text-option">
                    <div class="col-4">
                      <h5 class="option-price1_1"></h5>
                      <h5 class="text-secondary option-1_1"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price1_2"></h5>
                      <h5 class="text-secondary option-1_2"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price1_3"></h5>
                      <h5 class="text-secondary option-1_3"></h5>
                    </div>
                  </div>
                </div><!--border-->
                <div class="my-3 p-2 border-option option_info2">
                  <div class="row bg-option py-3 text-option m-0">
                    <div class="col-4 h4 option_title2 pl-3"></div>
                    <div class="col-8 h5 option_detail2 mt-1"></div>
                  </div>
                  <div class="row m-0 py-3 text-center text-option">
                    <div class="col-4">
                      <h5 class="option-price2_1"></h5>
                      <h5 class="text-secondary option-2_1"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price2_2"></h5>
                      <h5 class="text-secondary option-2_2"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price2_3"></h5>
                      <h5 class="text-secondary option-2_3"></h5>
                    </div>
                  </div>
                </div><!--border-->
                <div class="my-3 p-2 border-option option_info3">
                  <div class="row bg-option py-3 text-option m-0">
                    <div class="col-4 h4 option_title3 pl-3"></div>
                    <div class="col-8 h5 option_detail3 mt-1"></div>
                  </div>
                  <div class="row m-0 py-3 text-center text-option">
                    <div class="col-4">
                      <h5 class="option-price3_1"></h5>
                      <h5 class="text-secondary option-3_1"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price3_2"></h5>
                      <h5 class="text-secondary option-3_2"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price3_3"></h5>
                      <h5 class="text-secondary option-3_3"></h5>
                    </div>
                  </div>
                </div><!--border-->
                <div class="my-3 p-2 border-option option_info4">
                  <div class="row bg-option py-3 text-option m-0">
                    <div class="col-4 h4 option_title4 pl-3"></div>
                    <div class="col-8 h5 option_detail4 mt-1"></div>
                  </div>
                  <div class="row m-0 py-3 text-center text-option">
                    <div class="col-4">
                      <h5 class="option-price4_1"></h5>
                      <h5 class="text-secondary option-4_1"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price4_2"></h5>
                      <h5 class="text-secondary option-4_2"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price4_3"></h5>
                      <h5 class="text-secondary option-4_3"></h5>
                    </div>
                  </div>
                </div><!--border-->
                <div class="my-3 p-2 border-option option_info5">
                  <div class="row bg-option py-3 text-option m-0">
                    <div class="col-4 h4 option_title5 pl-3"></div>
                    <div class="col-8 h5 option_detail5 mt-1"></div>
                  </div>
                  <div class="row m-0 py-3 text-center text-option">
                    <div class="col-4">
                      <h5 class="option-price5_1"></h5>
                      <h5 class="text-secondary option-5_1"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price5_2"></h5>
                      <h5 class="text-secondary option-5_2"></h5>
                    </div>
                    <div class="col-4">
                      <h5 class="option-price5_3"></h5>
                      <h5 class="text-secondary option-5_3"></h5>
                    </div>
                  </div>
                </div><!--border-->
              </div><!--ライトプラン-->
    
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- キャンセル確認用 -->
    <div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h6>現在の入力した内容は全て破棄されます。</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" onclick="location.href='{% url 'contracts:estimate_cancel' %}'">OK</button>
            <button type="button" class="my-btn my-btn-cancel my-btn-sm my-btn-w6" data-dismiss="modal">戻る</button>
          </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block extra_js %}
<script src="{% static 'payment/js/option_list.js' %}"></script>

<script>

$(function(){
    // 試用期間終了後に利用開始日をセットする
    $('#is_start_now').on('change', function () {
      var _trial_end_day = $(this).data("end_day")
      console.log('終了日',_trial_end_day)
      // Date型に変更
      var trial_end_day = new Date( _trial_end_day );
      // 1日追加
      //trial_end_day.setDate( trial_end_day.getDate() + 1 );
      
      // フォーマット
      var y = trial_end_day.getFullYear();
      var m = ("00" + (trial_end_day.getMonth()+1)).slice(-2);
      var d = ("00" + trial_end_day.getDate()).slice(-2);
      var result = y + "/" + m + "/" + d;
      // セット
      $("#id_start_day").val(result)
      $("#s_day").text(result)

    });

    // 戻るボタンで戻った時に値が入ったらボタンを有効化
    $('form[data-validate]').each(function(){
      $(this).find(':submit').prop('disabled', !this.checkValidity());
    });

    // 値が入ったらボタンを有効化
    $('form[data-validate]').on('change dp.change', function () {
      $(this).find(':submit').prop('disabled', !this.checkValidity());
    });

    // 配布期間のコピー
    $("#dist_date_copy").on("click", function() {
      var id_dist_start_date = $("#id_dist_start_date").val()
      var id_dist_end_date = $("#id_dist_end_date").val()

      $("#id_sub_start_date").val(id_dist_start_date).change();;
      $("#id_sub_end_date").val(id_dist_end_date).change();;
    });


  // 入力画面で画面遷移する際に確認画面を表示する。
  var checkValue = document.querySelectorAll('.form-control');
  var submitBtn = $(':submit');
  var checkFlag = false;
  var onBeforeunloadHandler = function(e) {
    var msg = 'このページから移動すると入力フォームの内容が消えます。';
    e.returnValue = msg;
  };
  var formAlert = function() {
    if(!checkFlag) {
      window.addEventListener('beforeunload', onBeforeunloadHandler);
      for(var i = 0; i < checkValue.length; i++) {
        checkValue[i].removeEventListener('input', formAlert);
        checkValue[i].removeEventListener('change', formAlert);
      }
      checkFlag = true;
    }
  };
  for(var i = 0; i < checkValue.length; i++) {
    checkValue[i].addEventListener('input', formAlert);
    checkValue[i].addEventListener('change', formAlert);
  }
  // 次へボタンの時はイベントを削除
  $(submitBtn).on("click", function() {
    window.removeEventListener('beforeunload', onBeforeunloadHandler);
  });
  $('#logout_btn').on("click", function() {
    window.removeEventListener('beforeunload', onBeforeunloadHandler);
  });


  // ブラウザの戻るボタン無効化
  history.pushState(null, null, null);
  $(window).on("popstate", function (event) {
      $('.my_alert').css('display', 'block')
      $('.my_msg').text('ブラウザの戻るボタンは使用できません。ページ内の戻るまたはキャンセルボタンをご利用ください。')
      if (!event.originalEvent.state) {
          history.pushState(null, null, null);
          return;
      }
  });
  history.forward();
  
  
  //日付取得
  $('#id_start_day').on("dp.change", function(e) {
    var s_day = $('#id_start_day').val()
    $("#s_day").text(s_day)
  });
  //日付取得戻る用
  if($('input[name="start_day"]').val()){
      $('#s_day').text($('input[name="start_day"]').val());
    };
  //合計用
  pl_p = 0;//plan_price
  op_p = 0;//option
  to_p = 0;//total

  var plan_prices = $('[name=plan_price]').text()
  let pricesAry = plan_prices.split('/年');
  $('.plan-price1').text(pricesAry[0] + '円/年')
  $('.plan-price2').text(pricesAry[1] + '円/年')
  $('.plan-price3').text(pricesAry[2] + '円/年')
  
  //プラン表示
  $('[name=plan]').on('change, input, click', function(){
    var id = $(this).attr('id');
      var label = $('label[for="' + id + '"]').text();
      // jQuery.trim()で空白削除
      var name = $.trim(label);
      var price = $('label[for="' + id + '"]').data('price');
      
      $('#s_plan').text(name);
      $('#p_price').text(price + '/年');
      
      pl_p = Number(price.replace(/[^0-9]/g, ''));
      
      to_p = pl_p + op_p;
      to_p2 =String(to_p).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

      //0円以下の場合は0にする
      if(to_p < 0){
        $('#total_price').text(0 +'/年');
      }else{
        $('#total_price').text(to_p2 +'/年');
      };
      
      $('#p_price').show();
      $('#total_price').show();
  });
  //オプション表示    
  var op_price1 = 0;
  var op_price2 = 0;
  var op_price3 = 0;
  var op_price4 = 0;
  var op_price5 = 0;

  $('[name=option1]').on('change, input', function(){
    $(".opname_1").remove();
    $('.opprice_1').remove();
    op_p = 0;
    var id = $(this).attr('id');
    //オプション名取得
    var label = $('label[for="' + id + '"]').text();
    var name = $.trim(label);

    //値段取得
    if(name !== 'なし'){
      var price = $('label[for="' + id + '"]').data('price');
      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      op_price1 = price2;
      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

      $("#s_option").append('<h6 class="opname_1">' + name + '</h6>');
      $('#o_price').append('<h6 class="opprice_1">' + price3 + '/年' + '</h6>');
    }else{
      op_price1 = 0;
    };
  });
  $('[name=option2]').on('change, input', function(){
    $(".opname_2").remove();
    $('.opprice_2').remove();
    op_p = 0;
    var id = $(this).attr('id');
    //オプション名取得
    var label = $('label[for="' + id + '"]').text();
    var name = $.trim(label);

    //値段取得
    if(name !== 'なし'){
      var price = $('label[for="' + id + '"]').data('price');
      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      op_price2 = price2;
      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

      $("#s_option").append('<h6 class="opname_2">' + name + '</h6>');
      $('#o_price').append('<h6 class="opprice_2">' + price3 + '/年' + '</h6>');
    }else{
      op_price2 = 0;
    };
  });
  $('[name=option3]').on('change, input', function(){
    $(".opname_3").remove();
    $('.opprice_3').remove();
    op_p = 0;
    var id = $(this).attr('id');
    //オプション名取得
    var label = $('label[for="' + id + '"]').text();
    var name = $.trim(label);

    //値段取得
    if(name !== 'なし'){
      var price = $('label[for="' + id + '"]').data('price');
      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      op_price3 = price2;
      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

      $("#s_option").append('<h6 class="opname_3">' + name + '</h6>');
      $('#o_price').append('<h6 class="opprice_3">' + price3 + '/年' + '</h6>');
    }else{
      op_price3 = 0;
    };
  });
  $('[name=option4]').on('change, input', function(){
    $(".opname_4").remove();
    $('.opprice_4').remove();
    op_p = 0;
    var id = $(this).attr('id');
    //オプション名取得
    var label = $('label[for="' + id + '"]').text();
    var name = $.trim(label);

    //値段取得
    if(name !== 'なし'){
      var price = $('label[for="' + id + '"]').data('price');
      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      op_price4 = price2;
      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
      $("#s_option").append('<h6 class="opname_4">' + name + '</h6>');
      $('#o_price').append('<h6 class="opprice_4">' + price3 + '/年' + '</h6>');
    }else{
      op_price4 = 0;
    };
  });
  $('[name=option5]').on('change, input', function(){
    $(".opname_5").remove();
    $('.opprice_5').remove();
    op_p = 0;
    var id = $(this).attr('id');
    //オプション名取得
    var label = $('label[for="' + id + '"]').text();
    var name = $.trim(label);
    
    //値段取得
    if(name !== 'なし'){
      var price = $('label[for="' + id + '"]').data('price');
      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      op_price5 = price2;
      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
      $("#s_option").append('<h6 class="opname_5">' + name + '</h6>');
      $('#o_price').append('<h6 class="opprice_5">' + price3 + '/年' + '</h6>');
    }else{
      op_price5 = 0;
    };
  });
  $('[name=option1],[name=option2],[name=option3],[name=option4],[name=option5]').on('change, input', function(){
    $('#total_price').empty();

    //値段合計
    op_p = op_price1 + op_price2 + op_price3 + op_price4 +op_price5;
    
    to_p = pl_p + op_p;
    to_p2 =String(to_p).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

    //0円以下の場合は0にする
    if(to_p < 0){
      $('#total_price').text(0 +'/年');
    }else{
      $('#total_price').text(to_p2 +'/年');
    };
    
    $("#s_option").show();
    $('#o_price').show();
    $('#total_price').show();
  });


   //戻るボタン用の選択表示
  
if($('input[name="plan"]:checked')){
  var id = $('input[name="plan"]:checked').attr('id');
  var label = $('label[for="' + id + '"]').text();
  var price = $('label[for="' + id + '"]').data('price');
  pl_p = Number(price.replace(/[^0-9]/g, ''));

  $('#s_plan').text(label);
  $('#p_price').text(price + '/年');

  //オプション
  if($('input[name="option1"]:checked')){
    var id = $('input[name="option1"]:checked').attr('id');
    var label = $('label[for="' + id + '"]').text();
    if(!label.match(/なし/)){
      var price = $('label[for="' + id + '"]').data('price');
      console.log('1price',price)

      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      console.log('1price2',price2)

      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

      op_price1 = price2;
      $("#s_option").append('<h6 class="opname_1">' + label + '</h6>');
      $('#o_price').append('<h6 class="opprice_1 text-right">' + price3 + '/年' + '</h6>');
    };
  };
  if($('input[name="option2"]:checked')){
    var id = $('input[name="option2"]:checked').attr('id');
    var label = $('label[for="' + id + '"]').text();
    if(!label.match(/なし/)){
      var price = $('label[for="' + id + '"]').data('price');
      console.log('２price',price)

      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      console.log('２price2',price2)

      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

      op_price2 = price2;
      $("#s_option").append('<h6 class="opname_2">' + label + '</h6>');
      $('#o_price').append('<h6 class="opprice_2 text-right">' + price3 + '/年' + '</h6>');
    };
  };
  if($('input[name="option3"]:checked')){
    console.log('おぷしょん３のああたいはいっている')
    var id = $('input[name="option3"]:checked').attr('id');
    var label = $('label[for="' + id + '"]').text();
    if(!label.match(/なし/)){
      var price = $('label[for="' + id + '"]').data('price');
      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

      op_price3 = price2;
      $("#s_option").append('<h6 class="opname_3">' + label + '</h6>');
      $('#o_price').append('<h6 class="opprice_3 text-right">' + price3 + '/年' + '</h6>');

    };
  };
  if($('input[name="option4"]:checked')){
    var id = $('input[name="option4"]:checked').attr('id');
    var label = $('label[for="' + id + '"]').text();
    if(!label.match(/なし/)){
      var price = $('label[for="' + id + '"]').data('price');
      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
      op_price4 = price2;
      $("#s_option").append('<h6 class="opname_4">' + label + '</h6>');
      $('#o_price').append('<h6 class="opprice_4 text-right">' + price3 + '/年' + '</h6>');

    };
  };
  if($('input[name="option5"]:checked')){
    var id = $('input[name="option5"]:checked').attr('id');
    var label = $('label[for="' + id + '"]').text();
    if(!label.match(/なし/)){
      var price = $('label[for="' + id + '"]').data('price');
      
      var price2 = Number(price.replace(/[^0-9]/g, ''));//数値化
      console.log('price2',price2)

      price3 =String(price2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
      console.log('price3',price3)
      op_price5 = price2;
      $("#s_option").append('<h6 class="opname_5">' + label + '</h6>');
      $('#o_price').append('<h6 class="opprice_5 text-right">' + price3 + '/年' + '</h6>');
    };
  };
  //プラン・オプションの合計
  op_p = op_price1 + op_price2 + op_price3 + op_price4 +op_price5;
  to_p = pl_p + op_p;
  to_p2 =String(to_p).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
  console.log('ごうけい',to_p2)
  $('#total_price').text(to_p2 +'/年');
  $('#total_price').show();
};

});


</script>
{% endblock %}
