<!DOCTYPE html> 
    {% load i18n static %}
    {% load render_bundle from webpack_loader %}
    {% load i18n static %}
    {% comment %} {% load gen_color_num %} {% endcomment %}
    {% load get_first_char %}

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% comment %} <title><link rel="icon" type="image/png" href="{% static 'common/img/CLlogo.png' %}">{% block title %}{% endblock %}</title> {% endcomment %}
        <title>{% block title %}{% endblock %}</title>

        {% render_bundle 'main' %}
        <link href="{% static 'common/css/all.css' %}" rel="stylesheet">

        {% comment %} <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> {% endcomment %}
        
        <link href="{% static 'accounts/css/jquery-linedtextarea.css' %}" rel="stylesheet">
        {% comment %} <link href="{% static 'accounts/js/preview.js' %}" rel="stylesheet"> {% endcomment %}

        <script src="https://js.stripe.com/v3/"></script>
        <link rel="shortcut icon" href="{% static 'accounts/img/favicon.ico' %}">
        {% comment %} <script>
            //Toastr用の設定。(下に記載した場合は反映サれなかったためヘッダ内に記載)
            toastr.options = {
            "debug": false,
            "timeOut": "0",
            "newestOnTop": false,
            "closeButton": true,
            "progressBar": true,
            "extendedTimeOut": "0",
            "positionClass": "toast-top-center",
            // "onCloseClick" : function() {
            //   var id = $("#okBtn").data('message_id')
            // }
            };
        </script> {% endcomment %}
    </head>

    <body id="page-top">

        {% if url_name != "login" %}
            <!-- Navbar -->
            <nav class="navbar navbar-expand static-top">

                <a class="navbar-brand py-0 mr-0 h4 mt-1" href="{% url 'accounts:home' %}"><img src="{% static 'common/img/CL_portal.svg' %}" alt="CloudLab" style="width:210px; height:58px;" class="p-0"></a>

                {% if current_user.is_authenticated and current_user.is_active and current_user.is_staff %}
                    <!-- ヘッダーアイコン -->
                    <div class="d-none d-inline-block form-inline icon_set">
                        {% if not_paymented %}
                            <button type="button" class="btn my-btn-accept rounded-pill mr-2" data-target="#transferModal" data-toggle="modal" onfocus="this.blur();" id="transferbutton">振込完了</button>
                        {% else %}
                            <button type="button" class="btn my-btn-accept rounded-pill mr-2" data-target="#transferModal" data-toggle="modal" onfocus="this.blur();" id="transferbutton" disabled>振込完了</button>
                        {% endif %}
                        
                        <a href="{% url 'accounts:contact' %}" style="font-size:1.5rem;"><img src="{% static 'common/img/contact_po.svg' %}" alt="お問い合わせ" style="width:35px; height:35px;" class="mr-2 mt-1"></a>
                        <img src="{% static 'common/img/info_po.svg' %}" alt="お知らせ" style="width:35px; height:35px;" class="info_icon mb-1">
                        
                        {% if no_read > 0 %}
                        <h6 class="badge badge-warning">
                            {{ no_read }}
                        </h6>
                        {% endif %}
                    </div>

                    <!-- 会社名とメアド -->
                    <div class=" p-1 login_user">
                        <div class="pl-1">
                            <!-- ユーザーアカウントのトグルメニュー -->
                            <ul class="navbar-nav ml-auto ml-0">
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if current_user.image %}
                                            <img src="/media/{{ current_user.image.file }}" class="user_icon_mini"/>
                                            <!--ユーザのアイコン画像が存在しない-->
                                        {% else %}
                                            <div class="maru size_s c{{current_user.color_num}} ml-1 mt-1">
                                                <div class="letter_two_company_s">{{current_user.company.pic_company_name|get_first_char}}</div>
                                                <div class="letter_two_personal_s">{{current_user.display_name|get_first_char}}</div>
                                            </div>
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" style="width: 400px;">
                                        {% if not current_user.is_authenticated and not current_user.is_active and not current_user.is_staff %}
                                            <a class="dropdown-item" href="{% url 'accounts:login' %}">ログイン</a>
                                        {% else %}

                                            <div class="point-box">
                                                <div class="point-title">ユーザープロファイル&nbsp;<a href="{% url 'accounts:update_userinfomation' user.id %}"><i class="fas fa-edit edit_icon" data-target="#change_profile_modal" data-toggle="modal"></i></a></div>
                                                <div class="warning-box">
                                                    <ul class="sample1">
                                                        <li class="text-center mb-2">
                                                            {% if user.image %}
                                                                <img src="/media/{{ current_user.image.file }}" class="user_icon mt-2"/>
                                                                <!--ユーザのアイコン画像が存在しない-->
                                                            {% else %}
                                                                <div class="maru size_m c{{current_user.color_num}} ml-1">
                                                                <div class="letter_two_company_m">{{user.company.pic_company_name|get_first_char}}</div>
                                                                <div class="letter_two_personal_m">{{user.display_name|get_first_char}}</div>
                                                                </div>
                                                            {% endif %}
                                                        </li>
                                                        <li id="current_display_name">
                                                            {% if current_user.company.middle_choice == '1' %}
                                                                {% if current_user.middle_name %}
                                                                    {{ current_user.first_name }} {{ current_user.middle_name }} {{current_user.last_name}}
                                                                {% else %}
                                                                    {{ current_user.last_name }} {{ current_user.first_name }}
                                                                {% endif %}
                                                            {% else %}
                                                                {{ current_user.last_name }} {{ current_user.first_name }}
                                                            {% endif %}
                                                        </li>
                                                        <li id="current_pic_company_name">
                                                            {% if current_user.company.pic_corp_class == '1' %}
                                                                {% if current_user.company.pic_legal_personality == '99' or current_user.company.pic_legal_personality == '' %}
                                                                    {{ current_user.company.pic_company_name }}
                                                                {% else %}
                                                                    {% if current_user.company.pic_legal_person_posi == '1' %}
                                                                        {{ current_user.company.get_pic_legal_personality_display }}{{ current_user.company.pic_company_name }}
                                                                    {% else %}
                                                                        {{ current_user.company.pic_company_name }}{{ current_user.company.get_pic_legal_personality_display }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% elif current_user.company.pic_corp_class == '2' %}
                                                                {{ current_user.company.pic_company_name }}
                                                            {% endif %}
                                                        </li>
                                                        <li id="current_pic_dept_name">{{current_user.company.pic_dept_name|default_if_none:"未設定" }}</li>
                                                        <li>{{current_user.email}}</li>
                                                        <hr class="mt-3 mb-3">
                                                        <li>
                                                            <div class="d-flex">
                                                                <div class="">
                                                                    <!-- 項目 -->
                                                                    <div class="item_col">メール通知設定</div>
                                                                </div>

                                                                <div class="">
                                                                    <!-- 値 -->
                                                                    <td class=" pt-3  pb-2 float-right">
                                                                        <div class="radioArea pl-2" id="mail_radio">
                                                                            <input type="radio" name="mail_choice" id="ma-valid" value="1" {% if current_user.is_send_mail == True %}checked{% endif %}>
                                                                            <label for="ma-valid"> 有効</label>
                                                                            <input type="radio" name="mail_choice" id="ma-invalid" value="2" {% if current_user.is_send_mail == False %}checked{% endif %}>
                                                                            <label for="ma-invalid">無効</label>
                                                                        </div>
                                                                    </td>
                                                                    {% comment %} <div class="value_col">

                                                                        <div class="value_switch_area ml-3">
                                                                            <input type="checkbox" id="switch2" {% if current_user.is_send_mail %}checked{% endif %}>
                                                                            <label class="mb-0" for="switch2"><span></span></label>
                                                                            <div id="swImg"></div>
                                                                        </div>

                                                                    </div> {% endcomment %}
                                                                </div>
                                                            </div><!--d-flex-->
                                                        </li>
                                                    </ul>
                                                </div><!--warning-box-->
                                            </div><!--point-box-->
                                            <a class="dropdown-item base-d-item mt-2" href="{% url 'accounts:user_settings' current_user.company_id %}">ユーザー情報設定</a>
                                            <a class="dropdown-item base-d-item" href="{% url 'accounts:user_infomation' %}">管理ユーザー情報</a>
                                            {% comment %} <a class="dropdown-item base-d-item" href="{% url 'accounts:setai_infomation' %}">世帯情報</a> {% endcomment %}
                                            <a class="dropdown-item base-d-item" href="{% url 'accounts:logout' %}" data-toggle="modal" data-target="#logoutModal">ログアウト</a>
                                        {% endif %}
                                    </div><!--dropdown-menu-->
                                </li>
                            </ul>
                        </div> 
                    </div><!--login_user-->

                    {% comment %}<div class="row">
                    <div class="col-9 pr-0 pl-1">
                        <p class="lang-text" style="color:#53361c;">
                        {% if user.company.pic_corp_class == '1' %}
                            {% if user.company.pic_legal_personality == '99' or user.company.pic_legal_personality == '' %}
                            {{ user.company.pic_company_name }}
                            {% else %}
                            {% if user.company.pic_legal_person_posi == '1' %}
                                {{ user.company.get_pic_legal_personality_display }}{{ user.company.pic_company_name }}
                            {% else %}
                                {{ user.company.pic_company_name }}{{ user.company.get_pic_legal_personality_display }}
                            {% endif %}
                            {% endif %}
                        {% elif user.company.pic_corp_class == '2' %}
                            {{ user.company.pic_company_name }}
                        {% endif %}
                        </p>
                        <p class="lang-text" style="color:#53361c;">{{ current_user.email}}</p>
                    </div> {% endcomment %}

                    <!-- ユーザーアカウントのトグルメニュー -->
                    {% comment %} <div class="col-3 pt-1 pl-1">
                        <ul class="navbar-nav ml-auto ">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user_menu" aria-labelledby="userDropdown">
                            {% if not current_user.is_authenticated and not current_user.is_active and not current_user.is_staff %}
                                <a class="dropdown-item base-d-item" href="{% url 'accounts:login' %}">ログイン</a>

                            {% else %}
                            <!-- <div class="dropdown-divider"></div> -->
                            {% comment %} <a class="dropdown-item base-d-item" href="{% url 'accounts:password_change' %}">パスワード変更</a>

                            <a class="dropdown-item" href="{% url 'accounts:language_setting' %}">言語設定</a> 
                            <div class="dropdown-menu"></div>
                            <div class='border-bottom'>
                                <p class="mt-2">
                                {% if user.company.pic_corp_class == '1' %}
                                    {% if user.company.pic_legal_personality == '99' or user.company.pic_legal_personality == '' %}
                                    {{ user.company.pic_company_name }}
                                    {% else %}
                                    {% if user.company.pic_legal_person_posi == '1' %}
                                        {{ user.company.get_pic_legal_personality_display }}{{ user.company.pic_company_name }}
                                    {% else %}
                                        {{ user.company.pic_company_name }}{{ user.company.get_pic_legal_personality_display }}
                                    {% endif %}
                                    {% endif %}
                                {% elif user.company.pic_corp_class == '2' %}
                                    {{ user.company.pic_company_name }}
                                {% endif %}
                                <br>
                                {% if current_user.company.middle_choice == '1' %}
                                    {% if user.middle_name %}
                                    {{ user.first_name }} {{ user.middle_name }} {{user.last_name}}
                                    {% else %}
                                    {{ user.last_name }} {{ user.first_name }}
                                    {% endif %}
                                {% else %}
                                    {{ user.last_name }} {{ user.first_name }}
                                {% endif %}
                                <br>
                                {{ current_user.email}}
                                </p>
                            </div>

                            <a class="dropdown-item base-d-item mt-2" href="{% url 'accounts:user_settings' current_user.company_id %}">ユーザー情報設定</a>
                            <a class="dropdown-item base-d-item" href="{% url 'accounts:user_infomation' %}">管理ユーザー情報</a>
                            <a class="dropdown-item base-d-item" href="{% url 'accounts:logout' %}" data-toggle="modal" data-target="#logoutModal">ログアウト</a>
                            {% endif %}
                            </div>
                        </li>
                        </ul>
                    </div> 
                    </div>{% endcomment %}
                {% elif current_user %}
                    <!-- 会社名とメアド -->
                    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3">
                        <img src="{% static 'common/img/info_po.svg' %}" alt="お知らせ" style="width:40px; height:40px;" class="info_icon mb-1 ">
                    </div>
                    {% comment %} <div class="card mr-0 p-1 my-1" style="width: 13rem;">
                        <div class="row">
                        <div class="col-9 pr-0 pl-1">
                            <p class="lang-text" style="color:#53361c;">
                            {% if user.company.pic_corp_class == '1' %}
                                {% if user.company.pic_legal_personality == '99' or user.company.pic_legal_personality == '' %}
                                {{ user.company.pic_company_name }}
                                {% else %}
                                {% if user.company.pic_legal_person_posi == '1' %}
                                    {{ user.company.get_pic_legal_personality_display }}{{ user.company.pic_company_name }}
                                {% else %}
                                    {{ user.company.pic_company_name }}{{ user.company.get_pic_legal_personality_display }}
                                {% endif %}
                                {% endif %}
                            {% elif user.company.pic_corp_class == '2' %}
                                {{ user.company.pic_company_name }}
                            {% endif %}
                            </p>
                            <p class="lang-text" style="color:#53361c;">{{ current_user.email}}</p>
                        </div>
                        <!-- ユーザーアカウントのトグルメニュー -->
                        <div class="col-3 pt-1 pl-1">
                            <ul class="navbar-nav ml-auto ">
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                {% if user.company.pass_change == '1' %}
                                    <a class="dropdown-item base-d-item" href="{% url 'accounts:password_change' %}">パスワード変更</a>
                                {% endif %}
                                {% if user.company.profile_change == '1' %}
                                    <a class="dropdown-item base-d-item" href="{% url 'accounts:user_update' user.id %}">プロフィール変更</a>
                                {% endif %}
                                <a class="dropdown-item base-d-item" href="{% url 'accounts:login' %}">ログアウト</a>
                                </div>
                            </li>
                            </ul>
                        </div>
                        </div>
                    </div> {% endcomment %}
                {% endif %}
            </nav>
        {% endif %}

        {% comment %} <div class="container-fluid text-align-center"> {% endcomment %}
        {% if  current_user.is_authenticated and current_user.is_active and current_user.is_staff %}
            {% include 'common/slidemenu.html' %}
        {% endif %}<!-- 認証済みで有効かどうかの判断-->
        {% comment %} </div> {% endcomment %}

        <div id="wrapper">   
            <div class="container p-0" style="max-width:1376px;">
                {% if  current_user.is_authenticated and current_user.is_active and current_user.is_staff %}
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb mt-2" style="background-color:#e8e4df; width:1376px;">
                        {% block breadcrumbtitle %}{% endblock %}
                    </ol>
                {% endif %}<!-- 認証済みで有効かどうかの判断-->

                <!-- 画面全体に対してサーバサイドからエラーメッセージを表示するための領域 -->
                <!-- messages.succes や messages.errorにて利用 -->
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% comment %} {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'alert alert-success'%}
                            <script type=text/javascript>toastr.success('{{ message|safe }}')</script>

                        {% elif message.tags == 'alert alert-info' %}
                            <script type=text/javascript>toastr.info('{{ message|safe }}')</script>

                        {% elif message.tags == 'alert alert-warning' %}
                            <script type=text/javascript>toastr.warning('{{ message|safe }}')</script>

                        {% elif message.tags == 'alert alert-danger' %}
                            <script type=text/javascript>toastr.error('{{ message|safe }}')</script>
                        {% endif %}
                    {% endfor %}
                {% endif %} {% endcomment %}

                {% block content %}
                    {{ content }}
                {% endblock %}

            </div><!--container-->
        </div><!--wrapper-->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up font_size"></i>
        </a>

        <!-- ログアウト用Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">ログアウトしますか？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm my-btn-accept" onclick="location.href='{% url 'accounts:logout' %}'">ログアウト</button>
                        <button class="btn my-btn-cancel btn-sm" type="button" data-dismiss="modal" onfocus="this.blur();">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- お知らせモーダル用 -->
        <div class="modal fade " id="info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content info-modal-content">
                    <ul class="tab clearfix info_tab">
                        <li class="active">全て表示</li>
                        <li>お知らせ</li>
                        <li>メンテナンス</li>
                    </ul>
                    <!-- コンテンツ  全体を非表示にし、showクラスが付いたコンテンツのみ表示 -->
                    <div class="area">
                        <ul class="show">
                            {% for all in all_informations %}
                                <li><a href="{% url 'accounts:infomation' all.id %}"><time datetime="{{ all.release_date|date:'Y-m-d' }}" class="newsList-date">{{ all.release_date|date:'Y/m/d' }}</time><b class="newsList-category">
                                {% if not all.id in read_info %}
                                    <span class="bg-warning">{{ all.category }}</span>
                                {% else %}
                                    <span>{{ all.category }}</span>
                                {% endif %}
                                </b><span class="newsList-title">{{ all.title }}</span></a></li>
                            {% empty %}
                                <li><span class="newsList-empty">お知らせはありません</span></li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for notice in notice_informations %}
                                <li><a href="{% url 'accounts:infomation' notice.id %}"><time datetime="{{ notice.release_date|date:'Y-m-d' }}" class="newsList-date">{{ notice.release_date|date:'Y/m/d' }}</time><b class="newsList-category">
                                {% if not notice.id in read_info %}
                                    <span class="bg-warning">{{ notice.category }}</span>
                                {% else %}
                                    <span>{{ notice.category }}</span>
                                {% endif %}
                                </b><span class="newsList-title">{{ notice.title }}</span></a></li>
                            {% empty %}
                                <li><span class="newsList-empty">お知らせはありません</span></li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for mainte in maintenance_informations %}
                                <li><a href="{% url 'accounts:infomation' mainte.id %}"><time datetime="{{ mainte.release_date|date:'Y-m-d' }}" class="newsList-date">{{ mainte.release_date|date:'Y/m/d' }}</time><b class="newsList-category">
                                {% if not mainte.id in read_info %}              
                                    <span class="bg-warning">{{ mainte.category }}</span>
                                {% else %}
                                    <span>{{ mainte.category }}</span>
                                {% endif %}
                                </b><span class="newsList-title">{{ mainte.title }}</span></a></li>
                            {% empty %}
                                <li><span class="newsList-empty">お知らせはありません</span></li> 
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer justify-content-center bg-white">
                        <button class="btn my-btn-cancel btn-sm my-btn-w8 " data-dismiss="modal" onfocus="this.blur();">閉じる</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content user">
                    <form method="POST" validate data-validate>
                        {% csrf_token %}

                        <div class="modal-header">
                            <h5 class="modal-title">振込の完了を通知する</h5>
                        </div>
                        <div class="modal-body ">
                            <h6 class=" text-left">振込完了後、通知ボタンをクリックしてください。<h6>
                            <div class="border ">
                                <h6 class="text-left p-1 required_box2">振込先</h6>
                                <input type="radio" name="transbank" class="ml-2" style="transform:scale(1.3);" value="琉球銀行">&nbsp;琉球銀行<br>
                                <input type="radio" name="transbank" class="my-2 ml-2 mb-2" style="transform:scale(1.3);" value="ゆうちょ銀行">&nbsp;ゆうちょ銀行</label>
                            </div>
                            <div class="border mt-2">
                                <h6 class="text-left p-1 required_box2">振込日</h6>
                                <input type="date" class='mb-2 ml-2' name="transdate" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="my-btn my-btn-accept  my-btn-w8" id="t_compbutton">通知</button>
                            <button type="button" class="my-btn my-btn-cancel  my-btn-w8" data-dismiss="modal">キャンセル</button>
                        </div><!-- /.modal-footer -->
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- レスポンス用トースト -->
        <div class="position-fixed p-3" style="z-index: 2000; right: 0; bottom: 0;">
            <div id="result_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    <div>

                    </div>
                </div>
            </div>
        </div>


        <!-- 日付のカレンダー表示 -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script> -->
        {{ form.media }} <!-- 左の設定でdatetimepickerに関連するJS等が読み込まれる -->

        <!-- 郵便番号から都道府県の自動入力 -->
        {% comment %} <script src="{% static 'common/js/yubinbango-data/data' %}" charset="UTF-8"></script> {% endcomment %}

        <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
        <script src="{% static 'accounts/js/jquery-linedtextarea.js' %}"></script>
        <script>

            /*toastr.options.positionClass = "toast-bottom-right";
            toastr.options.closeButton = true;
            toastr.options.timeOut = 1000;
            toastr.options.fadeOut = 1000;
            toastr.options.onHidden = function(){
            // this will be executed after fadeout, i.e. 2secs after notification has been show
            window.location.reload();
            }; */


            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $(document).ready(function() {

                $(".info_icon").on("click", function() {

                    $('#info_modal').modal('show')
                });


                toastr.options = {
                    "positionClass": "toast-bottom-right",
                    "timeOut": "100",
                    "closeButton": true,
                };
                //メール通知設定
                $("input:radio[name='mail_choice']").change(function(){

                    var mail_choiced = $('input[name="mail_choice"]:checked').val()
                    $.ajax({
                        type:"POST",
                        url:"{% url 'accounts:send_mail' %}",
                        data:{
                        'mail_choiced':mail_choiced
                        },
                        dataType: 'json'
                    }).done(function(data, jqXHR){
                        if(data['judge']=='mail_true'){
                            $('#result_toast').on('show.bs.toast', function (e) {
                                var toast = $(this);
                                toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
                                toast.find('.toast-body').text("メール通知設定を有効にしました。");//サーバ側から戻ってきたメッセージを表示
                            });
                            $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 

                        }else{
                            $('#result_toast').on('show.bs.toast', function (e) {
                                var toast = $(this);
                                toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
                                toast.find('.toast-body').text("メール通知設定を無効にしました。");//サーバ側から戻ってきたメッセージを表示
                            });
                            $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 
                            };
                    }).fail(function(data){
                        $('#result_toast').on('show.bs.toast', function (e) {
                            var toast = $(this);
                            toast.find('.toast-body').removeClass('alert-success');
                            toast.find('.toast-body').addClass('alert-danger');//このクラスを付与して成功時の色を定義
                            toast.find('.toast-body').text('メール通知設定が失敗しました。再度設定してください');//サーバ側から戻ってきたメッセージを表示
                        });
                        $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 
                    });
                });
            });

            //振込完了通知
            $('#t_compbutton').prop("disabled", true);

            $('input[name="transbank"],input[name=transdate]').change(function(){
                if($('input:radio[name="transbank"]:checked') && $("input[name=transdate]").val()){
                    $('#t_compbutton').prop("disabled", false);
                }else{
                    $('#t_compbutton').prop("disabled", true);
                }
            });
            $('#t_compbutton').on('click', function () {
                console.log('振込完了ボタン押下')
                var t_bank = $('input:radio[name="transbank"]:checked').val();
                var t_date = $("input[name=transdate]").val()
                $.ajax({
                    type: "POST",
                    url: "{% url 'accounts:transfer_complete' %}",
                    data: {
                        't_bank': t_bank,
                        't_date': t_date
                    },
                    dataType: 'json'
                }).done(function(data, textStatus, jqXHR) {
                    console.log('データの中身',data)
                    // 成功時のコールバック
                    $('#transferModal').modal('hide')
                    $('#result_toast').on('show.bs.toast', function (e) {
                        var toast = $(this);
                        toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
                        toast.find('.toast-body').text(data["message"]);//サーバ側から戻ってきたメッセージを表示
                    });
                    $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 
                }).fail(function(data, jqXHR, textStatus, errorThrown ) {
                // 失敗時のコールバック
                });
            });

        </script>


        {% block extra_js %}

            <script>
                /*$(document).ready(function(){
                    // 値が入ったらボタンを有効化
                    $('#okBtn').on('click', function () {
                        var url = $(this).data('url')
                        var id = $(this).data('id')

                        $.ajax({
                        type: "POST",
                        url: "{% url 'accounts:reset_session' %}",
                        data: {
                            'url': url,
                            'id': id
                        },
                        dataType: 'json'

                        }).done(function(data, textStatus, jqXHR) {
                            console.log('データの中身',data)
                            // 成功時のコールバック
                            {% comment %} if (url=="update_companyprofile") {
                            window.location.href = '{% url "accounts:update_companyprofile" company.id %}';
                            }else if (url=="update_companyonly") {
                            window.location.href = '{% url "accounts:update_companyonly" company.id %}';
                            } {% endcomment %}

                        }).fail(function(data, jqXHR, textStatus, errorThrown ) {
                            // 失敗時のコールバック
                        });
                    });
                });*/

            </script>
        {% endblock %}
    </body>
</html>
