{% load i18n static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'error/css/error.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="particles-js">
    
        <div class="contents">
            <a class="navbar-brand mr-1 py-0 h4" href="{% url 'accounts:home' %}" style="color:#f15a24;"><img src="{% static 'common/img/CL_logo1_OR.svg' %}" alt="CloudLab" style="width:40px; height:40px;" class="p-0">CloudLabポータル</a>
            {% block content %}
            {% endblock %}
            <p></p>
            <button type="button" class="btn my-btn-primary mx-auto d-block btn-lg" onclick="history.back(-1)">一つ前のページへ戻る</button>
        </div>
    </div>
    <script src="{% static 'error/js/particles.min.js' %}"></script>
    <script src="{% static 'error/js/error.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body> 

</html>