body {
  font-size: 12px;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','YuGothic','Yu Gothic','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'
}

#wrapper #content-wrapper {
  padding-top: 9px;
}

.container-fluid {
  padding-right: 9px;
  padding-left: 9px;
}

.form-control {
  font-size: 0.75rem;
  border-radius: 0rem;
}

.password_change_text {
  font-size: 0.8rem;
}

.btn {
  border-radius: .4rem;
}

.btn.disabled, .btn:disabled {
    opacity: .25;
}

/* デフォルトの色 */
/* .btn-primary {
  color: #fff;
  background-color: #0075c2;
  border-color: #0075c2;
}
.btn-primary:disabled {
  color: #fff;
  background-color: #0075c2;
  border-color: #0075c2;
}
.btn-primary:hover {
    color: #fff;
    background-color: #043c78;
    border-color: #043c78;
}
.btn-primary.disabled {
  color: #fff;
  background-color: #0075c2;
  border-color: #0075c2;
} */


/* デフォルトの色#dc3545 */
.btn-danger {
  color: #fff;
  background-color: #b33e5c;
  border-color: #b33e5c;
}

.btn-danger:disabled {
  color: #fff;
  background-color: #b33e5c;
  border-color: #b33e5c;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82c55;
  border-color: #c82c55;
}


/* ベース */
.my-btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: .4rem;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: hidden;
}

.my-btn:hover {
  opacity: 0.5;
  text-decoration: none;
}

.my-btn:disabled {
  opacity: 0.1;
  pointer-events: none;
}

a.my-btn.disabled, fieldset:disabled a.my-btn {
  pointer-events: none;
}

.my-btn.disabled, .my-btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}


/* 色 */
.my-btn-egypt-1 {
  color: #ffffff !important;
  background: #4A849A;
}

.my-btn-gray-1 {
  color: #595959 !important;
  background: #F2F2F2;
}
.my-btn-gray-2 {
  color: #595959 !important;
  background: #CCCCCC;
}

.my-btn-outline-egypt-1 {
  color: #4A849A;
  background: transparent;
  border: 1px solid #4A849A;
}
.my-btn-outline-gray-1 {
  color: #F2F2F2;
  background: transparent;
  border: 1px solid #F2F2F2;
}
.my-btn-outline-gray-2 {
  color: #CCCCCC;
  background: transparent;
  border: 1px solid #CCCCCC;
}

.my-btn-outline-green-1 {
  color: #4e9a4a;
  background: transparent;
  border: 1px solid #4e9a4a;
}


.my-btn-outline-egypt-1:hover {
  color: #fff;
  background-color: #8CB8D3;
  opacity: 1;
}
.my-btn-outline-gray-1:hover {
  color: #595959;
  background-color: #F2F2F2;
  opacity: 1;
}
.my-btn-outline-gray-1:hover {
  color: #595959;
  background-color: #F2F2F2;
  opacity: 1;
}


.my-btn-danger-1 {
  color: #ffffff !important;
  background: #DC3E45;
}
.my-btn-danger-1:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* サイズ */
.my-btn-s {
  padding: 0.1rem 0.3rem;
  font-size: 0.9rem;
}
.my-btn-sl {
  padding: 0.3rem 0.4rem;
  font-size: 0.8rem;
}

.my-btn-sm {
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
}

.my-btn-ss {
  padding: 0.1rem 0.4rem;
  font-size: 0.7rem;
}

.my-btn-xs {
  padding: 0.3rem 0.3rem;
  font-size: 0.6rem;
}

.my-btn-xx {
  padding: 0.1rem 0.1rem;
  font-size: 0.4rem;
}

/* 形 */
.my-btn-block {
  display: block;
  width: 100%;
}

.my-btn-w3 {
  width: 3rem;
}
.my-btn-w5 {
  width: 5rem;
}

.my-btn-w6 {
  width: 6rem;
}

.my-btn-w7 {
  width: 7rem;
}

.my-btn-w8 {
  width: 8rem;
}

.my-btn-w9 {
  width: 9rem;
}

.my-btn-w10 {
  width: 10rem;
}

.my-btn-w11 {
  width: 11rem;
}
.my-btn-w12 {
  width: 12rem;
}
.my-btn-w13 {
  width: 13rem;
}
.my-btn-w23 {
  width: 23rem;
}

.my-btn-w25 {
  width: 25rem;
}
.my-btn-w38 {
  width: 38rem;
}


/* 形 */
.my-btn-block {
  display: block;
  width: 100%;
}

.my-btn-w3 {
  width: 3rem;
}
.my-btn-w5 {
  width: 5rem;
}

.my-btn-w6 {
  width: 6rem;
}

.my-btn-w7 {
  width: 7rem;
}

.my-btn-w8 {
  width: 8rem;
}

.my-btn-w9 {
  width: 9rem;
}

.my-btn-w10 {
  width: 10rem;
}

.my-btn-w11 {
  width: 11rem;
}
.my-btn-w12 {
  width: 12rem;
}
.my-btn-w13 {
  width: 13rem;
}
.my-btn-w25 {
  width: 25rem;
}
.my-btn-w38 {
  width: 38rem;
}

/* ページネーション */
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #0075c2;
  border-color: #0075c2;
}


/* バー状のボタン */
.bar_button {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #F2F2F2;
  /* text-align: center; */
  padding: 1.4rem;
  height: 80px;
  z-index: 1;
}

.bar_button .bar_button_r {
  text-align: right;
}

.bar_button .bar_button_l {
  text-align: left;
}


.page-title {
  display: block;
  padding: 0.5rem;
  background-color: #E5F4F9;
  font-size: 1.25rem;
  margin-bottom: 20px;
  border-left: 7px solid #4A849A;
  color: #4A849A;
}

.alert-success {
  background-color: #dde6f0;
  color: #4A849A;
  border: #4A849A solid 2px;
  font-size: 1rem;
}

.alert-success::before {
  width: 1rem;
  text-align: center;
  vertical-align: 0;
  margin-right: 3px;
  border: 0;
  font-weight: 900;
  content: '\f058';
  font-family: 'Font Awesome 5 Free';
}

.alert-green {
  background-color: #f0f0dd;
  color: #4a9a60;
  border: #4a9a60 solid 2px;
  font-size: 1rem;
}

.alert-green::before {
  width: 1rem;
  text-align: center;
  vertical-align: 0;
  margin-right: 3px;
  border: 0;
  font-weight: 900;
  content: '\f058';
  font-family: 'Font Awesome 5 Free';
}



.alert-danger {
  background-color: #ffe5e2;
  color: #f85a5a;
  border: #f85a5a solid 2px;
  font-size: 1rem;
}

.alert-danger::before {
  width: 1rem;
  text-align: center;
  vertical-align: 0;
  margin-right: 3px;
  border: 0;
  font-weight: 900;
  content: '\f071';
  font-family: 'Font Awesome 5 Free';
}

.alert-warning {
  background-color: #FFEFD5 !important;
  color: #a38e3a !important;
  border: #a38e3a solid 2px !important;
  font-size: 1rem !important;
}

.alert-warning::before {
  width: 1rem;
  text-align: center;
  vertical-align: 0;
  margin-right: 3px;
  border: 0;
  font-weight: 900;
  content: '\f071';
  font-family: 'Font Awesome 5 Free';
}



.alert-success-modal {
  background-color: #dde6f0;
  color: #4A849A;
  border: #4A849A solid 2px;
  font-size: 1rem;
}
.alert-success-modal-icon {
  width: 3.5rem;
}

.alert-success-modal-icon::before {
  width: 1rem;
  text-align: center;
  vertical-align: 0;
  margin-right: 3px;
  border: 0;
  font-weight: 900;
  content: '\f058';
  font-family: 'Font Awesome 5 Free';
  padding-right: 20px;
  font-size: 2rem;

}


.alert-warning-modal {
  background-color: #FFEFD5 !important;
  color: #a38e3a !important;
  border: #a38e3a solid 2px !important;
  font-size: 1rem !important;
}
.alert-warning-modal-icon {
  width: 3.5rem;
}

.alert-warning-modal-icon::before {
  width: 1rem;
  text-align: center;
  vertical-align: 0;
  margin-right: 3px;
  border: 0;
  font-weight: 900;
  content: '\f071';
  font-family: 'Font Awesome 5 Free';
  padding-right: 20px;
  font-size: 2rem;
}


.section_title {
  padding: .6rem 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #4A849A;
  color: #ffffff;
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.step_label {
  padding: .6rem 1.25rem;
  margin-bottom: 0;
  background-color: #AD0A1A;
  color: #ffffff;
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.horizon_row .form-row {
  padding-left: 5px;
}

.horizon_row .form-row>.col, .form-row>[class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.my_btn_float_left {
  padding: 4px;
}

.my_btn_float_right2 {
  padding: 2px;
}

.my_btn_float_right {
  padding: 4px;
}

/* .card-header {
  padding: .6rem 1.25rem;
} */

.require_label_side {
  display: inline-block;
  color: #ffffff;
  font-size: 0.5rem;
}

.require_label_side span {
  background-color: red;
  border-radius: 3px;
  padding: 2px;
  white-space: nowrap;
  border: 1px solid #FCD3D7;
}

.preset_btn_group {
  margin-left: 48px;
}

.require_label {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 3px;
}

.require_label_mg1_5 {
  margin-right: 1.5rem;
}
.require_label_mg1_7 {
  margin-right: 1.7rem;
}
.require_label_mg2 {
  margin-right: 2rem;
}
.require_label_mg20 {
  margin-right: 20rem;
}
.require_label_mg23 {
  margin-right: 23rem;
}
.require_label_mg24 {
  margin-right: 24rem;
}
.require_label_mg25 {
  margin-right: 25rem;
}
.require_label_mg26 {
  margin-right: 26rem;
}
.require_label_mg27 {
  margin-right: 27rem;
}
.require_label_mg28 {
  margin-right: 28rem;
}
.require_label_mg29 {
  margin-right: 29rem;
}
.require_label_mg30 {
  margin-right: 30rem;
}
.require_label_mg31 {
  margin-right: 31rem;
}
.require_label_mg32 {
  margin-right: 32rem;
}


.require_label span {
  background-color: red;
  border-radius: 3px;
  padding: 2px;
  white-space: nowrap;
  /* border: 1px solid #FCD3D7; */
}

.option_label_message {
  display: inline;
  color: #ffffff;
  font-size: 0.5rem;
  height: 194px;
  width: 140px;
}

.option_label_message p {
  background-color: red;
  border-radius: 3px;
  padding: 1px 2px;
  margin: 85px 60px;
  white-space: nowrap;
  width: 24px;
  height: 16px;
}


.option_label {
  color: #595959;
  font-size: 0.8rem;
  margin-top: 3px;
}

.option_label_mg27 {
  margin-right: 27rem;
}
.option_label_mg29 {
  margin-right: 29rem;
}
.option_label_mg30 {
  margin-right: 30rem;
}

.option_label span {
  background-color: #F2F2F2;
  border-radius: 3px;
  padding: 2px;
  white-space: nowrap;
  /* border: 1px solid #595959; */
}

.modal-content .btn-primary {
  background-color: #4A849A;
  border-color: #4A849A;
  border: none;
}

.modal-content .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #4A849A;
  border-color: #4A849A;
}

/* ボタンを押した時に表示される枠を削除 */
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
a:hover,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
    text-decoration: none;

}

.scroll-to-top {
  bottom: 90px;
}

.scroll-to-top .font_size {
  font-size: 2rem;
  margin-top: 0.5rem;
}

/* 支払い処理中のまち */
#loading-view {
  /* 領域の位置やサイズに関する設定 */
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  /* 背景関連の設定 */
  background-color: #f5f5f5;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.55;
  background-image: url("/static/common/img/load.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* BootstrapのColのpaddingとマージンを0へ */
.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}


.hr_style {
  width: 97%;
  margin: auto !important;
  border-top: 1.5px solid rgba(0,0,0,.1);
}

.childe1, .childe2 {
  /* display: none; */
}

.menu_title_size {
  font-size: 1.4rem;
}

.menu_desc_size {
  font-size: 0.9rem;
}

.menu_desc_text {
  white-space: pre-wrap;
}

.menu_file_name_size {
  font-size: 0.9rem;
}

.menu_file_name_color {
  color: #212529;
}

.menu_file_icon_size {
  font-size: 1.2rem;
}

.menu_reg_user_size {
  font-size: 0.9rem;
}

.menu_reg_user_width_size {
  width: 160px;
}

.menu_reg_user_text {
  text-align: left;
}
/* .menu_reg_user_text {
  text-align: center;
} */

.menu_reg_user_text_position {
  border-bottom: #595959 solid 1px;
}

.menu_sutatus_size {
  font-size: 0.9rem;
  white-space: nowrap;
}

.menu_btn_color {
  background-color: #4A849A;
  color: #ffffff;
}

.menu_btn {
  cursor: pointer;
  border-radius: 20px;
  z-index: 2;
  font-size: 1rem;
  height: 90px;
  width: 140px;
  padding: 20px 10px;
  text-align: center;
  /* line-height: 40px; */
}

.menu_outline_btn {
  color: #4A849A;
  background: #fff;
  border: 1px solid #4A849A;
  padding: 0 !important;
}

.card_header {
  background-color: #BFDDE7;
  color: #212529;
}

.home_card {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
}

.label_status {
  width: 100%;
  text-align: center;
  color: #000;
  vertical-align: middle;
}

.label_status.glay {
  background-color: #CCCCCC;
}
.label_status.blue {
  background-color: #3232FF;
  color: #fff;
}
.label_status.red {
  background-color: #FF3232;
  color: #fff;
}
.label_status.green {
  background-color: #00CC73;
  color: #fff;
}
.label_status.done {
  background-color: #595959;
  color: #fff;
}

.label_status_custom {
  width: 50px;
}

.new {
  background-color: #FCD3D7;
  padding: 0px 3px;
  color: #7D0713;
  font-size: 0.5rem;
  vertical-align: middle;
  display: none;
  margin-bottom: 5px;
}

.up {
  background-color: #FCD3D7;
  padding: 0px 3px;
  color: #7D0713;
  font-size: 0.7rem;
  vertical-align: middle;
  display: none;
  margin-bottom: 5px;
}





.test_title_size {
  font-size: 1.5rem;
}

.test_desc_size {
  font-size: 1rem;
}

.test_question_text_size {
  font-size: 1.1rem;
}

.test_chice_text_size {
  font-size: 1rem;
}


.test_chice_box {
  background-color: #f2f2f2;
}


/* バー状のボタン */
.test_bar_button {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #F2F2F2;
  /* text-align: center; */
  padding: 1.4rem;
  height: 80px;
  z-index: 1;
}


.textarea-large {
  resize: none;
  width:100%;
  height:80px;
}



.card_body {
  background-color: #f2f2f2;
  border-bottom: 1px solid #CCC;
}

.button_text_size {
  font-size: 1.2rem;
}


.menu_icon {
  font-size: 5rem;
  color: #808080;
}


.label_text {
  font-size: 0.9rem;
  /* padding:0;
  -moz-text-align-last: justify;
  text-align-last: justify;
  text-justify:inter-ideograph;
  border:none; */
  text-align: left;
}

.label_text_w90 {
  width: 90px;
}
.label_text_w62 {
  width: 62px;
}

.label_border_right {
  border-right: 1px solid #212629;
}


.label_border_left {
  border-left: 1px solid #212629;
}


.menu_reg_user_box {
  width: 156px;
}

.menu_status_box {
  width: 123px;
}

.reg_user_box {
  /* width: 153px; */
  width: 225px;
}

.title_desc_box {
  width: 1000px;
}



.detailed_search_group input{
  display: none;
}

.detailed_search_group label {
  margin-bottom: 0;
  border: 0;
}

/*チェックのアイコン（←）*/
.detailed_search_group label:after{
  width: 1rem;
  text-align: center;
  /* margin-left: 5px; */
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content:'\f056';
  font-family: 'Font Awesome 5 Free';
  font-size: 1.5rem;
  cursor: pointer;
  /* color: #4A849A; */
}

/*チェックのアイコン（↑）*/
.detailed_search_group input:checked ~ label::after {
  width: 1rem;
  text-align: center;
  /* margin-left: 5px; */
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content:'\f055';
  font-family: 'Font Awesome 5 Free';
  font-size: 1.5rem;
  cursor: pointer;
  /* color: #4A849A; */

}


.maru_posi {
  top: 30px;
  left: -30px;
}


.vjs-big-play-button {
  display: none !important;
}


.vjs-tech .vjs-icon-placeholder {
  display: none;
}

/* .vjs-control-bar {
  display: none !important;
} */

.vjs-control-bar .vjs-play-control .vjs-control .vjs-button .vjs-playing {
  display: none !important;
}

#my-video > div.vjs-control-bar > button.vjs-play-control.vjs-control.vjs-button.vjs-playing
{
  display: none !important;
}

#my-video > div.vjs-control-bar > button.vjs-play-control.vjs-control.vjs-button.vjs-paused.vjs-ended
{
  display: none !important;
}

/* #my-video > div.vjs-control-bar > button.vjs-fullscreen-control.vjs-control.vjs-button
{
  display: none !important;
} */

#my-video > div.vjs-control-bar > button.vjs-picture-in-picture-control.vjs-control.vjs-button
{
  display: none !important;
}
/* .video-js .vjs-current-time { display: block; }
.video-js .vjs-time-divider { display: block; }
.video-js .vjs-duration { display: block; }
.video-js .vjs-remaining-time { display: none; } */


.vjs-text-track-display {
  pointer-events: fill;
}


/*---------------------------------

for Result Page

---------------------------------*/

.result_page .out {
	margin:0 auto;
	width:620px;
	padding:40px 0 20px 0;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	background:#EFEFEF;
}

.result_page .result_title {
  text-align:left;
  line-height:170%;
  background:#4A849A;
  margin:0 auto;
  padding:10px 20px;
  font-size:22px;
  font-weight:bold;
  color:#FFFFFF;
}


.result_page .main {
	margin:0 auto;
	padding:50px 60px 40px 60px;
  text-align:left;
  font-size: 17px;
}

.result_page .home {
	text-align:right;
	margin:10px 10px 0 0;
}



.form_confirm_color {
  background-color: #f0f0dd;
}



/*---------------------------------

for Movie Page

---------------------------------*/

.note_text {
  font-size: 16px;
}

.note_modal {
  z-index: 10;
}



/*---------------------------------

for App Admin Page

---------------------------------*/
.table_th {
  /* width: 100px; */
}

.table_td {
  width: 400px;
}




.btn {
	/* margin: 10px 0 0 10px; */
	position: relative;
  display: inline-block;
  color: #fff;
}

.btn .badge {
	background-color: red;
	font-weight: normal;
	position: absolute!important;
	top: 0;
  left: 36px;
}

/* .btn-2x {
	font-size: 24px;
	line-height: 18px;
} */





