{% extends "common/base.html" %}

{% load i18n static %}
{% load humanize %}
{% load multiply %}
{% load gen_index %}

{% block title %}見積書複製-内容確認{% endblock title %}

{% block breadcrumbtitle %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
        <li class="breadcrumb-item">契約管理</li>
        <li class="breadcrumb-item"><a href="{% url 'contracts:estimate' %}">見積一覧</a></li>
        <li class="breadcrumb-item active">見積書複製－内容確認</li>
    </ol>
  </nav>

{% endblock breadcrumbtitle %}

{% block content %}

  <div class="row pb-5 mb-5 mt-3 estimate">
    <div class="col-6">
      <div class="card border-0 mt-0">
        
            <div class="card-body company_profile_body p-0">
                <table class="table table-bordered">
                  <tbody>
                    <h6>お見積り内容　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　単位：円</h6>
                    <colgroup>
                      <col>
                      <col>
                      <col>
                    </colgroup>
                        <tr>
                          <th scope="row" class="tr_head">サービス利用期間</th>
                          <td colspan="2">{{ estimate.start_day|date:"Y年m月d日" }}〜{{ estimate.end_day|date:"Y年m月d日" }}</td>
                        </tr>
                        <tr>
                          <th scope="row" class="tr_head">サービス名</th>
                          <td colspan="2">{{ estimate.service.name }}</td>
                        </tr>
                        <tr>
                          <th scope="row" class="tr_head">プラン名</th>
                          <td>{{ estimate.plan }}</td>
                          <td class="text-right">{{ estimate.plan.price|intcomma }}/年</td>

                        </tr>
                        
                        <tr>
                          <th scope="row"  class="tr_head">オプション</th>
                          {% if estimate.option1 or estimate.option2 or estimate.option3 or estimate.option4 or estimate.option5 %}
                            <td>
                              {% if estimate.option1 %}
                                {{ estimate.option1.name }}<br>
                              {% endif %}
                              {% if estimate.option2 %}
                                {{ estimate.option2.name }}<br>
                              {% endif %}
                              {% if estimate.option3 %}
                                {{ estimate.option3.name }}<br>
                              {% endif %}
                              {% if estimate.option4 %}
                                {{ estimate.option4.name }}<br>
                              {% endif %}
                              {% if estimate.option5 %}
                                {{ estimate.option5.name }}
                              {% endif %}
                            </td>
                            <td class="text-right">
                              {% if estimate.option1 %}
                                {{ estimate.option1.price|intcomma }}/年<br>
                              {% endif %}
                              {% if estimate.option2 %}
                                {{ estimate.option2.price|intcomma }}/年<br>
                              {% endif %}
                              {% if estimate.option3 %}
                                {{ estimate.option3.price|intcomma }}/年<br>
                              {% endif %}
                              {% if estimate.option4 %}
                                {{ estimate.option4.price|intcomma }}/年<br>
                              {% endif %}
                              {% if estimate.option5 %}
                                {{ estimate.option5.price|intcomma }}/年
                              {% endif %}
                            </td>
                          {% else %}
                            <td colspan="2">なし</td>
                          {% endif %}
                        </tr>

                        <tr>
                          <th scope="row"  class="tr_head">割引</th>
                          {% if estimate.discount and estimate.method_payment_id == 1 %}
                              {% if estimate.unit_total >= 30000 %}
                                <td>クレジットカード支払割引<br>
                                  {{ estimate.discount.name }}</td>
                                <td class="text-right">-{{ estimate.method_payment.payment_discount|intcomma }}<br>
                                -{{ estimate.discount.discount_rate|intcomma }}</td>
                              {% else %}
                                <td>{{ estimate.discount.name }}</td>
                                <td class="text-right">-{{ estimate.discount.discount_rate|intcomma }}</td>
                              {% endif %}
                        
                          {% elif estimate.method_payment_id == 1 and estimate.unit_total >= 30000 %}
                              <td>クレジットカード支払割引</td>
                              <td class="text-right">-{{ estimate.method_payment.payment_discount|intcomma }}</td>
                       
                          {% elif estimate.discount %}
                              <td>{{ estimate.discount.name }}</td>
                              <td class="text-right">-{{ estimate.discount.discount_rate|intcomma }}</td>
                          {% else %}
                              <td colspan="2">なし</td>
                          {% endif %}
                        </tr>
                  </tbody>
                </table>
                <table class="table">
                  <tbody>
                        <tr>
                          <th class="table-blank border-0"></th>
                          <th scope="row" class="tr_head tr_gray h6 border">年額利用料</th>
                          <td colspan="2" class="text-right h6 border">{{ estimate.unit_total|intcomma }}&nbsp;({{ estimate.unit_minor_total|intcomma }}/月)</td>
                        </tr>
                        <tr>
                          <th class="table-blank border-0"></th>
                          <th scope="row" class="tr_head tr_gray h6 border">小計(税抜)</th>
                          <td colspan="2" class="text-right h6 border">{{ estimate.minor_total|intcomma }}</td>
                        </tr>
                        <tr>
                          <th class="table-blank border-0"></th>
                          <th scope="row" class="tr_head tr_gray h6 border">消費税(<span class="tax-rate">10</span>%)</th>
                          <td colspan="2" class="text-right h6 border">{{ estimate.tax|intcomma }}</td>
                        </tr>
                        <tr>
                          <th class="table-blank border-0"></th>
                          <th scope="row" class="tr_head tr_gray h6 font-weight-bold border">合計(税込)</th>
                          <td colspan="2" class="text-right font-weight-bold h5 border">{{ estimate.total|intcomma }}</td>
                        </tr>
                  </tbody>
                </table>

                 
            </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col -->
  </div><!-- /.row -->


  <div class="btn-toolbar fixed-bottom p-3">  

    <div class="row mx-auto">
        <button type="button" class="btn my-btn-w11 ml-1 my-btn-cancel cancel mr-5" data-toggle="modal" data-target="#cancel_modal" onfocus="this.blur();">キャンセル</button>
        <h5 class="align-middle d-block m-2 tool-text">お見積内容をご確認の上、「複製」ボタンを押してください。</h5>
        <button type="button" class="btn my-btn-w11 mr-2 my-btn-accept text-center" onclick="location.href='{% url 'contracts:estimate_return' %}'"><span class="return2"></span>戻る</button>
        <button type="button" class="btn my-btn-w11 ml-2 my-btn-accept text-center" onclick="location.href='{% url 'contracts:estimate_copy_done' %}'"><span class="create">複製</span></button>
    </div>
  </div>

  <!-- キャンセル確認用 -->
 <div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h6>現在の入力した内容は全て破棄されます。</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" onclick="location.href='{% url 'contracts:estimate_cancel' %}'">OK</button>
        <button type="button" class="my-btn my-btn-cancel my-btn-sm my-btn-w6" data-dismiss="modal">戻る</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
