{% extends "common/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% load humanize %}
{% block title %}見積書作成 - ステップ3{% endblock title %}

{% block breadcrumbtitle %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
            <li class="breadcrumb-item">契約管理</li>
            <li class="breadcrumb-item"><a href="{% url 'contracts:estimate' %}">見積一覧</a></li>
            <li class="breadcrumb-item active">見積書作成 ― 支払い方法の選択</li>
        </ol>
    </nav>
{% endblock breadcrumbtitle %}


{% block content %}

<ul class="progressbar pt-4">
    <li class="complete">サービスの選択</li>
    <li class="complete">プランの選択</li>
    <li class="active">支払い方法の選択</li>
    <li>見積書の確認</li>
</ul>

<!-- フォーム -->
<div class="card border-0 mx-auto mt-5 pb-5">
    <h5 class="estimate-guide"><i class="fas fa-feather"></i>&nbsp;作成の流れ</h5>
    <h6 class="pt-2 py-3">
        １．ご希望のお支払方法を選択してください。<br>
        　　※&nbsp;クレジットカード支払いをご希望の場合はクレジットカード割引を適用いたします。<br>
        　　※&nbsp;クレジットカード情報未登録の場合はクレジットカード支払いを選択できません。事前にカード情報登録を行ってください。<br>
        ２．見積りの内容をご確認後、「次へ」を押してください。
    </h6>
    <!-- Form全体のバリデーション時のエラーを表示 -->
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <form action="" method="post" data-validate>{% csrf_token %}
        <div class="row mx-auto estimate">
            <div class="col-6 mb-5">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="tr_head">
                                <div class="required_box">
                                    <div class="label require_label">支払い方法</div>
                                </div>
                            </th>
                            <th>
                                <div class="">
                                    <!-- 入力フィールド -->
                                    {% if form.is_bound %}
                                        {% if form.method_payment.errors %}
                                            {% render_field form.method_payment class="form-control is-invalid" %}
                                                <div class="is_invoice_need_box">
                                                    <div class="form-inline">
                                                        {% render_field form.is_invoice_need class="form-control is-invalid" %}
                                                        <label for="id_is_invoice_need">　請求原本の郵送が必要な方はチェックしてください。</label>
                                                    </div>
                                                </div>
                                                {% for error in form.method_payment.errors %}
                                                    <div class="invalid-feedback">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                        {% else %}
                                            {% render_field form.method_payment class="form-control is-valid" %}
                                                <div class="is_invoice_need_box">
                                                    <div class="form-inline">
                                                        {% render_field form.is_invoice_need class="form-control is-valid" %}
                                                        <label for="id_is_invoice_need">　請求原本の郵送が必要な方はチェックしてください。</label>
                                                    </div>
                                                </div>
                                        {% endif %}
                                    {% else %}<!-- 初期表示 -->
                                        {% render_field form.method_payment class="form-control" %}
                                            <div class="is_invoice_need_box">
                                                <div class="form-inline">
                                                    {% render_field form.is_invoice_need class="form-control" %}
                                                    <label for="id_is_invoice_need">　請求原本の郵送が必要な方はチェックしてください。</label>
                                                </div>
                                            </div>
                                    {% endif %}
                                </div>
                            </th>
                        </tr>
                        <tr> 
                            <th class="tr_head">
                                <div class="required_box">
                                    <div class="label require_label">請求書の宛名</div>
                                </div>
                            </th>
                            <th>請求先の設定は　契約管理＞ 会社情報＞ 会社・請求先情報変更　より設定できます。<br>
                                {% if form.is_bound %}<!-- エラーがはるかな以下の判断 -->
                                    {% if form.bill_address.errors %}<!-- エラー時の表示 -->
                                        {% render_field form.bill_address class="form-control is-invalid" %}
                                            {% for error in form.bill_address.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                    {% else %}<!-- 正常時の表示 -->
                                        {% render_field form.bill_address class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}<!-- 初期表示 -->
                                    {% render_field form.bill_address class="form-control" %}
                                {% endif %}
                            </th>
                        </tr>
                        <tr>
                            <th class="tr_head">
                                <div class="option_box">
                                    <div class="label option_label">クーポン</div>
                                </div>
                            </th>
                            <th>クーポンコードを入力(見積書作成時は使用回数としてカウントされません。)<br>
                                <div class="row mt-2">
                                    <div class="col-8 pr-0">
                                        <!-- 入力フィールド -->
                                        {% if form.is_bound %}<!-- エラーがはるかな以下の判断 -->
                                            {% if form.discount.errors %}<!-- エラー時の表示 -->
                                                {% render_field form.discount class="form-control is-invalid" id="estimate_discount" %}
                    
                                                    {% for error in form.discount.errors %}
                                                        <div class="invalid-feedback">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                            {% else %}<!-- 正常時の表示 -->
                                              {% render_field form.discount class="form-control is-valid" id="estimate_discount" %}
                                            {% endif %}
                                        {% else %}<!-- 初期表示 -->
                                            {% render_field form.discount class="form-control" id="estimate_discount" %}
                                        {% endif %}
                                    </div>
                                    <div class="col-4 text-right">
                                        <button type="button" id="discount-btn" class="my-btn my-btn-sm my-btn-accept mr-1">&nbsp;&nbsp;適用&nbsp;&nbsp;</button>
                                        <button type="button" id="clear-btn" class="my-btn my-btn-cancel my-btn-sm">クリア</button>
                                    </div>
                                    <div class="pay-change ml-3 mt-1"></div>
                                </div><!--row-->
                            </th>
                        </tr>
                    </tbody>
                </table>    
            </div><!--col-->
            <div class="col-6 mb-5 py-3 estimate-preview">
                <div class='row'>
                    <div class='col'></div>
                    <div class='col text-center'>
                        <h5 class="font-weight-bold">見積プレビュー</h5>
                    </div><!--colsm-->
                    <div class='col'></div>
                </div><!--row-->
                <hr class="mt-0">
                <div class='row mt-3'>
                    <div class='col'>
                        <h6 class="font-weight-bold">サービス</h6>
                    </div><!--colsm-->
                    <div class='col'>
                        <h6>{{ service.name }}</h6>
                    </div><!--colsm-->
                    <div class='col'></div><!--colsm-->
                </div><!--row-->
                <div class='row mt-2'>
                    <div class='col'>
                        <h6 class="font-weight-bold">サービス契約開始日</h6>
                    </div><!--colsm-->
                    <div class='col'>
                        <h6>{{ estimate.start_day|date:'Y年m月d日' }}</h6>
                    </div><!--colsm-->
                    <div class='col'></div><!--colsm-->
                </div><!--row-->
                <div class='row mt-2'>
                    <div class='col'>
                        <h6 class="font-weight-bold">プラン</h6>
                    </div><!--colsm-->
                    <div class='col'>
                        <h6>{{ estimate.plan }}</h6>
                    </div><!--colsm-->
                    <div class='col pr-4 text-right'>
                        <h6 id="p_price">{{ estimate.plan.price|intcomma }}/年</h6>
                    </div><!--colsm-->
                </div><!--row-->
                <div class='row mt-2' style="height:140px;">
                    <div class='col'>
                        <h6 class="font-weight-bold">オプション</h6>
                    </div><!--colsm-->
                    <div class='col'>
                        {% if estimate.option1 or estimate.option2 or estimate.option3 or estimate.option4 or estimate.option5 %}
                            {% if estimate.option1 %}
                                <h6>{{ estimate.option1.name }}</h6>
                            {% endif %}
                            {% if estimate.option2 %}
                                <h6>{{ estimate.option2.name }}</h6>
                            {% endif %}
                            {% if estimate.option3 %}
                                <h6>{{ estimate.option3.name }}</h6>
                            {% endif %}
                            {% if estimate.option4 %}
                                <h6>{{ estimate.option4.name }}</h6>
                            {% endif %}
                            {% if estimate.option5 %}
                                <h6>{{ estimate.option5.name }}</h6>
                            {% endif %}
                        {% else %}
                            <h6>なし</h6>
                        {% endif %}
                    </div><!--colsm-->
                    <div class='col pr-4 text-right'>
                        {% if estimate.option1 %}
                            <h6 id='o_price1'>{{ estimate.option1.price|intcomma }}/年</h6>
                        {% endif %}
                        {% if estimate.option2 %}
                            <h6 id='o_price2'>{{ estimate.option2.price|intcomma }}/年</h6>
                        {% endif %}
                        {% if estimate.option3 %}
                            <h6 id='o_price1'>{{ estimate.option3.price|intcomma }}/年</h6>
                        {% endif %}
                        {% if estimate.option4 %}
                            <h6 id='o_price2'>{{ estimate.option4.price|intcomma }}/年</h6>
                        {% endif %}
                        {% if estimate.option5 %}
                            <h6 id='o_price1'>{{ estimate.option5.price|intcomma }}/年</h6>
                        {% endif %}
                    </div><!--colsm-->
                </div><!--row-->

                <div class='row mt-2' style="height:50px;">
                    <div class='col'>
                        <h6 class="font-weight-bold">割引</h6>
                    </div><!--colsm-->
                    <div class='col discount-name'>
                        <h6 class="credit-discount">クレジットカード支払割引</h6>
                    </div><!--colsm-->
                    <div class="col discount-price pr-4">
                        <h6 class=' text-right credit-discount'>-{{ estimate.method_payment.payment_discount|intcomma }}</h6>
                    </div>
                </div>
                <hr class="hr-dark">
                <div class='row'>
                    <div class='col'></div><!--colsm-->
                    <div class='col text-right'>
                        <h5 class="font-weight-bold">合計(税抜)</h5>
                    </div><!--colsm-->
                    <div class='col pr-4 text-right'>
                        <h5 id="total_price" class="font-weight-bold" data-total="{{ estimate.unit_total}}">{{ estimate.unit_total|intcomma }}/年</h5>
                        <h5 id="gen_price" class="font-weight-bold"></h5>
                    </div><!--colsm-->
                </div><!--row-->
                <div class='mt-2 text-right'>
                    <h6 class="pr-2">単位：円</h6>
                </div>
            </div><!--col-->
            <div class="btn-toolbar fixed-bottom p-3">  
                <div class="row mx-auto">
                    <button type="button" class="btn my-btn-w11 ml-1 my-btn-cancel cancel mr-5" data-toggle="modal" data-target="#cancel_modal" onfocus="this.blur();">キャンセル</button>
                    <h5 class="align-middle d-block m-2 tool-text">必須項目を入力して次へ進んでください。</h5>
                    <button type="button" class="btn my-btn-w11 mr-2 my-btn-accept text-center" onclick="location.href='{% url 'contracts:estimate_return' %}'"><span class="return2"></span>戻る</button>
                    <button type="submit" class="btn my-btn-w11 ml-2 my-btn-accept text-center" id="next-btn" disabled>次へ<span class="next"></span></button>
                </div>
            </div><!-- btn-toolbar-->
        </div><!--row-->
    </form>
</div>

<!-- レスポンス用トースト -->
<div class="position-fixed p-3" style="z-index: 2000; right: 0; bottom: 0;">
    <div id="result_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <div></div>
        </div>
    </div>
</div>

<!-- キャンセル確認用 -->
<div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6>現在の入力した内容は全て破棄されます。</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="my-btn my-btn-accept my-btn-sm my-btn-w6" onclick="location.href='{% url 'contracts:estimate_cancel' %}'">OK</button>
                <button type="button" class="my-btn my-btn-cancel my-btn-sm my-btn-w6" data-dismiss="modal">戻る</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block extra_js %}
<script>

$(function(){

    if($("[name=discount]").val()){
    
        if($("#id_method_payment_1").prop("checked")||$("#id_method_payment_0").prop("checked")){
        $('.pay-change-text').remove()
        $('#gen_price').hide();
        $('.dis-name').remove();
        $('.dis-price').remove();

        var discount_code = $('#estimate_discount').val()

        console.log('discount_code-->',discount_code)
        console.log('payment_check-->',payment_check)

        $.ajax({
            type: "POST",
            url: "{% url 'contracts:discount_check' %}",
            data: {
            'discount_code': discount_code,
            'payment_check': payment_check
            },
            dataType: 'json'
        }).done(function (data, textStatus, jqXHR) {

                console.log('データの中身',data)
                is_checked = $("#id_method_payment_1").prop("checked");

                if(data['judge']=='success'){
                console.log('成功に来た')
                $('#discount-btn').prop("disabled", true);
                $('#result_toast').on('show.bs.toast', function (e) {
                    var toast = $(this);
                    toast.find('.toast-body').removeClass('alert-danger');
                    toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
                    toast.find('.toast-body').text(data["message"]);//サーバ側から戻ってきたメッセージを表示
                });
                $('.discount-name').append('<h6 class="dis-name">'+data["coupon_name"]+'</h6>');
                discount_rate =  String(data["discount_rate"]).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                $('.discount-price').append('<h6 class="dis-price text-right">-'+ discount_rate +'</h6>');
                discount_price = Number($('.dis-price').text().replace(/[^0-9]/g, ''));
                is_checked = $("#id_method_payment_1").prop("checked");
                if(!is_checked && ttl_price >= 30000){
                    discount_ttl = String(ttl_price - discount_price -3000).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                }else{
                    discount_ttl = String(ttl_price - discount_price).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                };
                $('#gen_price').hide();
                $('#total_price').hide();
                $('#gen_price').text(discount_ttl + '/年');
                $('#gen_price').show();

                $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理

                }else{
                console.log('しっぱいにきた')
                $('#result_toast').on('show.bs.toast', function (e) {
                    var toast = $(this);
                    toast.find('.toast-body').removeClass('alert-success');//このクラスを付与して成功時の色を定義
                    toast.find('.toast-body').addClass('alert-danger');//このクラスを付与して成功時の色を定義
                    toast.find('.toast-body').text(data["message"]);//サーバ側から戻ってきたメッセージを表示
                });
                is_checked = $("#id_method_payment_1").prop("checked");
                if(!is_checked && ttl_price >= 30000){
                    $('#total_price').hide();
                    discount_ttl = String(ttl_price -3000).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                    $('#gen_price').text(discount_ttl + '/年');
                    $('#gen_price').show();
                }else{
                    $('#total_price').show();
                };
                
                $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 
                };
        }).fail(function(data, jqXHR, textStatus, errorThrown){
            console.log('failにきた')
            $('#result_toast').on('show.bs.toast', function (e) {
            var toast = $(this);
            toast.find('.toast-body').addClass('alert-danger');//このクラスを付与して成功時の色を定義
            toast.find('.toast-body').text('クーポンの確認中にエラーが発生しました。再度適用ボタンを押してください。');//サーバ側から戻ってきたメッセージを表示
            });
            $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理
        });
        }else{
        $('#result_toast').on('show.bs.toast', function (e) {
            var toast = $(this);
            toast.find('.toast-body').addClass('alert-danger');//このクラスを付与して成功時の色を定義
            toast.find('.toast-body').text('支払い方法を選択してください。');//サーバ側から戻ってきたメッセージを表示
        });
        $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理
        };
    }
    $('.credit-discount').hide();
    //初期の合計額
    ttl_price = Number($('#total_price').text().replace(/[^0-9]/g, ''));

/* ---------------------

プロモーションコード

--------------------- */
    //決済手段（初期はカード)
    var payment_check = '1';
    //クリアボタン
    $('#clear-btn').on('click',function(){
        $('#estimate_discount').val('')
        $('#discount-btn').prop("disabled", false);
    });

  // 値が入ったらボタンを有効化
    $('#discount-btn').on('click', function () {
        if($("#id_method_payment_1").prop("checked")||$("#id_method_payment_0").prop("checked")){
            $('.pay-change-text').remove()
            $('#gen_price').hide();
            $('.dis-name').remove();
            $('.dis-price').remove();

            var discount_code = $('#estimate_discount').val()

            console.log('discount_code-->',discount_code)
            console.log('payment_check-->',payment_check)

            $.ajax({
                type: "POST",
                url: "{% url 'contracts:discount_check' %}",
                data: {
                'discount_code': discount_code,
                'payment_check': payment_check
                },
                dataType: 'json'
            }).done(function (data, textStatus, jqXHR) {
                console.log('でーたもどってきた')
                console.log('データの中身',data)
                is_checked = $("#id_method_payment_1").prop("checked");

                if(data['judge']=='success'){
                    console.log('成功に来た')
                    $('#discount-btn').prop("disabled", true);
                    $('#result_toast').on('show.bs.toast', function (e) {
                        var toast = $(this);
                        toast.find('.toast-body').removeClass('alert-danger');
                        toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
                        toast.find('.toast-body').text(data["message"]);//サーバ側から戻ってきたメッセージを表示
                    });
                    $('.discount-name').append('<h6 class="dis-name">'+data["coupon_name"]+'</h6>');
                    discount_rate =  String(data["discount_rate"]).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                    $('.discount-price').append('<h6 class="dis-price text-right">-'+ discount_rate +'</h6>');
                    discount_price = Number($('.dis-price').text().replace(/[^0-9]/g, ''));
                    is_checked = $("#id_method_payment_1").prop("checked");
                    if(!is_checked && ttl_price >= 30000){
                        discount_ttl = String(ttl_price - discount_price -3000).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                    }else{
                        discount_ttl = String(ttl_price - discount_price).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                    };
                    $('#gen_price').hide();
                    $('#total_price').hide();
                    $('#gen_price').text(discount_ttl + '/年');
                    $('#gen_price').show();
                    $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理
                }else{
                    console.log('しっぱいにきた')
                    $('#result_toast').on('show.bs.toast', function (e) {
                        var toast = $(this);
                        toast.find('.toast-body').removeClass('alert-success');//このクラスを付与して成功時の色を定義
                        toast.find('.toast-body').addClass('alert-danger');//このクラスを付与して成功時の色を定義
                        toast.find('.toast-body').text(data["message"]);//サーバ側から戻ってきたメッセージを表示
                    });
                    is_checked = $("#id_method_payment_1").prop("checked");
                    if(!is_checked && ttl_price >= 30000){
                        $('#total_price').hide();
                        discount_ttl = String(ttl_price -3000).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                        $('#gen_price').text(discount_ttl + '/年');
                        $('#gen_price').show();
                    }else{
                        $('#total_price').show();
                    }; 
                    $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 
                };
            }).fail(function(data, jqXHR, textStatus, errorThrown){
                console.log('failにきた')
                $('#result_toast').on('show.bs.toast', function (e) {
                var toast = $(this);
                toast.find('.toast-body').addClass('alert-danger');//このクラスを付与して成功時の色を定義
                toast.find('.toast-body').text('クーポンの確認中にエラーが発生しました。再度適用ボタンを押してください。');//サーバ側から戻ってきたメッセージを表示
                });
                $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理
            });
        }else{
            $('#result_toast').on('show.bs.toast', function (e) {
                var toast = $(this);
                toast.find('.toast-body').addClass('alert-danger');//このクラスを付与して成功時の色を定義
                toast.find('.toast-body').text('支払い方法を選択してください。');//サーバ側から戻ってきたメッセージを表示
            });
            $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理
        };
    });
/* ---------------------

見積りプレビュー

--------------------- */
$(function()){

    // 戻るボタンで戻った時に値が入ったらボタンを有効化
    $('form[data-validate]').each(function(){
        $(this).find(':submit').prop('disabled', !this.checkValidity());
    });

    // 値が入ったらボタンを有効化
    $('form[data-validate]').on('change dp.change', function () {
        $(this).find(':submit').prop('disabled', !this.checkValidity());
    });

    // 銀行振り込み時に請求書オプションの有無
    $("input[name='method_payment']").on("change", function() {

        // 銀行振込のチェック有無確認
        is_checked = $("#id_method_payment_1").prop("checked");
        console.log('チェック有無',is_checked)

        //割引削除
        if($('.dis-name').length){
            console.log("vfjSIOV")
            $('.dis-name').remove()
            $('.dis-price').remove()
            $('#gen_price').hide();
            $('#discount-btn').prop("disabled", false)
            $('#estimate_discount').val('')
            $('.pay-change').append('<p class="pay-change-text m-0 text-danger">支払い方法が変更されました。再度クーポンコードを入力してください。</p>')
            if(!is_checked && ttl_price >= 30000){
                $('.credit-discount').show();
                payment_check = '1';
                bank_ttl = String(ttl_price - 3000).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                $(".is_invoice_need_box").hide();
                $('#total_price').hide();
                $('#gen_price').text(bank_ttl + '/年');
                $('#gen_price').show();
            }else{
                payment_check = '2';
                $('.credit-discount').hide();
                $('#total_price').show();
                $(".is_invoice_need_box").show();
            };
        }else{
            // チェックされているときのみ表示する
            if(!is_checked && ttl_price >= 30000){
                $('.credit-discount').show();
                payment_check = '1';
                bank_ttl = String(ttl_price - 3000).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                $(".is_invoice_need_box").hide();
                $('#total_price').hide();
                $('#gen_price').text(bank_ttl + '/年');
                $('#gen_price').show();
            }else{
                $('#gen_price').hide();
                $('.credit-discount').hide();
                $(".is_invoice_need_box").show();
                payment_check = '2';
                $('#total_price').show();
            }
        };

    });


    // 入力画面で画面遷移する際に確認画面を表示する。
    var checkValue = document.querySelectorAll('.form-control');
    var submitBtn = $(':submit');
    var checkFlag = false;
    var onBeforeunloadHandler = function(e) {
        var msg = 'このページから移動すると入力フォームの内容が消えます。';
        e.returnValue = msg;
    };
    var formAlert = function() {
        if(!checkFlag) {
            window.addEventListener('beforeunload', onBeforeunloadHandler);
            for(var i = 0; i < checkValue.length; i++) {
                checkValue[i].removeEventListener('input', formAlert);
                checkValue[i].removeEventListener('change', formAlert);
            }
            checkFlag = true;
        }
    };
    for(var i = 0; i < checkValue.length; i++) {
        checkValue[i].addEventListener('input', formAlert);
        checkValue[i].addEventListener('change', formAlert);
    }
    // 次へボタンの時はイベントを削除
    $(submitBtn).on("click", function() {
        window.removeEventListener('beforeunload', onBeforeunloadHandler);
    });
    $('#logout_btn').on("click", function() {
        window.removeEventListener('beforeunload', onBeforeunloadHandler);
    });

    // ブラウザの戻るボタン無効化
    history.pushState(null, null, null);
    $(window).on("popstate", function (event) {
        $('.my_alert').css('display', 'block')
        $('.my_msg').text('ブラウザの戻るボタンは使用できません。ページ内の戻るまたはキャンセルボタンをご利用ください。')
        if (!event.originalEvent.state) {
            history.pushState(null, null, null);
            return;
        }
    });
    history.forward();


   //戻るボタン用のカード選択表示
    if($('input[name="method_payment"]:checked')){
        var id = $('input[name="method_payment"]:checked').attr('id');
        if(id=="id_method_payment_0"){
            //プラン・オプションの合計
            to_p = $('#total_price').data('total')-3000;
            to_p2 =String(to_p).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
            $('.credit-discount').show();
            $('#gen_price').text(to_p2 +'/年');
            $('#total_price').hide();
            $('#gen_price').show()
        }else{
            $('.credit-discount').hide();
            $('#gen_price').hide();
            $('#total_price').show()
        };
    };

});


</script>
{% endblock %}
