{% load i18n static %}
{% load split_user_name %}
{% load split_id %}
{% load split_name %}

    <style>
        .form-check {
            text-align: left;
        }
    </style>



<!-- ユーザーを選択するためのテンプレート -->
    <div class="box28 mr-3">

        <span class="box-title">ユーザー一覧</span>

        <div class="group_list">

            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    <div>
                        <div class="d-flex form-check check_row align-items-center mb-1">
                            <input class="form-check-input" type="{{ option.type }}" name="{{ option.name }}"
                                    id="{{ option.attrs.id }}" value="{{ option.value }}" {% if option.attrs.checked %}checked{% endif %}>

                                {% comment %} <input class="form-check-input" type="{{ option.type }}" name="{{ option.label|split_name }}"
                                    id="{{ option.attrs.id }}" value="{{ option.label|split_id }}" {% if option.attrs.checked %}checked{% endif %}> {% endcomment %}
                            {% comment %} <label class="form-check-label mr-auto" for="{{ option.attrs.id }}">{{ option.label|split_user_name }}</label> {% endcomment %}
                            <label class="form-check-label mr-auto" for="{{ option.attrs.id }}">{{ option.label }}</label>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            <div id="noresults">該当するユーザーが見つかりませんでした</div>

        </div>

    </div><!-- /showmore_list -->

    <!-- ▼『もっと見る』ボタン -->
    <div class="list_toggle">
        <a href="javascript:void(0);" class="open_link" style="text-decoration:none;"></a>
    </div>