{% load i18n static %}

<style>
    .form-check {
        text-align: left;
    }

    .my-btn-outline-green-1 {
    color: #4e9a4a;
    background: transparent;
    border: 1px solid #4e9a4a;
    }
</style>



<!-- グループユーザーを選択するためのテンプレート -->

    <div class="box28 mr-3">

        <span class="box-title">グループ一覧</span>

        <div class="group_list">
            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    <div>
                        <div class="d-flex form-check check_row align-items-center mb-1">

                            <input class="form-check-input" type="{{ option.type }}" name="{{ option.name }}"
                                    id="{{ option.attrs.id }}" value="{{ option.value }}" {% if option.attrs.checked %}checked{% endif %}>

                            <label class="form-check-label mr-auto" for="{{ option.attrs.id }}">{{ option.label }}</label>

                            <a href="{% url 'training:destination_group_detail' option.value %}" class="iframe_group_member my-btn my-btn-outline-egypt-1 my-btn-xs my-btn-w5 mr-2">メンバー確認</a>
                            {% comment %} <a href="{% url 'training:customgroup_group_update' option.value %}" class="iframe_group_member2 my-btn my-btn-outline-egypt-1 my-btn-xs my-btn-w5 mr-2">メンバー編集</a> {% endcomment %}

                        </div>

                    </div>
                {% endfor %}
            {% endfor %}

            <div id="noresults">該当するグループが見つかりませんでした</div>

        </div>

    </div><!-- /showmore_list -->


    <!-- ▼『もっと見る』ボタン -->
    <div class="list_toggle">
        <a href="javascript:void(0);" class="open_link" style="text-decoration:none;"></a>
    </div>


