{% extends "common/base.html" %}

{% load i18n static %}
{% comment %} {% load is_onemonthago %} {% endcomment %}
{% load check_date %}
{% load get_contract_status %}
{% load get_contract_id %}
{% load onemonth_date %}
{% load oneweek_date %}

{% load humanize %}

{% block title %}CloudLab | ホーム{% endblock title %}

{% block breadcrumbtitle %}

    <nav aria-label="breadcrumb">  
        <div class="row p-0 mx-auto">
            <div class="col-10 p-0">
                <ol class="breadcrumb mb-1">
                    <li class="breadcrumb-item ml-2" style="width:500px;">ホーム</li>
                </ol>
            </div>
        </div>
    </nav>

{% endblock breadcrumbtitle %}

{% block content %}
    {% comment %} <script type="application/json" src="../../../node_modules/chart.js/dist/chart.js"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
    integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
    crossorigin="anonymous">
    </script>

    <div class="bg-white mb-3 p-2 mt-2" id="newsticker">
        <h6><i class="fas fa-exclamation-circle"></i> 重要なお知らせ</h6>
        <div id="carousel-ticker" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% if limit_cont or limit_est %}
                    {% if limit_cont %}
                        {% for cont in limit_cont %}
                            <div class="carousel-item active"><p class="ticker-headline"><a href="{% url 'contracts:contract' %}"><strong>{{ cont|onemonth_date:current_user|date:'Y年m月d日' }}</strong>　{{ cont }}の契約期限が1か月をきりました。更新手続きはお早めに！</a></p></div>
                        {% endfor %}
                    {% endif %}
                    {% if limit_est %}
                        {% if limit_cont %}
                            {% for est in limit_est %}
                                <div class="carousel-item"><p class="ticker-headline"><a href="{% url 'contracts:estimate' %}"><strong>{{ est|oneweek_date|date:'Y年m月d日' }}</strong>　見積書(No.{{ est }})の有効期限がまもなく終了します。お早めにダウンロードをお願い致します。</a></p></div>
                            {% endfor %}
                        {% else %}
                            {% for est in limit_est %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="{{ forloop.counter }}"><p class="ticker-headline"><a href="{% url 'contracts:estimate' %}"><strong>{{ est|oneweek_date|date:'Y年m月d日' }}</strong>　見積書(No.{{ est }})の有効期限がまもなく終了します。お早めにダウンロードをお願い致します。</a></p></div>
                            {% endfor %}    
                        {% endif %}
                    {% endif %}  
                {% else %}
                    <h6 id='no-info'>お知らせはありません</h6>
                {% endif %}  
            </div>
        </div>
    </div>

    <div class="trial_contract_reg">
        <span class="invisible"></span>
        <h4>サービス一覧</h4>
        <div class="row justify-content-between mx-auto" style="width:1376px;" >

            {% for service in services %}
                {% if service.name != 'Comming Soon' %}
                    <div class="col col-3 p-2" data-toggle="modal" href="#service_info" data-whatever='["{{service.name}}","{{service.id}}","{{service.description}}","{{ service.contract_set.all|get_contract_status:current_user }}","{{ service.contract_set.all|get_contract_id:current_user }}",{{ credit }}]' data-target='#service_info'>
                        <div class="card text-center icon">    
                            <div class="card-body" style="height:136px;">
                {% else %} 
                    <div class="col col-3 p-2">
                        <div class="card text-center " style="background:#e8e4df;">    
                            <div class="card-body" style="height:136px;">
                {% endif %}
                                <div class="row">
                                    <div class="mt-3 col-4">
                                        {% if service.number == '1' %}<!--サービスごとのアイコンをいれる-->
                                            <img src="{% static 'accounts/img/manamoa_icon.png' %}" alt="まなもあ" style="width:80px; height:80px; float:left;" class="p-0">
                                        {% elif service.number == '2' %}
                                            <img src="{% static 'accounts/img/fileup_icon.png' %}" alt="FileUp!" style="width:80px; height:80px; float:left;" class="p-0">
                                        {% elif service.number == '3' %}
                                            <img src="{% static 'accounts/img/kolette_icon2.png' %}" alt="kolette -コレッテ-" style="width:80px; height:80px; float:left;" class="p-0">
                                        {% endif %}
                                    </div>
                                    {% comment %}
                                        <div class="mb-3">
                                            {{ service.icon|safe }}
                                        </div> 
                                    {% endcomment %}
                                    <div class="col-8 m-auto">
                                        {% if service.name != 'Comming Soon' %}
                                            <h5 class="card-title m-0 font-weight-bold">{{service.name}}</h5>
                                        {% endif %}
                                    </div>
                                </div><!--row-->
                                {% comment "契約済みかどうか判断" %}{% endcomment %}
                                {% if service.contract_set.all %}
                                    {% for contract in service.contract_set.all %}    
                                        {% comment "契約日付をチェック" %}{% endcomment %}
                                        {% if contract.status == "3" or contract.status == "4" %}
                                            {% if contract.status == "3" and contract.contract_end_date.date|check_date %}
                                                <div class="ribbon17-content">
                                                <span class="ribbon17">　解約済</span>
                                                </div>
                                                <div class="text-right font-weight-bold">{{ contract.contract_end_date|date:'Y年m月d日' }}まで利用可能！</div>
                                            {% endif %}
                                        {% elif contract.status == "2" %}
                                            {% comment "利用中リボンを表示" %}{% endcomment %}
                                            <div class="ribbon17-content">
                                            <span class="ribbon17" id="using">ご契約中</span>
                                            </div>
                                        {% else %}
                                            <!--試用中のリボン-->
                                            {% if contract.status == "1" %}
                                                <div class="ribbon17-content">
                                                    <span class="ribbon17">　試用中</span>
                                                </div>
                                            {% else %}
                                                {% comment "試用終了リボン" %}{% endcomment %}
                                                <div class="ribbon17-content">
                                                    <span class="ribbon17">試用終了</span>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div><!--card-body-->
                        </div><!--card-->
                    </div><!--col-->
            {% endfor %}
        </div><!--row-->
    </div><!--trial_contract_reg-->

    {% if current_user.is_authenticated and current_user.is_active and current_user.is_staff %}
        <h4>ダッシュボード</h4>
        <div class="dashboard pb-5">
            <div class="row justify-content-between mx-auto">
                <div class="col p-2 mx-1" style="border:3px solid #ffcdb5; height:310px;">
                    <h5>全ユーザー数　　　　　　　　　　　　　サービス別利用者数</h5>
                    <div class="row pt-2">
                        <div class="col-3 text-center">
                            <img src="{% static 'common/img/user.svg' %}" style="margin-left:-120px; position:absolute;">
                            <h2 class="text-center font-weight-bold text-danger total-user" style='top:60px; position:relative;'>{{ userlist }}名</h2>
                        </div><!--col-->
                        {% for service in services %}
                            {% if service.contract_set.all %}
                                {% for contract in service.contract_set.all %}    
                                    {% if contract.status == "2" %}
                                        <div class="col-3">
                                            <div class="mx-auto chart-style">
                                                <h6 class="text-center m-0">{{service.name}}</h6>
                                                <canvas id="{% cycle "mychart1" "mychart2" "mychart3" "mychart4" "mychart5" "mychart6" "mychart7" "mychart8" %}"></canvas>
                                                <h5 class="text-center font-weight-bold text-danger mychart_caption">{{ userlist }}名<br><span style='color:black; font-size:15px;'>/50名</span></h5>
                                            </div>
                                        </div><!--col-->
                                    {% endif %}
                                {% endfor %} 
                            {% endif %} 
                        {% endfor %}
                    </div><!--row-->
                </div><!--col-->
            </div><!--roe-->
        </div><!--dashboard-->
    {% endif %}

    {% if is_more_notice %}
        <a href="{% url 'tasks:notice_lists' %}"  onclick="window.open(this.href, 'newwin', 'left=200,top=20,width=1280,height=720,toolbar=no,resizable=yes,menubar=no,scrollbars=yes'); return false;">
        <span class="grad-trigger_maintenace">もっと見る</span>
        </a>
    {% endif %}

    <!--試用申し込みモーダル用 -->
    <div class="modal fade" id="trialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-target='#trialModal'>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center mt-2">
                    <h5><span class="service-name"></span> の試用を申し込みますか？<br></h5>
                    <h6 class="py-3">
                        <span>試用期間：<span class="start_date"></span>〜<span class="end_date"></span></span>
                    </h6>
                    <p>※試用対象プランは【基本プラン】です。<br>オプションの追加、プランの変更はご利用いただけません。</p>
                    <!--情報をhiddenでPOSTで送信する-->
                    <form id="trialform" class="d-none">
                        <div class="form-group">
                            <input class="form-control" name="service" type="hidden">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="sdate" type="hidden">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="edate" type="hidden">
                        </div>
                    </form>
                </div><!--modal-body-->
                <div class="modal-footer">
                    <button type="submit" class="my-btn my-btn-accept  my-btn-w6" id="trialbutton">申し込む</button>
                    <button type="button" class="my-btn my-btn-cancel  my-btn-w6" data-dismiss="modal">キャンセル</button>
                </div><!-- /.modal-footer -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->


    <!-- レスポンス用 -->
    <div class="modal fade" id="result_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body h6">

                </div>
                <div class="modal-footer">
                    <a href="./" class="my-btn my-btn-accept my-btn-w6">OK</a>
                </div><!-- .modal-footer -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->

<!--サービス詳細モーダルオリジナル-->
    <div class="modal fade" id="service_info" tabindex="-1" aria-labelledby="service_info_title" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="text-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </div>
                        <div>
                            <h4 class="modal-title font-weight-bold text-center align-items-center" id="service_info_title">
                        </div>
                        <div class="row my-3">
                            <div class="col">
                                <h6 id="description"></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col  text-center">
                                <button type="button" class="btn btn-link btn-block" onclick="location.href='{% url 'accounts:user' %}'" style="text-decoration: none;">サービス紹介ページへ移動 <i class="fas fa-external-link-alt"></i></button>
                            </div>
                        </div>
                    </div><!-- container-fluid -->
                </div><!--modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn my-btn-accept btn-block s_5" data-target="#offerModal" data-toggle="modal" onfocus="this.blur();" id="offerbutton">申し込む</button>
                    <button type="button" class="btn my-btn-cancel btn-block s_5 trial-text" data-toggle="modal" onfocus="this.blur();" data-target="#trialModal">★ ２週間無料で試す</button>
                    <button type="button" class="btn my-btn-accept btn-block s_3" data-target="#payinfoModal" data-toggle="modal" onfocus="this.blur();" id="offerbutton">申し込む</button>
                    <button type="button" class="btn my-btn-cancel btn-block s_3 trial-text" data-toggle="modal" onfocus="this.blur();" data-target="#trialModal">★ ２週間無料で試す</button>
                    <button type="button" class="btn my-btn-accept btn-block s_1" id="change_plan">プラン・オプション変更</button>
                    <button type="button" class="btn my-btn-cancel btn-block s_1 trial-text" data-toggle="modal" id="cancel_plan" data-target="#cancellation_date_check_modal" onfocus="this.blur();">解約する</button>
                    <button type="button" class="btn my-btn-accept btn-block s_6" data-target="#offerModal" data-toggle="modal" onfocus="this.blur();" id="offerbutton">申し込む</button>
                    <button type="button" class="btn my-btn-cancel btn-block s_6 trial-text" data-toggle="modal" onfocus="this.blur();" disabled>★ ２週間無料で試す</button>
                    <button type="button" class="btn my-btn-accept btn-block s_2" data-target="#payinfoModal" data-toggle="modal" onfocus="this.blur();" id="offerbutton">申し込む</button>
                    <button type="button" class="btn my-btn-cancel btn-block s_2 trial-text" data-toggle="modal" onfocus="this.blur();" disabled>★ ２週間無料で試す</button>
                    <div class="h6 s_4 mx-auto py-1 font-weight-bold text-danger" disabled>契約期間終了までご利用いただけます</div>
                    <button type="button" class="btn my-btn-cancel btn-block s_4" disabled>★ ２週間無料で試す</button>
                </div><!--modal-footer-->
            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div><!--modal-->

    <!-- 決済案内モーダル用 -->
    <div class="modal fade" id="payinfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center mt-2">
                    <h5 class="font-weight-bold"><span class="service-name"></span> 支払い方法について</h5>
                    <h6 class="pt-4">クレジットカード支払いをご希望の場合は、事前にクレジットカード
                        情報をご登録の上、お申込み画面へお進みください。<br>
                        クレジットカードの登録は<a href="{% url 'payment:card_info' %}">こちら</a><br>
                    </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="my-btn my-btn-accept  my-btn-w8" data-target="#offerModal" data-toggle="modal" onfocus="this.blur();" id="payinfobutton">OK</button>
                </div><!-- .modal-footer -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->
    <!--見積書の選択モーダル-->
    <!-- 申し込みモーダル用 -->
    <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center mt-2">
                    <h5 class="font-weight-bold"><span class="service-name"></span> 申し込み</h5>
                    <h6 class="pt-4">お申し込みの前に見積書の作成をお願い致します。<br>
                        <input type="radio" name="offer1" class="mt-4" style="transform:scale(2.0);" value="1">　見積書を新規で作成　
                        <input type="radio" name="offer1" class="mt-4" style="transform:scale(2.0);" value="2" id="exist"><label id="exist-label">　既存の見積書を使用</label>
                    </h6>
                    <!--情報をhiddenでPOSTで送信する。 -->
                    <form id="trialform" class="d-none">
                        <div class="form-group">
                            <input class="form-control" name="service" type="hidden">
                        </div>
                    </form>
                </div><!--modal-body-->
                <div class="modal-footer">
                    {% comment %} <button type="submit" class="my-btn my-btn-accept  my-btn-w8" id="makequotebutton" disabled onclick="location.href='{% url 'contracts:estimate_step1' %}'">見積書作成</button> {% endcomment %}
                    <button type="submit" class="my-btn my-btn-accept  my-btn-w8" id="makequotebutton" disabled>見積書作成</button>
                    <button type="button" class="my-btn my-btn-cancel  my-btn-w8" data-dismiss="modal">キャンセル</button>
                </div><!-- /.modal-footer -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->

    <!-- 解約注意モーダル用 -->
    <div class="modal fade" id="cancellation_date_check_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h6 class="cancel-text"></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn my-btn-accept btn-sm my-btn-w6" id="cancellation_date_check_modal_link">解約</button>
                    <button type="button" class="btn my-btn-cancel btn-sm my-btn-w6" data-dismiss="modal">キャンセル</button>
                </div><!-- .modal-footer -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->


    <!-- レスポンス用トースト -->
    <div class="position-fixed p-3" style="z-index: 2000; right: 0; bottom: 0;">
        <div id="result_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}

    <script>
        $(document).ready(function() {
            function loadingView(flag) {
                $('#loading-view').remove();
                if(!flag) return;
                $('<div id="loading-view" />').appendTo('body');
            }
            // お知らせタブ
            // ①タブをクリックしたら発動
            $('.tab li').click(function(){
                // ②クリックされたタブの順番を変数に格納
                var index = $('.tab li').index(this);
                // ③クリック済みタブのデザインを設定したcssのクラスを一旦削除
                $('.tab li').removeClass('active');
                // ④クリックされたタブにクリック済みデザインを適用する
                $(this).addClass('active');
                // ⑤コンテンツを一旦非表示にし、クリックされた順番のコンテンツのみを表示
                $('.area ul').removeClass('show').eq(index).addClass('show');
            });

            // もっと見るボタン
            $(".grad-item").each(function(){ //ターゲット(縮めるアイテム)
                var thisHeight = $(this).height(); //ターゲットの高さを取得
                itemHeights.push(thisHeight); //それぞれの高さを配列に入れる
                $(this).addClass("is-hide"); //CSSで指定した高さにする
                returnHeight = $(this).height(); //is-hideの高さを取得
            });

            $(".grad-trigger").click(function(){ //トリガーをクリックしたら
                if(!$(this).hasClass("is-show")) {
                    var index = $(this).index(".grad-trigger"); //トリガーが何個目か
                    var addHeight = itemHeights[index]; //個数に対応する高さを取得
                    $(this).addClass("is-show").next().animate({height: addHeight},200).removeClass("is-hide"); //高さを元に戻す
                } else {
                    $(this).removeClass("is-show").next().animate({height: returnHeight},200).addClass("is-hide"); //高さを制限する
                }
            });

            //各サービス押下して詳細表示
            $('#service_info').on('show.bs.modal', function(event){
                var button = $(event.relatedTarget);
                var service = button.data('whatever');
                var modal = $(this);
                // 詳細モーダル内のボタンにコントラストidを付与
                var contract_id =  service[4];
                $('#change_plan').attr("data-contract", contract_id);
                $('#cancel_plan').attr("data-cont", contract_id);
                modal.find('.modal-title',).text(service[0]); 
                modal.find('#description').text(service[2]);
                //ステータスでボタン振り分け
                if(service[3]=='None'){
                    $('.s_1,.s_2,.s_4,.s_6').hide();
                    //試用ボタン
                    if(service[5]){
                        $('.s_3').hide();
                        $('.s_5').show();
                    }else{
                        $('.s_5').hide();
                        $('.s_3').show();
                    }
                
                }else if(service[3]=='2'){
                    $('.s_2,.s_3,.s_4,.s_5,.s_6').hide();
                    //プラン変更・解約
                    $('.s_1').show();
                }else{
                    if(service[3]=='3'){
                        $('.s_1,.s_2,.s_3').hide();
                        //解約
                        $('.s_4').show();
                    }else{
                        $('.s_1,.s_3,.s_4,.s_5').hide();
                        //通常申込み
                        if(service[5]){
                        $('.s_2').hide();
                        $('.s_6').show();
                        }else{
                        $('.s_6').hide();
                        $('.s_2').show();
                        }
                    };
                };
                $('#trialModal').find('.service-name').text(service[0]);
                $('input[name="service"]').attr('value', service[1]);

                $('#offerModal').find('.service-name').text(service[0]);
            });


            // 　試用ボタンをクリックでモーダル表示
            $('#trialModal').on('show.bs.modal', function (event) {
                $('#service_info').modal('hide');
                //var button = $(event.relatedTarget) // モーダル切替えボタン
                //var service = button.data('trial') // data-* 属性から情報を抽出
                
                // 必要に応じて、ここでAJAXリクエストを開始可能（コールバックで更新することも可能）
                // モーダルの内容を更新。ここではjQueryを使用するが、代わりにデータ・バインディング・ライブラリまたは他のメソッドを使用することも可能
                var modal = $(this)
                // 試用ボタンに定義した配列データ(サービス名とサービスID)を取得してモーダルとinputフォームのnameにセット
                //modal.find('.service-name').text(service1[0])
                //$('input[name="service"]').attr('value', service1[1]);
                var now = moment();
                // 日付をフォーマット
                day = now.format('YYYY/MM/DD');
                after2week = now.add(14, 'days').format('YYYY/MM/DD');
                // 取得した日付をモーダル上に表示
                modal.find('.start_date').text(day)
                modal.find('.end_date').text(after2week)

                // 取得した日付をinputフォームのnameにセット(POST送信のため)
                $('input[name="sdate"]').attr('value', day);
                $('input[name="edate"]').attr('value', after2week);
            })

            // 試用ボタンをクリックでPOST送信
            $('#trialbutton').click(function() {
                var service = $('input[name="service"]').val();
                var start_date = $('input[name="sdate"]').val();
                var end_date = $('input[name="edate"]').val();

                var data = { service : service, start_date : start_date, end_date : end_date };

                $.ajax({
                    type: "POST",
                    url: "{% url 'contracts:trial_contract_reg' %}",
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_created) {
                            // モーダルの表示
                            $('#result_modal').on('show.bs.modal', function (e) {
                                var modal = $(this);
                                modal.find('.modal-body').text(data.messages);
                            });
                            $('#result_modal').modal('show')
                        }
                    }
                });
                $('#trialModal').modal('hide');
            });

            var data = ""
            $('#payinfoModal').on('show.bs.modal', function(e){
                $('#service_info').modal('hide');
            });
            //申し込みボタンで見積選択へ
            $('#offerModal').on('show.bs.modal', function(e){
                $('#service_info').modal('hide');

                $('#payinfoModal').modal('hide');

                var service = $('input[name="service"]').val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'contracts:estimate_collation' %}",
                    data: {
                        'service': service
                    },
                    dataType: 'json',
                    success: function (data) {
                        data = data
                        // モーダルの表示
                        if(data['judge'] == 'nonexist'){
                            $("#exist").hide();
                            $('#exist-label').hide();
                        }else{
                        $('input[name="offer1"]').removeAttr('disabled');
                            $("#exist").show();
                            $('#exist-label').show();
                        };
                        $('#offerModal').modal('show');
                    }
                });
            });

            $('[name="offer1"]').on('change', function() {
                document.getElementById('makequotebutton').disabled=false;
            });
            
            $('#change_plan').click(function(){  
                var contract = $(this).data('contract');
                window.location.href = '/change_contract_1/' + contract;
            });

            $('#makequotebutton').click(function(){
                //サービス番号をステップ1へ送る
                var service_id = $('input[name="service"]').val();
                if($('[name=offer1]:checked').val() == 1){
                    window.location.href = '/offer_step1/'+ service_id +'/';
                }else{
                    window.location.href = '/select_estimate/'+ service_id +'/';
                };
            });

            var ctx1 = document.getElementById('mychart1');
            if(ctx1){
                var myChart1 = new Chart(ctx1, {
                    type: 'doughnut',
                    data: {
                        //データ項目のラベル
                        //labels: ['登録数','残登録可能数'],
                        
                        //データセット
                        datasets: [{
                        //凡例
                        label: "ユーザー数",
                        //背景色
                        backgroundColor: ['#6495ed', '#ccc2b8'],
                        //円弧の開始角度
                        rotation: 0,
                        //円弧の終了角度
                        circumference: 360,
                        //グラフのデータ
                        data: ['{{ userlist }}',100-'{{ userlist }}'],
                        }],
                    },
                });
            };
            var ctx2 = document.getElementById('mychart2');
            if(ctx2){
                var myChart2 = new Chart(ctx2, {
                    type: 'doughnut',
                    data: {
                        //データ項目のラベル
                        //labels: ['登録数','残登録可能数'],
                        //データセット
                        datasets: [{
                        //凡例
                        label: "ユーザー数",
                        //背景色
                        backgroundColor: ['#ffa500', '#ccc2b8'],
                        //円弧の開始角度
                        rotation: 0,
                        //円弧の終了角度
                        circumference: 360,
                        //グラフのデータ
                        data: ['{{ userlist }}',100-'{{ userlist }}'],
                        }],
                    },
                });
            };
            var ctx3 = document.getElementById('mychart3');
            if(ctx3){
                var myChart3 = new Chart(ctx3, {
                    type: 'doughnut',
                    data: {
                        //データ項目のラベル
                        //labels: ['登録数','残登録可能数'],
                        //データセット
                        datasets: [{
                        //凡例
                        label: "ユーザー数",
                        //背景色
                        backgroundColor: ['#87ceeb', '#ccc2b8'],
                        //円弧の開始角度
                        rotation: 0,
                        //円弧の終了角度
                        circumference: 360,
                        //グラフのデータ
                        data: ['{{ userlist }}',100-'{{ userlist }}'],
                        }],
                    },
                });
            };
            var ctx4 = document.getElementById('mychart4');
            if(ctx4){
                var myChart4 = new Chart(ctx4, {
                    type: 'doughnut',
                    data: {
                        //データ項目のラベル
                        //labels: ['登録数','残登録可能数'],
                        //データセット
                        datasets: [{
                        //凡例
                        label: "ユーザー数",
                        //背景色
                        backgroundColor: ['#ffa500', '#ccc2b8'],
                        //円弧の開始角度
                        rotation: 0,
                        //円弧の終了角度
                        circumference: 360,
                        //グラフのデータ
                        data: ['{{ userlist }}',100-'{{ userlist }}'],
                        }],
                    },
                });
            };
            var ctx5 = document.getElementById('mychart5');
            if(ctx5){
                var myChart5 = new Chart(ctx5, {
                    type: 'doughnut',
                    data: {
                        //データ項目のラベル
                        //labels: ['登録数','残登録可能数'],
                        //データセット
                        datasets: [{
                        //凡例
                        label: "ユーザー数",
                        //背景色
                        backgroundColor: ['#ffa500', '#ccc2b8'],
                        //円弧の開始角度
                        rotation: 0,
                        //円弧の終了角度
                        circumference: 360,
                        //グラフのデータ
                        data: ['{{ userlist }}',100-'{{ userlist }}'],
                        }],
                    },
                });
            };
            var ctx6 = document.getElementById('mychart6');
            if(ctx6){
                var myChart6 = new Chart(ctx6, {
                    type: 'doughnut',
                    data: {
                        //データ項目のラベル
                        //labels: ['登録数','残登録可能数'],
                        //データセット
                        datasets: [{
                        //凡例
                        label: "ユーザー数",
                        //背景色
                        backgroundColor: ['#98fb98', '#ccc2b8'],
                        //円弧の開始角度
                        rotation: 0,
                        //円弧の終了角度
                        circumference: 360,
                        //グラフのデータ
                        data: ['{{ userlist }}',100-'{{ userlist }}'],
                        }],
                    },
                });
            };
            var ctx7 = document.getElementById('mychart7');
            if(ctx7){
                var myChart7 = new Chart(ctx7, {
                    type: 'doughnut',
                    data: {
                        //データ項目のラベル
                        //labels: ['登録数','残登録可能数'],
                        //データセット
                        datasets: [{
                        //凡例
                        label: "ユーザー数",
                        //背景色
                        backgroundColor: ['#fffacd', '#ccc2b8'],
                        //円弧の開始角度
                        rotation: 0,
                        //円弧の終了角度
                        circumference: 360,
                        //グラフのデータ
                        data: ['{{ userlist }}',100-'{{ userlist }}'],
                        }],
                    },
                });
            };
            var ctx8 = document.getElementById('mychart8');
            if(ctx8){
                var myChart8 = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        //データ項目のラベル
                        //labels: ['登録数','残登録可能数'],
                        //データセット
                        datasets: [{
                        //凡例
                        label: "ユーザー数",
                        //背景色
                        backgroundColor: ['#ee82ee', '#ccc2b8'],
                        //円弧の開始角度
                        rotation: 0,
                        //円弧の終了角度
                        circumference: 360,
                        //グラフのデータ
                        data: ['{{ userlist }}',100-'{{ userlist }}'],
                        }],
                    },
                });
            };
            /*==========
            解約
            ===========*/
            $('#cancellation_date_check_modal').on('show.bs.modal', function (event) {
            $('#service_info').modal('hide');
            var service = $('input[name="service"]').val();
            var modal = $(this);

            // 契約期間内の場合
            if ('#using') {
                modal.find('.cancel-text').text("契約期間内ですが解約しますか？");
            // 契約期間外の場合
            } else {
                modal.find('.cancel-text').text("解約する");
            };

            // ストレージサービスの場合のメッセージ
            switch( service ) {
                case 'd23a1501919d4afaad641fa06a81277b':
                modal.find('.modal-body').append("<br>ストレージ上のデータが全て消去されますがよろしいですか？");
                break;
            };

            $("#cancellation_date_check_modal_link").on("click", function (event) {
                
                $('#cancellation_date_check_modal').modal('hide');
                var contract_id = $('#cancel_plan').data('cont');

                // 処理前に Loading 画像を表示
                loadingView(true);

                $.post("{% url 'payment:cancellation'%}",
                    {"contract_id" : contract_id}

                ).done(function(data){
                    // モーダルの表示
                    $('#result_modal').on('show.bs.modal', function (e) {
                        var modal = $(this);
                        modal.find('.modal-body').text(data.message);
                    })
                    $('#result_modal').modal('show')
                    $("#result_modal_link").attr("onclick", "window.location.reload();")

                }).always(function(data){
                    // 処理後に Loading 画像を削除
                    loadingView(false);
                }); 
            });
        });
    });
    </script>
{% endblock %}
