{% extends "common/base.html" %}

{% load i18n static %}

{% block extra_css %}{% endblock %}

{% block content %}
<div class="container login">

  <div class="card card-login mx-auto mt-5">
    <div class="card-header">ログイン</div>
    <div class="card-body">
      <form action="" method="POST">
        {% for error in form.non_field_errors %}
        <p class="errornote">
          {{ error }}
        </p>
        {% endfor %}


        {% for field in form %}
        <div class="form-group">
          {{ field }}
          {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block" onfocus="this.blur();">ログイン</button>
        {% csrf_token %}
      </form>
      {% comment %} <a href="{% url 'accounts:user_registration' %}" class="btn btn-success btn-block for_first" onfocus="this.blur();">初めてご利用の方</a> {% endcomment %}
      {% comment %} <a href="#" class="btn btn-success btn-block for_first" onfocus="this.blur();">初めてご利用の方</a> {% endcomment %}
      {% comment %} <span class="environ_link hidden"><a class="forget_password"href="{% url 'manager:password_reset' %}"><i class="fas fa-chevron-circle-right"></i> パスワードを忘れた方</a></span> {% endcomment %}
      {% comment %} <span class="environ_link hidden"><a class="forget_password"href="#"><i class="fas fa-chevron-circle-right"></i> パスワードを忘れた方</a></span> {% endcomment %}
      {% comment %} <span class="environ_link hidden"><a class="iframe_op_environ" href="{% url 'manager:op_environ' %}"><i class="fas fa-chevron-circle-right"></i> 動作環境</a></span> {% endcomment %}

    </div>  <!-- end card-body -->
  </div>  <!-- end card -->

    <span class="copyright">© Cloud Lab G.K.</span>

</div> <!-- end container -->


{% endblock %}

{% block extra_js %}

<script>
  $(document).ready(function() {
    $(".iframe_op_environ").colorbox({iframe:true, width:"760px", height:"350px"});
  });
</script>

{% endblock %}
