{% extends "common/base.html" %}

{% load i18n static %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}
お問い合わせ
{% endblock title %}

{% block breadcrumbtitle %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
    <li class="breadcrumb-item active">お問い合わせ</li>
  </ol>
</nav>

{% endblock breadcrumbtitle %}

{% block extra_css %}{% endblock %}

{% block content %}
<div class="container user p-0 pb-5">
    <form method="POST" validate data-validate>
        {% csrf_token %}

        <!-- Form全体のバリデーション時のエラーを表示 -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
        {% endif %}

        <table class="table table-sm table-bordered mb-5">
            <h6 class="mb-3">
                {% comment %} ・よくあるご質問・問い合わせに関しては<a href="{% url 'accounts:help' %}">こちら</a>のヘルプページをご覧ください。<br> {% endcomment %}
                <span style="color:red">・デモ環境ではお問い合わせの送信はできません。</span><br>
                ・内容によりましては、ご返信いたしかねる場合がございます。あらかじめご了承ください。
            </h6>
            <tbody>
                <tr>
                    <th class="tr_head">
                      <div>
                        <div class="label option_label">メールアドレス</div>
                      </div>
                    </th>
                    <th>
                        {{ user.email }}
                    </th>
                </tr>
                <tr>
                    <th class="tr_head">
                      <div>
                        <div class="label option_label">お名前</div>
                      </div>
                    </th>
                    <th>
                        {% if user.company.middle_choice2 == '1' %}
                            {% if user.middle_name %}
                                {{ user.first_name }} {{ user.middle_name }} {{user.last_name}}
                            {% else %}
                                {{ user.last_name }} {{ user.first_name }}
                            {% endif %}
                        {% else %}
                            {{ user.last_name }} {{ user.first_name }}
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th class="tr_head">
                      <div class="required_box">
                        <div class="label require_label">お問い合わせ種類</div>
                      </div>
                    </th>
                    <th>
                      <!-- 入力フィールド -->
                      {% if form.is_bound %}<!-- エラーがはるかな以下の判断 -->

                        {% if form.c_about.errors %}<!-- エラー時の表示 -->
                          <small>下記の項目から選択してください。</small>
                          {% render_field form.c_about class="form-control is-invalid" %}
                          {% for error in form.c_about.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                          {% endfor %}
                        {% else %}<!-- 正常時の表示 -->
                          <small>下記の項目から選択してください。</small>
                          {% render_field form.c_about class="form-control is-valid" %}
                        {% endif %}

                      {% else %}<!-- 初期表示 -->
                        <small>下記の項目から選択してください。</small>
                          {% render_field form.c_about class="form-control" %}
                      {% endif %}
                    </th>
                </tr>
                <tr>
                    <th class="tr_head">
                      <div class="required_box">
                        <div class="label require_label">件名(50文字以内)</div>
                      </div>
                    </th>
                    <th>
                      <!-- 入力フィールド -->
                      {% if form.is_bound %}<!-- エラーがはるかな以下の判断 -->

                      {% if form.c_subject.errors %}<!-- エラー時の表示 -->
                        <small>50文字以内で入力してください。</small>
                        {% render_field form.c_subject class="form-control is-invalid" %}
                        {% for error in form.c_subject.errors %}
                          <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
                      {% else %}<!-- 正常時の表示 -->
                        <small>50文字以内で入力してください。</small>
                        {% render_field form.c_subject class="form-control is-valid" %}
                      {% endif %}

                      {% else %}<!-- 初期表示 -->
                        <small>50文字以内で入力してください。</small>
                        {% render_field form.c_subject class="form-control" %}
                      {% endif %}
                    </th>
                </tr>
                <tr>
                    <th class="tr_head">
                      <div class="required_box">
                        <div class="label require_label">お問い合わせ内容</div>
                      </div>
                    </th>
                    <th>
                      <!-- 入力フィールド -->
                      {% if form.is_bound %}<!-- エラーがはるかな以下の判断 -->

                      {% if form.c_message.errors %}<!-- エラー時の表示 -->
                        {% render_field form.c_message class="form-control is-invalid" %}
                        {% for error in form.c_message.errors %}
                          <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
                      {% else %}<!-- 正常時の表示 -->
                        {% render_field form.c_message class="form-control is-valid" %}
                      {% endif %}

                      {% else %}<!-- 初期表示 -->
                        {% render_field form.c_message class="form-control" %}
                      {% endif %}
                    </th>
                </tr>
            <tbody>
        </table>
        <div class="btn-toolbar fixed-bottom p-3 align-middle">
            <div class="row mx-auto">
                <h5 class="align-middle d-block m-2 tool-text">必須項目を入力後、送信ボタンが表示されます。</h5>
                <button type="button" class="btn my-btn-w11 mr-3 my-btn-cancel cnl" onclick="location.href='{% url 'training:training' %}'">キャンセル　</button>
                <button type="button" class="btn my-btn-accept my-btn-w11 arrow" disabled>送信　</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(function(){
  // 戻るボタンで戻った時に値が入っていたらボタンを有効化
  $('form[data-validate]').each(function(){
    $(this).find(':submit').prop('disabled', !this.checkValidity());
  });
  //  必須項目の入力を確認してボタンを有効化
  $('form[data-validate]').on('input change',function(){
    $(this).find(':submit').prop('disabled', !this.checkValidity());
  });
});
</script>
{% endblock %}

