{% extends "common/base.html" %}
{% load i18n static %}


{% block content %}

    <div class="container-fluid result_page mb-5">


        <div class="out">


            <div class="result_title">お使いのブラウザは対応しておりません。</div>
            <div class="main">
                <div>EdgeまたはChromeをお使いください。</div>
            </div>


            <div class="home">
                <button type="button" class="my-btn my-btn-gray-2 my-btn-w8 close_test" onClick="window.open('about:blank', '_self').close()"><span>画面を閉じる</span></button>
            </div>

        </div>


    </div>

{% endblock %}


{% block extra_js %}
<script>

$(document).ready(function() {

    $('.close_test').on('click', function() {
        window.opener.location.reload();
    });

});
</script>


{% endblock %}
