{% extends "common/base.html" %}

{% load i18n static %}
{% load widget_tweaks %}

{% block title %}パスワード変更{% endblock %}

{% comment %} {% block breadcrumbtitle %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
        <li class="breadcrumb-item active">パスワード変更</li>
    </ol>
  </nav>

{% endblock breadcrumbtitle %} {% endcomment %}


{% block content %}
<link rel="stylesheet" href="{% static 'common/css/validate.css' %}">
<div class="container user">
  <div class="card card-login border-0 mt-2 mx-auto">
    <div class="card-body user_passwd_change_for_self">

      <form method="post" novalidate class="password_form">
        {% csrf_token %}

        <!-- Form全体のバリデーション時のエラーを表示 -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
        {% endif %}



        <!-- 元のパスワード -->
        <div class="form-group">
          <!-- ラベル -->
          <div class="label">元のパスワード</div>
          <!-- 入力フィールド -->
          {% render_field form.old_password class="form-control" placeholder=form.old_password.label id="id_old_password" %}
          <!-- エラー表示 -->
          {{form.old_password.errors}}
        </div>

        <!-- パスワード -->
        <div class="form-group">
          <!-- ラベル -->
          <div class="label">パスワード</div>
          <!-- 入力フィールド -->
          {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label id="user-password1" %}
          <!-- エラー表示 -->
          {{form.new_password1.errors}}
        </div>

        <!-- パスワードの確認 -->
        <div class="form-group">
          <!-- ラベル -->
          <div class="label">パスワード(確認用)</div>
          <!-- 入力フィールド -->
          {% render_field form.new_password2 class="form-control" placeholder=form.new_password2.label id="user-password2" %}
          <!-- エラー表示 -->
          {{form.new_password2.errors}}
        </div>

        <div id="pm-indicator"></div>
        <small class="form-text text-muted">パスワード判定が「OK」となる、8文字以上の半角英数字や記号を組み合わせて入力してください</small>



        <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-block" onfocus="this.blur();" style="background:#294a6a;">変更</button>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'training:training' %}" class="btn my-btn-cancel btn-block" onfocus="this.blur();">キャンセル</a>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'common/js/validate.js' %}"></script>
{% endblock %}