{% extends "common/base.html" %}

{% load i18n static %}

{% block extra_css %}パスワード変更完了{% endblock %}

{% comment %} {% block breadcrumbtitle %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
            <li class="breadcrumb-item active">パスワード変更完了</li>
        </ol>
    </nav>
{% endblock breadcrumbtitle %} {% endcomment %}


{% block content %}
    <div class="container">
        <div class="container mx-auto py-0 text-center pt-5">
            <h6>
                パスワード変更が完了しました。
            </h6>
            <button type="button" class="btn my-btn-w13 mr-3 mt-2 my-btn-accept text-align-center" onclick="location.href='{% url 'training:training' %}'">トレーニングへ戻る</button>
        </div>
    </div>

{% endblock %}
