{% extends "common/base.html" %}

{% load i18n static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block title %}
一括削除
{% endblock title %}

{% block breadcrumbtitle %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">ホーム</a></li>
    <li class="breadcrumb-item">ユーザー管理</li>
    <li class="breadcrumb-item active">一括削除</li>
  </ol>
</nav>

{% endblock breadcrumbtitle %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div id="validation-error"></div>
{% comment %} <div class="container bulk"> {% endcomment %}
  <div class="card  border-0 mt-1">
    <h5 class="bulk-guide"><i class="fas fa-mouse-pointer"></i>&nbsp;操作方法</h5>
    <h6 class="pt-2">
      １．削除したいユーザーのメールアドレスを以下に入力してください。<br>
      　　※&nbsp;1行につき1つのメールアドレスを入力してください。<br>
      　　※&nbsp;1回につき50件まで一括削除することができます。<br>
      ２．確認ボタンを押してデータを照合後、削除ボタンを押してください。
    </h6>

    <h5 class="text-danger invisible" id="maxlineinfo">1回で削除できる件数は50件までです。</h5>

    <form method="POST" enctype="multipart/form-data">
      <!-- メールアドレスの入力フォーム -->
      <div class="form-group">
          {% render_field form.del_email class="lined" id='del_email' %}

          <!-- エラー表示 -->
          {{form.del_email.error }}
      </div>
      {% csrf_token %}
    </form>

  </div><!--card-->
{% comment %} </div><!--container--> {% endcomment %}
<h5 class="error_msg text-danger ml-2 invisible">以下のユーザーが存在しません。入力しなおしてください。</h5>
<div class="error_list"></div>

  <!-- 確認ボタン -->
  <div class="btn-toolbar fixed-bottom p-3 align-middle">  
    <div class="row mx-auto">
      <h5 class="align-middle d-block m-2 tool-text">確認ボタンを押してデータ照合後、削除ボタンが表示されます。</h5>
      <button type="button" class="btn my-btn-w11 mr-3 my-btn-cancel cancel" onclick="location.href='{% url 'accounts:user' %}'">キャンセル</button>
      <button type="button" id="dataCheck" class="btn my-btn-w11 bar_button_r mr-1 my-btn-accept check" disabled>確認&nbsp;</button>
    </div><!--row-->
  </div><!--btn-toolbar-->

  <!-- 確認から削除 -->
  <div class="modal fade" id="delModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" id="del_modal_btn" class="btn btn-sm my-btn-w8 my-btn-accept">削除</button>
          <button type="button" id="del_cansel_btn" class="btn btn-sm my-btn-w8 my-btn-cancel" data-dismiss="modal">キャンセル</button>

        </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- 削除ボタン押下後 -->
  <div class="modal fade" id="deletedModal" tabindex="-1" aria-labelledby="deletedModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn my-btn-cancel btn-sm my-btn-w8" data-dismiss="modal">閉じる</button>
        </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- レスポンス用トースト -->
  <div class="position-fixed p-3" style="z-index: 2000; right: 0; bottom: 0;">
    <div id="result_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <div>
                
            </div>
        </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}

<script>

$(function() {
    $(".lined").linedtextarea();

  // 入力できる行数の最大値
  let MAX_LINE_NUM = 50;

  //入力ごとに呼び出されるイベントを設定
  $("#del_email").on('input',function(){

    //各行を配列の要素に分ける
    let lines = $(this).val().split("\n");

    //入力行数が制限を超えた場合
    if (lines.length > MAX_LINE_NUM) {
      $("#maxlineinfo").removeClass("invisible");
      var result = "";

      for (var i = 0; i < MAX_LINE_NUM; i++) {
        result += lines[i] + "\n";
      }

      $(this).val(result)
    }else{
      $("#maxlineinfo").addClass("invisible");
    }
  });

    //メアド入力したら角煮ボタン有効化
    $('[name=del_email]').on('input change', function () {
        if ($(this).val() != '') {
          $('#dataCheck').prop('disabled', false);
        }else{
          $('#dataCheck').prop('disabled', true);
        }
    });

    // 確認ボタンを押下した場合、Ajaxで送信
    $('#dataCheck').on('click', function() {
      //エラーリストを初期化
        $('.e_list').remove();

      // 入力値を取得
      var del_email = $('[name=del_email]').val();
      $.ajax({
        type: "POST",
        url: "{% url 'bulk:test_delete' %}",
        data: {
          'id': del_email
        },
        dataType: 'json'
      }).done(function(data, textStatus, jqXHR) {
        // テストのコールバック
        $('#delModal').on('show.bs.modal', function (e) {
          var modal = $(this).find('.modal-body');
          modal.html('<h6>' + data["messages"] + '</h6>');
        });
        //データ照合成功
        if(data["judge"] == 'SUCCESS'){
          $('#del_modal_btn').prop('hidden',false);
          $(".error_msg").addClass("invisible");
          $('.error_list').addClass("invisible");
          $('#delModal').modal('show');
          // 削除ボタンを押下した場合、Ajaxで送信
          $('#del_modal_btn').on('click', function() {
            $('#delModal').modal('hide');
            $.ajax({
              type: "POST",
              url: "{% url 'bulk:delete' %}",
              data: {
                'id': del_email
              },
              dataType: 'json'
            }).done(function(data, textStatus, jqXHR) {
              // 成功時のコールバック
              //$('#deletedModal').on('show.bs.modal', function (e) {
                //var modal = $(this);
                //modal.find('.modal-body').html('<h6>' + "ユーザーの一括削除が完了しました。" + '</h6>');
              //});
              //$('#deletedModal').modal('show');
              $('#result_toast').on('show.bs.toast', function (e) {
                var toast = $(this);
                toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
                toast.find('.toast-body').text("ユーザーの一括削除が完了しました。");//サーバ側から戻ってきたメッセージを表示
              });
              $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 
            }).fail(function(data, jqXHR, textStatus, errorThrown ) {
              // 失敗時のコールバック
              //$('#deletedModal').on('show.bs.modal', function (e) {
                //var modal = $(this).find('.modal-body');
                //modal.html('<h6>' + data["messages"] + '</h6>');
              //});
              //$('#deletedModal').modal('show');
              $('#result_toast').on('show.bs.toast', function (e) {
                var toast = $(this);
                toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
                toast.find('.toast-body').text(data["messages"]);//サーバ側から戻ってきたメッセージを表示
              });
              $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 
            });
          });
          //キャンセルボタン押した場合
          $('#del_cansel_btn').on('click', function() {
            $('#delModal').modal('hide');
            $('[name=del_email]').val("");
            $('#result_toast').on('show.bs.toast', function (e) {
              var toast = $(this);
              toast.find('.toast-body').addClass('alert-success');//このクラスを付与して成功時の色を定義
              toast.find('.toast-body').text('一括削除を中止しました');//サーバ側から戻ってきたメッセージを表示
            });
            $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理 
          });
        //データ存在しないなどのエラー
        }else{
          $('#del_modal_btn').prop('hidden',true);
          $(".error_msg").addClass("invisible");
          
          console.log('りすときてっる',data['error_email_list'])
          if($(data['error_email_list']).length > 0){
            $(".error_msg").removeClass("invisible");
            for(var i=0; i<$(data['error_email_list']).length;){
              var j = i+1;
              $('.error_list').append('<h5 class="ml-2 e_list">' + j + '行目：' + data["error_email_list"][i] + '</h5>');
              i++;
            };
          };
          $('#result_toast').on('show.bs.toast', function (e) {
            console.log('データ存在しないエラーすすんだ',data)
            var toast = $(this);
            toast.find('.toast-body').addClass('alert-danger');//このクラスを付与して表示色定義
            toast.find('.toast-body').text(data["messages"]);//サーバ側から戻ってきたメッセージを表示
            //toast.find('.toast-body').text(でーたそんざいしません);//サーバ側から戻ってきたメッセージを表示

          });
          $('#result_toast').toast({ delay: 5000, animation: true }).toast('show'); //表示処理
          //$('#delModal').modal('show');
        }; 
      }).fail(function(data, jqXHR, textStatus, errorThrown ) {

          // 失敗時のコールバック
          //$('#delModal').on('show.bs.modal', function (e) {
            //var modal = $(this).find('.modal-body');
            //modal.html('<h6>' + data["messages"] + '</h6>');
          //});
          $(".error_msg").addClass("invisible");
          console.log('エラーでてるここ333',data)

          $('.error_list').addClass("invisible");
          console.log('エラーでてるここ444')

          //$('#del_modal_btn').prop('hidden',true);
          //$('#delModal').modal('show');
          $('#result_toast').on('show.bs.toast', function (e) {
            console.log('エラーでてるここ555',data['messages'])

            var toast = $(this);
            toast.find('.toast-body').addClass('alert-danger');
            console.log('エラーでてるここ666',data['messages'])
            //toast.find('.toast-body').text("でーたそんざいしません");//サーバ側から戻ってきたメッセージを表示

            toast.find('.toast-body').text(data['messages']);
            console.log('エラーでてるここ777')

          });
          $('#result_toast').toast({ delay: 5000, animation: true }).toast('show');
      });
    });
});

</script>

{% endblock %}