{% for group, options, index in widget.optgroups %}

    {% for option in options %}

        <div class="form-check form-check-inline check_row">
            <input class="form-check-input" type="{{ option.type }}" name="{{ option.name }}"
                   id="{{ option.attrs.id }}" value="{{ option.value }}" data-row_index="{{ option.index }}" data-label="{{ option.label }}" {% if option.attrs.checked %}checked{% endif %}>

            <label class="form-check-label service_checkbox_label" for="{{ option.attrs.id }}">
              {{ option.label }}
            </label>

        </div>

    {% endfor %}

{% endfor %}

{% block extra_js %}
{% endblock %}
