
{% load index %}


{% comment %} {% with item=choice|index:widget.index %} {% endcomment %}
    <div class="col-md-3 ">
        <div class="panel purpose panel-default {% if widget.attrs.checked %}panel-primary{% endif %}"
             style="cursor: pointer;">
            <div class="panel-heading ">
<!--    this is the standard for the checkbox from django . i suggest to hide this in the class-->
<!--              the click on the div .panel checks the checbox (see js)  -->
                <input type="checkbox"
                       name="{{ widget.name }}"
                        {% if widget.value != None %}
                       value="{{ widget.value|stringformat:'s' }}"
                        {% endif %}
                {% for name, value in widget.attrs.items %}{% if value is not False %}
                    {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}
                {% endif %}{% endfor %}/>
            </div>
            <div class="panel-body">
                {{ widget.label }}
            </div>
        </div>
    </div>
{% comment %} {% endwith %} {% endcomment %}