{% load get_value %}


        {% comment %} {{widget.optgroups}}???? {% endcomment %}



{% comment %} {% for group, options, index in widget.optgroups %} {% endcomment %}
    {% comment %} {% for option in options %} {% endcomment %}
        {% comment %} {{ options }} {% endcomment %}
        {% comment %} {{option.value}} {% endcomment %}
        {% comment %} {% with choice_id=option.label %} {% endcomment %}
            {% comment %} {{choice_id}} {% endcomment %}
            {% comment %} {{choices|get_question_obj:option.label}} {% endcomment %}
            {% comment %} {% with question_obj=choices|get_question_obj:option.label %} {% endcomment %}
            {% comment %} {% endwith %} {% endcomment %}

        {% comment %} {% endwith %} {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}


{% comment %} {% for question in questions %} {% endcomment %}



{% comment %} {% for group, options, index in widget.optgroups %}
            {{options}}----

        {% for option in options %}

            {{option}}*****

            {% if question_obj.text %}

                {% with question_obj=choices|get_question_obj:option.label %}


                <div class="d-flex align-items-center">

                    <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                        <div class="test_question_text_size">{{ forloop.counter }}.{{question_obj.text}}</div>
                    </div>

                </div>

                {% endwith %}
            {% endif %}

        {% endfor %}


    {% for option in options %} {% endcomment %}


        {% comment %} <input class="" type="{{ option.type }}" name="{{ option.name }}"
                id="{{ option.attrs.id }}" value="{{ option.value }}" {% if option.attrs.checked %}checked{% endif %}>
        <label class="" for="{{ option.attrs.id }}">{{ option.label }}</label> {% endcomment %}





        {% comment %} <div class="card mt-1">

            <div class="d-flex align-items-center test_chice_box">

                <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                    <div class="test_chice_text_size"><input class="" type="checkbox" name="{{ question_obj.id }}" id="{{ option.value }}" value="{{ option.value }}"></div>
                </div>


                <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                    <div class="test_chice_text_size">{{option.label}}{{index}}</div>
                </div>

            </div>

        </div> {% endcomment %}




        {% comment %} <input class="" type="{{ option.type }}" name="{{ option.attrs.id }}"
                id="{{ option.attrs.id }}" value="{{ option.value }}" {% if option.attrs.checked %}checked{% endif %}>
        <label class="" for="{{ option.attrs.id }}">{{ option.label }}</label> {% endcomment %}


    {% comment %} {% endfor %} {% endcomment %}

{% comment %} {% endfor %} {% endcomment %}







            {% comment %} {{question.is_multiple}}j-------------- {% endcomment %}
                {% comment %} {% for question in test.question_set.all %} {% endcomment %}

                    {% comment %} {% if question.is_multiple %}


                            <div class="d-flex align-items-center">

                                <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                    <div class="test_question_text_size">{{ forloop.counter }}.{{question.text}}</div>
                                </div>

                            </div>



                            {% if form.choice.errors %}
                                {% for error in form.choice.errors %}
                                    <div>{{ error }}</div>
                                {% endfor %}
                            {% endif %}

                            {% for choice in question.choice_set.all %}

                                <div class="card mt-1">

                                    <div class="d-flex align-items-center test_chice_box">

                                        <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                            <div class="test_chice_text_size"><input class="" type="checkbox" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}"></div>
                                        </div>


                                        <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                            <div class="test_chice_text_size">{{choice}}</div>
                                        </div>

                                    </div>

                                </div>

                            {% endfor %}

                    {% else %}

                            <div class="d-flex align-items-center">

                                <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                    <div class="test_question_text_size">{{ forloop.counter }}.{{question.text}}</div>
                                </div>

                            </div>

                            {% if form.choice.errors %}
                                {% for error in form.choice.errors %}
                                    <div>{{ error }}</div>
                                {% endfor %}
                            {% endif %}

                            {% for choice in question.choice_set.all %}

                                <div class="card mt-1">

                                    <div class="d-flex align-items-center test_chice_box">

                                        <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                            <div class="test_chice_text_size"><input class="" type="radio" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}"></div>
                                        </div>


                                        <div class="d-none d-md-inline-block mt-3 ml-4 mb-3">
                                            <div class="test_chice_text_size">{{choice}}</div>
                                        </div>

                                    </div>

                                </div>

                            {% endfor %}

                    {% endif %} {% endcomment %}


                {% comment %} {% endfor %} {% endcomment %}


    {% comment %} {% endfor %} {% endcomment %}

{% comment %} {% endfor %} {% endcomment %}
